{% extends 'layouts/content.html' %}
{% block content %}
<div>
  <p>
    En <strong>CADU</strong> estamos comprometidos con el desarrollo sostenible a través de la edificación de viviendas de calidad que promuevan el
    cuidado al medio ambiente y la formación de comunidades integrales.
  </p>
  <p>Gracias a esto, en CADU contribuimos a los Objetivos de Desarrollo Sostenible a continuación:</p>
  <img src="/static/assets/cadu/images/content/objetivos_2024.png" width="90%"  alt=""/>
  <br/>
  <br>

  <a href="http://cdn.investorcloud.net/cadu/GobiernoCorporativo/Global/impacto-ods.pdf" target="_blank">Reporte del Impacto de CADU a los ODS
  </a>
</div>

{% endblock %}
