<div id="acuerdos-asambleas">
  <h3 class="c-left c-font-lowercase c-font-sbold">Ordinary General Shareholders' Meetings.</h3>

  <p>The Ordinary General Shareholders' Meetings shall be held at least once a year within the
    first four months after the closing of each year and will address, in
    addition to the topics included in the Meeting's agenda, the following matters:</p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li> Discuss, approve or modify the reports of the Company's executive officers and directors</li>
    <li> Appointment and/or ratification of the Company's management body and Board of Directors</li>
    <li> Determination of the compensation for the Company's management body and Board of Directors</li>
  </ul>
  <h3 class="c-left c-font-lowercase c-font-sbold">Extraordinary General Shareholders' Meetings.</h3>

  <p>Extraordinary General Shareholders' Meetings are those held to address any of the following matters:</p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li> The extension of the Company's duration</li>
    <li> Early dissolution of the Company</li>
    <li> Increase or reduction in the Company's fixed capital stock</li>
    <li> Change in the Companys legal purpose</li>
    <li> Change in the Company's nationality</li>
    <li> Transformation of the Company</li>
    <li> Merger or spin-off of the Company</li>
    <li> Issuance of the Company's preferred shares</li>
    <li> Amortization of the Company's own shares or issuance of beneficial shares</li>
    <li> Bond issuance</li>
    <li> Any other modification of the Company's bylaws</li>
    <li> Other matters that, in compliance with the applicable regulation or the Company's bylaws, requires a special quorum</li>

  </ul>
  <h3 class="c-left c-font-lowercase c-font-sbold">Call to Ordinary General Shareholders' Meeting</h3>

  <p>The call to Ordinary General Shareholders' Meetings shall be made by resolution of the Board of Directors,
    throughout any of its members, sole manager or commissioner.</p>

  <p>The call shall include the respective agenda, date, time and place of the Meeting, as well as the signature of
    the convener. The shareholders shall be personally notified by certified mailing or specialized messaging services,
    in all instances with acknowledgement of receipt, or by publication either in the Official Gazette or
    in one of the major newspapers of the Company's domicile. The calls to Shareholders' Meetings, by any of the
    aforementioned means, shall be made with a minimum of 15 calendar days of anticipation to the date specified for the
    respective Meeting.</p>

  <p>The Ordinary General Shareholders' Meeting may be lawfully held without prior call if all voting shares are
    represented at the time of the Meeting.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Quorum</h3>

  <p>For an Ordinary General Shareholders' Meeting to be considered legally established, it must be represented by at
    least half of the capital stock, and their resolutions will only be valid when adopted by the majority vote of
    those present at the Meeting.</p>

  <p>In order for an Extraordinary General Shareholders' Meeting to be considered validly assembled, it must be
    represented by at least three quarters of the capital stock, and their resolutions will only be valid when adopted
    by at least half of the votes present.</p>

  <p>The resolutions unanimously adopted outside a Meeting by shareholders representing the totality of the Company's
    voting shares shall have, for all legal purposes, the same validity as if they were adopted at a Shareholders' Meeting,
    provided they are confirmed in writing.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Other Agreements</h3>

  <p>The Company's shareholders have not entered in any agreement or covenant that has the purpose of establishing, limiting
    or granting rights and/or obligations that will govern their relationship as shareholders of the Company.</p>
</div>
</br>
<% #listado de documentos
   @documents= [
     {:titulo => "Call to Extraordinary General Shareholders' Meeting", :date => "2024-04-05", :link => @comunicados_path + "2024-04-05-Convocatoria-Asamblea-2024.pdf"},
     {:titulo => "Call to Ordinary General Shareholders' Meeting", :date => "2024-04-05", :link => @comunicados_path + "2024-04-05-Convocatoria-Asamblea.pdf"},
     {:titulo => "Call to CADU 20V Bondholders' meeting", :date => "2024-03-27", :link => @comunicados_path + "2024-03-27-convocatoria-asamblea.pdf"},
     {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2023-04-25", :link => @gobierno_corporatico_path+ "Asambleas/2023-04-25-Acuerdos.pdf"},
     {:titulo => "Summary of resolutions adopted at the CADU 19 Bondholders' meeting", :date => "2023-04-24", :link => @gobierno_corporatico_path + "Asambleas/2023-04-24-Acuerdos-CADU19.pdf"},
     {:titulo => "Summary of resolutions adopted at the CADU 20V Bondholders' meeting", :date => "2023-04-24", :link => @gobierno_corporatico_path + "Asambleas/2023-04-21-Acuerdos-CADU20V.pdf"},
     {:titulo => "Call to CADU 20V Bondholders' meeting", :date => "2023-04-05", :link => @comunicados_path + "2023-04-05-convocatoria-cadu20v.pdf"},
     {:titulo => "Call to Ordinary General Shareholders' Meeting", :date => "2023-04-05", :link => @comunicados_path + "2023-04-05-convocatoria-asamblea.pdf"},
     {:titulo => "Call to CADU 19 Bondholders' meeting", :date => "2023-04-05", :link => @comunicados_path + "2023-04-05-convocatoria-cadu19.pdf"},
     {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2022-08-22", :link => @gobierno_corporatico_path+ "Asambleas/2022-08-22-Acuerdos.pdf"},
     {:titulo => "Call to Ordinary General Shareholders' Meeting", :date => "2022-08-05", :link => @comunicados_path + "2022-08-05-Convocatoria-Asamblea.pdf"},
     {:titulo => "Summary of resolutions adopted at the CADU 20V Bondholders' meeting", :date => "2022-06-24", :link => @gobierno_corporatico_path + "Asambleas/2022-06-24-Acuerdos-CADU20V.pdf"},
     {:titulo => "Summary of resolutions adopted at the CADU 19 Bondholders' meeting", :date => "2022-06-24", :link => @gobierno_corporatico_path + "Asambleas/2022-06-24-Acuerdos-CADU19.pdf"},
     {:titulo => "Summary of resolutions adopted at the CADU 18 Bondholders' meeting", :date => "2022-06-24", :link => @gobierno_corporatico_path + "Asambleas/2022-06-24-Acuerdos-CADU18.pdf"},
     {:titulo => "Call to CADU 20V Bondholders' meeting", :date => "2022-06-10", :link => @comunicados_path + "2022-06-10-Convocatoria-CADU20V.pdf"},
     {:titulo => "Call to CADU 19 Bondholders' meeting", :date => "2022-06-10", :link => @comunicados_path + "2022-06-10-Convocatoria-CADU19.pdf"},
     {:titulo => "Call to CADU 18 Bondholders' meeting", :date => "2022-06-10", :link => @comunicados_path + "2022-06-10-Convocatoria-CADU18.pdf"},
     {:titulo => "Summary of resolutions adopted at the Extraordinary General Shareholders' Meeting", :date => "2022-05-27", :link => @gobierno_corporatico_path+ "Asambleas/2022-05-30-resumen-asaextra.pdf"},
     {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2022-05-27", :link => @gobierno_corporatico_path+ "Asambleas/2022-05-30-resumen-asaord.pdf"},
     {:titulo => "Call to Extraordinary General Shareholders' Meeting", :date => "2022-05-12", :link => @comunicados_path + "2022-05-12-Convocatoria-Asamblea-2022.pdf"},
     {:titulo => "Call to Ordinary General Shareholders' Meeting", :date => "2022-05-12", :link => @comunicados_path + "2022-05-12-Convocatoria-Asamblea.pdf"},
     {:titulo => "Summary of resolutions adopted at the Extraordinary General Shareholders' Meeting", :date => "2022-04-29", :link => @gobierno_corporatico_path+ "Asambleas/2022-04-29-Acuerdos-extra-.pdf"},
     {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2022-04-29", :link => @gobierno_corporatico_path+ "Asambleas/2022-04-29-Acuerdos.pdf"},
     {:titulo => "Call to Extraordinary General Shareholders' Meeting", :date => "2022-04-13", :link => @comunicados_path + "2022-04-13-Convocatoria-Asamblea-2022.pdf"},
     {:titulo => "Call to Ordinary General Shareholders' Meeting", :date => "2022-04-13", :link => @comunicados_path + "2022-04-13-Convocatoria-Asamblea.pdf"},
     {:titulo => "Summary of resolutions adopted at the CADU 18 Bondholders' meeting", :date => "2022-01-13", :link => @gobierno_corporatico_path + "Asambleas/2022-01-13-Acuerdos-CADU18.pdf"},
     {:titulo => "Call to CADU 18 Bondholders' meeting", :date => "2021-12-31", :link => @comunicados_path + "2021-12-31-Convocatoria-CADU18.pdf"},
     {:titulo => "Summary of resolutions adopted at the CADU 20V Bondholders' meeting", :date => "2021-12-17", :link => @gobierno_corporatico_path + "Asambleas/2021-12-17-Acuerdos-CADU20V.pdf"},
     {:titulo => "Summary of resolutions adopted at the CADU 19 Bondholders' meeting", :date => "2021-12-17", :link => @gobierno_corporatico_path + "Asambleas/2021-12-17-Acuerdos-CADU19.pdf"},
     {:titulo => "Summary of resolutions adopted at the CADU 18 Bondholders' meeting", :date => "2021-12-17", :link => @gobierno_corporatico_path + "Asambleas/2021-12-17-Acuerdos-CADU18.pdf"},
     {:titulo => "Call to CADU 20V Bondholders' meeting", :date => "2021-12-03", :link => @comunicados_path + "2021-12-03-Convocatoria-CADU20V.pdf"},
     {:titulo => "Call to CADU 19 Bondholders' meeting", :date => "2021-12-03", :link => @comunicados_path + "2021-12-03-Convocatoria-CADU19.pdf"},
     {:titulo => "Call to CADU 18 Bondholders' meeting", :date => "2021-12-03", :link => @comunicados_path + "2021-12-03-Convocatoria-CADU18.pdf"},
     {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2021-04-29", :link => @gobierno_corporatico_path+ "Asambleas/2021-04-29-Acuerdos.pdf"},
     {:titulo => "Call to Ordinary General Shareholders' Meeting", :date => "2021-04-13", :link => @comunicados_path + "2021-04-13-Convocatoria-Asamblea.pdf"},
     {:titulo => "Summary of resolutions adopted at the CADU 18 Bondholders' meeting", :date => "2020-08-28", :link => @gobierno_corporatico_path + "Asambleas/2020-08-28-Acuerdos-CADU18.pdf"},
     {:titulo => "Call to CADU 18 Bondholders' meeting", :date => "2020-08-14", :link => @comunicados_path + "2020-08-14-Convocatoria-CADU18.pdf"},
     {:titulo => "Summary of resolutions adopted at the Extraordinary General Shareholders' Meeting", :date => "2020-07-02", :link => @gobierno_corporatico_path+ "Asambleas/2020-07-02-Acuerdos-extra.pdf"},
     {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2020-07-02", :link => @gobierno_corporatico_path+ "Asambleas/2020-07-02-Acuerdos.pdf"},
     {:titulo => "Call to Extraordinary General Shareholders' Meeting", :date => "2020-06-16", :link => @comunicados_path + "2020-06-16-Convocatoria-Asamblea-2020.pdf"},
     {:titulo => "Call to Ordinary General Shareholders' Meeting", :date => "2020-06-16", :link => @comunicados_path + "2020-06-16-Convocatoria-Asamblea.pdf"},
     {:titulo => "Call to Extraordinary General Shareholders' Meeting", :date => "2020-06-09", :link => @comunicados_path + "2020-06-09-Convocatoria-Asamblea-2020.pdf"},
     {:titulo => "Call to Ordinary General Shareholders' Meeting", :date => "2020-06-09", :link => @comunicados_path + "2020-06-09-Convocatoria-Asamblea.pdf"},
     {:titulo => "Summary of resolutions adopted at the CADU 19 Bondholders' meeting", :date => "2020-05-15", :link => @gobierno_corporatico_path + "Asambleas/2020-05-15-Acuerdos-CADU19.pdf"},
     {:titulo => "Summary of resolutions adopted at the CADU 18 Bondholders' meeting", :date => "2020-05-15", :link => @gobierno_corporatico_path + "Asambleas/2020-05-15-Acuerdos-CADU18.pdf"},
     {:titulo => "Call to CADU 19 Bondholders' meeting", :date => "2020-04-30", :link => @comunicados_path + "2020-04-30-Convocatoria-CADU19.pdf"},
     {:titulo => "Call to CADU 18 Bondholders' meeting", :date => "2020-04-30", :link => @comunicados_path + "2020-04-30-Convocatoria-CADU18.pdf"},
     {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2019-05-28", :link => @gobierno_corporatico_path + "Asambleas/2019-05-28-Acuerdos.pdf"},
     {:titulo => "Call to Ordinary Shareholders' Meeting", :date => "2019-05-10", :link => @comunicados_path + "2019-05-10-Convocatoria-Asamblea.pdf"},
     {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2019-04-29", :link => @gobierno_corporatico_path+ "Asambleas/2019-04-29-Acuerdos.pdf"},
     {:titulo => "Call to Ordinary General Shareholders' Meeting", :date => "2019-04-12", :link => @comunicados_path + "2019-04-12-Convocatoria-Asamblea.pdf"},
     {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2018-04-25", :link => @gobierno_corporatico_path+ "Asambleas/2018-04-25-Acuerdos.pdf"},
     {:titulo => "Call to Ordinary General Shareholders' Meeting", :date => "2018-04-06", :link => @comunicados_path + "2018-04-06-Convocatoria-Asamblea.pdf"},
     {:titulo => "Summary of resolutions adopted at the Extraordinary General Shareholders' Meeting", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-resumen-asaextra.pdf"},
     {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-resumen-asaord.pdf"},
     {:titulo => "Minutes of the Ordinary General Shareholders' Meeting and Extraordinary General Shareholders' Meeting", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-asaordan.pdf"},
     {:titulo => "Call to Extraordinary General Shareholders' Meeting", :date => "2017-04-28", :link => @comunicados_path + "2017-04-28-Convocatoria-Asamblea-2017.pdf"},
     {:titulo => "Call to Ordinary General Shareholders' Meeting", :date => "2017-04-11", :link => @comunicados_path + "2017-04-11-Convocatoria-Asamblea-2017.pdf"},
     {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2016-04-28", :link => @gobierno_corporatico_path+ "Asambleas/2016-04-28-resumen-asarodan.pdf"},
     {:titulo => "Minutes of the Ordinary General Shareholders' Meeting", :date => "2016-04-28", :link => @gobierno_corporatico_path+ "Asambleas/2016-04-28-asaordan.pdf"},
     {:titulo => "Call to Ordinary General Shareholders' Meeting", :date => "2016-04-12", :link => @comunicados_path + "2016-04-12-convocatoriaAOA.pdf"},
     {:titulo => "Update status of the corporate books", :date => "2016-04-04", :link => @gobierno_corporatico_path+ "Global/2016-04-04-actualib.pdf"},


   ]
%>

<div class="infocorporativa">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Document</th>
      <th class="col-md-3">Date</th>
    </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
      <tr>
        <td><a target="_blank" href="<%= document[:link] %>"><%= document[:titulo] %></a></td>
        <td><%= document[:date] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
