<div id="analistas">
  <h3 class="c-left c-font-lowercase c-font-sbold">Renta Variable</h3>

  <p>Las acciones de CADU actualmente no cuentan con servicios de cobertura por parte de corredurías o entidades de
    análisis independientes.</p>

  <p>La administración de CADU actualmente se encuentra trabajando en el desarrollo de una base de cobertura de
    analistas para brindar una visión más completa y transparente para nuestros inversionistas.</p>


</div>
