{% extends 'layouts/content.html' %}
{% block content %}
<div>
  <p><b>ECOCASA</b> es un programa de vivienda que busca mejorar la calidad de vida de las personas, reducir el consumo de
    energía y proteger al medio ambiente. <b>CADU</b> ha participado en el programa <b>ECOCASA</b> desde 2013 y, de esta manera,
    estamos contribuyendo a transformar el mercado de la vivienda en México.</p>
  <p>El programa <b>ECOCASA</b> pretende reducir por lo menos en 20% y hasta en un 40% las emisiones de GEI y proteger el agua.
    Al cierre de 2024, tenemos 27,258 casas construidas dentro del programa <b>ECOCASA</b>, lo cual representa alrededor del 22% del
    total de las viviendas construidas por <b>CADU</b>.</p>
  <div class="text-center row">
    <img src="/static/assets/cadu/images/content/ecocasa_2024.png" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>
  </div>

  <p>La <b>Certificación EDGE</b>, otorgada por la International Finance Corporation (IFC) del Grupo Banco Mundial, reconoce a aquellas edificaciones que incorporan prácticas de eficiencia en el uso de recursos y disponen de métricas concretas para evaluar su rendimiento.</p>
  <p>La obtención de la certificación requiere demostrar una reducción mínima del 20% en energía, agua, y masa energética de materiales. En el caso de <b>EDGE Advanced</b>, se debe alcanzar al menos un 40% de ahorro en energía, manteniendo un ahorro igual o superior al 20% en las demás categorías. Al cierre de 2024, tenemos 942 casas certificadas con <b>EDGE.</b></p>
  <div class="text-center row">
    <img src="/static/assets/cadu/images/content/edge_2024.png" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>
  </div>
  </div>

{% endblock %}
