<% #listado de documentos
   @documents= [
           {:titulo => "Notification of late filing of 2018 Annual Report (Annex N)", :date => "2019-05-03", :link => @comunicados_path + "2019-05-03-Aviso-Extemporaneidad-Anual.pdf"},
           {:titulo => "Notification of late filing of 4Q18 Report (Audited)", :date => "2019-05-03", :link => @comunicados_path + "2019-05-03-Aviso-Extemporaneidad-4T18.pdf"},
           {:titulo => "Notification of late filing of 2018 Audit Report", :date => "2019-04-29", :link => @comunicados_path + "2019-04-29-Aviso-Extemporaneidad-Dictamen.pdf"},
           {:titulo => "Fitch reaffirms its ‘BBB+(mex)’ credit rating for Corpovael; upgrades local note 'CADU 15' to ‘A+(mex)’", :date => "2019-04-12", :link => @comunicados_path + "2019-04-12-Fitch.pdf"},
           {:titulo => "CADU reports annual growth rates of 21.3% and 19.3% in EBITDA and net income during 4Q18", :date => "2019-02-26", :link => @comunicados_path + "2019-02-26-Comunicado-CADU-4T18.pdf"},
           {:titulo => "CADU signs a market maker services contract with Casa de Bolsa Santander, S.A. de C.V.", :date => "2019-01-07", :link => @comunicados_path + "2019-01-07-Contratacion-de-Santander-como-formador-de-mercado.pdf"},

           {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2018-04-25", :link => @gobierno_corporatico_path+ "Asambleas/2018-04-25-Acuerdos.pdf"},
           {:titulo => "Fitch reaffirms Corpovael's “BBB+(mex)” corporate credit rating, with Stable outlook", :date => "2018-04-24", :link => @comunicados_path + "2018-04-24-Fitch-Ratings.pdf"},
           {:titulo => "Call to Annual General Shareholders' Meeting", :date => "2018-04-06", :link => @comunicados_path + "2018-04-06-Convocatoria-Asamblea.pdf"},
           {:titulo => "Verum reaffirms its “A-/M” credit rating for CADU's issuance of local notes (“CADU18”); following the disclosure of the final details of the transaction", :date => "2018-02-28", :link => @comunicados_path + "2018-02-28-Verum.pdf"},
           {:titulo => "HR Ratings upgraded CADU's long term credit rating (national scale) from “HR BBB+” to “HR A-”, and revised its outlook to Stable from Positive", :date => "2017-12-05", :link => @comunicados_path + "2017-12-05-calificacion-LP.pdf"},
           {:titulo => "HR Ratings upgraded its long term credit rating (national scale) for CADU's issuance of local notes “CADU15” from “HR A-” to “HR A”, and revised its outlook to Stable from Positive", :date => "2017-12-05", :link => @comunicados_path + "2017-12-05-calificacion-cadu15.pdf"},
           {:titulo => "Verum assigns corporate credit ratings of “A-/M” and “2/M” for CADU Inmobiliaria", :date => "2017-11-01", :link => @comunicados_path + "2017-11-01-Verum-asigna-calificaciones-ER.pdf"},
           {:titulo => "CADU carried out the amortization of its local note “CADU14”", :date => "2017-07-13", :link => @comunicados_path + "2017-07-13_Comunicado_amortizacion_certificado_bursatil.pdf"},


           {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-resumen-asaord.pdf"},
           {:titulo => "Summary of resolutions adopted at the Extraordinary General Shareholders' Meeting", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-resumen-asaextra.pdf"},
           {:titulo => "Minutes of the Ordinary and Extraordinary General Shareholders' Meetings", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-asaordan.pdf"},
           {:titulo => "Call to Annual General Shareholders' Meeting", :date => "2017-04-11", :link => @comunicados_path + "2017-04-11-Convocatoria-Asamblea-2017.pdf"},
           {:titulo => "CADU reported an increase of 36.9% in Net Income, reaching MXN 589 million in 2016", :date => "2017-02-21", :link => @comunicados_path + "2017-02-21-Comunicado4T16.pdf"},
           {:titulo => "CADU reported an increase of 15.85% in EBITDA and Net Income of MXN 145 million (+24.5%) in 3Q16", :date => "2016-10-24", :link => @comunicados_path + "2016-10-24-Comunicado3T16.pdf"},
           {:titulo => "CADU carries out amortization of its local notes", :date => "2016-07-14", :link => @comunicados_path + "2016-07-14-RealizaAmortDB.pdf"},
           {:titulo => "CADU announces dividend payment", :date => "2016-06-10", :link => @comunicados_path + "2016-06-10-ER-AvisoDividendo.pdf"},
           {:titulo => "Dividend payment notice", :date => "2016-06-10", :link => @comunicados_path + "2016-06-10-AvisoDividendo.pdf"},
           {:titulo => "Summary of the main accounting policies and principles adopted by the Company", :date => "2016-05-18", :link => @comunicados_path + "2016-05-18-politicascontables.pdf"},
           {:titulo => "Dividend payment notice", :date => "2016-05-13", :link => @comunicados_path + "2016-05-15-AvisoDividendo.pdf"},
           {:titulo => "Refiling of CADU's 4Q15 report, including analyst coverage information", :date => "2016-05-05", :link => @comunicados_path + "2016-05-05-Reenvio.pdf"},
           {:titulo => "Summary of resolutions adopted at the Ordinary General Shareholders' Meeting", :date => "2016-04-28", :link => @gobierno_corporatico_path+ "Asambleas/2016-04-28-resumen-asarodan.pdf"},
           {:titulo => "Minutes of the Ordinary General Shareholders' Meeting", :date => "2016-04-28", :link => @gobierno_corporatico_path+ "Asambleas/2016-04-28-asaordan.pdf"},
           {:titulo => "Report from the CEO", :date => "2016-04-26", :link => @comunicados_path + "2016-04-26-incoacop.pdf"},
           {:titulo => "CADU releases 1Q16 results", :date => "2016-04-18", :link => @reportes_trimestrales_path + "Informes/2016-1T16.pdf"},
           {:titulo => "Summary of the Voting Trust contract", :date => "2016-04-15", :link => @comunicados_path + "2016-04-15-fideicomiso.pdf"},
           {:titulo => "Call to Annual General Shareholders' Meeting", :date => "2016-04-12", :link => @comunicados_path + "2016-04-12-convocatoriaAOA.pdf"},
           {:titulo => "Opinion of the Board of Directors on the CEO's report", :date => "2016-04-08", :link => @comunicados_path + "2016-04-08-opconsejo.pdf"},
           {:titulo => "Report from the Corporate Practices and Audit Committee ", :date => "2016-04-08", :link => @comunicados_path + "2016-04-08-incoaudi.pdf"},

           {:titulo => "Update status of the corporate books", :date => "2016-04-04", :link => @gobierno_corporatico_path+ "Global/2016-04-04-actualib.pdf"},
           {:titulo => "Refiling of 4Q15 Financial Information, merely stating that the cost of debt is at variable rate", :date => "2016-03-10", :link => @comunicados_path + "2016-03-10-retransmision.pdf"},
           {:titulo => "CADU releases 4Q15 results", :date => "2016-02-15", :link => @reportes_trimestrales_path + "Informes/2015-4T15-vf.pdf"},
           {:titulo => "CADU releases 3Q15 results", :date => "2015-10-20", :link => @reportes_trimestrales_path + "Informes/2015-3T15.pdf"},
           {:titulo => "CADU releases 2Q15 results", :date => "2015-07-20", :link => @reportes_trimestrales_path + "Informes/2015-2T15.pdf"},
           {:titulo => "CADU releases 1Q15 results", :date => "2015-04-20", :link => @reportes_trimestrales_path + "Informes/2015-1T15.pdf"},
   ]
%>

<div class="comunicados">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Document</th>
      <th class="col-md-3">Date</th>
    </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
      <tr>
        <td><a target="_blank" href="<%= document[:link] %>"><%= document[:titulo] %></a></td>
        <td><%= document[:date] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
