<div id="faqs">
  <h3 class="c-left c-font-lowercase c-font-sbold">1. ¿Quién es CADU?</h3>

  <p>Corpovael (CADU) es una empresa mexicana dedicada al diseño, urbanización, edificación, promoción y venta de
    desarrollos habitacionales, especialmente Vivienda de Interés Social, Vivienda Media y Vivienda Residencial. Es la
    primera empresa mexicana en realizar una oferta pública inicial mixta en la Bolsa Mexicana de Valores (BMV) y en el
    Mercado Integrado Latinoamericano (MILA), bajo la clave de pizarra “CADU”, y es líder de mercado en el Estado de
    Quintana Roo.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">2. ¿Cuál es la estructura organizacional de CADU?</h3>

  <p>CADU está integrada por 20 subsidiarias dedicadas al diseño, construcción, urbanización, promoción y venta de
    desarrollos bienes inmuebles habitacionales de interés social y nivel medio, así como comerciales, industriales, de
    obra pública e interconexión con redes de distribución de servicios públicos como agua potable, drenaje,
    electrificación, entre otros.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">3. ¿Por qué invertir en CADU?</h3>

  <p>Somos una empresa desarrolladora de viviendas con una estrategia de crecimiento orientada en la maximización de la
    rentabilidad que ha logrado alcanzar un crecimiento sostenido en ingresos, UAFIDA y oferta de viviendas en los
    últimos años, a la par de mantener márgenes de rentabilidad y rendimiento de capital superiores a los del sector,
    pese a las recientes crisis que han impactado profundamente los cimientos de la industria viviendera en la
    región.</p>

  <p>Gran parte de nuestro éxito se atribuye al liderazgo incomparable de nuestro equipo ejecutivo altamente
    experimentado y con un profundo conocimiento del mercado inmobiliario mexicano, cuyas actividades se apegan
    cabalmente a las mejores prácticas de gobierno corporativo y a los deberes de diligencia y de lealtad, comprometidos
    a desempeñar sus funciones bajo los mejores intereses de CADU y sus grupos de interés.</p>

  <p>Asimismo, CADU está comprometido a entregar el máximo valor a nuestros accionistas y demás grupos de interés, a
    través de un modelo de negocios cuyos ejes principales consisten en:</p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li> Estructura organizacional flexible e integrada.</li>
    <li> Óptima gestión de activos.</li>
    <li> Políticas financieras prudenciales.</li>
    <li> Filosofía de diseño de productos y ventas orientada en superar las expectativas de los clientes.</li>
  </ul>
  <p>En CADU tenemos la intención de continuar creciendo, mediante la incursión a otras regiones del país y a
    incrementar nuestra participación en los segmentos de Vivienda Media y Vivienda Residencial, que nos permitirá a la
    vez lograr una mayor diversificación de nuestros ingresos. Lo anterior sin dejar a un lado el estricto control de
    costos y gastos y a la ejecución de acciones que nos permitan obtener importantes eficiencias operativas. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">4. ¿Dónde cotizan las acciones de CADU?</h3>

  <p>Las acciones de Rassini cotizan en la Bolsa Mexicana de Valores (BMV) y en el Mercado Integrado Latinoamericano
    (MILA), desde 2015, bajo la clave de pizarra “CADU”.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">5. ¿Qué características tienen las acciones de CADU?</h3>

  <p>El capital social de CADU se encuentra representado por 346,036,496 acciones ordinarias, nominativas, sin expresión
    de valor nominal y representativas de la parte fija del capital social. Todas las acciones de CADU se encuentran
    inscritas ante el Registro Nacional de Valores en una serie única (“A”).</p>

  <p>Las acciones de CADU confieren a sus tenedores los mismos derechos plenos de voto y patrimoniales. Cada una de las
    acciones le da derecho a su tenedor a ejercer sus derechos de voto de manera completa y, en particular, a emitir un
    voto en cualquiera de las Asambleas Generales de Accionistas de la Emisora, ya sean Ordinarias o
    Extraordinarias.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">6.- ¿Quiénes dan cobertura de análisis a las acciones de CADU?</h3>

  <p>Las acciones de CADU actualmente no cuentan con servicios de cobertura por parte de corredurías o entidades de
    análisis independientes mexicanas.</p>
</div>
