<div id="faqs">
  <h3 class="c-left c-font-lowercase c-font-sbold">1. Who is CADU?</h3>

  <p>Corpovael, S.A.B. de C.V., or “CADU” is a leading corporation dedicated to the integrated development of affordable entry-level,
    middle-income, middle-income residential and residential homes in Mexico. CADU has a successful track record of more than 20 years in the housing sector,
    where it has built a solid business model focused on the persistent pursuit of a sustained high profitability; leveraging its
    competitive edge from its lean and vertically integrated structure.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">2. What is the corporate structure of CADU?</h3>

  <p>CADU is comprised of 27 Subsidiaries dedicated to the design, construction, urbanization, marketing and sales of housing
    developments in the affordable entry-level, middle-income, middle-income residential and residential segments, as well as the sale of commercial land plots,
    construction services, among others.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">3. Why investing in CADU?</h3>

  <p>We are a homebuilder with a growth strategy aimed at maximizing profitability, which has achieved a sustained growth in revenue,
    EBITDA and housing offering in recent years, while maintaining profit margins and return on equity levels above our peers, despite
    the crisis experienced by the Mexican housing industry.</p>

  <p>Much of CADU's success is attributed to the unparalleled leadership of its highly experienced management team, as it embraces a deep knowledge
    of the Mexican real estate market. CADU's business activities adheres to the Best Corporate Governance Practices and to the duties
    of diligence and loyalty.</p>

  <p>CADU is committed to delivering the highest value to its shareholders and other stakeholders, through a business model whose main pillars are:</p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li> A flexible and integrated corporate structure.</li>
    <li> Optimal asset management.</li>
    <li> Prudential financial policies.</li>
    <li> A product design and sales philosophy centered on exceeding client expectations.</li>
  </ul>
  <p>In CADU, we have the intention to continue growing by increasing our participation in the middle-income, middle-income residential and residential segments,
    in order to achieve a greater revenue diversification while maintaining a strict control of costs and expenses.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">4. Where is CADU stock traded?</h3>

  <p>Our stock is traded at the Bolsa Mexicana de Valores (Mexican Stock Exchange, known as BMV by its Spanish acronym), since 2015, under the ticker symbol “CADU”.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">5. What are the main features of CADU's stock?</h3>

  <p>The capital stock of CADU is comprised of 339,316,859 ordinary and nominative shares, without par value, corresponding to its fixed portion.
    All CADU's shares are registered in a single series (“A”) at the Registro Nacional de Valores (National Securities Registry).</p>

  <p>CADU's shares entitles their holders to the same patrimonial and voting rights. Each share grants its holder full voting rights and, in particular,
    the right to cast a vote in any of the Company's General Shareholder's Meeting, whether Ordinary or Extraordinary.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">6.- Which institutions follow CADU's stock?</h3>

  <p>CADU's stock is officially covered by Actinver, BBVA-Bancomer, Punto C.B., Apalache Analisis and Miranda Global Research.</p>
</div>
