<div id="fundamentales">
  <h3 class="c-left c-font-lowercase c-font-sbold">Results</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millions of MXN)</th>
      <th class="col-md-2">2018</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Net revenue</td>
      <td>4,646</td>
      <td>4,507</td>
      <td>4,022</td>
      <td>3,523</td>
      <!--<td>1,908</td>-->

    </tr>
    <tr>
      <td>Gross profit</td>
      <td>1,462</td>
      <td>1,375</td>
      <td>1,150</td>
      <td>948</td>
      <!--<td>573</td>-->

    </tr>
    <tr>
      <td>Operating income</td>
      <td>940</td>
      <td>928</td>
      <td>762</td>
      <td>617</td>
      <!--<td>410</td>-->

    </tr>
    <tr>
      <td>Capitalized Comprehensive Financial Result</td>
      <td class="vertical-a-m">158</td>
      <td class="vertical-a-m">104</td>
      <td class="vertical-a-m">131</td>
      <td class="vertical-a-m">106</td>
      <!--<td>89</td>-->

    </tr>
    <tr>
      <td>EBITDA</td>
      <td>1,111</td>
      <td>1,042</td>
      <td>905</td>
      <td>735</td>
      <!--<td>502</td>-->

    </tr>
    <tr>
      <td>Net income</td>
      <td>830</td>
      <td>746</td>
      <td>587</td>
      <td>430</td>
      <!--<td>280</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Balance Sheet</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millions of MXN)</th>
      <th class="col-md-2">2018</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Inventory</td>
      <td>7,222</td>
      <td>5,592</td>
      <td>4,529</td>
      <td>3,645</td>
      <!--<td>2,376</td>-->

    </tr>
    <tr>
      <td>Total assets</td>
      <td>9,393</td>
      <td>7,632</td>
      <td>6,336</td>
      <td>5,510</td>
      <!--<td>2,376</td>-->

    </tr>
    <tr>
      <td>Cash and cash equivalents*</td>
      <td>508</td>
      <td>608</td>
      <td>730</td>
      <td>1,304</td>
      <!--<td>106</td>-->

    </tr>
    <tr>
      <td>Total debt</td>
      <td>3,371</td>
      <td>2,316</td>
      <td>1,982</td>
      <td>1,609</td>
      <!--<td>920</td>-->

    </tr>
    <tr>
      <td>Total liabilities</td>
      <td>4,784</td>
      <td>3,593</td>
      <td>2,815</td>
      <td>2,285</td>
      <!--<td>1,407</td>-->

    </tr>
    <tr>
      <td>Stockholders' equity</td>
      <td>4,609</td>
      <td>4,039</td>
      <td>3,521</td>
      <td>3,225</td>
      <!--<td>969</td>-->

    </tr>
    </tbody>
  </table>
<small>*Does not include "CADU15" reserve fund</small>

  <h3 class="c-left c-font-lowercase c-font-sbold">Cash Flow</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millions of MXN)</th>
      <th class="col-md-2">2018</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Earnings before taxes</td>
      <td>939</td>
      <td>940</td>
      <td>771</td>
      <td>583</td>
      <!--<td>398</td>-->

    </tr>
    <tr>
      <td>Cash flows from operating activities
      </td>
      <td>(192)</td>
      <td>201</td>
      <td>(617)</td>
      <td>(421)</td>
      <!--<td>105</td>-->

    </tr>
    <tr>
      <td>Cash flows from investment activities</td>
      <td>32</td>
      <td>13</td>
      <td>(69)</td>
      <td>(1)</td>
      <!--<td>(15)</td>-->

    </tr>
    <tr>
      <td>Cash flows from financing activities</td>
      <td>68</td>
      <td>(178)</td>
      <td>112</td>
      <td>1,445</td>
      <!--<td>(53)</td>-->

    </tr>
    <tr>
      <td>Opening cash balance*</td>
      <td>766</td>
      <td>730</td>
      <td>1,304</td>
      <td>282</td>
      <!--<td>69</td>-->

    </tr>
    <tr>
      <td>Cash generated during the period</td>
      <td>(92)</td>
      <td>36</td>
      <td>(574)</td>
      <td>1,022</td>
      <!--<td>36</td>-->

    </tr>
    <tr>
      <td>Ending cash balance*
      </td>
      <td>674</td>
      <td>766</td>
      <td>730</td>
      <td>1,304</td>
      <!--<td>106</td>-->
    </tr>
    </tbody>
  </table>
<small>*Including "CADU15" reserve fund</small>

  <h3 class="c-left c-font-lowercase c-font-sbold">Growth and Profitability</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Percentage)</th>
      <th class="col-md-2">2018</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Net revenue growth
      </td>
      <td>2.60%</td>
      <td>12.10%</td>
      <td>13.60%</td>
      <td>10.47%</td>
      <!--<td>12.04%</td>-->

    </tr>
    <tr>
      <td>EBITDA growth
      </td>
      <td>6.50%</td>
      <td>15.20%</td>
      <td>22.30%</td>
      <td>17.98%</td>
      <!--<td>9.13%</td>-->

    </tr>
    <tr>
      <td>Gross margin
      </td>
      <td>31.60%</td>
      <td>30.50%</td>
      <td>28.60%</td>
      <td>26.92%</td>
      <!--<td>30.03%</td>-->

    </tr>
    <tr>
      <td>Operating margin
      </td>
      <td>20.30%</td>
      <td>20.60%</td>
      <td>18.90%</td>
      <td>17.51%</td>
      <!--<td>21.49%</td>-->

    </tr>
    <tr>
      <td>EBITDA margin
      </td>
      <td>24.00%</td>
      <td>23.10%</td>
      <td>22.50%</td>
      <td>20.87%</td>
      <!--<td>26.31%</td>-->

    </tr>
    <tr>
      <td>Net Margin
      </td>
      <td>17.90%</td>
      <td>16.50%</td>
      <td>14.60%</td>
      <td>12.20%</td>
      <!--<td>14.68%</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Financial ratios</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Times)</th>
      <th class="col-md-2">2018</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Total liabilities / Stockholders' equity
      </td>
      <td>1.0</td>
      <td>0.9</td>
      <td>0.8</td>
      <td>0.7</td>
      <!--<td>1.45</td>-->

    </tr>

    <tr>
      <td>Net debt / LTM EBITDA
      </td>
      <td>2.4</td>
      <td>1.5</td>
      <td>1.4</td>
      <td>0.4</td>
      <!--<td>1.61</td>-->

    </tr>
    <tr>
      <td>Total debt / LTM EBITDA
      </td>
      <td>3.0</td>
      <td>2.2</td>
      <td>2.2</td>
      <td>2.2</td>
      <!--<td>6.86</td>-->

    </tr>
    <tr>
      <td>ROE
      </td>
      <td>18.0</td>
      <td>18.5</td>
      <td>16.7</td>
      <td>13.4</td>
      <!--<td>1.66</td>-->

    </tr>
    <tr>
      <td>Interest coverage
      </td>
      <td>3.1</td>
      <td>5.0</td>
      <td>5.8</td>
      <td>5.3</td>
      <!--<td>4.80</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Working Capital Cycle</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Days)</th>
      <th class="col-md-2">2018</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Receivables
      </td>
      <td>34</td>
      <td>37</td>
      <td>38</td>
      <td>19</td>
      <!--<td>25</td>-->

    </tr>
    <tr>
      <td>Inventory
      </td>
      <td>822</td>
      <td>643</td>
      <td>568</td>
      <td>510</td>
      <!--<td>540</td>-->
    </tr>
    <tr>
      <td>Suppliers
      </td>
      <td>36</td>
      <td>53</td>
      <td>30</td>
      <td>25</td>
      <!--<td>24</td>-->
    </tr>
    </tbody>
  </table>
</div>
