<% #listado de documentos
   @documents= [
       {:titulo => "Corporate Presentation", :date => "2024-03", :link => @presentaciones_path + "Presentacion-Corporativa-Mar-2024-en--.pdf"},
       #{:titulo => "Corporate Presentation", :date => "2023-07", :link => @presentaciones_path + "Presentacion-Corporativa-Jul-2023-en.pdf"},
       #{:titulo => "Corporate Presentation", :date => "2022-08", :link => @presentaciones_path + "Presentacion-Corporativa-Ago-2022.pdf"},
       #{:titulo => "Presentación Corporativa (Available in spanish)", :date => "2018-06", :link => @presentaciones_path + "Presentacion-Corporativa-2018.pdf"},
       #{:titulo => "Información para Inversionistas (NOV 2018) - (Available in spanish)", :date => "2018-11", :link => @presentaciones_path +"Informacion-Inversionistas.pdf"},


   ]
%>

<div class="presentaciones">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Documents</th>
      <th class="col-md-3">Date</th>
    </tr>
    </thead>
    <tbody>
    <% @documents.each do |document| %>
        <tr>
          <td><a target="_blank" href="<%= document[:link] %>"><%= document[:titulo] %></a></td>
          <td><%= document[:date] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
