{% extends 'layouts/content.html' %}
{% block content %}
<div id="auditor-externo">
<p>The financial statements of the year ended December 31, 2025, as well as the years ended December 31, 2024, 2023, and 2022 were reviewed and audited by RSM México Bogarín, S.C. (“RSM México”), 
the Company's external auditor. The financial statements of the years ended December 31, 2021, 2020 and 2019 were reviewed and audited by KPMG Cardenas Dosal S. C. 
The financial statements of the years ended December 31, 2018, 2017 and 2016 were reviewed and audited by Mancera, S.C., member of Ernst & Young Global.</p>
<p>As of today, CADU's external auditors have never issued any qualified or negative opinion, nor refrained
  from issuing an opinion on the Company's financial statements. </p>
</div>



<div class="comunicdos">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Document</th>
      <th class="col-md-3">Date</th>
    </tr>
    </thead>
    <tbody>
      {% for document in documents %}
      <tr>
        <td><a target="_blank" href="{% if document.url %}{{ document.url }}{% elif document.prefix == 'gobierno' %}{{ gobierno_corporatico_path }}{{ document.file }}{% elif document.prefix == 'reportes_trim' %}{{ reportes_trimestrales_path }}{{ document.file }}{% elif document.prefix == 'reportes_anuales' %}{{ reportes_anuales_path }}{{ document.file }}{% elif document.prefix == 'presentaciones' %}{{ presentaciones_path }}{{ document.file }}{% elif document.prefix == 'investor' %}{{ investor_cloud_path }}{{ document.file }}{% else %}{{ comunicados_path }}{{ document.file }}{% endif %}">{{ document.titulo }}</a></td>
        <td>{{ document.date }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
