{% extends 'layouts/content.html' %}
{% block content %}
<div id="comites">
  <!-- <p>En cumplimiento con las disposiciones de la Ley del Mercado de Valores y con el objetivo de brindar mayor certeza y
     transparencia en la realización de las funciones estratégicas de CADU, se crearon los siguientes comités
     especiales: </p>
   <ul class="c-content-list-1 c-theme c-separator-dot">
     <li> Comité de Auditoría y Prácticas Societarias.</li>
     <li> Comité de Evaluación y Compensación.</li>
     <li> Comité de Planeación y Finanzas.</li>
   </ul>
   <p>A continuación se describen las funciones de cada comité: </p> -->

   <p>Pursuant to CADU’s corporate bylaws, the Company has an <b>Audit and Corporate Practices Committee</b> comprised
     exclusively of Independent Directors.</p>

   <p>The Chair of the Committee is appointed by the General Shareholders’ Meeting, taking into account its background,
     renowned expertise and professional reputation.</p>

   <p>The functions of the Committee are:</p>
   <p>(i) Discussing the financial statements with those responsible for their preparation (and recommending approval or not to the Board of Directors);
     <br>
     (ii) Investigating possible non-compliances in operation, internal control, and internal audit;
     <br>
     (iii) Reporting to the Board the status of the internal control and internal audit system of the Company (and the legal entities it controls);
     <br>
     (iv) Ensuring that the CEO complies with the resolutions of the Shareholders' Meetings;
     <br>
     (v)	Evaluating the firm performing external audit services (and analyzing the audit report, opinions, and reports they generate);
     <br>
     (vi) Supervising governance functions;
     <br>
     (vii) Reviewing and making recommendations to the Board of Directors regarding transactions with related parties;
     <br>
     (viii) Providing opinions on matters within its competence under the LMV (Mexican Securities Market Law);
     <br>
     (ix) Monitoring the Company's ethics issues;
     <br>
     (x) Assisting in the preparation of reports;
     <br>
     (xi) Making observations regarding the performance of relevant executives; and,
     <br>
     (xii) Proposing compensation packages for the CEO and other relevant executives of the Company.</p>

   <br>

   <p>The Committee is comprised by:</p>

     <h3 class="c-left c-font-lowercase c-font-sbold">Audit and Corporate Practices Committee</h3>
     <table class="table">
       <thead>
       <tr>
         <td>Name</td>
         <td>Position</td>
       </tr>
       </thead>
       <tbody>
       <tr>
         <td>Luis Zazueta Dominguez</td>
         <td>Chair</td>
       </tr>
       <tr>
         <td>Manuel Francisco Arce Rincon</td>
         <td>Member</td>
       </tr>
       <tr>
         <td>Alberto Sanchez Palazuelos</td>
         <td>Member</td>
       </tr>
       <tr>
         <td>Jose Luis Romero Hicks	</td>
         <td>Member</td>
       </tr>
       </tbody>
     </table>
</div>

{% endblock %}
