{% extends 'layouts/content.html' %}
{% block content %}
<div id="practicas">
  <p>Cadu adopted the strong commitment of fully complying with Best Corporate Practices, therefore, the Company is aware of,
    and follows, recommendations made by the Business Coordinating Council (CCE for its Spanish acronym) in terms of corporate governance.</p>
  <br>
  <br>
  <div class="text-center">
    <div class="c-content-blog-post-card-1 c-option-2">
      <a href="http://cdn.investorcloud.net/cadu/GobiernoCorporativo/Global/CMPC-25.pdf" target="_blank"><img class="center-img img-responsive" src="/static/assets/cadu/images/content/practicas.png" alt=""> Code of Best Corporate Practices 2025<br>(Spanish only)</a>
    </div>
  </div>

</div>

{% endblock %}
