<nav class="c-layout-quick-sidebar">
  <div class="c-header">
    <button type="button" class="c-link c-close">
      <i class="icon-login"></i>
    </button>
  </div>
  <div class="c-content">
    <div class="c-section">
      <h3>Eventos relevantes</h3>
      <div class="c-settings">
        <ul class="c-content-ver-nav news_inv c-links c-theme-ul">
          <li>
            <a target="_blank" class="" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2015-4T15.pdf">Informe financiero cuarto trimestre de 2015 </a>
          </li>

          <li>
            <a target="_blank" class=" " href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Presentaciones/2015-4T15-presentacion.pdf">Presentación de los resultados del Cuarto Trimestre de 2015</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="c-section">
      <h3>Redes sociales</h3>
      <div class="c-settings icons_side c-links c-theme-ul">
        <a href="https://twitter.com/CADUinmo" target="_blank"><i class="fa fa-linkedin linkedin fa-2x"></i></a>
        <a href="https://www.linkedin.com/company/1782585" target="_blank"><i class="fa fa-twitter twitter fa-2x"></i></a>

    </div>


  </div>
    <div class="c-section">
      <h3>Prospectos</h3>
      <div class="c-settings">

        <ul class="c-content-ver-nav news_inv c-links c-theme-ul">
          <li><a target="_blank" class="" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Globales/IPO-ProspectoDefinitivo.pdf"> Oferta Pública Inicial</a></li>
          <li>
            <a target="_blank" class="" href="#">CADU 15</a>
          </li>
          <li>
            <a target="_blank" class=" " href="#">CADU 14</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="c-section">
      <h3>Contacto de R.I.</h3>
      <div class="c-settings">
        <!--<p>Sucursal Cancun</p>-->


        <!--<h5>Email</h5>-->
        <span><i class="fa fa-envelope"></i>&nbsp;<a class="c-theme-color" href="mailto:ri@caducancun.com"> ri@caducancun.com</a> </span><br>

        <!--<h5>Teléfono</h5>-->
        <span><p><i class="fa fa-phone"></i>&nbsp; Teléfono : (998) 193 1100 </p></span>
        <span><p><i class="fa fa-phone"></i>&nbsp; Ext: 1210 </p></span>
      </div>
    </div>
</div>
</nav>
