<nav class="c-layout-quick-sidebar">
  <div class="c-header">
    <button type="button" class="c-link c-close">
      <i class="icon-login"></i>
    </button>
  </div>
  <div class="c-content">
    <div class="c-section">
      <h3>Eventos relevantes</h3>
      <div class="c-settings">
        <ul class="c-content-ver-nav news_inv">
          <li>
            <a target="_blank" class=" " href="http://www.caduinmobiliaria.com/_assets/pdfs/4T%202015.pdf">Comunicado de Prensa Resultados 4T15</a>
          </li>
          <li>
            <a target="_blank" class=" " href="<%= @comunicados_path2 %>/2016-03-02-suplemento-preliminar.pdf">Lorem ipsum dolor sit amet, has no commodo aliquip splendide</a>
          </li>
          <li>
            <a target="_blank" class=" " href="http://cdn.investorcloud.net/famsa/Comunicados/2016-02-18-PR4Q15.pdf">Lorem ipsum dolor sit amet</a>
          </li>
          <li>
            <a target="_blank" class=" " href="<%= @comunicados_path2 %>/2016-01-27-FamsaReduceBalance.pdf">Lorem ipsum dolor sit amet, has no commodo aliquip splendide</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="c-section">
      <h3>Redes sociales</h3>
      <div class="c-settings icons_side">
        <a href="#" target="_blank"><i class="fa fa-linkedin linkedin fa-4x"></i></a>
        <a href="#" target="_blank"><i class="fa fa-twitter twitter fa-4x"></i></a>
        <a href="#" target="_blank"><i class="fa fa-facebook facebook fa-4x"></i></a>
    </div>

    <!--<div class="c-section">-->
      <!--<h3>Mega Menu Style</h3>-->
      <!--<div class="c-settings">-->
        <!--<input type="button" class="c-setting_megamenu-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="dark" value="dark" />-->
        <!--<input type="button" class="c-setting_megamenu-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="light" value="light" /> </div>-->
    <!--</div>-->
    <!--<div class="c-section">-->
      <!--<h3>Font Style</h3>-->
      <!--<div class="c-settings">-->
        <!--<input type="button" class="c-setting_font-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="default" value="default" />-->
        <!--<input type="button" class="c-setting_font-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="light" value="light" /> </div>-->
    <!--</div>-->
  </div>
    <div class="c-section">
      <h3>Contacto de R.I.</h3>
      <div class="c-settings">
        <h3>Sucursal Cancun</h3>

        <!--<p>Relación con Inversionistas</p>-->
        <!--<p class="small" style="color: #9AB4BD">Responsable de enviar toda aquella información relacionada a: adquisición y colocación de acciones; pago de títulos o cálculo de la tasa de interés correspondiente; Suspensión de cotización de valores de Grupo Famsa; y, generales.</p>-->


        <!--<h5>Email</h5>-->
        <span><i class="fa fa-envelope"></i>&nbsp;<a href="mailto:contacto@caducancun.com"> contacto@caducancun.com</a> </span><br>

        <!--<h5>Teléfono</h5>-->
        <span><p><i class="fa fa-phone"></i>&nbsp; Office : (998) 193 1100 </p></span>
      </div>
    </div>
</div>
</nav>