<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-7 -->
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-7">
    <div class="container">
        <div class="c-prefooter">
            <div class="c-body">
                <div class="row">
                    <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
                        <!--<ul class="c-links c-theme-ul">-->
                            <!--<li>-->
                                <!--<a href="#">About Jango</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Privacy Policy</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Terms & Conditions</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Delivery</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Promotions</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">News</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<ul class="c-links c-theme-ul">-->
                            <!--<li>-->
                                <!--<a href="#">Blogs</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Projects</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Clients</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Services</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Features</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Stats</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="c-content-title-1 c-title-md">
                      <h3 class="c-title c-font-uppercase c-font-bold">Corporativo</h3>
                      <div class="c-line-left hide"></div>
                    </div>
                    <ul class="c-links c-theme-ul">
                      <li>
                        <a href="#">Nosotros</a>
                      </li>
                      <li>
                        <a href="#">Preguntas frecuentes</a>
                      </li>
                      <li>
                        <a href="#">Bolsa de trabajo</a>
                      </li>
                      <li>
                        <a href="#">Términos y condiciones</a>
                      </li>

                    </ul>
                  </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 eventos">
                        <div class="c-content-title-1 c-title-md">
                            <h3 class="c-title c-font-uppercase c-font-bold">Eventos relevantes</h3>
                            <div class="c-line-left hide"></div>
                        </div>
                        <ul class="c-links c-theme-ul">
                          <li>
                            <a target="_blank" class="" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2015-4T15.pdf">Informe financiero cuarto trimestre de 2015 </a>
                          </li>
                          <li>
                            <a target="_blank" class=" " href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2012-4T15-bmv.pdf">Informe BMV cuarto trimestre de 2015 </a>
                          </li>
                          <li>
                            <a target="_blank" class=" " href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2015-4T15-constancia.pdf">Informe de constancia cuarto trimestre de 2015 </a>
                          </li>
                          <li>
                            <a target="_blank" class=" " href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Presentaciones/2015-4T15-presentacion.pdf">Presentación de los resultados del Cuarto Trimestre de 2015</a>
                          </li>

                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="c-content-title-1 c-title-md">
                            <h3 class="c-title c-font-uppercase c-font-bold">Redes sociales</h3>
                            <div class="c-line-left hide"></div>
                        </div>
                      <div class="socicon">
                        <!--<a href="https://www.facebook.com/CADUinmo/" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-facebook tooltips" data-original-title="Facebook" data-container="body"></a>-->
                        <a href="https://twitter.com/CADUinmo" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-twitter tooltips" data-original-title="Twitter" data-container="body"></a>
                        <a href="https://www.linkedin.com/company/1782585" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover tooltips socicon-linkedin" data-original-title="Linkedin" data-container="body"></a>
                        <a href="mailto:contacto@caducancun.com" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover tooltips socicon-mail" data-original-title="Email" data-container="body"></a>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="c-content-title-1 c-title-md">
                            <h3 class="c-title c-font-uppercase c-font-bold">Contacto RI</h3>
                            <div class="c-line-left hide"></div>
                        </div>
                        <p class="c-address c-font-16">
                            <!--<br/> California, US-->
                            <br/> Teléfono: (998) 193 1100 <br/>Ext: 1210
                            <!--<br/> Fax: 800 123 3456-->
                            <br/> Email:
                            <a href="mailto:contacto@caducancun.com">
                                <span class="c-theme-color"> ri@caducancun.com</span>
                            </a>


                        </p>
                    </div>
                </div>
            </div>
            <div class="c-line"></div>
            <div class="c-foot">
                <div class="row">
                    <div class="col-md-7">
                        <div class="c-content-title-1 c-title-md">
                            <h3 class="c-title c-font-uppercase c-font-bold">Sobre CA<span class="c-theme-font">DU</span>
                            </h3>
                            <div class="c-line-left hide"></div>
                        </div>
                        <p class="c-text c-font-16 c-font-regular">Grupo empresarial líder dedicado al desarrollo integrado de vivienda de interés social, media y media-residencial en México, a través de un modelo de negocios diferenciado; sustentado en rentabilidad.</p>
                    </div>
                    <div class="col-md-5 boletin">
                        <div class="c-content-title-1 c-title-md">
                            <h3 class="c-title c-font-uppercase c-font-bold"><%= I18n.t('Boletin-financiero') %></h3>
                            <div class="c-line-left hide"></div>
                        </div>
                        <div class="c-line-left hide"></div>
                        <form name="formulario" action="/es/boletinsubscripcion" method="post">
                            <div class="input-group input-group-lg c-square">
                                <input  name="email" ata-toggle="popover" data-placement="bottom" id="subscribir" type="text" class="c-input form-control c-square c-theme" placeholder="<%= I18n.t('email-placehoder') %>" />
                                <span class="input-group-btn">
                                    <button class="btn c-theme-btn c-theme-border c-btn-square c-btn-uppercase c-font-16" type="button" onclick="javascript:validaremail(this.form);"><%= I18n.t('Subscribe') %></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="c-line"></div>-->
            <!--<div class="c-head">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-6 col-sm-12">-->
                        <!--<div class="c-left">-->
                            <!--<div class="socicon">-->
                                <!--<a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-facebook tooltips" data-original-title="Facebook" data-container="body"></a>-->
                                <!--<a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-twitter tooltips" data-original-title="Twitter" data-container="body"></a>-->
                                <!--<a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-youtube tooltips" data-original-title="Youtube" data-container="body"></a>-->
                                <!--<a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-tumblr tooltips" data-original-title="Tumblr" data-container="body"></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6 col-sm-12">-->
                        <!--<div class="c-right">-->
                            <!--<h3 class="c-title c-font-uppercase c-font-bold">Download Mobile App</h3>-->
                            <!--<div class="c-icons">-->
                                <!--<a href="#" class="c-font-30 c-font-green-1 socicon-btn socicon-android tooltips" data-original-title="Android" data-container="body"></a>-->
                                <!--<a href="#" class="c-font-30 c-font-grey-3 socicon-btn socicon-apple tooltips" data-original-title="Apple" data-container="body"></a>-->
                                <!--<a href="#" class="c-font-30 c-font-blue-3 socicon-btn socicon-windows tooltips" data-original-title="Windows" data-container="body"></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="c-postfooter c-bg-dark-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 c-col">
                    <p class="c-copyright c-font-grey">Copyright 2016 CADU |
                        <span class="c-font-grey-3">Diseñado y generado por IRStrat</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END: LAYOUT/FOOTERS/FOOTER-7 -->
