<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-7 -->
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-7">
    <div class="container">
        <div class="c-prefooter">
            <div class="c-body">
                <div class="row">
                    <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
                        <!--<ul class="c-links c-theme-ul">-->
                            <!--<li>-->
                                <!--<a href="#">About Jango</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Privacy Policy</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Terms & Conditions</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Delivery</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Promotions</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">News</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<ul class="c-links c-theme-ul">-->
                            <!--<li>-->
                                <!--<a href="#">Blogs</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Projects</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Clients</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Services</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Features</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">Stats</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="c-content-title-1 c-title-md">
                      <h3 class="c-title c-font-uppercase c-font-bold">Corporativo</h3>
                      <div class="c-line-left hide"></div>
                    </div>
                    <ul class="c-links c-theme-ul">
                      <li>
                        <a href="#">Nosotros</a>
                      </li>
                      <li>
                        <a href="#">Preguntas frecuentes</a>
                      </li>
                      <li>
                        <a href="#">Bolsa de trabajo</a>
                      </li>
                      <li>
                        <a href="#">Terminos & Condiciones</a>
                      </li>

                    </ul>
                  </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="c-content-title-1 c-title-md">
                            <h3 class="c-title c-font-uppercase c-font-bold">Eventos relevantes</h3>
                            <div class="c-line-left hide"></div>
                        </div>
                        <ul class="c-links c-theme-ul">
                            <li>
                                <a href="#">Comunicado de Prensa Resultados 4T15</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet, has no commodo aliquip splendide</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="c-content-title-1 c-title-md">
                            <h3 class="c-title c-font-uppercase c-font-bold">Redes sociales</h3>
                            <div class="c-line-left hide"></div>
                        </div>
                      <div class="socicon">
                        <a href="https://www.facebook.com/CADUinmo/" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-facebook tooltips" data-original-title="Facebook" data-container="body"></a>
                        <a href="https://twitter.com/CADUinmo" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-twitter tooltips" data-original-title="Twitter" data-container="body"></a>
                        <a href="mailto:contacto@caducancun.com" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover tooltips socicon-mail" data-original-title="Youtube" data-container="body"></a>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="c-content-title-1 c-title-md">
                            <h3 class="c-title c-font-uppercase c-font-bold">Contactos</h3>
                            <div class="c-line-left hide"></div>
                        </div>
                        <p class="c-address c-font-16">Sucursal Cancun
                            <!--<br/> California, US-->
                            <br/> Phone: (998) 193 1100
                            <!--<br/> Fax: 800 123 3456-->
                            <br/> Email:
                            <a href="mailto:contacto@caducancun.com">
                                <span class="c-theme-color"> contacto@caducancun.com</span>
                            </a>


                        </p>
                    </div>
                </div>
            </div>
            <div class="c-line"></div>
            <div class="c-foot">
                <div class="row">
                    <div class="col-md-7">
                        <div class="c-content-title-1 c-title-md">
                            <h3 class="c-title c-font-uppercase c-font-bold">Sobre CA<span class="c-theme-font">DU</span>
                            </h3>
                            <div class="c-line-left hide"></div>
                        </div>
                        <p class="c-text c-font-16 c-font-regular">CADU INMOBILIARIA es una empresa joven creada en Aguascalientes en Septiembre de 2001 con el fin de desarrollar, construir y comercializar viviendas accesibles para el nivel medio y bajo de la población mexicana. </p>
                    </div>
                    <div class="col-md-5">
                        <div class="c-content-title-1 c-title-md">
                            <h3 class="c-title c-font-uppercase c-font-bold"><%= I18n.t('Boletin-financiero') %></h3>
                            <div class="c-line-left hide"></div>
                        </div>
                        <div class="c-line-left hide"></div>
                        <form action="#">
                            <div class="input-group input-group-lg c-square">
                                <input type="text" class="c-input form-control c-square c-theme" placeholder="<%= I18n.t('email-placehoder') %>" />
                                <span class="input-group-btn">
                                    <button class="btn c-theme-btn c-theme-border c-btn-square c-btn-uppercase c-font-16" type="button"><%= I18n.t('Subscribe') %></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="c-line"></div>-->
            <!--<div class="c-head">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-6 col-sm-12">-->
                        <!--<div class="c-left">-->
                            <!--<div class="socicon">-->
                                <!--<a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-facebook tooltips" data-original-title="Facebook" data-container="body"></a>-->
                                <!--<a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-twitter tooltips" data-original-title="Twitter" data-container="body"></a>-->
                                <!--<a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-youtube tooltips" data-original-title="Youtube" data-container="body"></a>-->
                                <!--<a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-tumblr tooltips" data-original-title="Tumblr" data-container="body"></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6 col-sm-12">-->
                        <!--<div class="c-right">-->
                            <!--<h3 class="c-title c-font-uppercase c-font-bold">Download Mobile App</h3>-->
                            <!--<div class="c-icons">-->
                                <!--<a href="#" class="c-font-30 c-font-green-1 socicon-btn socicon-android tooltips" data-original-title="Android" data-container="body"></a>-->
                                <!--<a href="#" class="c-font-30 c-font-grey-3 socicon-btn socicon-apple tooltips" data-original-title="Apple" data-container="body"></a>-->
                                <!--<a href="#" class="c-font-30 c-font-blue-3 socicon-btn socicon-windows tooltips" data-original-title="Windows" data-container="body"></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="c-postfooter c-bg-dark-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 c-col">
                    <p class="c-copyright c-font-grey">2016 &copy; IRStrat
                        <span class="c-font-grey-3">All Rights Reserved.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END: LAYOUT/FOOTERS/FOOTER-7 -->
