<p class="just"><%= "nombre: #{params[:name]}" %></p>
<p class="just"><%= "email: #{params[:email]}" %></p>
<p class="just"><%= "Asunto: desea subscribirse" %></p>
<p class="just"><%= "#{params[:comment]}" %> </p>
