<div class="c-topbar c-topbar-light c-solid-bg">
  <div class="container">
    <!-- BEGIN: INLINE NAV -->
    <nav class="c-top-menu c-pull-left">
      <ul class="c-icons c-theme-ul">
        <li>
          <a href="mailto:contacto@caducancun.com">
            <i class=" fa fa-envelope-o"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/CADUinmo">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/1782585">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/CADUinmo/">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <!--<li>-->
          <!--<a href="#">-->
            <!--<i class="icon-social-dribbble"></i>-->
          <!--</a>-->
        <!--</li>-->
        <li>
          <span><i class="fa fa-phone"></i> Contáctanos: (998) 193 1100</span>
        </li>
      </ul>
    </nav>
    <!-- END: INLINE NAV -->
    <!-- BEGIN: INLINE NAV -->
    <nav class="c-top-menu c-pull-right">
      <ul class="c-links c-theme-ul">
        <!--<li>-->
          <!--<a href="#">Help</a>-->
        <!--</li>-->
        <!--<li class="c-divider">|</li>-->
        <!--<li>-->
          <!--<a href="#">Contact</a>-->
        <!--</li>-->
        <!--<li class="c-divider">|</li>-->
        <li style="padding: 10px">
          <a href="<%= "/#{I18n.locale}/comunicados"%>">Sala de prensa</a>
        </li>
      </ul>
      <ul class="c-ext c-theme-ul">
        <!--<li class="c-lang dropdown c-last">-->
          <!--<a href="<%= change_language%>"><%= I18n.t 'lenguaje-inverso' %></a>-->
          <!--&lt;!&ndash;<ul class="dropdown-menu pull-right" role="menu">&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="active">&ndash;&gt;-->
              <!--&lt;!&ndash;<a href="#">English</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
              <!--&lt;!&ndash;<a href="#">German</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
              <!--&lt;!&ndash;<a href="#">Espaniol</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
              <!--&lt;!&ndash;<a href="#">Portugise</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--</li>-->
        <!--<li class="c-search hide">-->
          <!--&lt;!&ndash; BEGIN: QUICK SEARCH &ndash;&gt;-->
          <!--<form action="#">-->
            <!--<input type="text" name="query" placeholder="search..." value="" class="form-control" autocomplete="off">-->
            <!--<i class="fa fa-search"></i>-->
          <!--</form>-->
          <!--&lt;!&ndash; END: QUICK SEARCH &ndash;&gt;-->
        <!--</li>-->
      </ul>
    </nav>
    <!-- END: INLINE NAV -->
  </div>
</div>