<div id="directivos">
  <p>CADU has a highly experienced management team in the Mexican housing development industry, with proven expertise and performance in the subprime crises and the most recent housing crisis in Mexico. The Company ascribes a large portion of its operational and financial success to its management team.</p>

  <p>The management team of CADU and its Subsidiaries is composed of top-level executives, including CADU´s current shareholders, which provides great flexibility to the Company, streamlining the decision-making process and its respective execution.</p>
  <br/>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-6">Name</th>
      <th class="col-md-6">Position</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Pedro Vaca Elguero</td>
      <td>Chairman and CEO</td>
    </tr>
    <tr>
      <td>Pablo Vaca Elguero</td>
      <td>Managing Director of Building Companies</td>
    </tr>

    <tr>
      <td>Joaquin Vaca Elguero</td>
      <td>General Manager of Jalisco Unit</td>
    </tr>
    <tr>
      <td>Javier Cervantes Monteil</td>
      <td>Deputy CEO (Planning and Financial)</td>
    </tr>

    <tr>
      <td>Manuel Araiza Luevano</td>
      <td>Chief Operating Officer (COO)</td>
    </tr>
    <tr>
      <td>Israel Godina Machado</td>
      <td>Chief Legal Officer (CLO)</td>
    </tr>
    <tr>
      <td>Mario Rodriguez Duron</td>
      <td>Accountant General</td>
    </tr>
    <tr>
      <td>Victor Rodriguez Garcia</td>
      <td>Director of Human Resources and Administration </td>
    </tr>
    <!-- <tr>
      <td>Ricardo Sanabria González </td>
      <td>Director Plaza Ciudad de Mexico / Estado de Mexico</td>
    </tr> -->

    <tr>
      <td>Jesus Guilabert Boyer
      </td>
      <td>Managing Director of CADU Residencias </td>
    </tr>
    <tr>
      <td>Cesar Navarro Troncoso</td>
      <td>Investor Relations Officer</td>
    </tr>
    </tbody>
  </table>
  <br/>

  <div class="c-content-title-3 c-title-sm c-theme-border">
    <h3 class="c-theme-font c-font-uppercase">Pedro Vaca Elguero</h3>

    <p>Born in 1960. Mr. Vaca is CADU’s Chairman and CEO since he founded the Company in September 2001. He is currently Director of Banco Actinver and Regional Director of BBVA Bancomer and Banamex. Previously, he was a founding partner, Chairman and CEO of Teñidos San Juan, S.A. de C.V., as well as Chairman and shareholder of multiple denim clothing manufactures (1987-2001). He has been a board member of different business organizations such as United States – Mexico Chamber of Commerce, acting as VP of the Pacific Chapter and Chairman of the Aguascalientes Chapter; Camara Nacional de la Industria del Vestido (National Chamber of the Clothing Industry), as VP; Consejo Coordinador Empresarial (Mexican Business Coordinating Council), as VP; and Camara Nacional de la Industria de la Transformacion (National Chamber of Industry), where he served as Chairman of the Aguascalientes Delegation and National VP in 1999 and 2000. He is currently VP of Camara Nacional de la Industria de Desarrollo y Promocion de Vivienda (National Chamber of Housing Development and Marketing Industry). He graduated in Law from the Universidad Anahuac.</p>
  </div>
  <div class="c-content-title-3 c-title-sm c-theme-border">
    <h3 class="c-theme-font c-font-uppercase">Pablo Vaca Elguero</h3>

    <p>Born in 1960. Patrimonial Board Member of Corpovael. During the last 20 years, he has held several executive positions such as: CEO and founding partner of Lavados Industriales Rinva, S.A. de C.V. (1988-1995), COO and partner of Teñidos San Juan, S.A. de C.V., a textile laundry company (1995-2001), Partner, Managing Director of Construction and Operation and of Sales at CADU. He is founder and CEO of the following companies: Urbanizadora Aspa, S.A de C.V., Suministros Concretora, S.A. de C.V., Constructora Punta Cancun, S.A. de C.V., Urbarima, S.A. de C.V. and Edirima, S.A de C.V.</p>
  </div>

  <div class="c-content-title-3 c-title-sm c-theme-border">
    <h3 class="c-theme-font c-font-uppercase">Joaquin Vaca Elguero</h3>

    <p>Born in 1969. Patrimonial Board Member of CADU. He is currently serving as Management Director of CADU’s Aguascalientes Unit and has been CADU’s COO since its inception 2001. Mr. Vaca also served as founder and CEO of Primera Clase Net and CEO of 1st-Air Inc. America Latina (2000-2001), General Manager of the Actinver branch office in Aguascalientes (1999-2000), Head of Equity Markets at Deutsche Bank Securities (1996-1999), Head of Equity Markets at ING-Baring (1995-1996), Deputy Head of Equity Markets at Bursamex Casa de Bolsa (1993-1995), Floor Trader at Inverlat Casa de Bolsa (1991-1993). He received a degree in Business Administration from the Universidad Iberoamericana (1990-1994).</p>
  </div>
  <div class="c-content-title-3 c-title-sm c-theme-border">
    <h3 class="c-theme-font c-font-uppercase">Javier Cervantes Monteil</h3>

    <p>Mr. Cervantes currently serves as CADU’s Deputy Chief Executive Officer (Planning and Financial). He served as Chairman and CEO
      of Cervantes y Asociados, S.C., from 1999 to 2006. He also acted as CFO of Wurth Mexico, S.A. de C.V. (1990-1991), CFO of Articulos
      de Carton DIN, S.A. de C.V. (1991-1995), General Legal Director of the Secretariat of Economic Development of the State of
      Aguascalientes (1996-1998), Deputy CEO of Desarrollos y Construcciones del Centro, S.A. de C.V. (2006 – to date). Mr. Cervantes is a
      lawyer graduated from the Escuela Libre de Derecho (1987) and holds a master’s degree in Senior Business Management from the Instituto
      Panamericano de Alta Direccion de Empresa (1990).</p>
  </div>
</div>
