<div id="directivos">
  <p>CADU counts with a highly seasoned management team in the Mexican housing development industry, with a proven track during the subprime crises and local housing crisis. The Company relies on its management team as a cornerstone piece of its operational and financial success.</p>
<p>The management team of CADU and its Subsidiaries is comprised of top-level executives (some of them significant shareholders). This management provides great flexibility to the Company, and streamlined the decision-making process to the best interest of the stockholders.</p>
<br/>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-6">Name</th>
      <th class="col-md-6">Position</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Pedro Vaca Elguero</td>
      <td>Chairman and CEO</td>
    </tr>
    <tr>
      <td>Pablo Vaca Elguero</td>
      <td>Managing Director of the Building Companies</td>
    </tr>

    <tr>
      <td>Joaquin Vaca Elguero</td>
      <td>General Manager of Jalisco branch</td>
    </tr>
    <tr>
      <td>Javier Cervantes Monteil</td>
      <td>Deputy CEO (FP&A and CFO)</td>
    </tr>

    <tr>
      <td>Manuel Araiza Luevano</td>
      <td>Chief Operating Officer (COO)</td>
    </tr>
    <tr>
      <td>Israel Godina Machado</td>
      <td>Chief Legal Officer (CLO)</td>
    </tr>
    <tr>
      <td>Victor Rodriguez Garcia</td>
      <td>Director of Human Resources and Administration </td>
    </tr>
    <tr>
      <td>Enrique Esquer</td>
      <td>Managing Director of Mexico Valley (Mexico City/State of Mexico)</td>
    </tr><tr>
      <td>Miguel García Etchegaray</td>
      <td>Mexico Valley (Mexico City/State of Mexico)</td>
    </tr>
    <!-- <tr>
      <td>Ricardo Sanabria González </td>
      <td>Director Plaza Ciudad de Mexico / Estado de Mexico</td>
    </tr> -->

    <tr>
      <td>Jesus Guilabert Boyer
      </td>
      <td>Managing Director of CADU Residencias </td>
    </tr>
    <tr>
      <td>Cesar Navarro Troncoso</td>
      <td>Investor Relations Officer</td>
    </tr>
    </tbody>
  </table>
  <br/>

  <div class="c-content-title-3 c-title-sm c-theme-border">
    <h3 class="c-theme-font c-font-uppercase">Pedro Vaca Elguero</h3>

    <p>Born in 1960. Mr. Vaca is CADU's Chairman and CEO since he founded the Company in September 2001. He is currently Regional Director of BBVA Bancomer. Previously, he was a founding partner, Chairman and CEO of Teñidos San Juan, S.A. de C.V., as well as Chairman and shareholder of a number of denim clothing manufactures (1987-2001). He has been a board member of different business organizations such as United States – Mexico Chamber of Commerce, acting as alternate Chairman of the Pacific Chapter and Chairman of the Aguascalientes Chapter; Camara Nacional de la Industria del Vestido (National Chamber of the Clothing Industry), as alternate Chairman; Grupo Financiero Actinver; Consejo Coordinador Empresarial (Mexican Business Coordinating Council), as alternate Chairman; and Camara Nacional de la Industria de la Transformacion (National Chamber of Industry), where he served as Chairman of the Aguascalientes Delegation and National alternate Chairman in 1999 and 2000. He is currently alternate Chairman of Camara Nacional de la Industria de Desarrollo y Promocion de Vivienda (National Chamber of Housing Development and Marketing Industry). He graduated in Law from Universidad Anahuac.</p>
  </div>
  <div class="c-content-title-3 c-title-sm c-theme-border">
    <h3 class="c-theme-font c-font-uppercase">Pablo Vaca Elguero</h3>

    <p>Born in 1960. Patrimonial Board Member of Corpovael. During the last 20 years, he has held several executive positions such as: CEO and founding partner of Lavados Industriales Rinva, S.A. de C.V. (1988-1995), COO and partner of Teñidos San Juan, S.A. de C.V., a textile laundry company (1995-2001), Partner, Managing Director of Construction and Operation and of Sales at CADU. He is founder and CEO of the following companies: Urbanizadora Aspa, S.A de C.V., Suministros Concretora, S.A. de C.V., Constructora Punta Cancun, S.A. de C.V., Urbarima, S.A. de C.V. and Edirima, S.A de C.V.</p>
  </div>

  <div class="c-content-title-3 c-title-sm c-theme-border">
    <h3 class="c-theme-font c-font-uppercase">Joaquin Vaca Elguero</h3>

    <p>Born in 1969. Patrimonial Board Member of Corpovael. He is currently serving as Managing Director of CADU's Aguascalientes Unit and has been CADU's COO since its inception 2001. Mr. Vaca also served as founder and CEO of Primera Clase Net and CEO of 1st-Air Inc. America Latina (2000-2001), General Manager of the Actinver branch office in Aguascalientes (1999-2000), Head of Equity Markets at Deutsche Bank Securities (1996-1999), Head of Equity Markets at ING-Baring (1995-1996), Deputy Head of Equity Markets at Bursamex Casa de Bolsa (1993-1995), Floor Trader at Inverlat Casa de Bolsa (1991-1993). He received a degree in Business Administration from the Universidad Iberoamericana (1990-1994).</p>
  </div>
  <div class="c-content-title-3 c-title-sm c-theme-border">
    <h3 class="c-theme-font c-font-uppercase">Javier Cervantes Monteil</h3>

    <p>Born in 1964. Patrimonial Board Member of Corpovael. Mr. Cervantes currently serves as CADU's Deputy Chief Executive Officer (FP&A and CFO). He served as CFO in
      Wurth Mexico, S.A. de C.V. (1990-1991), CFO of Articulos de Carton DIN, S.A. de C.V. (1991-1995),
      General Legal Director of the Economic Development Ministry of the State of Aguascalientes (1996-1998),
      Chairman and CEO of Cervantes y Asociados, S.C., from 1999 to 2006 and Deputy CEO of Desarrollos y
      Construcciones del Centro, S.A. de C.V. in 2006. Mr. Cervantes is a lawyer graduated from the Escuela
      Libre de Derecho (1982-1987) and holds a Master's degree in Senior Business Management from the Instituto
      Panamericano de Alta Direccion de Empresa (1988-1990).</p>
  </div>
</div>
