<div id="estrategia">
  <p>In parallel with the affordable entry-level housing projects, and following current market opportunities,
    especially the increased availability of mortgage financing from financial institutions in Mexico, as of 2013 CADU resumed
    its business activities in the middle-income segment in most of its projects, pursuing the design, urbanization, construction,
    marketing and sale of prototypes of this category. In the same way, aiming to boost its profitability through the incorporation of
    prototypes of higher value in its sales mix, during 2018 CADU sold the first residential units with average
    sale prices above MXN 15 million. </p>
  <p>CADU's market strategy for the middle-income, middle-income residential and residential segments pursues to enhance its product mix, reaching a 37.3% joint participation
    of these segments during 1Q26.</p>


  <p>In order to meet its growth plan, CADU's strategy is based on these key elements:</p>
    <div class="text-center">
    <img src="/assets/cadu/images/content/estrategiaen.png" width="55%">
  </div>

</div>
