<div id="estrategia">
  <p>In parallel with the affordable entry-level housing projects, and following current market opportunities, especially the increased availability of mortgage financing from financial institutions in Mexico, as of 2013 CADU resumed its business activities in the middle-income segment in most of its projects, pursuing the design, urbanization, construction, marketing and sale of prototypes of this category.  </P>
  <p>CADU's market strategy for the middle-income and residential segments pursues to enhance its product mix, reaching a 35% joint participation of these segments during 3Q18.</p>
  <p>The implementation of costs and expense reduction strategies aimed at maximizing profitability has allowed CADU to expand its housing offering and achieve sustained double-digit growth rates in revenue and EBITDA even during crisis periods.</p>

  <p>In order to meet its growth plan, CADU's strategy is based on these key elements:</p>
    <div class="text-center">
    <img src="/assets/cadu/images/content/estrategiaen.png" width="75%">
  </div>

</div>
