<div id="estrategia">
  <p>In parallel with the affordable entry-level housing projects, and as a result of current market opportunities, especially the increased availability of mortgage financing through financial institutions in Mexico, as of 2013 CADU resumed its business activities in the middle-income segment in most of its projects, through the design, urbanization, construction, marketing and commercialization of housing models belonging to this category.  </P>
  <p>CADU´s market strategy for the middle-income and middle-income residential segments pursues to enhance its product mix, reaching a 25% joint participation of these segments during 2Q18.</p>
  <p>The implementation of costs and expenses reduction strategies aimed at maximizing profitability has allowed CADU to expand its housing offering and achieve sustained double-digit growth in revenue and EBITDA during crisis periods.</p>

  <p>In order to meet our growth plan, CADU´s strategy will be based on four key elements:</p>
    <div class="text-center">
    <img src="/assets/cadu/images/content/estrategiaen.png" width="75%">
  </div>

</div>
