<div id="hitoria">
  <section class="slice bg-3 no-padding">
    <div class="w-section inverse">
      <div class="">
        <ul class="timeline">
          <li class="year">2020 - 2029</li>
          <li class="event">
            <div class="event-date">
              <p>CADU asseses its Green Invesment Framework by means of a second Sustainalytics opinion
                and achieves a CBI Green Certification under the Low Carbon Buildings Criteria. </p>
              <small> 2020</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>CADU develops its Green Invesment Framework in order to issue Green Bonds.</p>
              <small> 2020</small>
            </div>
          </li>
          <li class="year">2010 - 2019</li>
          <li class="event">
            <div class="event-date">
              <p>CADU carried out the fifth placement of local notes (“CADU 19”) for an amount of MXN 500 million,
                unsecured and a 5-year term.</p>
              <small>2019</small>
            </div>
          </li>
          <br>
          <li class="event">
            <div class="event-date">
              <p>CADU carried out the fourth placement of local notes (“CADU 18”) for an amount of MXN 500 million,
                unsecured and a 5-year term.</p>
              <small>2018</small>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>CADU started Allure, a residential complex in the Caribbean Sea, surrounded by natural
                beauties, providing security and over-the-top amenities.</p>
              <small>2017</small>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/assets/cadu/images/content/longi.jpg" class="img-responsive" alt="CADU BMV">
                </div>
              </div>
            </div>
          </li>
          <li class="event ">
            <div class="event-date">
              <p>CADU executed the kick-off of the first development of the Long Island residential complex: York Homes.
                With this opening, CADU reaffirms its leadership in Quintana Roo and moves towards
                a more solid sales mix, thus increasing the middle-income segment participation in homes sold revenue.</p>
              <small>2017</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/assets/cadu/images/content/longisland2.jpg" class="img-responsive" alt="CADU BMV">
                </div>
              </div>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>Middle-income of home sales in Cancun and Mexico Valley recorded an average  price of MXN 1.8 million.</p>
              <small>2016</small>
            </div>

          </li>
          <li class="event">
            <div class="event-date">
              <p>With its IPO's procedes, CADU plans to continue its growth plan focused on expanding its
                offering towards products with greater profitability and prices ranges.</p>

              <small>2015</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">

              <p>CADU carried out an Initial Public Offering on the Bolsa Mexicana de Valores (Mexican Stock Exchange)
                under the ticker symbol “CADU”, marking the return of the housing sector to the Mexican capital market
                after ten years.</p>

              <small>2015</small>
            </div>

          </li>

          <li class="event ">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/assets/cadu/images/content/cadu-bmv.jpg" class="img-responsive" alt="CADU BMV">
                </div>
              </div>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>The third placement of unsecured local notes (“CADU 15”) was completed for MXN 400 million.</p>

              <small>2015</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">
              <p>The second issuance of local notes was executed (“CADU 14”) for MXN 300 million, with
                a 50% guarantee from the Sociedad Hipotecaria Federal (Federal Mortgage Society), obtaining
                a credit rating of “A+” by Fitch Ratings.</p>

              <small>2014</small>
            </div>

          </li>
          <br>
          <li class="event mover">
            <div class="event-date">

              <p>CADU receives the Mejores Empresas Mexicanas award (Best Mexican Companies) granted by Banamex,
                Deloitte and the Tecnologico de Monterrey.</p>

              <small>2014</small>
            </div>

          </li>
          <li class="event ">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/assets/cadu/images/content/2014.png" class="img-responsive" alt="CADU">
                </div>
              </div>
            </div>
          </li>
          <br>
          <li class="event">
            <div class="event-date">
              <p>CADU initiates the commercialization process of homes in Jalisco, Guanajuato and the State of Mexico.</p>
              <small>2013</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">
              <p>CADU ranked 8<sup>th</sup> among all Mexican home builders in mortgage credits originated by the Instituto del
                Fondo Nacional de la Vivienda para los Trabajadores (Mexican Federal Institute for Worker's Housing,
                known as INFONAVIT by its Spanish acronym).</p>
              <small>2012</small>
            </div>

          </li>
          <li class="event">
            <div class="event-date">
              <p>CADU completes its first placement of local notes (“CADU 12”) for MXN 300 million, with a
                48% guarantee from Nacional Financiera (the Mexican state-owned development bank, known as NAFIN by
                its Spanish acronym), and obtaining a credit rating of “A+” by Fitch Ratings.</p>
              <small>2012</small>
            </div>

          </li>
          <li class="year">2001 -2009</li>
          <li class="event  offset-first">
            <div class="event-date">
              <p>CADU's bylaws were reformed in order to adopt the Code of Best Corporate Practices, with the incorporation
                of independent board members.</p>
              <small>2009</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>CADU becomes the leading player in the development of Affordable-Entry homes in the state of Quintana Roo.</p>
              <small>2008</small>
            </div>
          </li>
          <li class="event ">
            <div class="event-date">
              <p>Corpovael, S.A. de C.V. (CADU) is established as a holding company of all its subsidiaries
                 to consolidate their Operations.</p>
              <small>2007</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>The institutionalization process of the Company starts.
              </p>
              <small>2006</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>Start of operations in Quintana Roo with the “Villas Otoch I” development.</p>
              <small>2004</small>
            </div>
          </li>
          <li class="event ">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/assets/cadu/images/content/2004.png" class="img-responsive" alt="CADU">
                </div>
              </div>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>Start operations in Jalisco with the “Villas de Hacienda” development.</p>
              <small>2003</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>CADU builds and initiates the commercialization process of its first developments,
                “Santa Isabel” and “Bajio de las Palmas”, in Aguascalientes.</p>
              <small>2002</small>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>Inception of CADU Inmobiliaria S.A. de C.V. in Aguascalientes.</p>
              <small>2001</small>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </section>

</div>
