<div id="modelo-negocio">
  <p>Our business strategy aimed at maximizing profitability seeks to expand the participation
    of higher added-value prototypes in the homes sold revenue, in order to enhance the flexibility
    in the offering of our product portfolio, creating value for our customers, investors, financial
    institutions, and other stakeholders.</p>
  <div style="text-align: center">
    <img class="img-responsive center-block" src="/assets/cadu/images/content/modelonegociosen.png" alt="Modelo de negocios"/>
  </div>
</div>
