<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>The status of the nearly 10-month trade conflict between China and the United States seems uncertain as an agreement
    in principle has yet be reached, since President Donald Trump and Beijing's trade negotiator, vice-premier Liu He,
    met at the beginning of April without, apparently, making significant process towards a positive settlement. However,
    this situation seems to be favorable for Mexico, since the country managed to take China’s position as the largest trading
    partner of the United States in February, benefiting exports and therefore the trade balance.</p>

  <p>After several refusals by the British parliament to the agreements to reach a Brexit deal, presented by Prime
    Minister Theresa May, the European Union agreed to grant a new extension, with the aim of finding an orderly and
    smooth exit. The deadline was set for October 31<sup>st</sup>, on the sole condition that the United Kingdom takes part in the
    upcoming European elections, providing a period of apparent stability to world markets.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>The key macroeconomic indicators showed a largely stable performance, highlighting
    the downward trend in inflation, standing at 0.21% at the end of May 2019 against 0.73% at the end of the same month
    last year. Additionally, the consumer confidence index remains at high levels, reflecting that the general
    population expects a positive economic dynamism in the short term.</p>

  <p>On the other hand, the Board of Governors of Banxico has once again shown its prudent judgement by maintaining the
    reference rate unchanged at 8.25% during the meetings held in the first five months of the year, arguing that the
    risks for inflation have been controlled, but without ruling out upward pressures given the inherent risks mainly
    related to the escalation of trade tensions between the United States and China, and a disorderly departure of
    the United Kingdom from the European Union.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>According to an study conducted by the Construction Sector’s Economic Research Centre (<em>Centro de Estudios Económicos del
    Sector de la Construcción</em> – CEESCO), the key trends in the construction industry at the end of March 2019 are marked by
    the decrease in average prices of inputs, derived from the downturn in construction sector activity, that normally occurs
    at the beginning of a new presidential term. The sector dynamism is expected to pick up over the coming months with the
    beginning of several infrastructure projects and programs promoted by the federal government.</p>

  <p>During the beginning of the year, the highly dynamic origination of mortgage loans from National Housing Institutes
    more than offset the low budget of subsidies exercised in this period. Additionally, the titling of homes is expected to
    gain further momentum during 2Q19, as the Mexican Federal Institute for Workers’ Housing (<em>Instituto del Fondo Nacional
    de la Vivienda para los Trabajadores</em> – “INFONAVIT”) announced  the launch of a new program aimed at increasing the credit
    limit granted to its low-income affiliates, which will surely bolster sector activity.</p>


</div>
