<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>Projections by the International Monetary Fund (IMF) indicate that world economic growth will be 3.1% in 2024 and 3.2% in 2025. This upward adjustment 
  from the October 2023 forecast is attributed to greater resilience in the United States and several emerging market economies.</p>

  <p>In terms of inflation, the global rate is projected to reach 5.8% in 2024 and 4.4% in 2025, representing a downward revision from previous estimates 
  for 2025. This adjustment is attributed to the resolution of supplier-side issues and the implementation of tight monetary policies.</p>

  <p>In this way, the faster reduction in inflation suggests greater economic stability and a potentially lower interest rate environment.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>Mexico is projected to experience a 2.5% growth in its Gross Domestic Product (GDP) in 2024, driven by the arrival of productive investments derived 
  from the relocation of companies, according to estimates by the Organization for Economic Co-operation and Development (OECD). This projection remains 
  consistent with the prediction made by the same entity at the end of 2023, and is at the lower end of the range estimated by the Secretary of Finance, 
  which oscillates between 2.5% and 3.5%.</p>

  <p>The increase in inflation in Mexico is projected to be slightly above 4% by 2024, according to OECD estimates. This figure is similar to the 4.7% 
  inflation recorded in 2023 and would remain above the Bank of Mexico's target range of 2% to 4%. The organization expects inflation to decrease 
  to 3.2% in 2025.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->

  <p>Infonavit expects to grant approximately 460,000 loans in various modalities during 2024, generating an investment of approximately MXN 220 million.</p>

  <p>In addition, Infonavit reported that housing placement in Quintana Roo, CADU's main area of operations, grew from 10,139 in 2022 to 12,088 at the end of 2023.</p>

  <p>Based on this result, they anticipate that by 2024 the growth trend could continue with an increase of up to 20%, thanks to different policies to expedite 
  the granting of loans and a greater potential demand (+41.4%, August 2023 vs. December 2022).</p>

  <p>Finally, the National Chamber of the Housing Development and Promotion Industry (Canadevi) stated that Mexico's housing sector has the capacity to increase 
  its contribution to the country's GDP from 5% to 8% in the medium term (2-5 years).</p>

  <p></p>
</div>
