<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>The sanitary emergency due to COVID-19 continued to cause a significant economic slowdown during the
    third quarter 2020. Notwithstanding, a certain improvement has been observed in the forecasts of a number
    organizations regarding the development of world economy, such as that of the International Monetary Fund
    which now expects a 4.4% YoY contraction in global GDP for 2020, positively compared to its 4.9% YoY drop
    projected as of the end of 2Q20.</p>

  <p>Likewise, the oil barrel price, which lately has posted a downward trend given a lower demand, recovered
    part of the lost ground, going from USD$34.28 at the end of June to USD$37.12 per barrel as of the end of
    September 2020.</p>

  <p>With regards to the progress attained in the search for an effective COVID-19 vaccine, especially
    outstanding are the Russian and Chinese prototypes, whose trials on monitored groups are already been
    conducted; whereas in the United States, Oxford University together with the pharmaceutical company
    AstraZeneca assured to have obtained  "positive results" in another prototype, which in words of its
    developers “still has a long way to go". In this sense, it is expected that when a vaccine that successfully
    passes all its test phases is found, thus ensuring efficacy and safety, the World Health Organization will
    work to facilitate access and distribution of said vaccine.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>In Mexico, the process of “new normal” has bolstered the economy’s performance in comparison to that
    of last quarter, as attested by the figures of Monthly Economic Activity Index - IGAE (102.2 in July vs.
    88.0 in April), or the sales reported by the National Association of Department Stores - ANTAD (2.6% YoY in
    September vs. -15.3% YoY in June), thus reporting 2 and 3 months, respectively, of sequential improvement
    since the beginning of the economic reopening in June. However, analysts expect a 9.8% YoY decrease in
    2020 GDP, in accordance with a survey conducted by Mexico Central Bank (Banxico) early in October.</p>

  <p>Moreover, in order to support economic performance, during que quarter, Banxico reduced its interest
    rate by 75 basis points to 4.25%, a level not recorded since September 2016. On the other hand, the
    recent spike in inflation may limit the room for further cuts during upcoming quarters.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>During 3Q20, the construction industry operated without major setbacks after being labeled as an
    "essential" activity towards the end of last quarter, which in turn was reflected in the value of
    the production of construction companies, which from June to July recorded an increase of 1.1%.</p>

  <p>Likewise, the housing institutes commitment to strengthening the industry continued to reflect by means
    of their credit granting schemes for acquisition of new housing, since, in the case of Infonavit,
    it extended its granting goal of "Unamos Creditos" program to 48 thousand credits (vs. the initial goal
    of 14 thousand); while Fovissste announced that it will grant 2,352 additional credits through it
    "Tu casa te espera" program during the remainder of the year.</p>

</div>
