<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>As of the end of 2020, the recovery of global economy remained constrained by the impacts derived from COVID-19 pandemic.
    Nevertheless, in accordance with the latest update of the World Economic Outlook published by the International Monetary Fund,
    world economy will contract only 3.5% during 2020, a more optimistic scenario with respect to the 4.4% and 4.9% drops that had been
    projected during 3Q20 and 2Q20, respectively.</p>

  <p>On the other hand, it is foreseen that with the change of government in the United States, global trade disputes will be reduced significantly,
    positively affecting the evolution of global economy. Likewise, among the actions to be implemented by U.S. President-elect Joe Biden is a USD$1.9
    billion stimulus plan that includes direct aid to families, support for SMEs, as well as funds to provide further doses of COVID-19 vaccine.</p>

  <p>As its efficacy in preventing COVID-19 infection has been observed to reach 95% efficacy, the vaccine developed by Pfizer and BioNTech was licensed for
    emergency rollout in several countries, the first of which were the United Kingdom, Bahrain, Canada, Saudi Arabia, Mexico and the United States. Pfizer
    and BioNTech project to mass produce approximately 1 billion doses of the vaccine over the course of 2021 for delivery round the world.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>In Mexico, economic activity kept its recovery trend, as in November the Global Indicator of Economic Activity in Mexico (IGAE for its Spanish acronym)
    achieved a sequential growth for its sixth consecutive month. However, the National Association of Supermarkets and Department Stores (ANTAD for its Spanish
    acronym) reported a 5% contraction in 2020 same-store-sales, adversely affected by the combined effect of a softer domestic market, uncertainty over
    government policies, the increase in informal commerce, and public safety issues.</p>

  <p>Banxico conducted a 25 bps. cut on the reference rate during February, which stands at 4%. This decision was unanimous and was grounded on the fact that
    economic activity slightly outperformed its projections for the fourth quarter. Thereby the Central Bank made clear that it is maintaining its expansionary
    monetary policy, so additional rate cuts may be expected in the coming months.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>During December, amendments to the Infonavit and Fovissste legislation were approved, which are intended to allow, among other things, unemployed
    members of the Infonavit to obtain mortgage loans; in addition, workers will have the opportunity to be granted additional loans, as soon as they settle
    the current one, without co-participation of the commercial banks.</p>

  <p>According to Carlos Martínez, Head of Infonavit, these amendments will drive origination of financing options properly suited to the needs of workers
    during 2021. It is worth noting that in December, Infonavit achieved its highest amount of granted mortgage loans in the last five years, of which over
    70% were for the acquisition of new or existing housing.</p>

</div>
