<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>The International Monetary Fund (IMF) forecasts that global growth will maintain the trajectory observed since 2023, 
  with a constant rate of approximately 3.2%, continuing through 2025. This results from a slowdown in emerging and developing 
  economies, which has been offset by a slight acceleration in advanced economies.
  </p>

  <p>The inflation rate is projected to reach 5.9% in 2024 and gradually decrease to 4.5% by 2025. The disparity between countries in terms of 
  reducing inflation indicates that advanced economies will reach their inflation targets before emerging ones.
  </p>

  <p>In summary, a positive outlook remains for the global economy despite moderate growth and the continued presence of geopolitical risks, as indicated by the 
  Organisation for Economic Co-operation and Development (OECD).
  </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>Projections from the Bank of Mexico indicate a downward adjustment in the country's economic growth forecast, reducing the estimated increase in Gross 
  Domestic Product (GDP) to 2.4% for 2024, compared to the 2.8% projection made in February.

  </p>

  <p>However, some analysts expect inflation to resume its gradual downward trajectory in the coming months, although maintaining an upward bias.
</p>

<p>In Mexico, the National Institute of Statistics and Geography (INEGI) reported that inflation reached 5.61% in the first half of July, which could prolong the 
  economic pause imposed by the Bank of Mexico, whose reference rate is currently at 11%.

</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->

  <p>According to the Secretariat of Agrarian, Territorial, and Urban Development (SEDATU), the number of beneficiaries of the Institute of the National Housing 
  Fund for Workers (Infonavit) rose to 10,114,320 in 2023, representing an increase of 29.81% compared to the 7,791,114 beneficiaries recorded in 2022. In this context, 
  it is estimated that the demand for housing in Mexico will continue to be driven by demographic growth, urbanization, and government support policies.
</p>


  <p>Furthermore, Infonavit announced that from 2019 to the first quarter of 2024, 68,653 credits have been granted in Quintana Roo, the main area of operation for CADU. 
  This has involved an investment of 38,913 million pesos, representing a 6% increase compared to the credits granted during the period from 2013 to 2018, and a 57% increase 
  compared to the period from 2007 to 2012.

  </p>

  <p>In this regard, during the first five months of 2024, the agency recorded an increase of over 40% in credits granted in Quintana Roo compared to 2023, representing an investment 
  of over 3,500 million pesos. Based on this figure, it is anticipated that the trend in the region will continue and register double-digit annual growth by the end of 2024.

</p>

  <p></p>
</div>
