<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>The outbreak of the SARS-CoV-2 virus, commonly known as Coronavirus, which began at a small city of China towards the end
    of 2019, and rapidly spread throughout the globe, to an extent that the World Health Organization reported over 13 million cases
    worldwide, including the sad passing of over a half million people. Until the first fortnight of July, countries with highest number
    of infected were the USA, Brazil, India, Russia, Peru, Chile and Mexico.</p>

  <p>Collaterally, the global economic performance has experienced a significant slowdown, leading institutions such as the International
    Monetary Fund to project that by 2020 the world's GDP will contract by 4.9% YoY. However, a "flattening of the propagation curve" is
    beginning to be observed in certain regions of Europe and in other continents, so if this behavior is replicated by a number countries,
    a recovery of ~5.4% could be expected in 2021, according to the same agency.</p>

  <p>Likewise, significant progress has been recorded in the development of a vaccine against COVID-19, as in Russia, one of the drug trials
    will be undergoing phase III (open to public but in a controlled environment) soon; while in the United States another possible vaccine is
    approaching the conclusion of its human trial phase; thus providing a more positive outlook for global population.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>In Mexico, the lockdown measures implemented by the Federal Government continue to reflect on the economic dynamism, posting an unprecedented
    plummet 19.9% YoY of in the monthly index of economic activity and a annual 17.9% drop in the SSS of the stores affiliated to The National Association
    of Supermarkets and Department Stores during June; therefore, the Bank of Mexico conducted a cut, once again, to its reference rate, now of 50 basis points
    to a level of 5.0% as of June 30<sup>th</sup>, 2020.</p>

  <p>Moreover, it is expected that through the enter into force of the new UMSCA agreement, a higher amount of foreign direct investment will be attracted in order
    to boost the economy during its reactivation process, which began during the six month of the year following the termination of the “National Days of Healthy Distance”.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Halfway through 2Q20, the proper health authorities decreed the construction sector as an "essential" activity for the country, thus gradually lifting the measures
    restricting the construction of housing in each state; a fact that will be positive for the Companies in the sector, since the housing inventory in progress will be
    able to be completed and, therefore, begin its titling process.</p>

  <p>Likewise, the housing institutes continue to safeguard the stability of the industry, through payment deferral mechanisms and new credit granting schemes for the
    acquisition of new housing, such as those of FOVISSSTE, which implemented the programs "FOVISSSTE for all", which contemplates the origination of more than 3,000
    credits in 2020, and "Your house is waiting for you", which will provide about 2,500 credits to government employees of the health sector for the purchase or construction
    of housing; among others.</p>

</div>
