<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>Around the world, rising prices are becoming a post-pandemic recovery characteristic,
    prompting some of the world’s central banks to focus their effort on fighting inflation
    through restrictive monetary policies. In this aspect, it was anticipated that prices would
    reach a peak during the last months of 2021 in both, developed and emerging countries, as lately,
    gradually decrease in 2022.</p>

  <p>As far as economic recovery is concerned, at the end of 2021 it was affected by the impacts
     derived from the Delta variant of COVID-19, the bottlenecked global supply chains affecting the
      main ports of the world and consequently the problems in international distribution; in addition,
      there was the emergence of the new variant of COVID-19 "Omicron", which although it presented a
      high rate of contagion, the advances in vaccination contributed to the reduction of serious cases
       of this disease. </p>

  <p>By contrast, the international Real-Estate sector recorded during 3Q21, an annual increase
    of 77% in transactions, which amount is valued in US$292 million. Likewise, the activity
    within this industry had an upward performance in 2021, being 4% higher compared to the pre-pandemic
    levels in 2019, according to an assessment made by by JLL.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>Mexico experimented a setback in the economic activity recuperation, since for three consecutive
    months the Global Indicator of Economic Activity in Mexico (IGAE, for its acronym in Spanish) had a
    downward behavior, decreasing 0.21% MoM in October. This was mainly due to the contraction of agricultural
    and service sectors.</p>

  <p>Meanwhile, the increasing prices within the country was at its highest levels for 20 years since
     it closed 2021 with an inflation rate of 7.36% YoY. This inflationary pressure caused that the Bank
     of Mexico continue increasing its reference rate, which is currently at 6.0%. The perspective of various
     specialized economists is that in the course of 2022, the interest rate will have more increases. </p>

     <p>Against this backdrop, the International Monetary Fund (IMF), reduced its expectations of economic
       growth in Mexico, estimating an annual advance of 2.8% for 2022. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>According to what Inegi figures, the construction industry was affected by an increase in commodities price,
   which amounted an increase of 15.32% YoY in 2021. At national level, the inputs of corrugated rod, iron and steel wire,
  and wire rod annually increased their prices by 32.79%, 24.37% and 44.07%, respectively.</p>

  <p>Regarding the loans granted by Infonavit, these amounted over 530 thousand during 2021, increasing by 11.6% compared
    to 2020 and 6.6% against the target set for 2021. Of the total, 61% were destined to the acquisition of new or existent
    housing, construction, and liabilities payment, while the remaining 39% were used for remodeling or improvement.</p>

  <p>Looking ahead to 2022, Infonavit, in line with its Annual Operative Program 2022, estimated that by the end
    of this year, a total of almost 596 thousand credits will be granted, both mortgage and non-mortgage, which
     would represent an increase of ~12% vs. 2021.</p>

</div>
