<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>According to International Monetary Fund projections, global economic growth is expected to be 3.0% in 2023 and 2024. The 
  adoption of higher interest rates by central banks to manage inflation continues to impact economic activity. The overall inflation 
  rate is expected to decrease from 8.7% in 2022 to 6.8% in 2023 and 5.2% in 2024.</p>

  <p>Meanwhile, according to the World Bank's outlook for Latin America and the Caribbean, growth is expected to reach 2.0% for 
  2023 and 2.3% for 2024; however, the region is exposed to potential risks due to adverse global factors, such as rising 
  interest rates in the Group of Seven (G7) countries and China's unstable recovery.</p>

  <p>In general, the focus that economies have promoted remains to achieve a sustained reduction of inflation while maintaining 
  financial stability. In this regard, central banks should focus on restoring price stability and strengthening financial 
  supervision, as well as risk assessment.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>According to the "Mexico Situation" report, prepared by BBVA Mexico, a higher economic growth is expected for 2023, with 
  a projection of 3.2%, in contrast to the previously estimated of 2.4%. This estimate is due, among other things, to resilient 
  consumption, the strength of formal employment and a positive performance of investment (mainly from the government).</p>

  <p>In this regard, formal employment is expected to stay strong for the remainder of 2023, which will improve the outlook for 
  2024. Although the government’s 2024 economic package will not generate significant fiscal imbalances next year, it will 
  represent a significant challenge for the next administration.</p>

  <p>In addition, the beginning of the interest rate reduction cycle by Banxico is expected to be delayed until the first quarter 
  of 2024, anticipating a rate of 8.25% for the end of 2024.</p>


  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->

  <p>At the national level, the housing sector has benefited mainly as a result of nearshoring and the continued recovery of potential 
  demand from Infonavit beneficiaries. In this sense, the investments that continue to arrive to Mexico, mainly in the north and the 
  Bajio region, stimulate the generation of employment and the housing demand.</p>

  <p>Furthermore, at the end of the first half of the year, the potential demand of Infonavit beneficiaries has increased by 10.1% 
  at national level, compared to the end of 2022; it is notable that in Quintana Roo, CADU's main market of operation, the 
  recovery of demand has been higher than 20% in the same period.</p>

  <p>In addition to the aforementioned, Infonavit recently launched subsequent loans, which will allow beneficiaries with an 
  active employment relationship to request more loans as soon as their previous loan has been paid off; this measure is expected 
  to contribute to the strengthening of housing demand in the coming periods.</p>
</div>
