<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>The United States economy shows positive signs, mainly in its labor market and consumption, while the industrial
    sector slightly improved.</p>
  <p>Regarding the ongoing trade tensions between USA and China, the Asian country has declared that if the
    United States persists on its import tariffs for Chinese goods, it will not hesitate to retaliate and respond accordingly.</p>
  <p>The uncertainty surrounding the renegotiation process of the North American Free Trade Agreement (NAFTA) has wane
    due to the announced preliminary trade deal between Mexico and the USA, nevertheless, the renegotiations with Canada to
    conclude the trilateral talks are still under way.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>The economic expectations and projections for Mexico suggest a moderate growth, between 1.8% and 2.8%, according to Banxico’s
    second-quarter GDP forecast. For 2019, which will be the first year of the President-elect Andres Manuel Lopez Obrador administration,
    the Mexican Central Bank estimates a GDP growth of 2.2% - 3.2%. On the other hand, the inflation is expected at 4.2% by
    year-end 2018.</p>

  <p>The emergence of new episodes of volatility in the MXN/USD exchange rate, as well as an unexpected raise in the foreign interest
    rates, could force the Junta de Gobierno del Banco de Mexico (Board of Governors of the Mexican Central Bank) to perform upward
    adjustments to the reference rate, with the purpose of ensuring the convergence of inflation to its target rate.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>The construction sector has continued to recover, mainly driven by the building segment, which registered a 3.4% increment during the
    1H18, trend that contributed to the 2.0% growth in the construction sector GDP during the same period, reaching the upper range of the
    forecast issued at the beginning of the year (1.0%-2.0%) by the Centro de Estudios Economicos del Sector de la Construccion (Mexico’s
    Centre of Construction-Sector Economic Studies, known as CEESCO by its Spanish acronym) based on the figures from the Instituto Nacional
    de Estadistica y Geografia (National Institute of Statistics and Geography, known as INEGI by its Spanish acronym).</p>

  <p>The Secretaria de Economia (Ministry of Economy) reported that the estimated impact of the US imposed tariffs on steel imports would
    be between 3.0% and 4.0% in the prices of steel-derived products, causing the forecast of the annual inflation rate in the
    Mexican construction sector to reach a 12.0%-13.0% range.</p>


</div>
