<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>The United States economy shows positive signs, mainly in its labor market and consumption, while the industrial
    sector slightly improved so far this year.</p>
  <p>Regarding the ongoing trade tensions between the USA and China, the Asian country has declared that in the event the
    United States persists with its import tariffs on Chinese goods, it will not hesitate retaliate and respond in accordance
    with this situation.</p>
  <p>The uncertainty surrounding the renegotiation process of the North American Free Trade Agreement (NAFTA) has diminished
    due to the announced preliminary trade deal between Mexico and the USA, nevertheless, the renegotiations with Canada to
    conclude the trilateral talks on the trade pact are still under way.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>The economic expectations and projections for Mexico suggest a moderate growth, between 1.8% and 2.8%, according to Banxico’s
    second-quarter GDP forecast. For 2019, which will be the first year of President-elect Andres Manuel Lopez Obrador administration,
    the Mexican Central Bank estimates a GDP growth of 2.2% - 3.2%. On the other hand, the inflation is expected to be at 4.2% by
    year-end 2018.</p>

  <p>The emergence of new episodes of volatility in the MXN/USD exchange rate, as well as an unexpected raise in the foreign interest
    rates, could force the Junta de Gobierno del Banco de Mexico (Board of Governors of the Mexican Central Bank) to perform upward
    adjustments to the reference rate, with the purpose of ensuring the convergence of inflation with its target rate.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>The construction sector has continued to recover, mainly driven by the building segment, which registered a 3.4% increment during the
    1H18, trend that contributed to the 2.0% growth in the construction sector GDP during the same period, reaching the upper range of the
    forecast issued at the beginning of the year (1.0%-2.0%) by the Centro de Estudios Economicos del Sector de la Construccion (Mexico’s
    Centre of Construction-Sector Economic Studies, known as CEESCO by its Spanish acronym) based on figures from the Instituto Nacional
    de Estadistica y Geografia (National Institute of Statistics and Geography, known as INEGI by its Spanish acronym).</p>

  <p>The Secretaria de Economia (Secretariat of Economy) reported that the estimated impact of the US imposed tariffs on steel imports would
    be an increase of between 3.0% and 4.0% in the prices of steel-derived products, causing the forecast of the annual inflation rate in the
    Mexican construction sector to reach a 12.0%-13.0% range.</p>


</div>

<div id="panorama_chart" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
<script type="application/javascript" src="/assets/plugins/amcharts/amcharts.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/serial.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/themes/light.js"></script>
<script type="application/javascript">

    if (locale == "es") {
        var titulo = "Monto promedio de crédito infonavit";
        var monto = "Monto promedio INFONAVIT";
        var variacion = "Variación anual";
    }
    else {
        var titulo = "Average Infonavit's loan size";
        var monto = "Average Infonavit's loan size";
        var variacion = "Annual change";

    }
    var chart = AmCharts.makeChart("panorama_chart", {
        "titles": [
            {
                "text": titulo,
                "size": 15
            }
        ],
        "theme": "light",
        "type": "serial",
        "numberFormatter": {
            "precision": 2
        },
        "colors": ["#ED7D31", "#FFC000"],
        "dataProvider": [
            {
                "year": "2017/01",
                "monto": 340.444253417108,
                "variacion": 14.44,
                "variacion_v": 12.445602598931
            }, {
                "year": "2017/02",
                "monto": 298.496962070504,
                "variacion": 5.15,
                "variacion_v": 3.1571840215499
            }, {
                "year": "2017/03",
                "monto": 298.644267231226,
                "variacion": 3.64,
                "variacion_v": 2.64886070550552
            }, {
                "year": "2017/04",
                "monto": 315.843482671279,
                "variacion": 6.85,
                "variacion_v": 4.85783204365009
            }, {
                "year": "2017/05",
                "monto": 334.56529714404,
                "variacion": 12.53,
                "variacion_v": 10.5301122239789
            }, {
                "year": "2017/06",
                "monto": 340.445551810947,
                "variacion": 18.87,
                "variacion_v": 16.8788729130552
            }, {
                "year": "2017/07",
                "monto": 352.019380992828,
                "variacion": 19.44,
                "variacion_v": 17.4420383923616
            }, {
                "year": "2017/08",
                "monto": 359.267004552634,
                "variacion": 20.33,
                "variacion_v": 18.3393995707663
            }, {
                "year": "2017/09",
                "monto": 362.717797613209,
                "variacion": 20.38,
                "variacion_v": 18.3891492345851
            }, {
                "year": "2017/10",
                "monto": 362.972996560793,
                "variacion": 19.11,
                "variacion_v": 17.1167501428103
            }, {
                "year": "2017/11",
                "monto": 352.654623128672,
                "variacion": 13.32,
                "variacion_v": 11.3224983678685
            }, {
                "year": "2017/12",
                "monto": 367.541904163071,
                "variacion": 14.83,
                "variacion_v": 12.8351157891494
            }, {
                "year": "2018/01",
                "monto": 395.018380811582,
                "variacion": 16.03,
                "variacion_v": 14.030268346933
            }, {
                "year": "2018/02",
                "monto": 371.090930477389,
                "variacion": 24.31,
                "variacion_v": 22.319834916691
            }, {
                "year": "2018/03",
                "monto": 379.078201002327,
                "variacion": 26.93,
                "variacion_v": 22.9330245367891
            }, {
                "year": "2018/04",
                "monto": 379.634348582715,
                "variacion": 20.19,
                "variacion_v": 18.1969866124568
            }, {
                "year": "2018/05",
                "monto": 377.991486871755,
                "variacion": 12.97,
                "variacion_v": 10.9798846737588
            }
        ],
        "valueAxes": [{
            "id": "v1",
            "axisAlpha": 0,
            "gridAlpha": 0.1,
            "position": "left",
            "maximum": 450,
            "minimum": 0,
            "autoGridCount": false,
            "gridCount": 9
            // "title": "Calificación",
        },
            {
                "id": "v2",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "right",
                "maximum": 40.00,
                "minimum": -20.00,
                // "title": "Posición",
                "labelFunction": function (value) {
                    return formatFileSize(value);
                }
            }],
        "startDuration": 1,
        "graphs": [{
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "monto",
            "valueAxis": "v1",
            "autoGrid": false,
            "labelText": "[[value]]",
            "title": monto
        }, {
            "lineAlpha": 0.9,
            "lineThickness": 3,
            "bullet": "round",
            "bulletBorderColor": "#fff",
            "bulletBorderThickness": 2,
            "bulletBorderAlpha": 1,
            "valueField": "variacion_v",
            "valueAxis": "v2",
            "balloonText": "[[variacion]]%",
            "labelText": "[[variacion]]%",
            "title": variacion
        }],
        "categoryField": "year",
        "categoryAxis": {
            "gridPosition": "start",
            "gridAlpha": 0,
            "labelRotation": 45
        },
        "legend": {
            "align": "center",
            "position": "bottom",
            "markerSize": 15,
            "markerType": "circle",
            "textClickEnabled": true
        }
    });

    function formatFileSize(value) {
        return value + ".00%";
    }
</script>
