<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>According to the International Monetary Fund (IMF) projections, a decrease on the global economy of 2.3% on 2023 and a rebound of 3.1% in 2024 is expected. Rising interest rates, as a way for the Central Banks to control the inflation and the conflict between Russian and Ukraine have been important factors for this slowdown. </p>

  <p>In this sense, the IMF expect global inflation decrease to 6.6% in 2023 (2.2 pp. less than 2022) and 4.3% in 2024. Those expectations have led to lower long-term interest rates and stimulated the financial markets in advanced and emerging economies.  </p>

  <p>In 2022, Latin America economy expanded by almost 4%, the employment rebound and the services sector was recovered from the COVID-19 pandemic. On the other hand, throughout January 2023, labor market in the US exceeded expectations with the lowest unemployment rate in five decades (3.4%), suggesting that the labor market has been resilient despite weaker macroeconomic dynamism. The progress in reducing inflationary pressures and the strengthen seen in the global labor markets, have given reasons to believe that central banks will control the inflation with less impact on the economic growth. </p>

  <!--<p>The slowdown is expected to begin in the United States from the fourth quarter of 2022 and continue through the first half of next year, before resuming a growth path from the second half of 2023.  </p>-->

  <!--<p>The U.S. economy will expand 2.3% this year and 1% next year, according to the IMF as of June. These projections lower the April estimates by 1.4 and 1.3 points, respectively. </p>-->

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>Although the Mexican economy faces a complex environment, given the inflation pressures and the dependence to the US economy, it still been dynamic by taking the investment opportunities offered by nearshoring. </p>

  <p>In this sense, in January the IMF has adjusted its growth expectations to 1.7%, due to the strength and resilience shown by the Mexican currency, which remains below MXN/USD 19, a level not seen since 2018; this adjust has been replicated by other institutions such as the Secretariat of Finance and Public Credit (Secretaria de Hacienda y Credito Publico, “SHCP” for its Spanish acronym), even private banks as Bank of America, Banorte and BBVA Mexico, which have improved their growth perspectives for the country to 2023.  </p>

  <p>The World Bank projects that the Mexican economy will grow by 0.09%, as result of the possible decrease in the economic dynamism of United States, which could affect exports and remittances. Regarding the price increases, Mexican Central Bank (Banxico for its Spanish acronym) continue to take restrictive measures, increasing the interest rates to control the high inflation environment in the country; it is expected the interest rates continue increasing up to 11.50%.  </p>


  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>It was announced through the National Survey of Construction Companies (ENEC for its Spanish acronym), that the construction sector grew 6.1% on the first half of 2022. For November 2022, the production value of construction companies grew 2.5% when compared to October, adding three months of growth, mainly driven by the construction of industrial properties as a result of nearshoring. </p>

  <p>Regarding the mortgage interest rates, the Director of INFONAVIT said that there is no intention to increase interest rates in line with the inflation, in contrast to commercial banks, with the objective of increasing the access to home among the lower income segments. </p>

  <p>In order to meet the housing needs of its affiliates, INFONAVIT announced an increase in the maximum amount available for a mortgage loan, to approximately MXN 2.4 million, which coupled with the increase in the maximum age the affiliates can apply for a loan, from 65 to 70 years, and the start of FOVISSSTE's continuous inscription model, which allow the affiliates to apply for a mortgage at any time, will contribute to improve the dynamism of the housing sector. </p>

  <!--<p>In the housing sector, during the quarter, INFONAVIT announced measures to increase the number and quality of credit granted, expanding the age limit to apply for a loan, going from 65 to 70 years old.  As a result, the maximum loan amount will increase by an average of MXN 180,000, and monthly payments will be lower. This contributed to an additional potential demand of approximately 200,000 eligible borrowers who meet the new requirements. </p>

  <p>In addition, INFONAVIT's potential demand in the markets where CADU operates shows signs of recovery, since in Quintana Roo alone, its main operating market, potential demand has increased by more than 23% so far in 2022 (data as of June) vs. December 2021. </p>

  <p>In the near future, FOVISSSTE will attend to credit requests on a continuous basis, eliminating application periods and thus making it easier to obtain mortgage loans for home purchases. </p> -->

</div>
