<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>According to the International Monetary Fund (IMF), the global economy is beginning to record a generalized and more aggressive slowdown than expected, while at the same time recording the highest inflation levels in decades. </p>

  <p>Despite the above, inflation is expected to decline gradually to 6.5% by 2023 and to 4.1% during 2024; to this end, the IMF expects that monetary and fiscal policy will continue to focus, through interest rate hikes, on alleviating the pressure on the cost of living and, finally, to give way to structural reforms that respond to the post-pandemic economic readjustment. </p>

  <p>The Eurozone maintains a conservative outlook due to the ongoing conflict in Eastern Europe and the resulting energy crisis. To face this, the European Union has increased purchases of natural gas from Norway and Algeria, thus avoiding recourse to Russia. </p>

  <p>The slowdown is expected to begin in the United States from the fourth quarter of 2022 and continue through the first half of next year, before resuming a growth path from the second half of 2023.  </p>

  <!--<p>The U.S. economy will expand 2.3% this year and 1% next year, according to the IMF as of June. These projections lower the April estimates by 1.4 and 1.3 points, respectively. </p>-->

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>Mexico faces a challenging environment as global inflation rises, however, cautious macroeconomic management has allowed the country to maintain a position that allows it to move forward with stability, even in a context of economic instability.</p>

  <p>Jose Angel Gurria, former Secretary General of the OECD, commented that Mexico is able to attract investments to exceed 2% annual economic growth in the medium term. Likewise, the rating agency S&P stated that Mexico has fiscal strengths that allow it to maintain its sovereign rating two levels above Investment Grade, at "BBB/stable outlook", even in the midst of the complex global economic outlook and despite the risk of recession in the United States.  </p>

  <p>The International Monetary Fund (IMF) maintains an economic growth forecast for 2022 of 2.4%, while the Economic Commission for Latin America (ECLA) adjusted its forecast to 1.9%. Meanwhile, members of the banking sector, such as BBVA Mexico, maintain an estimate of 2.0%. </p>


  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Although the construction industry has shown improvements in the value of production during 2022, Mexico's economic situation continues to present complications.  </p>

  <p>According to a study by Bimsa Reports, construction companies in Mexico remain optimistic about the future; however, concerns about the economic environment persist. Specifically, they consider that 2022 has been a slightly better year than 2021 in terms of the volume of contracted work, although the main beneficiaries have been the larger construction companies. </p>

  <p>In terms of risks, the main concerns are the increase in the cost of construction materials (about 13% YoY), the lack of investment and the cost of financing. </p>

  <p>In the housing sector, during the quarter, INFONAVIT announced measures to increase the number and quality of credit granted, expanding the age limit to apply for a loan, going from 65 to 70 years old.  As a result, the maximum loan amount will increase by an average of MXN 180,000, and monthly payments will be lower. This contributed to an additional potential demand of approximately 200,000 eligible borrowers who meet the new requirements. </p>

  <p>In addition, INFONAVIT's potential demand in the markets where CADU operates shows signs of recovery, since in Quintana Roo alone, its main operating market, potential demand has increased by more than 23% so far in 2022 (data as of June) vs. December 2021. </p>

  <p>In the near future, FOVISSSTE will attend to credit requests on a continuous basis, eliminating application periods and thus making it easier to obtain mortgage loans for home purchases. </p>

</div>
