<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>According to Fed’s semiannual monetary policy report to the Congress, the US economy grew at a strong pace
    in 2018, slightly below 3.0%, noting that they do not expect to perform upward adjustments to their interest
    rate in the short term. On the other hand, inflation  remained close to the Fed’s longer-run goal of 2.0% for
    2018.</p>
  <p>After several meetings between US and China negotiators, the trade war between both countries seems to be
    breaking down with the greater potential for agreement, which could benefit market stability, as well as
    enhance world economic growth through a more liberalized trade relationship.</p>
  <p>After the signing of the trade agreement between the United States, Mexico and Canada at the end of the
    previous federal administration, private foreign direct investment in the region seems to pick up its
    momentum, making the USMCA an important catalyst for economic growth in the region.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>During 2018, national GDP grew below 2.3% according to the Mexican National Institute of Statistics and
    Geography (Instituto Nacional de Estadística y Geografía – INEGI). Meanwhile, private sector specialists
    surveyed by Banxico, in January, maintained their GDP growth forecast of 1.8% YoY for 2019. On the other
    hand, the Consumer Confidence Index reached all-time high levels, fueling the expectation of a greater
    economic dynamism during the first months of the year.</p>

  <p>Banxico’s monetary policy decision at the end of the previous year to increase the reference rate to 8.25%,
    following the Fed’s upward adjustment and current balance of risks for inflation at that moment. However,
    during the last meeting held in February this year, Banxico’s Board was more dovish in essence, leaving
    the reference rate unchanged, recognizing the inflation improvement in January 2019 (4.37%).</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>According to revised figures from INEGI, GDP of the construction sector for full-year 2018 expanded by 0.6%, partially
    reflecting the usual industry slowdown explained by the start of  the new federal administration. However,
    according to the Construction Sector’s Economic Resarch Centre ( Centro de Estudios Económicos del Sector
    de la Construcción - CEESCO), the sector GDP growth for 2019 is expected to be between the range of 2.0% and
    2.5%, mainly driven by private investment. This, coupled with the potential rise in Mexican Federal Institute for Worker’s Housing
    (Instituto del Fondo Nacional de la Vivienda para los Trabajadores – Infonavit) mortgage credit cap* , will
    contribute to a greater number of homes sold during the year.</p>

  <p>Construction input prices increased 10.3% YoY in 2018, attributed by the entry into force of certain foreign
    policies such as the imposition of duties on Mexican steel and aluminum by the United States. However, in
    January, this trend has shown signs of improving, ending at 8.6% YoY, highlighting the decrease in key input
    prices such as asphalt, rod, wire and wire rod.</p>


</div>
