<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>Following an apparent cooldown in the negotiations between the United States and China,
    which affected international trade, investments and confidence in general. During the G20
    Summit, President Donald Trump announced the suspension of the tariffs imposed on certain
    items as well as the lifting of the ban on the Asian technology giant Huawei; the latter
    proved to be a matter of vital importance, acting as spark for the renewal of the negotiations
    between both countries. The trade conflict between these great powers benefited countries like
    Mexico, which managed to take China’s position as the main supplier of the United States in
    about 20 products, bolstering the Mexican export platform.</p>

  <p>Separately, Europe continues its moderate growth trend due to its current internal conflicts
    such as the Brexit, in which a definitive agreement has not yet been reached (Deadline: October
    31<sup>th</sup>), leaving the old continent’s growth prospects aiming for an economic slow-down.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>Despite the stable performance of the key macroeconomic indicators highlighting an annual
    inflation within the target range along with a consumer confidence index which at the end
    of June stood on a record high level for said month, Mexico’s growth prospects for both
    analysts and, national and international financial institutions is lower than the expected
    at the beginning of the year. The debt of Mexican National Oil Company (<em>Petróleos Mexicanos</em>
    – PEMEX) stands out as the main factor in the assessment of the country’s outlook, therefore
    it is expected that the recent publication of Pemex 2019-2023 business plan to boost the level of certainty in Mexico.</p>

  <p>On the other hand, following the prudent judgment it had been showing, the Bank of Mexico
    (Banxico) maintained de reference rate unchanged at 8.25% for the fourth time on a row, even
    though Banxico’s Deputy Governor, Gerardo Esquivel, voted in favour of a 25 base points
    contraction, founding his opinion on the current level of inflation. Such modification would
    be in line with that of the US Federal Reserve, which aims to announce a reference rate
    contraction in its next monetary policy meeting, according to analysts’ forecasts.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>At the end of June 2019, the key trends in the construction industry trends are marked by diminishment in the
    prime cost, according to an study conducted by the Construction Sector’s Economic Research Centre (<em>Centro de
    Estudios Económicos del Sector de la Construcción</em> – CEESCO). The foregoing is in line with the downward
    trend in the average prices of certain inputs, driven by a lower demand and public investment.</p>

  <p>During the first half of the year, the affordable-entry level housing demand showed signs of slow-down,
    affected by a lower budget of subsidies for its acquisition, which was partially offset by the higher amount of
    credit given by both Social Insurance and Banking Institutions. For the remainder of the year is expected that
    the demand of this housing segments to will regain its momentum given the launch of a new program by the Mexican
    Federal Institute for Workers’ Housing (<em>Instituto del Fondo Nacional de la Vivienda para los Trabajadores</em>
    – “INFONAVIT”) featured by an increase in the credit limit granted to its low-income affiliates.</p>


</div>
