<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>Around the world, the economic and social situation is continuing to recover as a result of vaccination efforts to mitigate the severity of the symptoms caused by the virus. In this regard, the main health indicators in various countries, such as the number of infections, continue to show a downward trend or significant stability.</p>

  <p>However, in other nations, such as China, there continues to be a degree of uncertainty about the increase in cases of COVID-19, as this could lead to a new mandatory confinement for all people living in the country. </p>

  <p>Another important fact is the conflict that has arisen between Russia and Ukraine, since several countries have taken commercial reprisals against the largest country in the world, which has resulted, among other things, in constant increases in energy prices and effects on some supply chains in Europe, not to mention the commercial slowdown in Ukraine.</p>

  <p>Although the IMF does not consider that Europe could enter into recession, it will undoubtedly be necessary to monitor the evolution of this conflict and its possible impacts around the world. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>Affected by primary and secondary activities, in February the Global Economic Activity Index remained practically the same as its monthly comparison, slightly below the reading of a 0.2% increase forecast by the Timely Indicator of Economic Activity (IOAE, by its Spanish acronym); however, it rose 2.7% in its comparison to February 2021, thus accumulating four consecutive months with growth, according to seasonally adjusted figures from Inegi.</p>

  <p>Although the SHCP remains optimistic and expects Mexico's economy to grow 4.1% in 2022, there are several endogenous and exogenous factors that could influence the country's economic performance; such as the conflict between Russia and Ukraine, inflationary pressures, higher interest rates, etc. For this reason, international agencies such as Goldman Sachs and Moody's expect growth of only 1.4% and 1.1%, respectively. </p>


  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Although the SHCP remains optimistic and expects Mexico's economy to grow 4.1% in 2022, there are several endogenous and exogenous factors that could influence the country's economic performance; such as the conflict between Russia and Ukraine, inflationary pressures, higher interest rates, etc. For this reason, international agencies such as Goldman Sachs and Moody's expect growth of only 1.4% and 1.1%, respectively.</p>

  <p>However, according to the Survey of Credit and Housing Needs for the first quarter of 2022, published by Infonavit, the Housing Purchase Intention Index was at the highest level observed since its launch in the first quarter of last year, which means that housing demand could register a better dynamic during the course of the year.</p>



</div>
