<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>15 months after the beginning of the trade conflict between the governments of the United
    States and China, during October, President Donald Trump announced that an agreement in
    principle to resolve the differences between these two nations had been reached, mainly for the
    benefit the international agricultural trade. The important document is expected to be signed by
    both leaders during November within the framework of The Asia-Pacific Economic
    Cooperation summit in Chile, thus suspending the US intention of increasing the tariffs imposed
    on certain items of the Asian country from 25% to 30% in coming months.</p>

  <p>Likewise, there are also signs of potential favorable resolution regarding the Brexit deal, as the
    United Kingdom and the European Union have intensified their efforts to ensure a smooth
    transition in mid-October. It is worth recalling that the deadline to submit a resolution or for the
    United Kingdom to request a postponement is October 31<sup>st</sup>.</p>

  <p>During this prolonged period of global trade conflict, some countries took advantage of the
    situation, being Mexico the primary beneficiary in absolute terms, as it was announced during
    October 2019, that it had beaten its all-time annual record of exports to the United States by
    reaching product sales of USD 240,738 million, standing for 14.4% of said country total
    imports.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>In spite of an inflation level within the target of Mexico’s central bank, as well as the
    population’s high confidence in the national economy, well-founded on the salary
    increase and the financial aid for family spending provided by the Federal Government;
    the International Monetary Fund (IMF) announced a cut ,yet-again, in its Mexico’s
    economic growth estimates (in line with its forecasts for both global and Latin
    American economy ), fueled by, among other things, a “high” political uncertainty, low
    budget execution and some temporary factors, such as low levels of private investment
    and a slow-down in domestic consumption.</p>

  <p>Separately, the Bank of Mexico cut its benchmark interest rate for the second time on a
    row, going from 8.25% during 2Q19 to 7.75% at the end of 3Q19, down by 50 bps.,
    which according to the entity, is founded on the need to promote an environment of
    trust and certainty for investment as well as greater productivity to sustainably
    consolidate public finances.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>National indicators show a slow-down in new properties construction so far this year,
    given that until July, the amounts alloted to construction works within the country have
    failed to exceed those of the same period of 2018, as collateral effect to the public
    spending budget reduction.</p>

  <p>Notwithstanding, housing institutes continue to implement new strategies in order to
    revitalize the market toward years-end, highlighting the Infonavit’s increase in credit
    limit for its lower income affiliates, thus encouraging the population to acquire new
    homes; while Fovissste, made a steady progress in its loan program scheduled for 2019,
    having served already more than 80,000 families which were in the search of new home.
    Consequently, a greater momentum in the housing industry is expected during 4Q19.</p>

</div>
