<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>As of July, advanced economies have made significant progress in their vaccination
    schedules against COVID-19, immunizing approximately 40% of their population, while
    several emerging countries only have a vaccination rate of 11%. In this regard, the
    International Monetary Fund (IMF) estimates that the economy of the most developed
    countries will return to pre-pandemic levels by 2022 and of developing economies by 2024.</p>

  <p>Therefore, to strengthen global liquidity and support economic recovery, on August 23,
    the allocation of 456,000 million Special Drawing Rights (SDRs), equivalent to US$650
    billion (approved earlier in that month by the IMF), were distributed to each country
    in accordance to their share in the IMF capital.</p>

  <p>Separately, during September, Evergrande, one of the largest real estate developers in
    China, which had a debt of ~USD$300 billion, reported that it was having difficulty in
    the refinancing due to lack of liquidity. As expected, there was an inevitable negative
    impact on world markets, oil prices and several exchange rates (the Mexican currency
    reached its weakest level against the US dollar).</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>In July, Mexico posted an economic recovery of 7.10% YoY, driven by the stronger dynamics
    in the industrial and service sectors, according to the Global Indicator of Economic Activity
    (IGAE for its Spanish acronym) provided by the Mexican Institute of Geography and Statistics
    (INEGI for its Spanish acronym). This, along with the positive trend in job creation, which
    in September rose to record-high levels for said month (enabling Mexico to near the number
    of formal jobs recorded before the pandemic) led the International Monetary Fund to increase
    its growth projection for the Mexican economy from 5% to 6.30% by the end of 2021.</p>

  <p>However, due to inflationary pressures registered during this quarter, the Bank of Mexico
    raised the reference rate in 25 basis points, from 4.25% in June to 4.50% in August. Moreover,
    in October in further raised the rate to 4.75%, its highest level in over a year. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>In August, according to the Mexican Chamber of Construction Industry, price increases
    of various construction materials had already reached its peak. Domestic prices of rebar,
    wire rod and iron profile rose roughly 30%; and different petroleum-related inputs hiked
    between 10% and 17%.</p>

  <p>Turning to housing loan programs, the new Infonavit T-1000 score system, features the
    addition of new criteria to determine credits, such as the qualities of municipality and of
    the employer. This, coupled to the outsourcing reform, which led companies to change their
    corporate name in order to adapt to its requirements (causing a clean slate effect in the
    records of multiple affiliates, despite that they continued to work in the same company),
    had a significant temporary impact on the demand and commercialization of housing.</p>

  <p>The Infonavit Council approved new rules to regulate the development of houses near offices,
    hospitals, highways, etc. These measures represent a fresh page in housing development, as
    they were drafted with the collaboration of unions and representatives of both business and
    government sectors.</p>

</div>
