<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>According to International Monetary Fund estimates, by 2023 global growth will be 2.8% and 3.0% by 2024; according to the fund's research and despite inflationary pressures and the recent turbulence in the U.S. financial sector, historically low growth is expected, but far from a recession. </p>

  <p>Similarly, low growth is expected to result from the slowdown in the more developed economies. In the case of the U.S., the labor market has begun to moderate from an expected wage growth of 7.2% to 6.9% year-over-year, closing with an expected growth of 1.6% for 2023 and 1.1% for 2024. In the same line, the European manufacturing sector has been sluggish in the first months of the year, which together with a more restrictive monetary policy by Eurozone governments and stricter financial conditions, results in a growth outlook of only 0.8% for Europe, according to IMF data.  </p>

  <p>For the emerging economies, there are more optimistic forecasts of 3.9% for this year and 4.2% for the following year, mainly due to the expected growth of the manufacturing sector in China and India. Meanwhile, in Latin America, the political and social situation has generated an environment of distrust for the business sector, which, together with high interest rates, has discouraged private investment, resulting in a growth outlook of 1.6% for the region as a whole, below the 4% achieved in 2022. </p>

  <!--<p>The slowdown is expected to begin in the United States from the fourth quarter of 2022 and continue through the first half of next year, before resuming a growth path from the second half of 2023.  </p>-->

  <!--<p>The U.S. economy will expand 2.3% this year and 1% next year, according to the IMF as of June. These projections lower the April estimates by 1.4 and 1.3 points, respectively. </p>-->

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>According to the "Situation of Mexico" report, carried out by BBVA Mexico, the bank revised upwards its expectation for the end of 2023, from 0.6% to 1.4%. Likewise, the Economic Commission for Latin America and the Caribbean (ECLAC) forecasts a growth of 1.5% for the Mexican economy.  </p>

  <p>Analysts agree that Mexico has seen positive revisions to its growth outlook due to its proximity to the U.S. market, which remains solid, as well as the growing flow of remittances and, in particular, nearshoring, which is expected to continue to benefit domestic demand while boosting the dynamism of the country's labor market, which is at historic highs, with unemployment at just 2.8% as of the latest available report.    </p>

  <p>On the other hand, the expectation of interest rates at 11.5% is still in place, but Banxico is expected to start lowering rates as of 1Q24 in order to further enhance nearshoring opportunities and the favorable outlook for the country.    </p>


  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>According to the real estate consulting firm Softec, the real estate sector has remained resilient in the face of a complicated economic environment, maintaining a growing demand driven by the country's labor and tourism attractiveness. According to the consultant, it would be necessary to build approximately 600,000 homes per year in the next 6 years to cover the demand. This demand has been decentralized in recent months, since, as a result of the recovery from the pandemic and the new trends arising from the confinement, spaces outside the center of the country, as well as in safer places or in contact with nature have been favored, thus reducing the tendency to hoard the sector in the big cities. </p>

  <p>Likewise, demand has been benefited throughout the country thanks to the facilities that INFONAVIT has provided to obtain loans with higher amounts for the purchase of homes, which would make it easier for workers in the formal sector to obtain a mortgage loan. This, together with the increase in workers' purchasing capacity and the reduction of inflationary forecasts, results in favorable expectations for the real estate sector in 2023. </p>

  <!--<p>In order to meet the housing needs of its affiliates, INFONAVIT announced an increase in the maximum amount available for a mortgage loan, to approximately MXN 2.4 million, which coupled with the increase in the maximum age the affiliates can apply for a loan, from 65 to 70 years, and the start of FOVISSSTE's continuous inscription model, which allow the affiliates to apply for a mortgage at any time, will contribute to improve the dynamism of the housing sector. </p>

  <p>In the housing sector, during the quarter, INFONAVIT announced measures to increase the number and quality of credit granted, expanding the age limit to apply for a loan, going from 65 to 70 years old.  As a result, the maximum loan amount will increase by an average of MXN 180,000, and monthly payments will be lower. This contributed to an additional potential demand of approximately 200,000 eligible borrowers who meet the new requirements. </p>

  <p>In addition, INFONAVIT's potential demand in the markets where CADU operates shows signs of recovery, since in Quintana Roo alone, its main operating market, potential demand has increased by more than 23% so far in 2022 (data as of June) vs. December 2021. </p>

  <p>In the near future, FOVISSSTE will attend to credit requests on a continuous basis, eliminating application periods and thus making it easier to obtain mortgage loans for home purchases. </p> -->

</div>
