<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>During January, the governments of the United States and China signed a phase one trade deal to end
    the commercial war that had been affecting global economy since 2018. Among the concessions reached,
    especially noteworthy are the bilateral easing and/or elimination of certain tariffs, as well as the
    commitments made for the purchase of raw materials between these two nations. However, experts agree
    that the current deal failed to address many important issues, therefore an improved global outlook is
    expected as soon as the second stage of this significant agreement is announced.</p>

  <p>In lockstep, the United Kingdom reached a final withdrawal agreement with respect to the European Union,
    three years after making public its intention to leave the political union. In this way, with the start of
    the transition period a new era began for both European and world economy.</p>

  <p>Finally, the "USMCA" was approved and signed by the United States, pending only the reaffirmation of the
    Canadian government. The sum of these events should translate into better conditions for Mexico's economic
    development during 2020, given the lower level of uncertainty along with the strengthening of the mining,
    industrial, construction and commercial sectors, inter alia.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>In 2019, national annual inflation rate stood at 2.83%, within the target range set by the Bank of Mexico
    (3% +/- 1%); while FX rate performance remained solid, ending the year at MXN 19.42/USD. In spite of the
    foregoing, main rating agencies anticipate a softened economic growth for this year (GDP of ~1% YoY), as
    a result of a weakened private investment, which in turn derives from the incremental caution investors
    have been showing in recent times.</p>

  <p>In this regard, in order to boost economic dynamism by means of a lower cost of money, during February,
    Banxico carried out fifth consecutive cut (-25 bps.) on its reference rate, setting it at a 7.00% level.
    This expansive monetary policy is expected to foster a rise on investment levels in the short term.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>During 2019, the construction industry developed under a scenario of low application of federal resources
    for the acquisition of new housing, accompanied by unclear rules for the operation. However, 2020 begins
    revitalized due to the publication of the activity parameters that will be followed by CONAVI, oriented to
    the attention of the population with greater lag in this matter.   2019 for the construction industry was
    marked by the lower allocation of federal resources to encourage the acquisition of new housing, in addition
    to the delay in the issuance of the National Housing Plan. Nevertheless, 2020 began on a strong footing driven
    by the publication of the latter, which is aimed to attend the underserved population in this matter.</p>

  <p>Likewise, the President of Mexico announced the allocation of more than MXN 200,000 million to stimulate
    the sector; while Infonavit and Fovissste are launching new financing schemes, such as the capability of
    joining credits from both institutions, actions which together will strengthen the industry in order to
    achieve a greater dynamism.</p>

</div>
