<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>The US economy has shown resilience in maintaining a growth rate above 2.0% so far this year, consequently, an expansion of
    above 3.0% is forecast for the following quarters. However, one of the main factors that could bring down this performance is
    the decline in the country’s exports, due to commercial tensions with other countries.</p>
  <p>The commercial tensions between the US and China has caused a cut to the economic growth forecasts of emerging markets for
    2019, after the former further escalated due to the American country’s withdrawal from the Trans-Pacific Partnership, on the
    grounds that the deal mainly benefits Asian producers.</p>
  <p>US, Mexico and Canada closed a new trade agreement on September 30, 2018, denominated “USMCA”, which will be reviewed and
    subsequently signed during November 2018. This event significantly dissipated the uncertainty surrounding the renegotiations,
    as the new deal retained several principles from NAFTA; it is expected to come into force by the year 2020.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>Mexico’s GDP growth forecasts, according to the recent Banxico’s survey of private sector analysts, are at 2.40% and 2.15% YoY
    for 3Q18 and 4Q18, respectively. Regarding inflation, Banxico expects a convergence towards a level of 4.80% YoY at the end of 2018,
    where the main upside risks stem from energy products.</p>

  <p>The outcome of the citizen consultation on Mexico City’s New international Airport continuity, the Fed interest rate hikes, the
    MXN/USD exchange rate volatility, and the accelerating inflation, could force the Junta de Gobierno del Banco de Mexico (Board of
    Governors of the Mexican Central Bank) to perform another upward adjustment to the refence rate, with the purpose of ensuring the
    convergence of inflation to its target range of 3.0% - 4.0%.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>According to data from the Centro de Estudios Economicos del Sector de la Construccion (Construction Sector’s Economic Resarch Centre,
    known as CEESCO by its Spanish Acronym), annual growth for the construction industry is expected to be around 1.0% - 2.0% by the end of 2018,
    expecting a slowdown in growth derived from the Federal government transition and the halt of some infrastructure projects. Among the challenges
    to be faced in the following years are investment levels, the greater efficiency in the allocation of public resources and the creation of new
    financing mechanisms.</p>

  <p>The upward trend in the construction sector's costs continues, accumulating an inflation of 10.5% YoY as of September, with building materials 
    showing the steepest increases, registering double-digit annual growth rates in steel rods (+33.1%), wire products (+31.0%) and steel mesh (+24.2%).
    For the industry, an inflation above 12.0% YoY is expected for the end of the year, as the steel duties imposed by Mexico to the US is not removed
    in the new trilateral agreement.</p>


</div>
