<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>The outbreaks of different SARS-CoV-2 variants and the spike in inflation in a number of countries
    worldwide are rapidly arising as the biggest risks to the economy, having risen the uncertainty surrounding
    the pace of recovery. According to prospects of International Monetary Fund, the world economy will grow by
     6% in 2021 and 4.4% in 2022, driven by the accelerated recovery of the United States, which will benefit
     many countries through increased trade, as well as progress in vaccination plans.</p>

  <p>In this regard, the risk of a higher cost of credit, given recent inflationary pressures that could lead
    to interest rate hikes sooner than expected, would result in a sharp tightening of global financial conditions
    while causing capital flight in emerging and developing economies.</p>

  <p>In parallel, in China, the only country with economic growth rates during 2020, GDP decelerated in 2Q21 to
    7.9% YoY, after expanding 12.7% YoY in 1Q21, following the slow recovery of domestic consumption, while
    companies face increasing costs of raw materials. Meanwhile, in the Euro Zone, the economy is foreseen
    to expand 4.4%, largely boosted by the reopening of domestic economies in the second quarter of the year.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>In Mexico, economic recovery is progressing hand in hand with the vaccination process. In this context,
    the rating agency S&P Global Ratings stated that Mexico is the only country in Latin America with an upward
    revision in its economic prospects for 2021 and 2022, as growth rates of 5.8% and 2.9%, are expected for
    those years respectively.</p>

  <p>Likewise, Mexico continues to take advantage of the steady economic recovery in the United States, through
    stronger manufacturing exports and remittances, which reflected in the 21.1% YoY climb in Same Store Sales of
     the members of National Association of Supermarkets and Department Store (ANTAD) in June. Additionally,
     the country generated 65,936 formal jobs in June, pushing the YTD figure to over 400 thousand formal jobs.
     However, to cope with higher inflation, the Bank of Mexico raised its reference rate by 25 basis points,
     to a level of 4.25%, which could take a toll on the pace of recovery.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Infonavit reported that the confidence of beneficiaries to acquire a home is recovering side by side
    with country's economic activity, as the Home Purchase Intention Index stood at 36.7 points in 2Q21, 2.5
    points higher than in 1Q21. Likewise, in May, the Institute’s new peso-denominated credit scheme came into
    effect, with fixed interest rate (from 1.91% to 10.45%, depending on the salary registered with the Social
     Security and Welfare Institute) and payments throughout the life of the loan, for the benefit of workers.</p>

  <p>Against this background, the prospects of main housing institutes are positive for the remainder of 2021,
    bearing in mind that during 1H21, Infonavit collected of Ps. 131,210 million from employers, a growth of 6.4%
     compared to the same period of the previous year.</p>

</div>
