<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>The World Bank estimates that the global economy will expand by 2.3% this year, representing a slight slowdown compared to 2024. This outlook unfolds in a context marked by the gradual easing of inflationary pressures and declining interest rates worldwide. Similarly, developing economies are expected to maintain stable growth and surpass advanced economies (with an estimated expansion of around 4% in 2025).</p>

  <p>In parallel, the International Monetary Fund (IMF) projects that the world's Gross Domestic Product will have stronger growth during 2025 (+2.8%), according to its World Economic Outlook Growth Projections.</p>

  <p>The IMF also expects global inflation to continue to decline, with headline inflation slowing to 4.2% in 2025, while core inflation has eased considerably and is now below 2%, opening the possibility for central banks to introduce looser monetary policies to incentivize consumption, and, eventually, investment.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>The Mexican economy recorded growth of 1.2% in the second quarter of 2025 compared to the same period in the previous year, and by 0.7% compared to the first quarter of 2025, according to the Timely Estimate of GDP, published by INEGI.</p>

  <p>In the labor market, INEGI reported an unemployment rate of 2.6% in June, remaining below 3% for the thirtieth consecutive month and positioning Mexico among the three OECD countries with the lowest levels of this indicator.</p>
  
  <p>Headline inflation in Mexico declined for four consecutive fortnights through the first half of August, standing at 3.49% according to INEGI data, thus remaining within the Bank of Mexico’s target range of 3% +/- 1 percentage point.</p>

  <p>For its part, in the first half of 2025, the Ministry of Economy reported a record figure for the fifth consecutive year in Foreign Direct Investment, reaching 34,265 million dollars, an increase of 10.2% compared to the first half of the previous year, which demonstrates the resilience of the Mexican economy amid trade tensions with the United States.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->

  <p>The Federal Mortgage Society (SHF) projects that, in 2025, housing finance demand will reach 809,199 loans, exceeding the 735,160 recorded in 2024. Of this total, 242,679 are expected to correspond to the acquisition of new housing, representing an increase of 9,269 loans.</p>

  <p>The SHF also points out that among the states expected to register the highest demand for new housing loans in 2025 are Quintana Roo, CADU's main area of operations, and Jalisco, a state where CADU seeks to increase its presence with middle-income and middle-income residential housing projects.</p>

  <p>As for the agencies that will attract the most credit applications, INFONAVIT will remain the leading player, concentrating 71% of the demand for loans for the acquisition of new and used housing, with an estimated 327,675 loan placements during the year, a 4% increase compared to 2024. This is particularly relevant given that, at national level, CADU ranks among the main developers whose customers acquire homes through INFONAVIT financing.</p>

  <p>Similarly, potential demand for INFONAVIT in Quintana Roo remains above pre-pandemic levels, reaching 169,825.</p>

  <p>Meanwhile, the Association of Real Estate Developers (ADI) reports that Quintana Roo ranks first in real estate investment in the country, with a committed amount of 3,694 million dollars, driven mainly by tourism and hotel developments. The development of these complexes will help foster greater economic dynamism in the region, supported by job creation that, in turn, will stimulate higher consumption and, consequently, greater demand for housing in the state, both for personal use and as an investment.</p>

</div>
