<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>According to the International Monetary Fund, the world economy is expected to grow 6% YoY during 2021, favored by the progress in the COVID-19 vaccination
    rollout and the tax incentives granted by certain countries to boost economic recovery.</p>

  <p>In this wise, especially outstanding was the fiscal stimulus package promoted by President Joe Biden in the United States, as well as the swift progress in its
    vaccination process (becoming the first country to reach 150 million doses applied), which together propelled an increase of 2 percentage points in the economic growth forecast for 2021 (from 4.5% to 6.5%).</p>

  <p>A similar scenario is observed in the Euro Zone, where the economy will increase by 3.8%, although growth will certainly be less accelerated compared to other parts of the world, as the magnitude of the impacts
    of the pandemic, and the recovery pace from them, is different from country to country. In this regard, the growth in Euro Zone’s GDP will be led mainly by Spain, France and Italy, with domestic increases of 5.6%,
    5.5% and 3.4%, respectively.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>In Mexico, although job creation rate slowed down in March when compared to February, the figure recorded in the third month of the year arises the highest in the last two years. Therefore, in 1Q21 alone roughly
    250 thousand formal jobs were generated.</p>

  <p>In this sense, the economic reactivation of the main sectors is foreseen to continue gaining traction, with much softer decrease rates. Also there are high expectations that by year end the Mexican economy
    will return to the growth trend with a 3.4% hike, according to the estimates of the International Monetary Fund.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>The main housing institutions started 2021 strongly, as Infonavit posted an annual increase of 14.5% in the number of loans granted in 1Q21 while Fovissste as of the end of February had already authorized more than
    97 thousand traditional type loan applications for 2021 (+17.6% YoY), an all-time record for this period.</p>

  <p>Also, during mid-April Infonavit announced new credit origination regulations related to the reform approved last December, which seeks to provide greater financing options for housing</p>

</div>
