<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">International</h3>

  <p>Towards year-end 2019, there was an outbreak of “SARS-CoV-2”, a novel virus which causes the disease “COVID-19”,
    in Wuhan, China. The virus rapidly spread around the globe infecting over 3.0 million people, suspending countless
    productive activities, since it restricted general mobility and, therefore, commercial transactions between nations.</p>

  <p>Consequently, and coupled with increases in crude oil production conducted by certain countries, oil barrel prices
    all around the world have begun to drop dramatically, affecting the income budgets of several countries, as the low
    demand derived from lock down measures is causing an oversupply that challenges global storage capacity.</p>

  <p>On the other hand, private and public initiatives are currently seeking to create an effective vaccine to fight the
    virus (expected to be ready within a year). Therefore, it is foreseen that, as the scientific advances to deal with this
    contingency gradually arise, the global outlook will start with its recovery process; thus undoubtedly providing a greater
    support in order for the usual economic dynamism to get back on track.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">National</h3>

  <p>In Mexico, the effects of softened global economic dynamics have started to impact the country's key indicators,
    reflected in a declining consumer confidence (-4.4% YoY in March), a negative GDP estimate (-2.4% YoY for 1Q20) and a
    fluctuating exchange rate which, at some point, rose to Ps.26.0 per USD.</p>

  <p>In response to these exogenous factors, the Bank of Mexico has decided to conduct an out of schedule reference rate
    cut of 50 basis points on two different occasions, to 6.0% as of April. Separately, it was announced that on July 1<sup>st</sup>,
    the new UMSCA agreement will come into force; a fact that was well perceived in the markets as it will contribute to
    reactivate the Mexico’s economy at greater pace.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Industry</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>In order to mitigate the spread of COVID-19 in the country, on 30<sup>th</sup>, March 2020, the General Health Council,
    headed by the President of Mexico, decreed a state of national sanitary emergency due to force majeure; therefore it was
    agreed to suspend non-essential activities throughout all the states, which includes the construction of housing.</p>

  <p>Nevertheless, this contingency is leading to the deployment of counter-cyclical measures to encourage the sale of real
    estate inventory as economic activity begins to normalize (through mortgage loans with lower interest rates, as well as
    joint financing schemes, such as those launched by Infonavit and Fovissste).</p>

</div>
