<div id="acuerdos-asambleas">
  <h3 class="c-left c-font-lowercase c-font-sbold">Asamblea de Accionistas Ordinarias. </h3>

  <p>La asamblea ordinaria debe reunirse cuando menos una vez al año dentro de los cuatro meses
    siguientes al cierre de cada ejercicio social de la Emisora y tratarán, además de los temas incluidos en la orden
    del día, de los siguientes asuntos:</p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li> Discutir, aprobar o modificar el informe de los administradores</li>
    <li> Nombramiento y/o ratificación del órgano de administración y de los comisarios</li>
    <li> Determinación de emolumentos correspondientes al órgano de administración y comisarios</li>
  </ul>
  <h3 class="c-left c-font-lowercase c-font-sbold">Asamblea de Accionistas Extraordinarias. </h3>

  <p>Son asambleas extraordinarias las que se reúnen para tratar cualquiera de los siguientes asuntos: </p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li> Prórroga de la duración de la Emisora</li>
    <li> Disolución anticipada de la Emisora</li>
    <li> Aumento o reducción del capital social fijo de la Emisora</li>
    <li> Cambio en el objeto de la Emisora</li>
    <li> Cambio de nacionalidad de la Emisora</li>
    <li> Transformación de la Emisora</li>
    <li> Fusión con otra sociedad o escisión de la Emisora</li>
    <li> Emisión de acciones privilegiadas de la Emisora</li>
    <li> Amortización por la Emisora de sus propias acciones y emisión de acciones de goce</li>
    <li> Emisión de bonos</li>
    <li> Cualquier otra modificación de los estatutos de la Emisora</li>
    <li> Los demás asuntos para los que la ley o los estatutos sociales requieran un quórum especial</li>

  </ul>
  <h3 class="c-left c-font-lowercase c-font-sbold">Convocatoria de Asambleas de Accionistas </h3>

  <p>La convocatoria para las asambleas generales de accionistas, deberá hacerse por acuerdo del consejo de
    administración, a través de cualquiera de sus miembros, por el administrador único o por el comisario.</p>

  <p>La convocatoria contendrá el respectivo orden del día, la fecha, hora y lugar de la reunión, será firmada por quien
    convoque y se notificará a los accionistas personalmente, por correo certificado o mediante mensajería
    especializada, en todos los casos con acuse de recibo, o mediante publicación, en el Periódico Oficial del Estado o
    en uno de los periódicos de mayor circulación del domicilio social de la Emisora. La notificación de la convocatoria
    por cualquiera de los medios anteriormente señalados, deberá realizarse con una anticipación no menor a 15 días
    naturales a la fecha señalada para la asamblea.</p>

  <p>La asamblea general de accionistas podrá celebrarse válidamente, sin la publicación de la convocatoria, si se
    encuentra representada, en aquélla, la totalidad de las acciones.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Quórum</h3>

  <p>Para que una asamblea ordinaria se considere legalmente reunida, deberá estar representada por lo menos la mitad
    del capital social, y las resoluciones sólo serán válidas cuando se tomen por mayoría de votos de los presentes.</p>

  <p>Para que una asamblea general extraordinaria se considere válidamente reunida, deberán estar representadas, por lo
    menos, las tres cuartas partes del capital social y las resoluciones sólo serán válidas cuando se tomen por el voto
    de las acciones que representen, al menos, la mitad del capital social.</p>

  <p>Las resoluciones tomadas fuera de asamblea por unanimidad de los accionistas que representen la totalidad de las
    acciones con derecho a voto tendrán, para todos los efectos legales, la misma validez que si hubieren sido adoptadas
    en asamblea general de accionistas, siempre que sean confirmadas por escrito. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Otros Convenios</h3>

  <p>Los accionistas de la Emisora no han celebrado ningún acuerdo o convenio que tenga como fin establecer, limitar u
    otorgar derechos y/o obligaciones que regirán su relación como accionistas de la Emisora.</p>
</div>

</br>
<% #listado de documentos
   @documents= [
     {:titulo => "Resumen de acuerdos de la Asamblea General Extraordinaria de Accionistas", :date => "2022-05-30", :link => @gobierno_corporatico_path+ "Asambleas/2022-05-30-resumen-asaextra.pdf"},
     {:titulo => "Resumen de acuerdos de la Asamblea General Ordinaria de Accionistas", :date => "2022-05-30", :link => @gobierno_corporatico_path+ "Asambleas/2022-05-30-resumen-asaord.pdf"},
     {:titulo => "Convocatoria a Asamblea Extraordinaria Anual", :date => "2022-05-12", :link => @comunicados_path + "2022-05-12-Convocatoria-Asamblea-2022.pdf"},
     {:titulo => "Convocatoria a Asamblea Ordinaria Anual", :date => "2022-05-12", :link => @comunicados_path + "2022-05-12-Convocatoria-Asamblea.pdf"},
     {:titulo => "Resumen de acuerdos de la Asamblea General Extraordinaria de Accionistas", :date => "2022-04-29", :link => @gobierno_corporatico_path+ "Asambleas/2022-04-29-Acuerdos-extra-.pdf"},
     {:titulo => "Resumen de acuerdos de la Asamblea General Ordinaria de Accionistas", :date => "2020-04-29", :link => @gobierno_corporatico_path+ "Asambleas/2022-04-29-Acuerdos.pdf"},
     {:titulo => "Convocatoria a Asamblea Extraordinaria Anual", :date => "2022-04-13", :link => @comunicados_path + "2022-04-13-Convocatoria-Asamblea-2022.pdf"},
     {:titulo => "Convocatoria a Asamblea Ordinaria Anual", :date => "2022-04-13", :link => @comunicados_path + "2022-04-13-Convocatoria-Asamblea.pdf"},
     {:titulo => "Acuerdos de Tenedores de la CADU 18", :date => "2022-01-13", :link => @gobierno_corporatico_path + "Asambleas/2022-01-13-Acuerdos-CADU18.pdf"},
     {:titulo => "Convocatoria de Tenedores de la CADU 18", :date => "2021-12-31", :link => @comunicados_path + "2021-12-31-Convocatoria-CADU18.pdf"},
     {:titulo => "Acuerdos de Tenedores de la CADU 20V", :date => "2021-12-17", :link => @gobierno_corporatico_path + "Asambleas/2021-12-17-Acuerdos-CADU20V.pdf"},
     {:titulo => "Acuerdos de Tenedores de la CADU 19", :date => "2021-12-17", :link => @gobierno_corporatico_path + "Asambleas/2021-12-17-Acuerdos-CADU19.pdf"},
     {:titulo => "Acuerdos de Tenedores de la CADU 18", :date => "2021-12-17", :link => @gobierno_corporatico_path + "Asambleas/2021-12-17-Acuerdos-CADU18.pdf"},
     {:titulo => "Convocatoria de Tenedores de la CADU 20V", :date => "2021-12-03", :link => @comunicados_path + "2021-12-03-Convocatoria-CADU20V.pdf"},
     {:titulo => "Convocatoria de Tenedores de la CADU 19", :date => "2021-12-03", :link => @comunicados_path + "2021-12-03-Convocatoria-CADU19.pdf"},
     {:titulo => "Convocatoria de Tenedores de la CADU 18", :date => "2021-12-03", :link => @comunicados_path + "2021-12-03-Convocatoria-CADU18.pdf"},
     {:titulo => "Resumen de acuerdos de la Asamblea General Ordinaria de Accionistas", :date => "2021-04-29", :link => @gobierno_corporatico_path+ "Asambleas/2021-04-29-Acuerdos.pdf"},
     {:titulo => "Convocatoria a Asamblea Ordinaria Anual", :date => "2021-04-13", :link => @comunicados_path + "2021-04-13-Convocatoria-Asamblea.pdf"},
     {:titulo => "Acuerdos de Tenedores de la CADU 18", :date => "2020-08-28", :link => @gobierno_corporatico_path + "Asambleas/2020-08-28-Acuerdos-CADU18.pdf"},
     {:titulo => "Convocatoria de Tenedores de la CADU 18", :date => "2020-08-14", :link => @comunicados_path + "2020-08-14-Convocatoria-CADU18.pdf"},
     {:titulo => "Resumen de acuerdos de la Asamblea General Extraordinaria de Accionistas", :date => "2020-07-02", :link => @gobierno_corporatico_path+ "Asambleas/2020-07-02-Acuerdos-extra.pdf"},
     {:titulo => "Resumen de acuerdos de la Asamblea General Ordinaria de Accionistas", :date => "2020-07-02", :link => @gobierno_corporatico_path+ "Asambleas/2020-07-02-Acuerdos.pdf"},
     {:titulo => "Convocatoria a Asamblea Extraordinaria Anual", :date => "2020-06-16", :link => @comunicados_path + "2020-06-16-Convocatoria-Asamblea-2020.pdf"},
     {:titulo => "Convocatoria a Asamblea Ordinaria Anual", :date => "2020-06-16", :link => @comunicados_path + "2020-06-16-Convocatoria-Asamblea.pdf"},
     {:titulo => "Convocatoria a Asamblea Extraordinaria Anual", :date => "2020-06-09", :link => @comunicados_path + "2020-06-09-Convocatoria-Asamblea-2020.pdf"},
     {:titulo => "Convocatoria a Asamblea Ordinaria Anual", :date => "2020-06-09", :link => @comunicados_path + "2020-06-09-Convocatoria-Asamblea.pdf"},
     {:titulo => "Acuerdos de Tenedores de la CADU 19", :date => "2020-05-15", :link => @gobierno_corporatico_path + "Asambleas/2020-05-15-Acuerdos-CADU19.pdf"},
     {:titulo => "Acuerdos de Tenedores de la CADU 18", :date => "2020-05-15", :link => @gobierno_corporatico_path + "Asambleas/2020-05-15-Acuerdos-CADU18.pdf"},
     {:titulo => "Convocatoria de Tenedores de la CADU 19", :date => "2020-04-30", :link => @comunicados_path + "2020-04-30-Convocatoria-CADU19.pdf"},
     {:titulo => "Convocatoria de Tenedores de la CADU 18", :date => "2020-04-30", :link => @comunicados_path + "2020-04-30-Convocatoria-CADU18.pdf"},
     {:titulo => "Resumen de acuerdos de la Asamblea General Ordinaria de Accionistas", :date => "2019-05-28", :link => @gobierno_corporatico_path + "Asambleas/2019-05-28-Acuerdos.pdf"},
     {:titulo => "Convocatoria a Asamblea Ordinaria", :date => "2019-05-10", :link => @comunicados_path + "2019-05-10-Convocatoria-Asamblea.pdf"},
     {:titulo => "Resumen de acuerdos de la Asamblea General Ordinaria de Accionistas", :date => "2019-04-29", :link => @gobierno_corporatico_path+ "Asambleas/2019-04-29-Acuerdos.pdf"},
     {:titulo => "Convocatoria a Asamblea Ordinaria Anual", :date => "2019-04-12", :link => @comunicados_path + "2019-04-12-Convocatoria-Asamblea.pdf"},
     {:titulo => "Resumen de acuerdos de la Asamblea General Ordinaria de Accionistas", :date => "2018-04-25", :link => @gobierno_corporatico_path+ "Asambleas/2018-04-25-Acuerdos.pdf"},
     {:titulo => "Convocatoria a Asamblea Ordinaria Anual", :date => "2018-04-06", :link => @comunicados_path + "2018-04-06-Convocatoria-Asamblea.pdf"},
     {:titulo => "Resumen de acuerdos de la Asamblea General Extraordinaria de Accionistas", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-resumen-asaextra.pdf"},
     {:titulo => "Resumen de acuerdos de la Asamblea General Ordinaria de Accionistas", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-resumen-asaord.pdf"},
     {:titulo => "Acta de Asamblea General Ordinaria y Asamblea General Extraordinaria de Accionistas", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-asaordan.pdf"},
     {:titulo => "Convocatoria a Asamblea Extraordinaria Anual", :date => "2017-04-28", :link => @comunicados_path + "2017-04-28-Convocatoria-Asamblea-2017.pdf"},
     {:titulo => "Convocatoria a Asamblea Ordinaria Anual", :date => "2017-04-11", :link => @comunicados_path + "2017-04-11-Convocatoria-Asamblea-2017.pdf"},
     {:titulo => "Resumen de acuerdos de la Asamblea Ordinaria Anual de Accionistas", :date => "2016-04-28", :link => @gobierno_corporatico_path+ "Asambleas/2016-04-28-resumen-asarodan.pdf"},
     {:titulo => "Acta de Asamblea Ordinaria Anual de Accionistas", :date => "2016-04-28", :link => @gobierno_corporatico_path+ "Asambleas/2016-04-28-asaordan.pdf"},
     {:titulo => "Convocatoria a Asamblea Ordinaria Anual", :date => "2016-04-12", :link => @comunicados_path + "2016-04-12-convocatoriaAOA.pdf"},
     {:titulo => "Actualización de libros sociales", :date => "2016-04-04", :link => @gobierno_corporatico_path+ "Global/2016-04-04-actualib.pdf"},


   ]
%>

<div class="infocorporativa">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Documento</th>
      <th class="col-md-3">Fecha</th>
    </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
      <tr>
        <td><a target="_blank" href="<%= document[:link] %>"><%= document[:titulo] %></a></td>
        <td><%= document[:date] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
