<div id="analistas">
  <h3 class="c-left c-font-lowercase c-font-sbold">Renta Variable</h3>

  <p>Las acciones de CADU actualmente cuentan con la cobertura de las siguientes instituciones:</p>

  <table class="table">
    <thead>
    <tr>
      <th>Institución</th>
      <th>Analista</th>
      <th>Correo</th>
      <!--<th>Tel.</th>
      <th>P.O.</th>
      <th>Recomendación</th>-->
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Actinver</td>
      <td>Ramón Ortiz Reyes</td>
      <td><a href="mailto:rortiz@actinver.com.mx">rortiz@actinver.com.mx</a></td>
      <!--<td>52 (55) 1103-6600 Ext. 1835</td>
      <td>$17.00 pesos</td>
      <td>Compra</td>-->
    </tr>
    <!--<tr>
      <td>BBVA-Bancomer</td>
      <td>Alejandro Gallostra</td>
      <td><a href="mailto:alejandro.gallostra@bbva.com">alejandro.gallostra@bbva.com</a></td>
      <!--<td>52 (55) 5621-9870</td>
      <td>$15.70 pesos</td>
      <td>Compra</td>-->
    </tr>
    <tr>
      <td>Punto C.B.</td>
      <td>Armando Rodríguez</td>
      <td><a href="mailto:armando.rodriguez@signumresearch.com">armando.rodriguez@signumresearch.com</a></td>
      <!--<td>52 (55) 6237-0861</td>
      <td>$18.44 pesos</td>
      <td>Compra</td>-->
    </tr>
    <tr>
      <td>Apalache Análisis</td>
      <td>Jorge Plácido</td>
      <td><a href="mailto:jorge.placido@apalache.mx">jorge.placido@apalache.mx</a></td>
      <!--<td>52 (55) 6237-0861</td>
      <td>$17.80 pesos</td>
      <td>Compra</td>-->
    </tr>
    <tr>
      <td>Miranda Global Research</td>
      <td>Martín Lara</td>
      <td><a href="mailto:martin.lara@miranda-gr.com">martin.lara@miranda-gr.com</a></td>
      <!--<td>52 (55) 6237-0861</td>
      <td>$18.60 pesos</td>
      <td>Compra</td>-->
    </tr>
    </tbody>
  </table>

  


</div>
