<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="widget text-justify row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading bg-paleta1">
          Datos de la inversión
        </div>
        <div class="panel-body ">
          <form class="form" id="calculadora" action="/es/calculate">
            <div class="form-group" id="group_cbfi">
              <label for="cbfis" class="control-label">Cantidad de Acciones </label>
              <input type="number" id="cbfis" min="0" step="1" data-bind="value:cbfis" class="form-control"/>
<!--              <span class="form-control-feedback">Debe seleccionar un número mayor a 0</span>-->
            </div>
            <div class="form-group group-fechas">
              <label for="start_date" class="control-label">Fecha inicial</label>
              <div class="input-group">
                <input type="text" class="form-control" id="start_date">
                <div class="input-group-addon">
                  <span class="icon-picons-date"></span>
                </div>
              </div>
<!--              <span class="form-control-feedback">Debe seleccionar una fecha inferior a la fecha final</span>-->
            </div>
            <div class="form-group group-fechas">
              <label for="end_date">Fecha final</label>
              <div class="input-group">
                <input type="text" class="form-control" id="end_date">
                <div class="input-group-addon">
                  <span class="icon-picons-date"></span>
                </div>
              </div>
<!--              <span class="form-control-feedback">Debe seleccionar una fecha superior a la fecha de inicio</span>-->
            </div>
            <br>
            <div class="input-group">
              <div class="btn disabled" id="calculate">CALCULAR</div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading bg-paleta1">
          Inversión inicial
        </div>
        <div class="panel-body ">
          <div class="form-group"><label for="precio_i">Precio Acción:</label>
            <div class="value" id="precio_i">0</div>
          </div>

          <div class="form-group"><label for="cantidad_i">Cantidad de Acciones:</label>
            <div class="value" id="cantidad_i">0</div>
          </div>

          <div class="form-group"><label for="monto_i">Monto invertido:</label>
            <div class="value" id="monto_i">0</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="widget text-justify row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading bg-paleta1">
          Resultado final
        </div>
        <div class="panel-body ">
          <div class="form-group"><label for="precio_f">Precio Acción:</label>

            <div class="value" id="precio_f">0</div>
          </div>

          <div class="form-group"><label for="monto_f">Valor inversión:</label>

            <div class="value" id="monto_f">0</div>
          </div>

          <div class="form-group"><label for="rendimiento">Rendimiento:</label>
            <div class="value" id="rendimiento">0</div>
          </div>

          <div class="form-group"><label for="rendimiento_p">Rendimiento:</label>
            <div class="value" id="rendimiento_p">0</div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading bg-paleta1">
          Dividendos recibidos
        </div>
        <div class="panel-body ">
          <div class="form-group"><label for="cantidad_d">Cantidad de Acciones:</label>
            <div class="value" id="cantidad_d">0</div>
          </div>

          <div class="form-group"><label for="dividendos_p">Dividendos en el periodo por Acción:</label>

            <div class="value" id="dividendos_p">0</div>
          </div>

          <div class="form-group"><label for="monto_d">Dividendos Recibidos:</label>
            <div class="value" id="monto_d">0</div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end widget -->
  <div class="widget text-justify row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading bg-paleta1">
          Rendimiento final
        </div>
        <div class="panel-body ">
          <div class="col-md-6">
            <div class="form-group"><label for="rendimiento_t">Rendimiento total:</label>
              <div class="value" id="rendimiento_t">0</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group"><label for="rendimiento_tp">Rendimiento total:</label>
              <div class="value" id="rendimiento_tp">0</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div><!-- end col-lg-9 -->





<script type="text/javascript" src="/assets/plugins/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/base/css/bootstrap-datepicker.css"/>
<script src="/assets/base/js/bootstrap-datepicker.min.js?v=3" type="text/javascript"></script>
<script src="/assets/base/js/bootstrap-datepicker.es.min.js?v=3" type="text/javascript"></script>
<script src="/assets/base/js/dataDistribucion.js?v=3" type="text/javascript"></script>
<script src="/assets/base/js/calculadora.js?v=3" type="text/javascript"></script>

<style>
    .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top{
        top: 160px !important;
    }
</style>
