<div id="analistas">

  <h3 class="c-left c-font-lowercase c-font-sbold">Renta Fija</h3>
  <table class="table">
    <thead>
    <tr>
      <td colspan="2"><b>Calificación Crediticia Corporativa</b></td>
    </tr>
    <tr>
      <th>Agencia</th>
      <th>Calificación</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="https://investorcloud.s3.amazonaws.com/cadu/Comunicados/Calificaciones/2025-11-27-CADU-HR-Ratings.pdf" target="_blank">HR Ratings<sup>1</sup></a></td>
      <td>"HR A-" - Largo plazo - Perspectiva Estable<br>
          "HR2" - Corto plazo</td>
    </tr>
    <tr>
      <td><a href="https://investorcloud.s3.amazonaws.com/cadu/Comunicados/Calificaciones/2025-11-12-PCR-Verum.pdf" target="_blank">Verum<sup>2</sup></a></td>
      <td>"A-/M" - Largo plazo - Perspectiva Positiva<br>
           "2/M" - Corto plazo
      </td>
    </tr>
    <!-- <tr>
      <td colspan="2"><b>Calificación Crediticia de la emisión CADU14</b></td>
    </tr>
    <tr>
      <td><a href="https://www.fitchratings.com">Fitch Ratings</a></td>
      <td>"A+(mex)" - Perspectiva Estable</td>
    </tr>
    <tr>
      <td><a href="https://www.moodys.com/">Moody's</a></td>
      <td>"A3.mx" - Perspectiva Estable</td>
    </tr>
    <tr>
      <td><b>Calificación Crediticia de la Emisión CADU15</b></td>
    </tr>
    <tr>
      <td><a href="https://www.hrratings.com">HR Ratings</a></td>
      <td>"HR A" - Perspectiva Negativa</td>
    </tr>
    <tr>
      <td><a href="https://www.fitchratings.com">Fitch Ratings</a></td>
      <td>"A+(mex)" - Perspectiva Estable</td>
    </tr>-->
    <!--<tr>
      <td><b>Calificación Crediticia de la Emisión CADU18</b></td>
    </tr>
    <tr>
      <td><a href="https://investorcloud.s3.amazonaws.com/cadu/Comunicados/Calificaciones/2022-10-24-HR-18-19.pdf" target="_blank">HR Ratings<sup>1</sup></a></td>
      <td>"HR BBB" - Perspectiva Estable </td>
    </tr>
    <tr>
      <td><a href="https://investorcloud.s3.amazonaws.com/cadu/Comunicados/Calificaciones/2022-09-05-Verum-CB.pdf" target="_blank">Verum<sup>2</sup></a></td>
      <td>"BBB/M" - Perspectiva Negativa </td>
    </tr>-->
    <tr>
      <!--<td><b>Calificación Crediticia de la Emisión CADU19</b></td>
    </tr>
    <tr>
      <td><a href="https://investorcloud.s3.amazonaws.com/cadu/Comunicados/Calificaciones/2023-11-24-HR-CB.pdf" target="_blank">HR Ratings<sup>1</sup></a></td>
      <td>"HR BBB" - Perspectiva Positiva </td>
    </tr>
    <tr>
      <td><a href="https://investorcloud.s3.amazonaws.com/cadu/Comunicados/Calificaciones/2023-11-27-Verum-CB.pdf" target="_blank">Verum<sup>2</sup></a></td>
      <td>"BBB/M" - Perspectiva Estable</td>
    </tr>
    <tr>-->
      <td><b>Calificación Crediticia de la Emisión CADU20V</b></td>
    </tr>
    <tr>
      <td><a href="https://investorcloud.s3.amazonaws.com/cadu/Comunicados/Calificaciones/2025-11-27-CADU20V-HR-Ratings.pdf" target="_blank">HR Ratings<sup>1</sup></a></td>
      <td>"HR AA" - Perspectiva Estable </td>
    </tr>
    <tr>
      <td><a href="https://investorcloud.s3.amazonaws.com/cadu/Comunicados/Calificaciones/2025-11-12-PCR-Verum.pdf" target="_blank">Verum<sup>2</sup></a></td>
      <td>"AA-/M" - Perspectiva Positiva</td>
    </tr>

    </tbody>
  </table>
  <p><sup>1</sup>Visite <a href="https://www.hrratings.com" target="_blank">https://www.hrratings.com</a> para obtener mayor información</p>
  <p><sup>2</sup>Visite <a href="https://pcrverum.mx/" target="_blank">https://pcrverum.mx/</a> para obtener mayor información</p>
</div>
