<div class="dividendos">
  <p>El decreto de dividendos y, en su caso, el monto y pago de los mismos, está sujeto a la aprobación de la Asamblea
    General Ordinaria de Accionistas, con base en la recomendación de nuestro Consejo de Administración. De conformidad
    con la legislación aplicable, la distribución de utilidades sólo podrá hacerse después de que hayan sido debidamente
    aprobados por la Asamblea General de Accionistas, los estados financieros que arrojen tales utilidades.</p>

  <p>No podrá hacerse distribución de utilidad alguna, mientras no hayan sido restituidas o absorbidas mediante
    aplicación de otras partidas del capital, las pérdidas sufridas en uno o varios ejercicios anteriores, o haya sido
    reducido el capital social y que se establezca o mantenga un fondo de reserva. </p>

  <p>La capacidad de CADU para pagar dividendos podría verse afectada en forma adversa en razón de las disposiciones
    contenidas en los instrumentos relacionados con la deuda que llegue a contratar en el futuro, y depende, en
    cualquier caso, de la capacidad de sus Subsidiarias para generar utilidades y pagarle dividendos a la Emisora. </p>

  <p>Además, de las utilidades netas de la Emisora, antes de repartir utilidades, deberá separarse anualmente el 5% para
    formar un fondo de reserva, hasta que el mismo importe la quinta parte del capital social (es decir, el 20% del
    capital social). El fondo de reserva deberá ser reconstituido de la misma manera cuando disminuya por cualquier
    motivo.</p>

</div>

<% #listado de documentos
   @documents= [
       {:titulo => "Aviso de derechos", :date => "2017-09-07", :link => @comunicados_path + "2017-09-07-AvisoDividendo.pdf"},
       {:titulo => "Aviso de derechos", :date => "2017-06-22", :link => @comunicados_path + "2017-06-22-AvisoDerechos.pdf"},
       {:titulo => "Aviso de derechos", :date => "2017-05-15", :link => @comunicados_path + "2017-05-15-AvisoDividendo.pdf"},
       {:titulo => "Aviso de derechos", :date => "2016-06-10", :link => @comunicados_path + "2016-06-10-AvisoDividendo.pdf"},
       {:titulo => "Aviso de derechos", :date => "2016-05-25", :link => @comunicados_path + "2016-05-15-AvisoDividendo.pdf"},



   ]
%>

<div class="infocorporativa">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Documento</th>
      <th class="col-md-3">Fecha</th>
    </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
      <tr>
        <td><a target="_blank" href="<%= document[:link] %>"><%= document[:titulo] %></a></td>
        <td><%= document[:date] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
