<% #listado de documentos
   @documents= [
     {:titulo => "Perspectivas favorables para CADU, a mediano plazo (El Economista)", :date => "2016-05-19", :link => "http://eleconomista.com.mx/mercados-estadisticas/2016/05/19/perspectivas-favorables-cadu-mediano-plazo"},
          {:titulo => "Informe de principales políticas y criterios contables", :date => "2016-05-18", :link => @comunicados_path + "2016-05-18-politicascontables.pdf"},
           {:titulo => "Aviso de derechos", :date => "2016-05-15", :link => @comunicados_path + "2016-05-15-AvisoDividendo.pdf"},
           {:titulo => "Reenvío informe 4T15 incluyendo información de cobertura de análisis", :date => "2016-05-05", :link => @comunicados_path + "2016-05-05-Reenvio.pdf"},
           {:titulo => "informe del Director General", :date => "2016-04-26", :link => @comunicados_path + "2016-04-26-incoacop.pdf"},
           {:titulo => "CADU publica resultados del 1T16", :date => "2016-04-18", :link => @reportes_trimestrales_path + "Informes/2016-1T16.pdf"},
           {:titulo => "Opinión del consejo sobre el contenido del informe del Director General", :date => "2016-04-08", :link => @comunicados_path + "2016-04-08-opconsejo.pdf"},
           {:titulo => "Informe del Comité de Auditoría y Prácticas Societarias", :date => "2016-04-08", :link => @comunicados_path + "2016-04-08-incoaudi.pdf"},
           {:titulo => "Resumen Fideicomiso de Control", :date => "2016-04-15", :link => @comunicados_path + "2016-04-15-fideicomiso.pdf"},
           {:titulo => "Convocatoria a Asamble Ordinaria Anual", :date => "2016-04-12", :link => @comunicados_path + "2016-04-12-convocatoriaAOA.pdf"},
           {:titulo => "Retransmisión de Información Financiera 4T15, precisando únicamente que el costo de la deuda es a tasa variable", :date => "2016-03-10", :link => @comunicados_path + "2016-04-15-fideicomiso.pdf"},
           {:titulo => "CADU publica resultados del 4T15", :date => "2016-02-15", :link => @reportes_trimestrales_path + "Informes/2015-4T15-vf.pdf"},
           {:titulo => "CADU publica resultados del 3T15", :date => "2015-10-20", :link => @reportes_trimestrales_path + "Informes/2015-3T15.pdf"},
           {:titulo => "CADU publica resultados del 2T15", :date => "2015-07-20", :link => @reportes_trimestrales_path + "Informes/2015-2T15.pdf"},
           {:titulo => "CADU publica resultados del 1T15", :date => "2015-04-20", :link => @reportes_trimestrales_path + "Informes/2015-1T15.pdf"},

   ]
%>

<div class="comunicados">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Documento</th>
      <th class="col-md-3">Fecha</th>
    </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
      <tr>
        <td><a target="_blank" href="<%= document[:link] %>"><%= document[:titulo] %></a></td>
        <td><%= document[:date] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
