<% #listado de documentos
   @documents= [
           {:titulo => "Resumen de acuerdos de la Asamblea General Ordinaria de Accionistas", :date => "2018-04-25", :link => @gobierno_corporatico_path+ "Asambleas/2018-04-25-Acuerdos.pdf"},
           {:titulo => "Fitch Ratifica Calificación de Corpovael en ‘BBB+(mex)’; Perspectiva Estable", :date => "2018-04-24", :link => @comunicados_path + "2018-04-24-Fitch-Ratings.pdf"},
           {:titulo => "Convocatoria a Asamblea Ordinaria Anual", :date => "2018-04-06", :link => @comunicados_path + "2018-04-06-Convocatoria-Asamblea.pdf"},
           {:titulo => "Verum afirma calificación de ‘A-/M’ a la emisión de Certificados Bursátiles de CADU Inmobiliaria (‘CADU 18’); tras conocer los detalles finales de la transacción", :date => "2018-02-28", :link => @comunicados_path + "2018-02-28-Verum.pdf"},
           {:titulo => "HR Ratings revisó al alza la calificación de LP, en escala local, de HR BBB+ a HR A-, y modificó la Perspectiva de Positiva a Estable para CADU", :date => "2017-12-05", :link => @comunicados_path + "2017-12-05-calificacion-LP.pdf"},
           {:titulo => "HR Ratings revisó al alza la calificación de LP, en escala local, de HR A- a HR A, modificando la Perspectiva de Positiva a Estable para la emisión CADU 15 de CADU", :date => "2017-12-05", :link => @comunicados_path + "2017-12-05-calificacion-cadu15.pdf"},
           {:titulo => "Verum asigna calificaciones corporativas de 'A-/M' y '2/M' a CADU Inmobiliaria", :date => "2017-11-01", :link => @comunicados_path + "2017-11-01-Verum-asigna-calificaciones-ER.pdf"},
           {:titulo => "CADU realiza amortización de su certificado bursátil CADU 14", :date => "2017-07-13", :link => @comunicados_path + "2017-07-13_Comunicado_amortizacion_certificado_bursatil.pdf"},
           {:titulo => "CADU reportó en 2016 un Crecimiento en Utilidad Neta de 36.9% al alcanzar $589 millones de pesos", :date => "2017-02-21", :link => @comunicados_path + "2017-02-21-Comunicado4T16.pdf"},
           {:titulo => "CADU realiza amortización de Deuda Bursátil", :date => "2016-07-14", :link => @comunicados_path + "2016-07-14-RealizaAmortDB.pdf"},
           {:titulo => "Resumen de acuerdos de la Asamblea General Ordinaria de Accionistas", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-resumen-asaord.pdf"},
           {:titulo => "Resumen de acuerdos de la Asamblea General Extraordinaria de Accionistas", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-resumen-asaextra.pdf"},
           {:titulo => "Acta de Asamblea General Ordinaria y Asamblea General Extraordinaria de Accionistas", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-asaordan.pdf"},
           {:titulo => "CADU reportó un crecimiento en UAFIDA de 15.85% y una Utilidad Neta de Ps.145 mills. (+24.5%) en el 3T16", :date => "2016-10-24", :link => @comunicados_path + "2016-10-24-Comunicado3T16.pdf"},
           {:titulo => "Convocatoria a Asamble Ordinaria Anual", :date => "2017-04-11", :link => @comunicados_path + "2017-04-11-Convocatoria-Asamblea-2017.pdf"},
           {:titulo => "CADU avisa pago de dividendos", :date => "2016-06-10", :link => @comunicados_path + "2016-06-10-ER-AvisoDividendo.pdf"},
           {:titulo => "Aviso de derechos", :date => "2016-06-10", :link => @comunicados_path + "2016-06-10-AvisoDividendo.pdf"},
           {:titulo => "Informe de principales políticas y criterios contables", :date => "2016-05-18", :link => @comunicados_path + "2016-05-18-politicascontables.pdf"},
           {:titulo => "Aviso de derechos", :date => "2016-05-15", :link => @comunicados_path + "2016-05-15-AvisoDividendo.pdf"},
           {:titulo => "Reenvío informe 4T15 incluyendo información de cobertura de análisis", :date => "2016-05-05", :link => @comunicados_path + "2016-05-05-Reenvio.pdf"},
           {:titulo => "Resumen de acuerdos de la Asamblea Ordinaria Anual de Accionistas", :date => "2016-04-28", :link => @gobierno_corporatico_path+ "Asambleas/2016-04-28-resumen-asarodan.pdf"},
           {:titulo => "Acta de Asamblea Ordinaria Anual de Accionistas", :date => "2016-04-28", :link => @gobierno_corporatico_path+ "Asambleas/2016-04-28-asaordan.pdf"},
           {:titulo => "informe del Director General", :date => "2016-04-26", :link => @comunicados_path + "2016-04-26-incoacop.pdf"},
           {:titulo => "CADU publica resultados del 1T16", :date => "2016-04-18", :link => @reportes_trimestrales_path + "Informes/2016-1T16.pdf"},
           {:titulo => "Opinión del consejo sobre el contenido del informe del Director General", :date => "2016-04-08", :link => @comunicados_path + "2016-04-08-opconsejo.pdf"},
           {:titulo => "Informe del Comité de Auditoría y Prácticas Societarias", :date => "2016-04-08", :link => @comunicados_path + "2016-04-08-incoaudi.pdf"},
           {:titulo => "Resumen Fideicomiso de Control", :date => "2016-04-15", :link => @comunicados_path + "2016-04-15-fideicomiso.pdf"},
           {:titulo => "Convocatoria a Asamble Ordinaria Anual", :date => "2016-04-12", :link => @comunicados_path + "2016-04-12-convocatoriaAOA.pdf"},
           {:titulo => "Actualización de libros sociales", :date => "2016-04-04", :link => @gobierno_corporatico_path+ "Global/2016-04-04-actualib.pdf"},
           {:titulo => "Retransmisión de Información Financiera 4T15, precisando únicamente que el costo de la deuda es a tasa variable", :date => "2016-03-10", :link => @comunicados_path + "2016-04-15-fideicomiso.pdf"},
           {:titulo => "CADU publica resultados del 4T15", :date => "2016-02-15", :link => @reportes_trimestrales_path + "Informes/2015-4T15-vf.pdf"},
           {:titulo => "CADU publica resultados del 3T15", :date => "2015-10-20", :link => @reportes_trimestrales_path + "Informes/2015-3T15.pdf"},
           {:titulo => "CADU publica resultados del 2T15", :date => "2015-07-20", :link => @reportes_trimestrales_path + "Informes/2015-2T15.pdf"},
           {:titulo => "CADU publica resultados del 1T15", :date => "2015-04-20", :link => @reportes_trimestrales_path + "Informes/2015-1T15.pdf"},
   ]
%>

<div class="comunicados">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Documento</th>
      <th class="col-md-3">Fecha</th>
    </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
      <tr>
        <td><a target="_blank" href="<%= document[:link] %>"><%= document[:titulo] %></a></td>
        <td><%= document[:date] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
