<% #listado de documentos
   @documents= [
           {:titulo => "Cadu reportó en 2016 un Crecimiento en Utilidad Neta de 36.9% al alcanzar $589 millones de pesos", :date => "2017-02-21", :link => @comunicados_path + "2017-02-21-Comunicado4T16.pdf", :comunicado_url => ""},
           {:titulo => "Movimientos Inusitados en el precio de la acción", :date => "2017-02-17", :link => @comunicados_path + "2017-02-17-movimientos-inusitados.pdf", :comunicado_url => ""},
           {:titulo => "Aclaración de nota periodística divulgada en Real Estate Market & Lifestyle.", :date => "2017-02-02", :link => @comunicados_path + "2017-02-02-aclaracion-de-nota.pdf", :comunicado_url => ""},
           {:titulo => "REENVIO INFORME 3T16 (NO CAMBIAN LAS CIFRAS)", :date => "2016-11-17", :link => @comunicados_path + "2016-11-17-reenvio-de-informe-3T16.pdf", :comunicado_url => ""},
           {:titulo => "COBERTURA DE ANALISIS", :date => "2016-11-14", :link => @comunicados_path + "2016-11-14-cobertura-de-analisis.pdf", :comunicado_url => ""},
           {:titulo => "CADU reportó un crecimiento en UAFIDA de 15.85% y una Utilidad Neta de Ps.145 mills. (+24.5%) en el 3T16", :date => "2016-10-24", :link => @comunicados_path + "2016-10-24-Comunicado3T16.pdf", :comunicado_url => ""},
           {:titulo => "REENVIO INFORME 2T16 (NO CAMBIAN CIFRAS)", :date => "2016-09-09", :link => @comunicados_path + "2016-09-09-reenvio-de-informe.pdf", :comunicado_url => ""},
           {:titulo => "CADU realiza amortización de Deuda Bursátil", :date => "2016-07-14", :link => @comunicados_path + "2016-07-14-RealizaAmortDB.pdf", :comunicado_url => ""},
           {:titulo => "CADU avisa pago de dividendos", :date => "2016-06-10", :link => @comunicados_path + "2016-06-10-ER-AvisoDividendo.pdf", :comunicado_url => ""},
           {:titulo => "Aviso de derechos", :date => "2016-06-10", :link => @comunicados_path + "2016-06-10-AvisoDividendo.pdf", :comunicado_url => ""},
           {:titulo => "Reenvío 1T16 (no cambian números)", :date => "2016-06-07", :link => @comunicados_path + "2016-06-07-reenvio-de-informe.pdf", :comunicado_url => ""},
           {:titulo => "CADU Asociación Proyecto Cancún con SARE", :date => "2016-06-02", :link => @comunicados_path + "2016-06-02-CADU-asociacion.pdf", :comunicado_url => ""},
           {:titulo => "Informe de principales políticas y criterios contables", :date => "2016-05-18", :link => @comunicados_path + "2016-05-18-politicascontables.pdf", :comunicado_url => ""},
           {:titulo => "Aviso de derechos", :date => "2016-05-15", :link => @comunicados_path + "2016-05-15-AvisoDividendo.pdf", :comunicado_url => ""},
           {:titulo => "Reenvío informe 4T15 incluyendo información de cobertura de análisis", :date => "2016-05-05", :link => @comunicados_path + "2016-05-05-Reenvio.pdf", :comunicado_url => ""},
           {:titulo => "Fitch Ratifica Calificación BBB+(mex) de Corpovael", :date => "2016-05-02", :link => @comunicados_path + "2016-05-02-fitch-ratifica-calificacion.pdf", :comunicado_url => @comunicados_path +"2016-05-02-fitch-ratifica-calificacion-adjunto.pdf"},
           {:titulo => "Resumen de acuerdos de la Asamblea Ordinaria Anual de Accionistas", :date => "2016-04-28", :link => @gobierno_corporatico_path+ "Asambleas/2016-04-28-resumen-asarodan.pdf", :comunicado_url => ""},
           {:titulo => "Acta de Asamblea Ordinaria Anual de Accionistas", :date => "2016-04-28", :link => @gobierno_corporatico_path+ "Asambleas/2016-04-28-asaordan.pdf", :comunicado_url => ""},
           {:titulo => "informe del Director General", :date => "2016-04-26", :link => @comunicados_path + "2016-04-26-incoacop.pdf", :comunicado_url => ""},
           {:titulo => "CADU publica resultados del 1T16", :date => "2016-04-18", :link => @reportes_trimestrales_path + "Informes/2016-1T16.pdf", :comunicado_url => ""},
           {:titulo => "Resumen Fideicomiso de Control", :date => "2016-04-15", :link => @reportes_trimestrales_path + "2016-04-15-fideicomiso.pdf", :comunicado_url =>@comunicados_path + "2016-04-15-resumen-fideicomiso-adjunto.pdf"},
           {:titulo => "Convocatoria a Asamble Ordinaria Anual", :date => "2016-04-12", :link => @comunicados_path + "2016-04-12-convocatoriaAOA.pdf", :comunicado_url => ""},
           {:titulo => "Opinión del consejo sobre el contenido del informe del Director General", :date => "2016-04-08", :link => @comunicados_path + "2016-04-08-opconsejo.pdf", :comunicado_url => ""},

           {:titulo => "Actualización de libros sociales", :date => "2016-04-04", :link => @gobierno_corporatico_path+ "Global/2016-04-04-actualib.pdf",:comunicado_url => ""},
           {:titulo => "PRECISION RESPECTO DEL COSTO DE LA DEUDA QUE ES A TASA VARIABLE", :date => "2016-03-10", :link => @comunicados_path + "2016-03-10-costo-de-deuda.pdf", :comunicado_url => ""},
           {:titulo => "Cobertura de Análisis", :date => "2016-03-10", :link => @comunicados_path + "2016-03-10-cobertura-de-analisis.pdf", :comunicado_url => ""},
           {:titulo => "Comunicado de Prensa resultados 4T15", :date => "2016-02-23", :link => @comunicados_path + "2016-02-23-comunicado-de-prensa.pdf", :comunicado_url =>@comunicados_path + "2016-02-23-comunicado-de-prensa-adjunto.pdf"},

           {:titulo => "Corpovael, S.A.B. de C.V  aclara sobre nota periodística", :date => "2016-01-14", :link => @comunicados_path + "2016-01-14-SAB-de -CV-aclara.pdf", :comunicado_url => ""},
           {:titulo => 'Aviso de Finalización de periodo de estabilización de la Acción "CADU A"', :date => "2016-01-05", :link => @comunicados_path + "2016-01-05-aviso-de-finalizacion-de-periodo.pdf", :comunicado_url => ""},
           {:titulo => 'Movimientos inusitados en la negociación de los valores representativos del capital social de "Corpovael", S.A.B. de C.V., serie "A".', :date => "2015-12-29", :link => @comunicados_path + "2015-12-29-movimientos-inusitados.pdf", :comunicado_url => ""},
           {:titulo => 'Movimientos inusitados en la negociación de los valores representativos del capital social de "Corpovael", S.A.B. de C.V., serie "A".', :date => "2015-12-28", :link => @comunicados_path + "2015-12-28-movimientos-inusitados.pdf", :comunicado_url => ""},
           {:titulo => 'Movimientos inusitados en la negociación de los valores representativos del capital social de "Corpovael", S.A.B. de C.V., serie "A".', :date => "2015-12-09", :link => @comunicados_path + "2015-12-09-movimientos-inusitados.pdf", :comunicado_url => ""},

           {:titulo => "CADU publica resultados del 4T15", :date => "2016-02-15", :link => @reportes_trimestrales_path + "Informes/2015-4T15-vf.pdf", :comunicado_url => ""},
           {:titulo => "CADU publica resultados del 3T15", :date => "2015-10-20", :link => @reportes_trimestrales_path + "Informes/2015-3T15.pdf", :comunicado_url => ""},
           {:titulo => 'HR Ratings asignó la calificación de largo plazo de HR BBB+ con Perspectiva Estable para Corpovael S.A. de C.V.', :date => "2015-03-24", :link => @comunicados_path + "2015-03-24-HR-Ratings.pdf", :comunicado_url =>@comunicados_path + "2015-03-24-HR-Ratings-adjunto.pdf"},


           {:titulo => "CADU publica resultados del 2T15", :date => "2015-07-20", :link => @reportes_trimestrales_path + "Informes/2015-2T15.pdf", :comunicado_url => ""},
           {:titulo => "CADU publica resultados del 1T15", :date => "2015-04-20", :link => @reportes_trimestrales_path + "Informes/2015-1T15.pdf", :comunicado_url => ""},
           {:titulo => 'CADU realiza su segunda emisión de Certificados Bursátiles por $300 millones de pesos en la BMV.', :date => "2014-07-18", :link => @comunicados_path + "2014-07-18-segunda-emision-de-certificados", :comunicado_url => ""},
           {:titulo => 'Comunicado de Prensa Calificación FichtRatings', :date => "2014-06-27", :link => @comunicados_path + "2014-06-27-comunicado-de-prensa-FichtRatings", :comunicado_url => @comunicados_path +"2014-06-27-comunicado-de-prensa-FichtRatings-adjunro"},
           {:titulo => 'Comunicado de Prensa Calificación Moody´s', :date => "2014-06-27", :link => @comunicados_path + "2014-06-27-comunicado-de-prensa.pdf", :comunicado_url =>@comunicados_path + "2014-06-27-comunicado-de-prensa-adjunto.pdf"},
           {:titulo => 'Comunicado de Prensa FichtRatings ratifica calificación', :date => "2014-06-05", :link => @comunicados_path + "2014-06-05-comunicado-de-prensa.pdf", :comunicado_url => @comunicados_path +"2014-06-05-comunicado-de-prensa-adjunto.pdf"},
           {:titulo => 'Amortización  del 50% del Certificado Bursátil CADU12, por la cantidad de $ 150 MDP', :date => "2014-05-02", :link => @comunicados_path + "2014-05-02-amortizacion-de-certificado-bursatil.pdf", :comunicado_url => @comunicados_path +"2014-05-02-amortizacion-de-certificado-bursatil-adjunto.pdf"},
           {:titulo => 'Autorización pago de dividendos NAFIN', :date => "2013-12-20", :link => @comunicados_path + "2013-12-20-autorizacion-pagos-dividendo.pdf", :comunicado_url =>@comunicados_path + "2013-12-20-autorizacion-pagos-dividendo-adjunto.pdf"},
           {:titulo => 'Reenvío Informe 3T12', :date => "2013-10-25", :link => @comunicados_path + "2013-10-25-reenvio-de-informe", :comunicado_url => ""},
           {:titulo => 'Fitch ratifica calificaciones de Corpovael', :date => "2013-06-06", :link => @comunicados_path + "2013-06-06-Fitch-ratifica-calificaciones.pdf", :comunicado_url =>@comunicados_path + "2013-06-06-Fitch-ratifica-calificaciones-adjunto.pdf"},
           {:titulo => 'Pago de Dividendos 4T12', :date => "2012-12-27", :link => @comunicados_path + "2012-12-27-pago-dividendos.pdf", :comunicado_url =>@comunicados_path + "2012-12-27-pago-dividendos-adjuntos.pdf"},
           {:titulo => 'Pago de Dividendos 3T12', :date => "2012-10-04", :link => @comunicados_path + "2012-10-04-pago-dividendos.pdf", :comunicado_url =>@comunicados_path + "2012-10-04-pago-dividendos-adjunto.pdf"},
           {:titulo => 'REENVIO DE INFORMACION RIMESRAL 112. LAS CIFRAS NO CAMIAN, SE COMPLEMENA INFORMACION RELAIVA A LAS IFRS.', :date => "2012-06-29", :link => @comunicados_path + "2012-06-29-reenvio-de-informacion-trimestral.pdf", :comunicado_url => ""},
           {:titulo => 'Fitch Ratings sube Calificación de Corpovael a "BBB+(mex)"; la Perspectiva es Estable', :date => "2012-06-06", :link => @comunicados_path + "2012-06-06-fitchratings-calificacion.pdf", :comunicado_url =>@comunicados_path + "2012-06-06-fitchratings-calificacion-adjunto.pdf"},
           {:titulo => "Moody's sube la calificación de emisor de Corpovael a Baa2.mx; la perspectiva es estable", :date => "2012-05-14", :link => @comunicados_path + "2012-05-14-modays-sube-calificacion.pdf", :comunicado_url => @comunicados_path + "2012-05-14-modays-sube-calificacion-adjunto.pdf"},

   ]
%>

<div class="comunicados">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Documento</th>
      <th class="col-md-3">Fecha</th>
    </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
      <tr>
        <td><a target="_blank" href="<%= document[:link] %>"><%= document[:titulo] %></a>

          <% if document[:comunicado_url] != "" %>
              </br>
              <i class="fa fa-download"></i>
              <a href="<%= document[:comunicado_url] %>" target="_blank">Adjunto</a>
          <% end %>
        </td>
        <td><%= document[:date] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
