<div class="comunicdos">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Documento</th>
      <th class="col-md-3">Fecha</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2015-1T15.pdf">CADU publica resultados del 1T15</a></td>
      <td>20/04/2015</td>

    </tr>
    <tr>
      <td><a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2015-2T15.pdf">CADU publica resultados del 2T15</a></td>
      <td>20/07/2015</td>

    </tr>
    <tr>
      <td><a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2015-3T15.pdf">CADU publica resultados del 3T15</a></td>
      <td>20/10/2015</td>

    </tr>
    <tr>
      <td><a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2015-4T15.pdf">CADU publica resultados del 4T15</a></td>
      <td>20/04/2015</td>

    </tr>
    <tr>
      <td><a target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2016-1T16.pdf">CADU publica resultados del 1T16</a></td>
      <td>20/04/2016</td>

    </tr>
    </tbody>
  </table>
</div>