<div id="faqs">
  <h3 class="c-left c-font-lowercase c-font-sbold">1. ¿Quién es CADU?</h3>

  <p>Copovael, S.A.B. de C.V. “CADU” es un grupo empresarial líder dedicado al desarrollo integrado de
    vivienda de interés social, media, media-residencial y residencial en México. CADU cuenta con una exitosa trayectoria de más de
    19 años en el sector vivienda, donde ha fundamentado un exitoso modelo de negocios a través de la búsqueda de una
    alta y sostenida rentabilidad; apuntalando su ventaja competitiva de una estructura “ligera” y verticalmente
    integrada.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">2. ¿Cuál es la estructura organizacional de CADU?</h3>

  <p>CADU está integrada por 26 subsidiarias dedicadas al diseño, construcción, urbanización, promoción y venta de
    desarrollos de bienes inmuebles habitacionales de interés social, nivel medio, medio-residencial y residencial así como la venta
    de terrenos comerciales, servicios de construcción, entre otros.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">3. ¿Por qué invertir en CADU?</h3>

  <p>Somos una empresa desarrolladora de viviendas con una estrategia de crecimiento orientada a la maximización de
    rentabilidad, que ha logrado alcanzar un crecimiento sostenido en ingresos, EBITDA y oferta de viviendas en los
    últimos años, a la par de mantener márgenes de rentabilidad y rendimiento de capital superiores a los del sector,
    pese a las crisis que han impactado los cimientos de la industria viviendera.</p>

  <p>Gran parte del éxito de CADU se atribuye al liderazgo incomparable de su equipo ejecutivo altamente experimentado,
    mismo que cuenta con un profundo conocimiento del mercado inmobiliario mexicano. Las actividades de negocio de CADU
    se apegan a las mejores prácticas de gobierno corporativo y a los deberes de diligencia y lealtad.</p>

  <p>CADU tiene el compromiso de entregar el máximo valor a sus accionistas y grupos de interés, a
    través de un modelo de negocios cuyos ejes principales consisten en:</p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li> Una estructura organizacional flexible e integrada.</li>
    <li> Óptima gestión de activos.</li>
    <li> Políticas financieras prudenciales.</li>
    <li> Filosofía de diseño de productos y ventas orientada en superar las expectativas de los clientes.</li>
  </ul>
  <p>En CADU existe la intención de continuar creciendo, al incrementar la participación en los segmentos de Vivienda
    Media, Vivienda Media-Residencial y Vivienda Residencial, para lograr una mayor diversificación de ingresos. Observante siempre de un estricto control de
    costos y gastos. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">4. ¿Dónde cotizan las acciones de CADU?</h3>

  <p>Nuestras acciones cotizan en la Bolsa Mexicana de Valores (BMV) desde 2015, bajo la clave de pizarra “CADU”.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">5. ¿Qué características tienen las acciones de CADU?</h3>

  <p>El capital social de CADU se encuentra representado por 339,316,859 acciones ordinarias, nominativas, sin expresión
    de valor nominal y representativas de la parte fija del capital social. Todas las acciones de CADU se encuentran
    inscritas ante el Registro Nacional de Valores en una serie única (“A”).</p>

  <p>Las acciones de CADU confieren a sus tenedores los mismos derechos plenos de voto y patrimoniales. Cada una de las
    acciones le da derecho a su tenedor a ejercer sus derechos de voto de manera completa y, en particular, a emitir un
    voto en cualquiera de las Asambleas Generales de Accionistas de la Emisora, ya sean Ordinarias o
    Extraordinarias.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">6.- ¿Quiénes dan cobertura de análisis a las acciones de CADU?</h3>

  <p>Las acciones de CADU cuentan con cobertura formal de Actinver, BBVA-Bancomer, Punto C.B., Apalache Análisis y Miranda Global Research.</p>
</div>
