<div id="fundamentales">
  <h3 class="c-left c-font-lowercase c-font-sbold">Resultados</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millones de Pesos)</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2014</th>
      <th class="col-md-2">2013</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Ventas</td>
      <td>4,002</td>
      <td>3,523</td>
      <td>3,189</td>
      <td>2,608</td>
      <!--<td>1,908</td>-->

    </tr>
    <tr>
      <td>Utilidad bruta</td>
      <td>1,181</td>
      <td>948</td>
      <td>790</td>
      <td>734</td>
      <!--<td>573</td>-->

    </tr>
    <tr>
      <td>Utilidad de operación</td>
      <td>801</td>
      <td>617</td>
      <td>498</td>
      <td>464</td>
      <!--<td>410</td>-->

    </tr>
    <tr>
      <td>Costo de financiamiento capitalizado</td>
      <td>86</td>
      <td>106</td>
      <td>117</td>
      <td>127</td>
      <!--<td>89</td>-->

    </tr>
    <tr>
      <td>UAFIDA</td>
      <td>899</td>
      <td>735</td>
      <td>623</td>
      <td>598</td>
      <!--<td>502</td>-->

    </tr>
    <tr>
      <td>Utilidad neta</td>
      <td>589</td>
      <td>430</td>
      <td>339</td>
      <td>29</td>
      <!--<td>280</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Situación financiera</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millones de Pesos)</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2014</th>
      <th class="col-md-2">2013</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Activo total</td>
      <td>6,241</td>
      <td>5,510</td>
      <td>3,350</td>
      <td>2,824</td>
      <!--<td>2,376</td>-->

    </tr>
    <tr>
      <td>Efectivo y equivalentes de efectivo</td>
      <td>596</td>
      <td>1,233</td>
      <td>282</td>
      <td>268</td>
      <!--<td>106</td>-->

    </tr>
    <tr>
      <td>Deuda total</td>
      <td>1,982</td>
      <td>1,609</td>
      <td>1,520</td>
      <td>1,128</td>
      <!--<td>920</td>-->

    </tr>
    <tr>
      <td>Pasivo total</td>
      <td>2,719</td>
      <td>2,285</td>
      <td>2,062</td>
      <td>1,775</td>
      <!--<td>1,407</td>-->

    </tr>
    <tr>
      <td>Capital contable</td>
      <td>3,522</td>
      <td>3,225</td>
      <td>1,288</td>
      <td>1,049</td>
      <!--<td>969</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Flujo de efectivo</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millones de Pesos)</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2014</th>
      <th class="col-md-2">2013</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Resultado antes de impuestos</td>
      <td>810</td>
      <td>583</td>
      <td>480</td>
      <td>441</td>
      <!--<td>398</td>-->

    </tr>
    <tr>
      <td>Flujos por actividades de operación
      </td>
      <td>(519)</td>
      <td>(421)</td>
      <td>(83)</td>
      <td>312</td>
      <!--<td>105</td>-->

    </tr>
    <tr>
      <td>Flujos por actividades de inversión</td>
      <td>(40)</td>
      <td>(1)</td>
      <td>(41)</td>
      <td>(6)</td>
      <!--<td>(15)</td>-->

    </tr>
    <tr>
      <td>Flujos por actividades de financiamiento</td>
      <td>(149)</td>
      <td>1,445</td>
      <td>139</td>
      <td>(135)</td>
      <!--<td>(53)</td>-->

    </tr>
    <tr>
      <td>Saldo inicial de efectivo</td>
      <td>1,304</td>
      <td>282</td>
      <td>268</td>
      <td>106</td>
      <!--<td>69</td>-->

    </tr>
    <tr>
      <td>Efectivo generado en el periodo</td>
      <td>(708)</td>
      <td>1,022</td>
      <td>14</td>
      <td>171</td>
      <!--<td>36</td>-->

    </tr>
    <tr>
      <td>Saldo final de efectivo
      </td>
      <td>732</td>
      <td>1,304</td>
      <td>282</td>
      <td>277</td>
      <!--<td>106</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Crecimiento y rentabilidad</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Porcentaje)</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2014</th>
      <th class="col-md-2">2013</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Crecimiento de ventas
      </td>
      <td>13.60%</td>
      <td>10.47%</td>
      <td>22.28%</td>
      <td>36.69%</td>
      <!--<td>12.04%</td>-->

    </tr>
    <tr>
      <td>Crecimiento UAFIDA
      </td>
      <td>22.30%</td>
      <td>17.98%</td>
      <td>4.18%</td>
      <td>19.12%</td>
      <!--<td>9.13%</td>-->

    </tr>
    <tr>
      <td>Margen bruto
      </td>
      <td>29.51%</td>
      <td>26.92%</td>
      <td>24.77%</td>
      <td>28.14%</td>
      <!--<td>30.03%</td>-->

    </tr>
    <tr>
      <td>Margen operativo
      </td>
      <td>20.01%</td>
      <td>17.51%</td>
      <td>15.62%</td>
      <td>17.79%</td>
      <!--<td>21.49%</td>-->

    </tr>
    <tr>
      <td>Margen UAFIDA
      </td>
      <td>20.50%</td>
      <td>20.87%</td>
      <td>19.54%</td>
      <td>22.93%</td>
      <!--<td>26.31%</td>-->

    </tr>
    <tr>
      <td>Margen neto
      </td>
      <td>14.71%</td>
      <td>12.20%</td>
      <td>10.63%</td>
      <td>1.11%</td>
      <!--<td>14.68%</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Razones financieras</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Veces)</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2014</th>
      <th class="col-md-2">2013</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Activo circulante/Pasivo circulante
      </td>
      <td>5.42</td>
      <td>8.92</td>
      <td>5.37</td>
      <td>3.93</td>
      <!--<td>6.86</td>-->

    </tr>
    <tr>
      <td>Activo circulante/Pasivo total
      </td>
      <td>1.63</td>
      <td>2.38</td>
      <td>1.59</td>
      <td>1.56</td>
      <!--<td>1.66</td>-->

    </tr>
    <tr>
      <td>Deuda L.P./Capital contable
      </td>
      <td>0.41</td>
      <td>0.40</td>
      <td>1.18</td>
      <td>1.08</td>
      <!--<td>0.95</td>-->

    </tr>
    <tr>
      <td>Pasivo total/Capital contable
      </td>
      <td>0.77</td>
      <td>0.71</td>
      <td>1.60</td>
      <td>1.69</td>
      <!--<td>1.45</td>-->

    </tr>

    <tr>
      <td>Deuda neta/UAFIDA U12M
      </td>
      <td>1.4</td>
      <td>0.4</td>
      <td>1.97</td>
      <td>1.43</td>
      <!--<td>1.61</td>-->

    </tr>
    <tr>
      <td>Cobertura de intereses
      </td>
      <td>6</td>
      <td>5.26</td>
      <td>4.29</td>
      <td>4.27</td>
      <!--<td>4.80</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Eficiencia</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Días)</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2014</th>
      <th class="col-md-2">2013</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Días de cartera
      </td>
      <td>40</td>
      <td>19</td>
      <td>8</td>
      <td>24</td>
      <!--<td>25</td>-->

    </tr>
    <tr>
      <td>Días de inventario
      </td>
      <td>582</td>
      <td>510</td>
      <td>424</td>
      <td>428</td>
      <!--<td>540</td>-->
    </tr>
    <tr>
      <td>Días de proveedores
      </td>
      <td>28</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <!--<td>24</td>-->
    </tr>
    </tbody>
  </table>
</div>
