<div id="fundamentales">
  <h3 class="c-left c-font-lowercase c-font-sbold">Resultados</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millones de Pesos)</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2014</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Ventas</td>
      <td>4,507</td>
      <td>4,022</td>
      <td>3,523</td>
      <td>3,189</td>
      <!--<td>1,908</td>-->

    </tr>
    <tr>
      <td>Utilidad bruta</td>
      <td>1,375</td>
      <td>1,150</td>
      <td>948</td>
      <td>790</td>
      <!--<td>573</td>-->

    </tr>
    <tr>
      <td>Utilidad de operación</td>
      <td>928</td>
      <td>762</td>
      <td>617</td>
      <td>498</td>
      <!--<td>410</td>-->

    </tr>
    <tr>
      <td>Costo de financiamiento capitalizado</td>
      <td>104</td>
      <td>131</td>
      <td>106</td>
      <td>117</td>
      <!--<td>89</td>-->

    </tr>
    <tr>
      <td>EBITDA</td>
      <td>1,042</td>
      <td>905</td>
      <td>735</td>
      <td>623</td>
      <!--<td>502</td>-->

    </tr>
    <tr>
      <td>Utilidad neta</td>
      <td>746</td>
      <td>587</td>
      <td>430</td>
      <td>339</td>
      <!--<td>280</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Situación financiera</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millones de Pesos)</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2014</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Inventarios Inmobiliarios</td>
      <td>5,592</td>
      <td>4,529</td>
      <td>3,645</td>
      <td>2,824</td>
      <!--<td>2,376</td>-->

    </tr>
    <tr>
      <td>Activo total</td>
      <td>7,632</td>
      <td>6,336</td>
      <td>5,510</td>
      <td>3,350</td>
      <!--<td>2,376</td>-->

    </tr>
    <tr>
      <td>Efectivo y equivalentes de efectivo</td>
      <td>766</td>
      <td>730</td>
      <td>1,304</td>
      <td>282</td>
      <!--<td>106</td>-->

    </tr>
    <tr>
      <td>Deuda total</td>
      <td>2,316</td>
      <td>1,982</td>
      <td>1,609</td>
      <td>1,512</td>
      <!--<td>920</td>-->

    </tr>
    <tr>
      <td>Pasivo total</td>
      <td>3,593</td>
      <td>2,815</td>
      <td>2,285</td>
      <td>2,062</td>
      <!--<td>1,407</td>-->

    </tr>
    <tr>
      <td>Capital contable</td>
      <td>4,039</td>
      <td>3,521</td>
      <td>3,225</td>
      <td>1,288</td>
      <!--<td>969</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Flujo de efectivo</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millones de Pesos)</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2014</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Resultado antes de impuestos</td>
      <td>940</td>
      <td>771</td>
      <td>583</td>
      <td>480</td>
      <!--<td>398</td>-->

    </tr>
    <tr>
      <td>Flujos por actividades de operación
      </td>
      <td>239</td>
      <td>(617)</td>
      <td>(421)</td>
      <td>(83)</td>
      <!--<td>105</td>-->

    </tr>
    <tr>
      <td>Flujos por actividades de inversión</td>
      <td>(24)</td>
      <td>(69)</td>
      <td>(1)</td>
      <td>(41)</td>
      <!--<td>(15)</td>-->

    </tr>
    <tr>
      <td>Flujos por actividades de financiamiento</td>
      <td>(178)</td>
      <td>112</td>
      <td>1,445</td>
      <td>139</td>
      <!--<td>(53)</td>-->

    </tr>
    <tr>
      <td>Saldo inicial de efectivo</td>
      <td>730</td>
      <td>1,304</td>
      <td>282</td>
      <td>268</td>
      <!--<td>69</td>-->

    </tr>
    <tr>
      <td>Efectivo generado en el periodo</td>
      <td>36</td>
      <td>(574)</td>
      <td>1,022</td>
      <td>14</td>
      <!--<td>36</td>-->

    </tr>
    <tr>
      <td>Saldo final de efectivo
      </td>
      <td>766</td>
      <td>730</td>
      <td>1,304</td>
      <td>282</td>
      <!--<td>106</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Crecimiento y rentabilidad</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Porcentaje)</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2014</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Crecimiento de ventas
      </td>
      <td>12.10%</td>
      <td>13.60%</td>
      <td>10.47%</td>
      <td>22.31%</td>
      <!--<td>12.04%</td>-->

    </tr>
    <tr>
      <td>Crecimiento EBITDA
      </td>
      <td>15.20%</td>
      <td>22.30%</td>
      <td>17.98%</td>
      <td>4.18%</td>
      <!--<td>9.13%</td>-->

    </tr>
    <tr>
      <td>Margen bruto
      </td>
      <td>30.50%</td>
      <td>28.60%</td>
      <td>26.92%</td>
      <td>24.77%</td>
      <!--<td>30.03%</td>-->

    </tr>
    <tr>
      <td>Margen operativo
      </td>
      <td>20.60%</td>
      <td>18.90%</td>
      <td>17.51%</td>
      <td>15.62%</td>
      <!--<td>21.49%</td>-->

    </tr>
    <tr>
      <td>Margen EBITDA
      </td>
      <td>23.10%</td>
      <td>22.50%</td>
      <td>20.87%</td>
      <td>19.54%</td>
      <!--<td>26.31%</td>-->

    </tr>
    <tr>
      <td>Margen neto
      </td>
      <td>16.50%</td>
      <td>14.60%</td>
      <td>12.20%</td>
      <td>10.63%</td>
      <!--<td>14.68%</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Razones financieras</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Veces)</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2014</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Pasivo total/Capital contable
      </td>
      <td>0.9</td>
      <td>0.8</td>
      <td>0.7</td>
      <td>1.6</td>
      <!--<td>1.45</td>-->

    </tr>

    <tr>
      <td>Deuda neta/EBITDA UDM
      </td>
      <td>1.5</td>
      <td>1.4</td>
      <td>0.4</td>
      <td>1.97</td>
      <!--<td>1.61</td>-->

    </tr>
    <tr>
      <td>Deuda total/EBITDA UDM
      </td>
      <td>2.2</td>
      <td>2.2</td>
      <td>2.2</td>
      <td>2.4</td>
      <!--<td>6.86</td>-->

    </tr>
    <tr>
      <td>ROE
      </td>
      <td>18.5</td>
      <td>16.7</td>
      <td>13.4</td>
      <td>26.3</td>
      <!--<td>1.66</td>-->

    </tr>
    <tr>
      <td>Cobertura de intereses
      </td>
      <td>5.0</td>
      <td>5.8</td>
      <td>5.3</td>
      <td>4.3</td>
      <!--<td>4.80</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Ciclo de Capital de Trabajo</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Días)</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2014</th>
      <!--<th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Días de cartera
      </td>
      <td>37</td>
      <td>38</td>
      <td>19</td>
      <td>8</td>
      <!--<td>25</td>-->

    </tr>
    <tr>
      <td>Días de inventario
      </td>
      <td>643</td>
      <td>568</td>
      <td>510</td>
      <td>424</td>
      <!--<td>540</td>-->
    </tr>
    <tr>
      <td>Días de proveedores
      </td>
      <td>53</td>
      <td>30</td>
      <td>25</td>
      <td>25</td>
      <!--<td>24</td>-->
    </tr>
    </tbody>
  </table>
</div>
