<div id="fundamentales">
  <h3 class="c-left c-font-lowercase c-font-sbold">Resultados</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millones de Pesos)</th>
      <th class="col-md-2">2022</th>
      <th class="col-md-2">2021</th>
      <th class="col-md-2">2020</th>
      <th class="col-md-2">2019</th>
      <!--<th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Ventas</td>
      <td>3,723</td>
      <td>2,779</td>
      <td>3,297</td>
      <td>4,304</td>
      <!--<td>4,507</td>
      <td>4,022</td>
      <td>3,523</td>
      <td>1,908</td>-->

    </tr>
    <tr>
      <td>Utilidad bruta</td>
      <td>918</td>
      <td>685</td>
      <td>778</td>
      <td>1,386</td>    
      <!--<td>1,375</td>
      <td>1,150</td>
      <td>948</td>
      <td>573</td>-->

    </tr>
    <tr>
      <td>Utilidad de operación</td>
      <td>375</td>
      <td>82</td>
      <td>240</td>
      <td>831</td>
        <!--<td>928</td>
    <td>762</td>
      <td>617</td>
      <td>410</td>-->

    </tr>
    <tr>
      <td>Costo de financiamiento capitalizado</td>
      <td class="vertical-a-m">261</td>
      <td class="vertical-a-m">168</td>
      <td class="vertical-a-m">219</td>
      <td class="vertical-a-m">189</td>
      <!--<td class="vertical-a-m">104</td>
      <td class="vertical-a-m">131</td>
      <td>89</td>-->

    </tr>
    <tr>
      <td>EBITDA</td>
      <td>636</td>
      <td>320</td>
      <td>489</td>
      <td>1,083</td>
      <!--<td>1,042</td>
      <td>905</td>
      <td>735</td>
      <td>502</td>-->

    </tr>
    <tr>
      <td>Utilidad neta</td>
      <td>269</td>
      <td>(101)</td>
      <td>138</td>
      <td>552</td>
      <!--<td>746</td>
      <td>587</td>
      <td>430</td>
      <td>280</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Situación financiera</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millones de Pesos)</th>
      <th class="col-md-2">2022</th>
      <th class="col-md-2">2021</th>
      <th class="col-md-2">2020</th>
      <th class="col-md-2">2019</th>      
      <!--<th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Inventarios Inmobiliarios</td>
      <td>7,896</td>
      <td>7,696</td>
      <td>7,670</td>
      <td>7,942</td>
      <!--<td>5,592</td>
      <td>4,529</td>
      <td>3,645</td>
      <td>2,376</td>-->

    </tr>
    <tr>
      <td>Activo total</td>
      <td>11,017</td>
      <td>10,127</td>
      <td>10,014</td>
      <td>10,012</td>
      <!--<td>7,632</td>
      <td>6,336</td>
      <td>5,510</td>
      <td>2,376</td>-->


    </tr>
    <tr>
      <td>Efectivo y equivalentes de efectivo*</td>
      <td>663</td>
      <td>494</td>
      <td>580</td>
      <td>491</td> 
      <!--<td>608</td>
      <td>730</td>
      <td>1,304</td>
      <td>106</td>-->

    </tr>
    <tr>
      <td>Deuda total</td>
      <td>3,092</td>
      <td>3,389</td>
      <td>3,581</td>
      <td>3,713</td>
      <!--<td>2,316</td>
      <td>1,982</td>
      <td>1,609</td>
      <td>920</td>-->

    </tr>
    <tr>
      <td>Pasivo total</td>
      <td>6,011</td>
      <td>5,393</td>
      <td>5,041</td>
      <td>5,175</td>
      <!--<td>3,593</td>
      <td>2,815</td>
      <td>2,285</td>
      <td>1,407</td>-->


    </tr>
    <tr>
      <td>Capital contable</td>
      <td>5,006</td>
      <td>4,734</td>
      <td>4,973</td>
      <td>4,837</td>
      <!--<td>4,039</td>
      <td>3,521</td>
      <td>3,225</td>
      <td>969</td>-->

    </tr>
    </tbody>
  </table>
<small> *Incluye el Fondo de Reserva "CADU20V" </small>

  <h3 class="c-left c-font-lowercase c-font-sbold">Flujo de efectivo</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millones de Pesos)</th>
      <th class="col-md-2">2022</th>
      <th class="col-md-2">2021</th>
      <th class="col-md-2">2020</th>
      <th class="col-md-2">2019</th>
      <!--<th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Resultado antes de impuestos</td>
      <td>278</td>
      <td>(10)</td>
      <td>186</td>
      <td>804</td>
      <!--<td>940</td>
      <td>771</td>
      <td>583</td>
      <td>398</td>-->

    </tr>
    <tr>
      <td>Flujos por actividades de operación
      </td>
      <td>825</td>
      <td>284</td>
      <td>770</td>
      <td>391</td>
      <!--<td>201</td>
      <td>(617)</td>
      <td>(421)</td>
      <td>105</td>-->

    </tr>
    <tr>
      <td>Flujos por actividades de inversión</td>
      <td>3</td>
      <td>(45)</td>
      <td>(244)</td>
      <td>(188)</td>
      <!--<td>13</td>
      <td>(69)</td>
      <td>(1)</td>
      <td>(15)</td>-->

    </tr>
    <tr>
      <td>Flujos por actividades de financiamiento</td>
      <td>(660)</td>
      <td>(324)</td>
      <td>(437)</td>
      <td>(385)</td>
      <!--<td>(178)</td>
      <td>112</td>
      <td>1,445</td>
      <td>(53)</td>-->

    </tr>
    <tr>
      <td>Saldo inicial de efectivo*</td>
      <td>494</td>
      <td>580</td>
      <td>491</td>
      <td>674</td>
      <!--<td>730</td>
      <td>1,304</td>
      <td>282</td>
      <td>69</td>-->

    </tr>
    <tr>
      <td>Efectivo generado en el periodo</td>
      <td>169</td>
      <td>(86)</td>
      <td>88</td>
      <td>(183)</td>
      <!--<td>36</td>
      <td>(574)</td>
      <td>1,022</td>
      <td>36</td>-->

    </tr>
    <tr>
      <td>Saldo final de efectivo*</td>
      <td>663</td>
      <td>494</td>
      <td>580</td>
      <td>491</td>
      <!--<td>766</td>
      <td>730</td>
      <td>1,304</td>
      <td>106</td>-->

    </tr>
    </tbody>
  </table>
<small>*Incluyendo el Fondo de Reserva "CADU20V"</small>

  <h3 class="c-left c-font-lowercase c-font-sbold">Crecimiento y rentabilidad</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Porcentaje)</th>
      <th class="col-md-2">2022</th>
      <th class="col-md-2">2021</th>
      <th class="col-md-2">2020</th>
      <th class="col-md-2">2019</th>
      <!--<th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Crecimiento de ventas</td>
      <td>34.0%</td>
      <td>(15.7%)</td>
      <td>(23.4%)</td>
      <td>(7.0%)</td>
      <!--<td>12.10%</td>
      <td>13.60%</td>
      <td>10.47%</td>
      <td>12.04%</td>-->

    </tr>
    <tr>
      <td>Crecimiento EBITDA
      </td>
      <td>99.0%</td>
      <td>(34.6%)</td>
      <td>(54.9%)</td>
      <td>(2.5%)</td>
      <!--<td>15.20%</td>
      <td>22.30%</td>
      <td>17.98%</td>
      <td>9.13%</td>-->

    </tr>
    <tr>
      <td>Margen bruto
      </td>
      <td>24.7%</td>
      <td>24.6%</td>
      <td>23.6%</td>
      <td>32.2%</td>
      <!--<td>30.50%</td>
      <td>28.60%</td>
      <td>26.92%</td>
      <td>30.03%</td>-->

    </tr>
    <tr>
      <td>Margen operativo
      </td>
      <td>10.1%</td>
      <td>3.0%</td>
      <td>7.3%</td>
      <td>19.3%</td>
      <!--<td>20.60%</td>
      <td>18.90%</td>
      <td>17.51%</td>
      <td>21.49%</td>-->

    </tr>
    <tr>
      <td>Margen EBITDA
      </td>
      <td>17.1%</td>
      <td>11.5%</td>
      <td>14.8%</td>
      <td>25.2%</td>
      <!--<td>23.10%</td>
      <td>22.50%</td>
      <td>20.87%</td>
      <td>26.31%</td>-->

    </tr>
    <tr>
      <td>Margen neto
      </td>
      <td>7.2%</td>
      <td>(3.6%)</td>
      <td>4.2%</td>
      <td>12.8%</td>
      <!--<td>16.50%</td>
      <td>14.60%</td>
      <td>12.20%</td>
      <td>14.68%</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Razones financieras</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Veces)</th>
      <th class="col-md-2">2022</th>
      <th class="col-md-2">2021</th>
      <th class="col-md-2">2020</th>
      <th class="col-md-2">2019</th>
      <!--<th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Pasivo total/Capital contable
      </td>
      <td>1.2</td>
      <td>1.1</td>
      <td>1.0</td>
      <td>1.1</td>
      <!--<td>0.9</td>
      <td>0.8</td>
      <td>0.7</td>
      <td>1.45</td>-->

    </tr>

    <tr>
      <td>Deuda neta/EBITDA UDM
      </td>
      <td>3.82</td>
      <td>9.1</td>
      <td>6.1</td>
      <td>3.0</td>
      <!--<td>1.5</td>
      <td>1.4</td>
      <td>0.4</td>
      <td>1.61</td>-->


    </tr>
    <tr>
      <td>Deuda total/EBITDA UDM
      </td>
      <td>4.9</td>
      <td>10.6</td>
      <td>7.3</td>
      <td>3.4</td>
      <!--<td>2.2</td>
      <td>2.2</td>
      <td>2.2</td>
      <td>6.86</td>-->

    </tr>

    <tr>
      <td>Cobertura de intereses
      </td>
      <td>1.7</td>
      <td>1.1</td>
      <td>1.7</td>
      <td>2.7</td>
      <!--<td>5.0</td>
      <td>5.8</td>
      <td>5.3</td>
      <td>4.80</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Ciclo de Capital de Trabajo</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Días)</th>
      <th class="col-md-2">2022</th>
      <th class="col-md-2">2021</th>
      <th class="col-md-2">2020</th>
      <th class="col-md-2">2019</th>
      <!--<th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Días de cartera
      </td>
      <td>48</td>
      <td>32</td>
      <td>30</td>
      <td>25</td>
      <!--<td>37</td>
      <td>38</td>
      <td>19</td>
      <td>25</td>-->

    </tr>
    <tr>
      <td>Días de inventario
      </td>
      <td>1,013</td>
      <td>1,323</td>
      <td>1,096</td>
      <td>980</td>
      <!--<td>643</td>
      <td>568</td>
      <td>510</td>
      <td>540</td>-->
    </tr>
    <tr>
      <td>Días de proveedores
      </td>
      <td>116</td>
      <td>98</td>
      <td>53</td>
      <td>42</td>
      <!--<td>53</td>
      <td>30</td>
      <td>25</td>
      <td>24</td>-->
    </tr>
    <tr>
      <td>Anticipo de clientes
      </td>
      <td>29</td>
      <td>29</td>
      <td>7</td>
      <td>13</td>
      <!--<td>15</td>
      <td>7</td>
      <td>25</td>
      <td>24</td>-->
    </tr>
    <tr>
      <td>Ciclo de Capital de Trabajo (CCT)
      </td>
      <td>916</td>
      <td>1,229</td>
      <td>1,066</td>
      <td>950</td>
      <!--<td>612</td>
      <td>568</td>
      <td>25</td>
      <td>24</td>-->
    </tr>
    </tbody>
  </table>
</div>
