<div id="fundamentales">
  <h3 class="c-left c-font-lowercase c-font-sbold">Resultados</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millones de Pesos)</th>
      <th class="col-md-2">2025</th>
      <th class="col-md-2">2024</th>
      <th class="col-md-2">2023</th>
      <th class="col-md-2">2022</th>
       <!--<th class="col-md-2">2021</th>
     <th class="col-md-2">2020</th>
      <th class="col-md-2">2019</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Ventas</td>
      <td>5,088</td>
      <td>4,487</td>
      <td>4,506</td>
      <td>3,727</td>
      <!--<td>2,779</td>
      <td>3,297</td>
      <td>4,304</td>
      <td>4,507</td>
      <td>4,022</td>
      <td>3,523</td>
      <td>1,908</td>-->

    </tr>
    <tr>
      <td>Utilidad bruta</td>
      <td>1,201</td>
      <td>1,197</td>
      <td>1,220</td>
      <td>948</td>
      <!--<td>685</td>
      <td>778</td>
      <td>1,386</td>    
      <td>1,375</td>
      <td>1,150</td>
      <td>948</td>
      <td>573</td>-->

    </tr>
    <tr>
      <td>Utilidad de operación</td>
      <td>469</td>
      <td>428</td>
      <td>522</td>
      <td>377</td>
      <!--<td>82</td>
      <td>240</td>
      <td>831</td>
       <td>928</td>
    <td>762</td>
      <td>617</td>
      <td>410</td>-->

    </tr>
    <tr>
      <td>Costo de financiamiento capitalizado</td>
      <td class="vertical-a-m">302</td>
      <td class="vertical-a-m">277</td>
      <td class="vertical-a-m">214</td>
      <td class="vertical-a-m">256</td>
      <!--<td class="vertical-a-m">168</td>
      <td class="vertical-a-m">219</td>
      <td class="vertical-a-m">189</td>
      <td class="vertical-a-m">104</td>
      <td class="vertical-a-m">131</td>
      <td>89</td>-->

    </tr>
    <tr>
      <td>EBITDA</td>
      <td>785</td>
      <td>716</td>
      <td>745</td>
      <td>641</td>
      <!--<td>320</td>
      <td>489</td>
      <td>1,083</td>
      <td>1,042</td>
      <td>905</td>
      <td>735</td>
      <td>502</td>-->

    </tr>
    <tr>
      <td>Utilidad neta</td>
      <td>412</td>
      <td>232</td>
      <td>302</td>
      <td>259</td>
      <!--<td>(101)</td>
      <td>138</td>
      <td>552</td>
      <td>746</td>
      <td>587</td>
      <td>430</td>
      <td>280</td>-->
    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Situación financiera</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millones de Pesos)</th>
      <th class="col-md-2">2025</th>
      <th class="col-md-2">2024</th>
      <th class="col-md-2">2023</th>
      <th class="col-md-2">2022</th>
      <!--<th class="col-md-2">2021</th>
      <th class="col-md-2">2020</th>
      <th class="col-md-2">2019</th>      
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Inventarios Inmobiliarios</td>
      <td>9,213</td>
      <td>2,570</td>
      <td>8,766</td>
      <td>8,017</td>
      <!--<td>7,696</td>
      <td>7,670</td>
      <td>7,942</td>
      <td>5,592</td>
      <td>4,529</td>
      <td>3,645</td>
      <td>2,376</td>-->

    </tr>
    <tr>
      <td>Activo total</td>
      <td>11,637</td>
      <td>11,870</td>
      <td>11,337</td>
      <td>10,417</td>
      <!--<td>10,127</td>
      <td>10,014</td>
      <td>10,012</td>
      <td>7,632</td>
      <td>6,336</td>
      <td>5,510</td>
      <td>2,376</td>-->


    </tr>
    <tr>
      <td>Efectivo y equivalentes de efectivo*</td>
      <td>464</td>
      <td>466</td>
      <td>544</td>
      <td>663</td>
      <!--<td>494</td>
      <td>580</td>
      <td>491</td> 
      <td>608</td>
      <td>730</td>
      <td>1,304</td>
      <td>106</td>-->

    </tr>
    <tr>
      <td>Deuda total</td>
      <td>1,704</td>
      <td>2,164</td>
      <td>2,123</td>
      <td>3,051</td>
      <!--<td>3,389</td>
      <td>3,581</td>
      <td>3,713</td>
      <td>2,316</td>
      <td>1,982</td>
      <td>1,609</td>
      <td>920</td>-->

    </tr>
    <tr>
      <td>Pasivo total</td>
      <td>5,784</td>
      <td>6,387</td>
      <td>6,060</td>
      <td>5,433</td>
      <!--<td>5,393</td>
      <td>5,041</td>
      <td>5,175</td>
      <td>3,593</td>
      <td>2,815</td>
      <td>2,285</td>
      <td>1,407</td>-->


    </tr>
    <tr>
      <td>Capital contable</td>
      <td>5,853</td>
      <td>5,484</td>
      <td>5,277</td>
      <td>4,995</td>
      <!--<td>4,734</td>
      <<td>4,973</td>
      td>4,837</td>
      <td>4,039</td>
      <td>3,521</td>
      <td>3,225</td>
      <td>969</td>-->

    </tr>
    </tbody>
  </table>
<small> *Incluye el Fondo de Reserva "CADU20V" </small>

  <h3 class="c-left c-font-lowercase c-font-sbold">Flujo de efectivo</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Millones de Pesos)</th>
      <th class="col-md-2">2025</th>
      <th class="col-md-2">2024</th>
      <th class="col-md-2">2023</th>
      <th class="col-md-2">2022</th>
      <!--<th class="col-md-2">2021</th>
      <th class="col-md-2">2020</th>
      <th class="col-md-2">2019</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Resultado antes de impuestos</td>
      <td>447</td>
      <td>336</td>
      <td>413</td>
      <td>271</td>
      <!--<td>(10)</td>
      <td>186</td>
      <td>804</td>
      <td>940</td>
      <td>771</td>
      <td>583</td>
      <td>398</td>-->

    </tr>
    <tr>
      <td>Flujos por actividades de operación</td>
      <td>131</td>
      <td>(540)</td>
      <td>1,313</td>
      <td>1,007</td>
      <!--<td>284</td>
      <td>770</td>
      <td>391</td>
      <td>201</td>
      <td>(617)</td>
      <td>(421)</td>
      <td>105</td>-->

    </tr>
    <tr>
      <td>Flujos por actividades de inversión</td>
      <td>(122)</td>
      <td>19</td>
      <td>29</td>
      <td>19</td>
      <!--<td>(45)</td>
       <td>(244)</td>
     <td>(188)</td>
      <td>13</td>
      <td>(69)</td>
      <td>(1)</td>
      <td>(15)</td>-->

    </tr>
    <tr>
      <td>Flujos por actividades de financiamiento</td>
      <td>(791)</td>
      <td>(284)</td>
      <td>(1,461)</td>
      <td>(858)</td>
      <!--<td>(324)</td>
      <td>(437)</td>
      <td>(385)</td>
      <td>(178)</td>
      <td>112</td>
      <td>1,445</td>
      <td>(53)</td>-->

    </tr>
    <tr>
      <td>Saldo inicial de efectivo*</td>
      <td>466</td>
      <td>544</td>
      <td>663</td>
      <td>494</td>
      <!--<td>580</td>
      <td>491</td>
      <td>674</td>
      <td>730</td>
      <td>1,304</td>
      <td>282</td>
      <td>69</td>-->

    </tr>
    <tr>
      <td>Efectivo generado en el periodo</td>
      <td>(2)</td>
      <td>(79)</td>
      <td>(118)</td>
      <td>169</td>
      <!--<td>(86)</td>
      <td>88</td>
      <td>(183)</td>
      <td>36</td>
      <td>(574)</td>
      <td>1,022</td>
      <td>36</td>-->

    </tr>
    <tr>
      <td>Saldo final de efectivo*</td>
      <td>464</td>
      <td>466</td>
      <td>544</td>
      <td>663</td>
      <!--<td>494</td>
      <td>580</td>
      <td>491</td>
      <td>766</td>
      <td>730</td>
      <td>1,304</td>
      <td>106</td>-->

    </tr>
    </tbody>
  </table>
<small>*Incluyendo el Fondo de Reserva "CADU20V"</small>

  <h3 class="c-left c-font-lowercase c-font-sbold">Crecimiento y rentabilidad</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Porcentaje)</th>
      <th class="col-md-2">2025</th>
      <th class="col-md-2">2024</th>
      <th class="col-md-2">2023</th>
      <th class="col-md-2">2022</th>
     <!-- <th class="col-md-2">2021</th>
     <th class="col-md-2">2020</th>
      <th class="col-md-2">2019</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Crecimiento de ventas</td>
      <td>13.4%</td>
      <td>(0.4%)</td>
      <td>20.9%</td>
      <td>34.1%</td>
      <!--<td>(15.7%)</td>
      <td>(23.4%)</td>
      <td>(7.0%)</td>
      <td>12.10%</td>
      <td>13.60%</td>
      <td>10.47%</td>
      <td>12.04%</td>-->

    </tr>
    <tr>
      <td>Crecimiento EBITDA
      </td>
      <td>9.7%</td>
      <td>(4.0%)</td>
      <td>16.3%</td>
      <td>100.5%</td>
      <!--<td>(34.6%)</td>
      <td>(54.9%)</td>
      <td>(2.5%)</td>
      <td>15.20%</td>
      <td>22.30%</td>
      <td>17.98%</td>
      <td>9.13%</td>-->

    </tr>
    <tr>
      <td>Margen bruto
      </td>
      <td>23.6%</td>
      <td>26.7%</td>
      <td>27.1%</td>
      <td>25.4%</td>
      <!--<td>24.6%</td>
      <td>23.6%</td>
      <td>32.2%</td>
      <td>30.50%</td>
      <td>28.60%</td>
      <td>26.92%</td>
      <td>30.03%</td>-->

    </tr>
    <tr>
      <td>Margen operativo
      </td>
      <td>9.2%</td>
      <td>9.5%</td>
      <td>11.6%</td>
      <td>10.1%</td>
      <!--<td>3.0%</td>
     <td>7.3%</td>
      <td>19.3%</td>
      <td>20.60%</td>
      <td>18.90%</td>
      <td>17.51%</td>
      <td>21.49%</td>-->

    </tr>
    <tr>
      <td>Margen EBITDA
      </td>
      <td>15.4%</td>
      <td>15.9%</td>
      <td>16.5%</td>
      <td>17.2%</td>
      <!--<td>11.5%</td>
      <td>14.8%</td>
      <td>25.2%</td>
      <td>23.10%</td>
      <td>22.50%</td>
      <td>20.87%</td>
      <td>26.31%</td>-->

    </tr>
    <tr>
      <td>Margen neto
      </td>
      <td>8.1%</td>
      <td>5.2%</td>
      <td>6.7%</td>
      <td>7.0%</td>
      <!--<td>(3.6%)</td>
      <td>4.2%</td>
      <td>12.8%</td>
      <td>16.50%</td>
      <td>14.60%</td>
      <td>12.20%</td>
      <td>14.68%</td>-->

    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Razones financieras</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Veces)</th>
      <th class="col-md-2">2025</th>
      <th class="col-md-2">2024</th>
      <th class="col-md-2">2023</th>
      <th class="col-md-2">2022</th>
      <!--<th class="col-md-2">2021</th>
      <th class="col-md-2">2020</th>
      <th class="col-md-2">2019</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2012</th>-->


    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Pasivo total/Capital contable
      </td>
      <td>0.99</td>
      <td>1.16</td>
      <td>1.15</td>
      <td>1.10</td>
      <!--<td>1.14</td>
      <td>1.01</td>
      <td>1.1</td>
      <td>0.9</td>
      <td>0.8</td>
      <td>0.7</td>
      <td>1.45</td>-->

    </tr>

    <tr>
      <td>Deuda neta/EBITDA UDM
      </td>
      <td>1.58</td>
      <td>2.37</td>
      <td>2.12</td>
      <td>3.79</td>
      <!--<td>9.06</td>
      <td>6.14</td>
      <td>3.0</td>
      <td>1.5</td>
      <td>1.4</td>
      <td>0.4</td>
      <td>1.61</td>-->


    </tr>
    <tr>
      <td>Deuda total/EBITDA UDM
      </td>
      <td>2.17</td>
      <td>3.02</td>
      <td>2.85</td>
      <td>4.8</td>
      <!--<td>10.59</td>
      <td>7.32</td>
      <td>3.4</td>
      <td>2.2</td>
      <td>2.2</td>
      <td>2.2</td>
      <td>6.86</td>-->

    </tr>

    <tr>
      <td>Cobertura de intereses
      </td>
      <td>3.02</td>
      <td>2.61</td>
      <td>2.24</td>
      <td>1.69</td>
      <!--<td>1.08</td>
      <td>1.69</td>
      <td>2.7</td>
      <td>5.0</td>
      <td>5.8</td>
      <td>5.3</td>
      <td>4.80</td>-->


    </tr>
    </tbody>
  </table>
  <h3 class="c-left c-font-lowercase c-font-sbold">Ciclo de Capital de Trabajo</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">(Días)</th>
      <th class="col-md-2">2025</th>
      <th class="col-md-2">2024</th>
      <th class="col-md-2">2023</th>
      <th class="col-md-2">2022</th>
      <!--<th class="col-md-2">2021</th>
      <th class="col-md-2">2020</th>
      <th class="col-md-2">2019</th>
      <th class="col-md-2">2017</th>
      <th class="col-md-2">2016</th>
      <th class="col-md-2">2015</th>
      <th class="col-md-2">2012</th>-->

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Días de cartera
      </td>
      <td>50</td>
      <td>73</td>
      <td>54</td>
      <td>50</td>
      <!--<td>32</td>
      <td>30</td>
      <td>25</td>
      <td>37</td>
      <td>38</td>
      <td>19</td>
      <td>25</td>-->

    </tr>
    <tr>
      <td>Días de inventario
      </td>
      <td>853</td>
      <td>1,014</td>
      <td>960</td>
      <td>1,039</td>
      <!--<td>1,323</td>
      <td>1,096</td>
      <td>980</td>
      <td>643</td>
      <td>568</td>
      <td>510</td>
      <td>540</td>-->
    </tr>
    <tr>
      <td>Días de proveedores
      </td>
      <td>218</td>
      <td>269</td>
      <td>252</td>
      <td>133</td>
      <!--<td>98</td>
      <td>53</td>
      <td>42</td>
      <td>53</td>
      <td>30</td>
      <td>25</td>
      <td>24</td>-->
    </tr>
    <tr>
      <td>Anticipo de clientes
      </td>
      <td>34</td>
      <td>35</td>
      <td>33</td>
      <td>29</td>
      <!--<td>29</td>
      <td>7</td>
      <td>13</td>
      <td>15</td>
      <td>7</td>
      <td>25</td>
      <td>24</td>-->
    </tr>
    <tr>
      <td>Ciclo de Capital de Trabajo (CCT)
      </td>
      <td>650</td>
      <td>782</td>
      <td>729</td>
      <td>927</td>
      <!--<td>1,229</td>
      <td>1,066</td>
      <td>950</td>
      <td>612</td>
      <td>568</td>
      <td>25</td>
      <td>24</td>-->
    </tr>
    </tbody>
  </table>
</div>
