<div id="reportes-financieros">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th class="col-sm-2">1T</th>
      <th class="col-sm-2">2T</th>
      <th class="col-sm-2">3T</th>
      <th class="col-sm-2">4T</th>
      <th class="col-sm-2">Reporte Anual</th>
    </tr>
    </thead>
    <tbody>
      <tr class="Raws">
         <td><h3 align="center">2020</h3></td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2020-1T20.pdf">Informe</a>
              <br>  <a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T18-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2020-1T20-XBRL.pdf">Informe BMV-XBRL</a>
            </li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 1T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2020-1T20-CC.mp3">Teleconferencia</a>
            </li>
              <li></li>
            </ul>
          </div>
        </td>

        <td>
          <!---<div align="left">
            <ul class="list-unstyled">
            <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2019-2T19.pdf">Informe</a>
              <br>  <a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T18-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2019-2T19-XBRL.pdf">Informe BMV-XBRL</a></li>
               <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 2T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2019-2T19-CC.mp3">Teleconferencia</a></li>
            </ul>
          </div>-->
        </td>

        <td>
          <!---<div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2019-3T19.pdf">Informe</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T18-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2019-3T19-xbrl.pdf">Informe BMV-XBRL</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 2T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2019-3T19-CC.mp3">Teleconferencia</a></li>
            </ul>
          </div>-->
        </td>

        <td>
          <!---<div align="left">
            <ul class="list-unstyled">
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2019-4T19.pdf">Informe</a></li>
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T18-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2019-4T19-xbrl.pdf">Informe BMV-XBRL</a></li>
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 2T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2019-4T19-CC.mp3">Teleconferencia</a></li>
            </ul>
          </div>--->
        </td>
        <td>
        </td>
      </tr>

      <tr class="Raws">
         <td><h3 align="center">2019</h3></td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2019-1T19-F.pdf">Informe</a>
              <br>  <a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T18-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2019-1T19-XBRL.pdf">Informe BMV-XBRL</a>
            </li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 1T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2019-1T19-CC.mp3">Teleconferencia</a>
            </li>
              <li></li>
            </ul>
          </div>
        </td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
            <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2019-2T19.pdf">Informe</a>
              <br>  <a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T18-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2019-2T19-XBRL.pdf">Informe BMV-XBRL</a></li>
               <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 2T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2019-2T19-CC.mp3">Teleconferencia</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2019-3T19.pdf">Informe</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T18-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2019-3T19-xbrl.pdf">Informe BMV-XBRL</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 2T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2019-3T19-CC.mp3">Teleconferencia</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2019-4T19.pdf">Informe</a></li>
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T18-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2019-4T19-xbrl.pdf">Informe BMV-XBRL</a></li>
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 2T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2019-4T19-CC.mp3">Teleconferencia</a></li>
            </ul>
          </div>
        </td>
        <td>
        </td>
      </tr>

      <tr class="Raws">
         <td><h3 align="center">2018</h3></td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-1T18.pdf">Informe </a>
              <br>  <a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T18-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2018-1T18-xbrl-vf1.pdf">Informe BMV-XBRL</a>
            </li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 1T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2018-1T18-CC.mp3">Teleconferencia </a>
            </li>
              <li></li>
            </ul>
          </div>
        </td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-2T18.pdf">Informe</a>

              <br>  <a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T18-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2018-2T18-xbrl-vf1.pdf">Informe BMV-XBRL</a></li>
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 2T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2018-2T18-CC.mp3">Teleconferencia</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-3T18.pdf">Informe</a></li>
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T18-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2018-3T18-xbrl-vf1.pdf">Informe BMV-XBRL</a></li>
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 3T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2018-3T18-CC.mp3">Teleconferencia</a></li>
            </ul>
          </div>
        </td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2018-4T18-D.pdf">Informe</a></li>
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T18-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2018-4T18-xbrl-vf2d.pdf">Informe BMV-XBRL</a></li>
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 4T18');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2018-4T18-CC-.mp3">Teleconferencia</a></li>
            </ul>
          </div>
        </td>
        <td>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2018');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2018-Informe-Anual.pdf"><img src="/assets/cadu/images/content/ia-2018-rf.png" alt="Reporte Financiero Anual"></a></br>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2017');" target="_blank" href="http://iaicadu2018.herokuapp.com/"><i class="icon-link"></i> Versión Interactiva </a><br>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2017');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2018-Anual-BMV-vf.pdf"><i class="icon-link"></i> Reporte BMV</a>
        </td>
      </tr>
      <tr class="Raws">
         <td><h3 align="center">2017</h3></td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T17');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2017-1T17.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 1T17');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2017-1T17-CC.mp3">Teleconferencia </a> </li>
            </ul>
          </div>
        </td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T17');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2017-2T17.pdf">Informe </a></li>
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 2T17');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2017-2T17-CC.mp3">Teleconferencia </a> </li>
            </ul>
          </div>
        </td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T17');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2017-3T17-vf.pdf">Informe </a></li>
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 3T17');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2017-3T17-CC.mp3">Teleconferencia </a> </li>
            </ul>
          </div>
        </td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T17');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2017-4T17-vf.pdf">Informe </a>
                <br>  <a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T17-xbrl');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2017-4T17-xbrl-vf.pdf">Informe BMV-XBRL</a>
             </li>
             <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 4T17');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2017-4T17-CC.mp3">Teleconferencia </a> </li>
            </ul>
          </div>
        </td>
        <td>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Informe-Anual-vf.pdf"><img src="/assets/cadu/images/content/ia2017.png" alt="Reporte Financiero Anual"></a></br>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2017');" target="_blank" href="http://iaicadu2017.investorcloud.net/"><i class="icon-link"></i> Versión Interactiva </a><br>
              <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2017');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Anual-BMV-vf.pdf"><i class="icon-link"></i> Reporte BMV </a>
            </br>


        </td>
      </tr>

      <tr class="Raws">
         <td><h3 align="center">2016</h3></td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2016-1T16.pdf">Informe </a></li>
                <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 1T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2016-1T16-CC1.mp3">Teleconferencia </a></li>
            </ul>
          </div>
        </td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2016-2T16.pdf">Informe </a></li>
              <li></li>
              <!--<li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2016-2T16-bmv.pdf">Informe bmv</a></li>-->
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 2T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2016-2T16-CC.mp3">Teleconferencia </a></li>
              <!-- <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2016-2T16-constancia.pdf">Constancia 2T</a></li> -->
            </ul>
          </div>
        </td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2016-3T16.pdf">Informe </a></li>
              <!--<li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2012-3T16-bmv.pdf">Informe bmv</a></li>-->
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 3T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2016-3T16-CC.mp3">Teleconferencia </a></li>
              <!--<li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2015-3T16-constancia.pdf">Constancia 3T</a></li>-->
            </ul>
          </div>
        </td>

        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2016-4T16.pdf">Informe </a></li>
              <!--<li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2012-3T16-bmv.pdf">Informe bmv</a></li>-->
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Teleconferencia 4T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2016-4T16-CC.mp3">Teleconferencia </a></li>
              <!--<li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T16');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2015-3T16-constancia.pdf">Constancia 3T</a></li>-->
            </ul>
          </div>
        </td>
        <td>
        <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2016-Anual-G.pdf"><img src="/assets/cadu/images/content/pdf-anual-g.jpg" alt="Reporte Financiero Anual"></a></br>

        <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');" target="_blank" href="http://iaicadu2016.investorcloud.net"><i class="icon-link"></i> Versión Interactiva</a><br>
                <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2016-Anual.pdf"><i class="icon-link"></i> Reporte BMV </a>
        </td>
      </tr>
      <tr class="Raws">
        <td><h3 align="center">2015</h3></td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2015-1T15.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 1T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2015-1T15-constancia.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2015-2T15.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 2T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2015-2T15-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 2T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2015-2T15-constancia.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2015-3T15.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 3T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2015-3T15-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 3T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2015-3T15-constancia.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2015-4T15-vf.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 4T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2015-4T15-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 4T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2015-4T15-constancia.pdf">Constancia </a></li>
              <!--<li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Conferencia' ,'Reporte de resultados 4T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Presentaciones/2015-4T15-presentacion.pdf">Presentación</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'Reporte de resultados 4T15');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Teleconferencias/2015-4T15-CC.mp4" title="Video Conferencia 2015" target="_new">Video
                Conferencia</a></li>-->
            </ul>
          </div>
        </td>
        <td><a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2015');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2015-Anual.pdf"><img src="/assets/cadu/images/content/pdf-anual.png" alt="Reporte Financiero Anual"></a></br>
        <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2015');" target="_blank" href="http://iacadu2015.investorcloud.net"><i class="icon-link"></i> Versión Interactiva</a></td>

      </tr>
      <tr class="Raws">
        <td><h3 align="center">2014</h3></td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T14');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2014-1T14.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 1T14');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2014-1T14-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 1T14');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2014-1T14-constancia.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T14');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2014-2T14.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 2T14');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2014-2T14-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 2T14');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2014-2T14-constancia.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T14');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2014-3T14.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 3T14');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2014-3T14-bmv.pdf">Informe bmv</a></li>

            </ul>
          </div>
        </td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T14');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2014-4T14.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 4T14');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2014-4T14-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 4T14');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2014-4T14-constancia.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2014');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2014-Anual.pdf"><img src="/assets/cadu/images/content/pdf-anual.png" alt="Reporte Financiero Anual"></a>
        </td>
      </tr>

      <tr class="Raws">
        <td><h3 align="center">2013</h3></td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T13');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2013-1T13.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 1T13');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2013-1T13-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 1T13');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2013-1T13-constancia.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T13');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2013-2T13.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 2T13');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2013-2T13-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 2T13');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2013-2T13-constancia.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T13');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2013-3T13.pdf">Informe</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 3T13');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2013-3T13-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 3T13');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2013-3T13-constancia.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T13');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2013-4T13.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 4T13');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2013-4T13-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 4T13');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2013-4T13-constancia.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2013');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2013-Anual.pdf"><img src="/assets/cadu/images/content/pdf-anual.png" alt="Reporte Financiero Anual"></a>
        </td>
      </tr>
      <tr class="Raws">
        <td><h3 align="center">2012</h3></td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 1T12');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2012-1T12.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 1T12');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2012-1T12-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 1T12');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2012-1T12-constancia.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 2T12');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2012-2T12.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 2T12');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2012-2T12-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 2T12');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2012-2T12-constancia.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 3T12');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2012-3T12.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 3T12');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2012-3T12-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 3T12');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2012-3T12-constancia-f.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <div align="left">
            <ul class="list-unstyled">
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales' ,'Reporte de resultados 4T12');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Informes/2012-4T12.pdf">Informe </a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales BMV' ,'Reporte de resultados 4T12');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/InformesBMV/2012-4T12-bmv.pdf">Informe bmv</a></li>
              <li><a onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Constancia' ,'Reporte de resultados 4T12');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesTrimestrales/Constancias/2012-4T12-constancia-f.pdf">Constancia </a></li>
            </ul>
          </div>
        </td>
        <td>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2012');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2012-Anual.pdf"><img src="/assets/cadu/images/content/pdf-anual.png" alt="Reporte Financiero Anual"></a>
        </td>
      </tr>

</tbody>
  </table>
</div>
