<div>

<p>Estamos comprometidos con las comunidades ya que, una vez que terminamos de comercializar las viviendas de un desarrollo, nos convertimos en parte de dicha comunidad.</p>

<p>Contamos con programas de seguimiento y de atención cuya finalidad es mejorar la calidad de vida de nuestros vecinos manteniendo el tejido social y brindando apoyos
  médicos y sociales.</p>

  <h3>Promotores vecinales</h3>

  <p>Este programa promueve la integración de la comunidad a través de la figura de los promotores vecinales, quienes están certificados por el <b>INFONAVIT</b> para hacer
    actividades en beneficio de las comunidades.</p>

  <p>En 2019, en coordinación con algunas instancias gubernamentales y asociaciones civiles, realizamos distintas actividades de apoyo, como:</p>

  <img src="/assets/cadu/images/content/brigadas.jpg" width="70%" alt=""/>

  <h3>Hipoteca con servicios</h3>

  <p>Se trata de un programa que se trabaja en sinergia con empresas administradoras que son previamente autorizadas por el <b>INFONAVIT</b>. En este programa el
    acreditado, de manera voluntaria, acepta pagar vía nómina – junto con la mensualidad de su crédito –una cuota de conservación o cuota de mantenimiento
    la cual es utilizada para mejorar los servicios públicos y conservar las áreas comunes del desarrollo en el que residirá. La cuota no supera los Ps.200
    y los servicios que incluye son:</p>

    <ul class="c-content-list-1 c-theme c-separator-dot">
      <li>Mantenimiento de parques</li>
      <li>Mantenimiento de jardines</li>
      <li>Mantenimiento de áreas comunes</li>
      <li>Limpieza de calles y avenidas</li>
      <li>Pintura en áreas comunes (incluidas banquetas)</li>
      <li>Mantenimiento de alumbrado público</li>
      <li>Mantenimiento de canchas deportivas</li>
      <li>Trabajo de herrería en parques</li>
      <li>Rehabilitación de juegos infantiles y asadores</li>
      <li>Mantenimiento de camellones</li>
    </ul>

    <p>Al 31 de diciembre de 2019, son 52,000 viviendas a las que se aplica este programa. El beneficio para las comunidades es enorme, ya que, al establecer medidas
      de mantenimiento y cuidado de los desarrollos, se evita el deterioro que históricamente pueden tener los fraccionamientos de interés social.</p>

    <img src="/assets/cadu/images/content/desarrollo-cadu-12.jpg" width="70%" alt=""/>
</div>
