<div>

<p>Estamos comprometidos con las comunidades ya que, una vez que terminamos de comercializar las viviendas de un desarrollo, nos convertimos en parte de dicha comunidad.</p>

<p>Contamos con programas de seguimiento y de atención cuya finalidad es mejorar la calidad de vida de nuestros vecinos manteniendo el tejido social y brindando apoyos
  médicos y sociales.</p>


  <h3 class="c-theme-color">Ser Comunidad</h3>

  <p>El 2020 fue un año especialmente difícil debido a los estragos provocados por la pandemia
  y la contingencia sanitaria impuesta para su control. En este sentido, mantenemos firme nuestro
  compromiso por desarrollar comunidades integrales y fomentar el crecimiento pleno de las personas que
  habitan en ellas. </p>

  <h3 class="c-theme-color">Cercanía a los centros de trabajo</h3>
  <!--<h3 style="color:#0BCE24" ><span style="background: #2ECC71; border-radius:40px; padding:0px 10px;"> Cercanía a los centros de trabajo </span></h3>-->

  <p>Elegimos estratégicamente la tierra para la construcción de los proyectos con el objetivo de permitir
  a las nuevas comunidades el asentarse cerca de los centros de trabajo y comerciales. </p>

    <h3 class="c-theme-color"> Infraestructura alineada al Plan Nacional de Vivienda </h3>

    <p>Los esfuerzos de nuestra urbanización se enfocan en la construcción de infraestructura de calidad que
    atienda las necesidades básicas de nuestras comunidades.</p>

    <h3 class="c-theme-color">Evaluaciones de Impacto Social </h3>

    <p>Realizamos evaluaciones en todos nuestros desarrollos con el objetivo de analizar a fondo las consencuencias o impactos sociales surgidos del progreso
    de nuestros proyectos, ya sean positivos o negativos, previstos o imprevistos.</p>

    <h3 class="c-theme-color">Contribución a la educación</h3>

    <p>Destinamos espacios para que, dentro de nuestros desarrollos, haya escuelas. De igual manera, construimos vialidades inclusivas dentro
    de los fraccionamientos para brindar comodidad y acceso a estos centros.</p>

    <h3 class="c-theme-color">Espacios comunitarios</h3>

    <p>Fomentamos la integración social con la construcción de campos de futbol, canchas de básquetbol, parques y zonas infantiles.</p>

    <h3 class="c-theme-color">Entrega de despensas</h3>

    <p>Organizamos entrega de despensas para "La casa de Dos Pascual" la cual es una asociación que atiende a adultos mayores, los cuales son
      considerados población vulnerable ante la crisis por COVID-19.</p>

    <p>Asimismo, llevamos a cabo diversas <span class="c-theme-color">campañas:</span>

    <p>Campañas de concientización</p>

    <!--<p>Temas de las campañas:
    <br> Uso correcto y necesario del cubrebocas
    <br> Empoderamiento y el respeto hacia la mujer</p>-->

    <p>Campañas de apoyo tras el huracán Delta y la tormenta tropical Gamma </p>

    <!--<p>En los fraccionamientos de la zona de Cancún y de Playa del Carmen emprendimos una campaña para retirar árboles caídos por el paso del huracán Delta y la tormenta
    tropical Gamma durante el mes de octubre de 2020.</p>-->

    <p>Campaña de reforestación</p>

    <!--<p>Fomentamos la integración social con la construcción de campos de futbol, canchas de básquetbol, parques y zonas infantiles.</p>-->

    <p>Campañas de recolección de basura</p>

    <!--<p>Fomentamos la integración social con la construcción de campos de futbol, canchas de básquetbol, parques y zonas infantiles.</p>-->

<br>
  <h3 class="c-theme-color"> Hipoteca con Servicios</h3>

  <p>Se trata de un programa que se trabaja en sinergia con empresas administradoras que son previamente autorizadas por el <b>INFONAVIT</b>. En este programa el
    acreditado, de manera voluntaria, acepta pagar vía nómina – junto con la mensualidad de su crédito –una cuota de conservación o cuota de mantenimiento
    la cual es utilizada para mejorar los servicios públicos y conservar las áreas comunes del desarrollo en el que residirá. La cuota no supera los Ps.200
    y los servicios que incluye son:</p>

    <ul class="c-content-list-1 c-theme c-separator-dot">
      <li>Mantenimiento de parques</li>
      <li>Mantenimiento de jardines</li>
      <li>Mantenimiento de áreas comunes</li>
      <li>Limpieza de calles y avenidas</li>
      <li>Pintura en áreas comunes (incluidas banquetas)</li>
      <li>Mantenimiento de alumbrado público</li>
      <li>Mantenimiento de canchas deportivas</li>
      <li>Trabajo de herrería en parques</li>
      <li>Rehabilitación de juegos infantiles y asadores</li>
      <li>Mantenimiento de camellones</li>
    </ul>

    <p>Un total de 55,000 viviendas se ven beneficiadas de los servicios de mantenimiento que CADU hace a los parques
    calles, camellones, banquetas, avenidas, contenedores de basura y alumbrado público.</p>

    <img src="/assets/cadu/images/content/desarrollo-cadu-12-.png" class="col-md-10 col-md-offset-1 col-xs-12"  alt=""/>
</div>
