<div>
  <h3>Apoyo a la comunidad</h3>

<p>En CADU estamos comprometidos con el desarrollo de México y con la meta de erradicar la pobreza.
  Por ello, hemos continuado con la implementación de varios programas sociales y, además, desde 2018 hemos
  consolidado un compromiso formal para construir un plan de responsabilidad social corporativa que se alinee a
  nuestro modelo de negocio.</p>

  <h3>Brigadas médicas</h3>

  <p>En 2018 a través de nuestros Promotores Vecinales logramos hacer sinergia con diversas instancias
    gubernamentales y asociaciones civiles para realizar brigadas médicas y brindar servicios de la rama
    de salud en nuestros desarrollos. Todas estas actividades son promovidas desde CADU, no nada más por
    nuestro compromiso social, sino porque queremos que nuestros clientes y comunidades se sientan identificados
    con la empresa. Entre los servicios brindados en 2018 figuraron los siguientes:</p>

    <ul class="c-content-list-1 c-theme c-separator-dot">
      <li>Mastografías gratuitas.</li>
      <li>Exámenes médicos generales.</li>
      <li>Consultas pediátricas.</li>
      <li>Exámenes de la vista.</li>
      <li>Entrega de lentes graduados a precios simbólicos.</li>
      <li>Campañas de vacunación antirrábica para mascotas.</li>
      <li>Inscripción a programas de apoyo al adulto mayor y seguro popular.</li>
    </ul>
</div>
