<div>

<p>Estamos comprometidos con las comunidades ya que, una vez que terminamos de comercializar las viviendas de un desarrollo, nos convertimos en parte de dicha comunidad.</p>

<p>Contamos con programas de seguimiento y de atención cuya finalidad es mejorar la calidad de vida de nuestros vecinos manteniendo el tejido social y brindando apoyos
  médicos y sociales.</p>


  <h3 class="c-theme-color">Comunidades</h3>

  <p>El 2021 sirvió para consolidar nuestro Modelo de Atención a Comunidades que busca el bienestar de las familias que viven en nuestros
    proyectos. Como resultado de este Modelo hemos construido: un Procedimiento para la Identificación y Priorización de Grupos de Interés;
    una Política de Vinculación con Comunidades; un Procedimiento de Atención a Comunidades; un Procedimiento de Vinculación con Grupos de
    Interés; un Mecanismo de Atención a Quejas (MAQ) y un Sistema de Indicadores. </p>

  <h3 class="c-theme-color">Cercanía a los centros de trabajo</h3>
  <!--<h3 style="color:#0BCE24" ><span style="background: #2ECC71; border-radius:40px; padding:0px 10px;"> Cercanía a los centros de trabajo </span></h3>-->

  <p>Elegimos estratégicamente la tierra para la construcción de los proyectos con el objetivo de permitir
  a las nuevas comunidades el asentarse cerca de los centros de trabajo y comerciales. </p>

    <h3 class="c-theme-color"> Infraestructura alineada al Plan Nacional de Vivienda </h3>

    <p>Los esfuerzos de nuestra urbanización se enfocan en la construcción de infraestructura de calidad que
    atienda las necesidades básicas de nuestras comunidades.</p>

    <h3 class="c-theme-color">Evaluaciones de Impacto Social </h3>

    <p>Realizamos evaluaciones en todos nuestros desarrollos con el objetivo de analizar a fondo las consencuencias o impactos sociales surgidos del progreso
    de nuestros proyectos, ya sean positivos o negativos, previstos o imprevistos.</p>

    <h3 class="c-theme-color">Contribución a la educación</h3>

    <p>Destinamos espacios para que, dentro de nuestros desarrollos, haya escuelas. De igual manera, construimos vialidades inclusivas dentro
    de los fraccionamientos para brindar comodidad y acceso a estos centros.</p>

    <h3 class="c-theme-color">Espacios comunitarios</h3>

    <p>Fomentamos la integración social con la construcción de campos de futbol, canchas de básquetbol, parques y zonas infantiles.</p>

    <!--<h3 class="c-theme-color">Entrega de despensas</h3>

    <p>Organizamos entrega de despensas para "La casa de Dos Pascual" la cual es una asociación que atiende a adultos mayores, los cuales son
      considerados población vulnerable ante la crisis por COVID-19.</p>-->

    <p>Asimismo, llevamos a cabo diversas <span class="c-theme-color">campañas:</span>

    <p>Campañas de Cuidado del medio ambiente</p>

    <!--<p>Temas de las campañas:
    <br> Uso correcto y necesario del cubrebocas
    <br> Empoderamiento y el respeto hacia la mujer</p>-->

    <p>Campañas de Uso correcto y necesario del cubrebocas </p>

    <!--<p>En los fraccionamientos de la zona de Cancún y de Playa del Carmen emprendimos una campaña para retirar árboles caídos por el paso del huracán Delta y la tormenta
    tropical Gamma durante el mes de octubre de 2020.</p>-->

    <p>Campaña de Empoderamiento y el respeto hacia la mujer</p>

    <!--<p>Fomentamos la integración social con la construcción de campos de futbol, canchas de básquetbol, parques y zonas infantiles.</p>-->

    <p>Campañas de recolección de basura</p>

    <!--<p>Fomentamos la integración social con la construcción de campos de futbol, canchas de básquetbol, parques y zonas infantiles.</p>-->

<br>
  <h3 class="c-theme-color"> Hipoteca con Servicios</h3>

  <p>Desde el 2012 hemos implementado el Programa de Hipoteca con Servicios que busca conservar y dar mantenimiento a nuestros
    fraccionamientos para contribuir a la plusvalía de estos. Este Programa se mantiene con una cuota voluntaria de conservación o
    mantenimiento que no supera los $500 pesos mensuales e incluye los siguientes servicios:</p>

    <ul class="c-content-list-1 c-theme c-separator-dot">
      <li>Mejora de las áreas comunes</li>
      <li>Retiro de grava de gran tamaño para utilizarla como decoración de bases de árboles y plantas sembradas</li>
      <li>Retiro de maleza en zonas donde haya tierra</li>
      <li>Servicio de jardinería</li>
      <li>Recolección de basura en parques, banquetas y calles de los fraccionamientos</li>
      <li>Limpieza en áreas deportivas de los parques</li>
      <li>Barrido de banquetas y calles interiores y perimetrales</li>
      <li>Lavado y desinfección de contenedores de basura</li>
      <li>Limpieza del punto de acopio de basura a nivel fraccionamiento</li>
      <li>Mantenimiento y limpieza de parques, calles, camellones, banquetas, avenidas, contenedores de basura y alumbrado público.
        Esto incluye la jardinería y la rehabilitación de canchas deportivas, áreas comunes y juegos infantiles.</li>
    </ul>

    <p>En 2021, un total de 55,000 viviendas se vieron beneficiadas de los servicios de mantenimiento que CADU hizo a los parques, calles, camellones,
      banquetas, avenidas, contenedores de basura y alumbrado público.</p>

    <img src="/assets/cadu/images/content/desarrollo-cadu-12-.png" class="col-md-10 col-md-offset-1 col-xs-12"  alt=""/>
</div>
