<div>
  <h3>Grupos de interés</h3>

  <p>Para CADU es de suma importancia la comunicación eficiente y oportuna con sus accionistas, por lo que tiene los siguientes canales de diálogo:</p>
  <div class="col-md-6 col-xs-6">
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Atención en persona.</li>
    <li>Buzón de quejas.</li>
    <li>Encuestas de clima laboral.</li>
    <li>Correo electrónico.</li>
    <li>Capacitaciones.</li>
    <li>Servicio post-venta.</li>
    <li>Redes sociales.</li>
  </ul>
  </div>
  <div class="col-md-6 col-xs-6">
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Sitio web de la empresa.</li>
    <li>Contacto telefónico.</li>
    <li>Reuniones.</li>
    <li>Teleconferencias.</li>
    <li>Reportes.</li>
    <li>Road shows.</li>
    <li>Asambleas.</li>
  </ul>
  </div>
</div>
