<div>
  <p>We have formed a Sustainability Committee that is responsible for managing and render accounts for progress on this front.
    In addition, it is responsible for the creation, implementation, evaluation and monitoring of sustainability strategies aligned
    to the vision of the Board of Directors.</p>
    <br>
  <h3>Functions and responsibilities of the Sustainability Committee</h3>
  <p>1. Sustainability strategy (pursuant to corporate governance, social responsibility and environmental care)</p>
  <ul class="comite c-content-list-1 c-theme c-separator-dot">
    <li>Creation, implementation, evaluation and monitoring of sustainability strategies aligned to the ideals of the Board of Directors
    </li>
    <li>Where appropriate, support the Board of Directors in technical matters of the subject or sustainability strategy</li>
    <li>Elaborate progress reports on sustainability strategies and actions conducted and present them to both CEO and Board of Directors
    </li>
    <li>Ensuring better sustainability outcomes</li>
  </ul>
  <p>2. Financing strategies</p>
  <ul class="comite c-content-list-1 c-theme c-separator-dot">
    <li>Approve financing strategies related to sustainability issues</li>
    <li>Determine work plans to obtain financing through instruments that are convenient for the Company
    </li>
    <li>Evaluate and monitor the KPI's established to assess the sustainability level of the Company</li>
    <li>Report on the progress of the KPI's before the indicated programs</li>
    <li>Monitor the correct use of the requested proceeds</li>
    <li>Report the financial situation of the use of the proceeds obtained</li>
  </ul>
  <p>3. Evaluations</p>
  <ul class="comite c-content-list-1 c-theme c-separator-dot">
    <li>Generate sufficient information to meet the sustainability requirements of evaluators and investors
    </li>
    <li>Elaborate, annually, the Company's Sustainability Reports
    </li>
  </ul>
  <p>4. Awards and recognitions</p>
  <ul class="comite c-content-list-1 c-theme c-separator-dot">
    <li>In the opinion of the Committee, to seek awards and recognition by third-parties in terms of actions related to the Company’s sustainability endeavors
    </li>
    <li>To affiliate the Company with any non-profit organization or association that benefits CADU´s sustainability
    </li>
  </ul>
  <p>5. Risks</p>
  <ul class="comite c-content-list-1 c-theme c-separator-dot">
    <li>Review and update the Company's materiality analysis</li>
    <li>Elaborate the relevant study for strategy, implementation, and monitoring of Sustainable Development Goals (SDGs)
    </li>
    <li>Elaborate the necessary policies in the area of social responsibility and environmental. And to co-design with the
      Board of Directors those that have to do with CADU's corporate governance
    </li>
    <li>Elaborate, implement and measure the Company's strategy against climate change
    </li>
  </ul>
  <br>
  <h3>Committee’s Composition</h3>
  <p>The integration of the Committee represents the right mix of technical expertise, soft skills and sufficient background,
    which will allow the results of the decisions taken to have the desired impact. This Committee comprises key figures within 
    the organization, including the Finance Director, the Technical and Environmental Director, and the Sustainability Manager; 
    alongside two external experts in these fields: an independent sustainability advisor and an independent expert.</p>

    <!--<table class="table">
      <thead>
      <tr>
        <td>Name</td>
        <td>Position</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Javier Cervantes</td>
        <td>CADU’s Director and shareholder</td>
      </tr>
      <tr>
        <td>Victor Alvarez</td>
        <td>Executive Director of the technical area of development and environment</td>
      </tr>
      <tr>
        <td>Marta Vaca</td>
        <td>Independent member, expert in corporate sustainability</td>
      </tr>
      <tr>
        <td>Rodrigo Rebora</td>
        <td>Independent member, expert in corporate sustainability</td>
      </tr>
      </tbody>
    </table>-->

    <br>

    <h3>Nature of the Committee</h3>
    <p>The Sustainability Committee is responsible for managing and render accounts for progress on this front.
      In addition, it is responsible for the creation, implementation, evaluation and monitoring of sustainability
      strategies aligned to the vision of the Board of Directors.</p>
    <p>Based on the above, this committee is of an executive nature. In other words, the Board of Directors is ultimately
      responsible for the sustainability strategy. This Committee will be responsible for the activities and everything that
      allows the previously established vision to be fulfilled.</p>

    <br>

  <div class="text-center">
    <img src="/assets/cadu/images/content/diagrama-en.png" width="75%" alt=""/>
  </div>

  <br>

  <div class="text-center">
    <img src="/assets/cadu/images/content/comite-2.png" width="50%" alt=""/><br>
    <!--<a href="http://cdn.investorcloud.net/cadu/GobiernoCorporativo/Global/impacto-ods.pdf" target="_blank">
      Sustainability Strategy Report (Spanish only)</a>-->
  </div>
</div>
