<div>
  <p><b>CADU´s</b> vision is to develop of welfare; therefore, our sustainability model is based on this premise and aims at developing integral cities with sustainable housing.</p>
  <p>Nowadays we know that Mexico faces a housing deficit of almost 9 million homes, meaning that there are millions of people
    (and millions of families) lacking access to decent affordable housing and basic services such as electricity, water and/or sanitation.
    That is why we are determined to contribute to the resolution of this problem.</p>
  <div class="text-center">
    <img src="/assets/cadu/images/content/estrategia-3.jpg" width="80%" alt=""/>
  </div>

  <!---<div class="text-center">
    <img src="/assets/cadu/images/content/esg_3-en.png" width="100%" alt=""/>
  </div>-->
</div>
