<div>
  <p>Our sustainability strategy from year 2020 onwards is to be <b>developers of wellness</b>, as we are aware of the great
    responsibility we have as a Company to generate positive impacts in Mexico and the world.</p>
  <p>Nowadays we know that Mexico faces a housing deficit of almost 9.2 million homes, meaning that there are millions of people
    (and millions of families) lacking access to decent affordable housing and basic services such as electricity, water and/or sanitation.
    That is why we are determined to contribute to the resolution of this problem.</p>
  <div class="text-center">
    <img src="/assets/cadu/images/content/estrategia3.png" width="80%" alt=""/>
  </div>

  <div class="text-center">
    <img src="/assets/cadu/images/content/esg_3-en.png" width="100%" alt=""/>
  </div>
</div>
