<div>
  <p>In 2020, an update of the materiality study was conducted, with the purpose of identifying
    risks that we will face and opportunities that we will seek to fully tap on.</p>
    <div class="text-center">
    <img src="/assets/cadu/images/content/matriz2020-en.jpg" width="100%">
    </div>
  <!---<br>
   <p>As this is our first materiality study, no information has been re-expressed. There are also no changes
     in terms of material topics or in terms of the subjects covered.</p>
   <p>As disclosed in the Sustainability Report, we have included information for our stakeholders on material
     aspects of our business model such as: associates and their benefits, or our full compliance in regulatory
     matters and our commitment to take care of biodiversity.</p>
   <p>CADU believes that it is of utmost importance to communicate with our stakeholders in order to engage and
     align ourselves with the practices that matter to them - especially when these practices are material to the
     business. Based on the above, we have elaborated the following table to present the channels we have built and
     use to promote dialogue with each of our stakeholders.
  <div class="text-center">
   <img src="/assets/cadu/images/content/matriz21-en.png" width="90%">
  </div>-->
</div>
