<div id="auditor-externo">
<p>The financial statements of the year ended December 31, 2022 were reviewed and audited by RSM México Bogarín, S.C. (“RSM México”), the Company's external auditor. The financial statements of the years ended December 31, 2021, 2020 and 2019 were reviewed and audited by
  KPMG Cardenas Dosal S. C.
  The financial statements of the years ended December 31, 2018, 2017 and 2016 were reviewed and audited by
  Mancera, S.C., member of Ernst & Young Global.</p>
<p>As of today, CADU's external auditors have never issued any qualified or negative opinion, nor refrained
  from issuing an opinion on the Company's financial statements. </p>
</div>

<% #listado de documentos
   @documents= [
     {:titulo => "2022 Audit Report", :date => "2023-04-25", :link => @reportes_anuales_path + "2022-EF-Dictaminados.pdf"},
     {:titulo => "2021 Audit Report", :date => "2022-08-22", :link => @reportes_anuales_path + "2021-EF-Dictaminados.pdf"},
     {:titulo => "2020 Audit Report", :date => "2021-05-05", :link => @reportes_anuales_path + "2020-EF-Dictaminados.pdf"},
     {:titulo => "Auditor's independence and consent declaration", :date => "2021-04-26", :link => @gobierno_corporatico_path + "Global/2021-04-26-auditores.pdf"},
     {:titulo => "2019 Audit Report", :date => "2020-07-02", :link => @reportes_anuales_path + "2019-EF-Dictaminados.pdf"},
     {:titulo => "Auditor's independence and consent declaration ", :date => "2020-06-19", :link => @gobierno_corporatico_path + "Global/2020-06-19-auditores.pdf"},
     {:titulo => "2018 Audit Report", :date => "2019-05-09", :link => @reportes_anuales_path + "2018-EF-Dictaminados.pdf"},
     {:titulo => "Auditor's independence and consent declaration ", :date => "2019-05-09", :link => @gobierno_corporatico_path + "Global/2019-05-09-auditores-.pdf"},
     {:titulo => "2017 Audit Report", :date => "2018-04-09", :link => @reportes_anuales_path + "2017-EF-Dictaminados.pdf"},
     {:titulo => "Auditor's independence and consent declaration ", :date => "2018-04-09", :link => @gobierno_corporatico_path + "Global/2018-04-09-auditores.pdf"},
     {:titulo => "2016 Audit Report", :date => "2017-04-10", :link => @reportes_anuales_path + "2016-EF-Dictaminados.pdf"},
     {:titulo => "Auditor's independence and consent declaration", :date => "2017-04-10", :link => @gobierno_corporatico_path + "Global/2017-04-10-auditores-.pdf"},
     {:titulo => "2015 Audit Report", :date => "2016-04-28", :link => @reportes_anuales_path + "2015-EF-Dictaminados.pdf"},
     {:titulo => "Auditor's independence and consent declaration", :date => "2016-04-11", :link => @gobierno_corporatico_path + "Global/2016-04-11-auditores.pdf"},



   ]
%>

<div class="comunicdos">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Document</th>
      <th class="col-md-3">Date</th>
    </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
      <tr>
        <td><a target="_blank" href="<%= document[:link] %>"><%= document[:titulo] %></a></td>
        <td><%= document[:date] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
