<div id="comites">
  <!-- <p>En cumplimiento con las disposiciones de la Ley del Mercado de Valores y con el objetivo de brindar mayor certeza y
     transparencia en la realización de las funciones estratégicas de CADU, se crearon los siguientes comités
     especiales: </p>
   <ul class="c-content-list-1 c-theme c-separator-dot">
     <li> Comité de Auditoría y Prácticas Societarias.</li>
     <li> Comité de Evaluación y Compensación.</li>
     <li> Comité de Planeación y Finanzas.</li>
   </ul>
   <p>A continuación se describen las funciones de cada comité: </p> -->

   <p>Pursuant to CADU’s corporate bylaws, the Company has an <b>Audit and Corporate Practices Committee</b> comprised
     exclusively of Independent Directors.</p>

   <p>The Chair of the Committee is appointed by the General Shareholders’ Meeting, taking into account its background,
     renowned expertise and professional reputation.</p>

   <p>The functions of the Committee are:</p>
   <p>(i) analyze and make recommendations to the Board with regards to operations with related parties;
     <br>
     (ii) issue opinions on matters within its authority pursuant to the Securities Market Law;
     <br>
     (iii) support in the preparation of reports; assess the performance of relevant managers;
     <br>
     (iv) elaborate and propose the salary and compensation packages for Chief Executive Officer and other Key Executives of the Company;
     <br>
     (v)	evaluate the performance of the firm conducting external audit services (and analyze the opinion and reports they generate);
     <br>
     (vi) discuss the financial statements with the responsible of their elaboration (and propose, or not, the approval of the financial
     statements to the Board);
     <br>
     (vii) inform the Board about the status of the Company's internal control and internal audit system (as well as legal entities under
     its control);
     <br>
     (viii) investigate possible violations in the operation, internal control and internal audit; and,
     <br>
     (ix) to ensure that the Chief Executive Officer complies with the resolutions approved at the shareholders' meetings.</p>

   <br>

   <p>The Committee is comprised by:</p>

     <h3 class="c-left c-font-lowercase c-font-sbold">Audit and Corporate Practices Committee</h3>
     <table class="table">
       <thead>
       <tr>
         <td>Name</td>
         <td>Position</td>
       </tr>
       </thead>
       <tbody>
       <tr>
         <td>Luis Zazueta Dominguez</td>
         <td>Chair</td>
       </tr>
       <tr>
         <td>Manuel Francisco Arce Rincon</td>
         <td>Member</td>
       </tr>
       <tr>
         <td>Alberto Sanchez Palazuelos</td>
         <td>Member</td>
       </tr>
       <tr>
         <td>Jose Luis Romero Hicks	</td>
         <td>Member</td>
       </tr>
       </tbody>
     </table>
</div>
