<div id="comites">
 <!-- <p>En cumplimiento con las disposiciones de la Ley del Mercado de Valores y con el objetivo de brindar mayor certeza y
    transparencia en la realización de las funciones estratégicas de CADU, se crearon los siguientes comités
    especiales: </p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li> Comité de Auditoría y Prácticas Societarias.</li>
    <li> Comité de Evaluación y Compensación.</li>
    <li> Comité de Planeación y Finanzas.</li>
  </ul>
  <p>A continuación se describen las funciones de cada comité: </p> -->

  <h3 class="c-left c-font-lowercase c-font-sbold">Audit and Corporate Practices Committee.</h3>
  <table class="table">
    <thead>
    <tr>
      <td>Name</td>
      <td>Position</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Luis Zazueta Dominguez</td>
      <td>Chairman</td>
    </tr>
    <tr>
      <td>Manuel Francisco Arce Rincon</td>
      <td>Member</td>
    </tr>
    <tr>
      <td>Alberto Sanchez Palazuelos</td>
      <td>Member</td>
    </tr>
    <tr>
      <td> Jose Luis Romero Hicks	</td>
      <td>Member</td>
    </tr>
    </tbody>
  </table>
  <p>The function of the Audit and Corporate Practices Committee is to support the Board of Directors in the audit function, ensuring that both internal and external audits are conducted as far as objectively and independently possible; ensuring that all financial information provided to the Board of Directors, shareholders and public in general, is responsibly and transparently issued and disclosed; while being adequate, timely and reasonably reflects the Company's financial position, through the permanent validation of the internal control and reporting process of the financial information of CADU and its Subsidiaries, as well as analyzing and assessing operations with related parties and detect potential conflicts of interests.</p>
</div>
