<div id="consejo-administracion">
  <p>Since 2006, CADU, following the guidelines of the Code of Best Corporate Practices, set a Board of Directors which included the participation of at least 25% of Independent Members. </p>

  <p>The Board of Directors meets at least four times a year, it does not have Alternate Members and its primary function is to define the strategic vision of the Company, as well as to monitor the performance of CADU and its subsidiaries, to ensure that all shareholders have equal treatment and protect their best interests, thus encouraging the Company's social responsibility and proper management the Company's assets.</p>

  <p>The Board of Directors decides on each and every Subsidiary that consolidates in Corpovael's financial statements, and is currently comprised of the following members:</p>
  <table class="table">
    <thead>
    <tr>
      <td>Name</td>
      <td>Position</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="#pve">Pedro Vaca Elguero</a></td>
      <td>Related Patrimonial Director and Chairman</td>
    </tr>
    <tr>
      <td><a href="#pave">Pablo Vaca Elguero</a></td>
      <td>Related Patrimonial Director</td>
    </tr>
    <tr>
      <td><a href="#lve">Luis Vaca Elguero</a></td>
      <td>Related Patrimonial Director</td>
    </tr>
    <tr>
      <td><a href="#jve">Joaquin Vaca Elguero</td>
      <td>Related Patrimonial Director and Secretary of the Board</td>
    </tr>
    <tr>
      <td><a href="#jcm">Javier Cervantes Monteil</td>
      <td>Related Patrimonial Director</td>
    </tr>
    <tr>
      <td><a href="#mfa">Manuel Francisco Arce Rincon</a></td>
      <td>Independent Director</td>
    </tr>
    <tr>
      <td><a href="#lza">Luis Guillermo Zazueta Dominguez</a></td>
      <td>Independent Director</td>
    </tr>
    <tr>
      <td><a href="#ais">Alberto Ignacio Sanchez Palazuelos</a></td>
      <td>Independent Director</td>
    </tr>
    <tr>
      <td><a href="#jlrh">Jose Luis Romero Hicks</a></td>
      <td>Independent Director</td>
    </tr>

    </tbody>
  </table>
  <p>A brief professional profile of the members of CADU's Board of Directors is presented below:</p>

 <div class="c-content-title-3 c-title-sm c-theme-border" id="pve"> <h3 class="c-theme-font c-font-uppercase">Pedro Vaca Elguero</h3>

  <p>Born in 1960. Mr. Vaca is CADU's Chairman and CEO since he founded the Company in September 2001. Besides, he is currently Regional Director at BBVA Bancomer. Previously, he was a founding partner, Chairman and CEO of Teñidos San Juan, S.A. de C.V., as well as Chairman and shareholder of a number of denim clothing manufacturers (1987-2001). He has been a board member of different business organizations such as United States – Mexico Chamber of Commerce, acting as alternate Chairman of the Pacific Chapter and Chairman of the Aguascalientes Chapter; Camara Nacional de la Industria del Vestido (National Chamber of the Clothing Industry), as alternate Chairman; Grupo Financiero Actinver; Consejo Coordinador Empresarial (Mexican Business Coordinating Council), as Alternate Chairman; and Camara Nacional de la Industria de la Transformacion (National Chamber of Industry), where he served as Chairman of the Aguascalientes Delegation and National alternate Chairman in 1999 and 2000. He is currently alternate Chairman of Camara Nacional de la Industria de Desarrollo y Promocion de Vivienda (National Chamber of Housing Development and Marketing Industry). He graduated in Law from the Universidad Anahuac.
  </p>
</div>
  <div class="c-content-title-3 c-title-sm c-theme-border" id="pave"><h3 class="c-theme-font c-font-uppercase">Pablo Vaca Elguero</h3>

  <p>Born in 1960. Patrimonial Board Member of Corpovael. During the last 20 years, he has held several executive positions such as: CEO and founding partner of Lavados Industriales Rinva, S.A. de C.V. (1988-1995), COO and Partner of Teñidos San Juan, S.A. de C.V., a textile laundry company (1995-2001), Partner, Managing Director of Construction and Operation and of Sales at CADU. He is founder and CEO of the following companies: Urbanizadora Aspa, S.A de C.V., Suministros Concretora, S.A. de C.V., Constructora Punta Cancun, S.A. de C.V., Urbarima, S.A. de C.V. and Edirima, S.A de C.V.
  </p></div>
    <div class="c-content-title-3 c-title-sm c-theme-border" id ="lve"> <h3 class="c-theme-font c-font-uppercase">Luis Vaca Elguero </h3>

     <p>Born in 1949. Patrimonial Board Member of Corpovael. He was CEO of Casas Duraderas del Sur, S.A. de C.V., in Jalisco. From 2010 to 2012 he served as CEO of CADURMA in Playa del Carmen (Riviera Maya). Previously, he held the position of Construction Manager at CADU Guadalajara. He collaborated with Credito Inmobiliario S.A. de C.V. SOFOM (1996-2008) as Director of Portfolio Recovery and Management. Mr. Vaca acted as Director of the Tourist Department at Grupo Mar, S.A. de C.V. (1974-1994). He worked for the Camino Real hotel chain (specialization in Food and Beverage Administration) from 1969 to 1973, and holds a degree in Administration of Tourism Enterprises and has completed a number of senior management programs at the Instituto Panamericano de Alta Direccion de Empresa (1990-1991).
     </p></div>

  <div class="c-content-title-3 c-title-sm c-theme-border" id="jve"><h3 class="c-theme-font c-font-uppercase">Joaquin Vaca Elguero</h3>

  <p>Born in 1969. Patrimonial Board Member of Corpovael. He is currently serving as Managing Director of Casas Duraderas del Sur S.A. de C.V. in Jalisco and has been CADU's COO
    since its inception in 2001. Mr. Vaca also served as founder and CEO of Primera Clase Net and CEO of 1st-Air Inc. America Latina (2000-2001), General Manager of
    the Actinver branch office in Aguascalientes (1999-2000), Head of Equity Markets at Deutsche Bank Securities (1996-1999), Head of Equity Markets at ING-Baring
    (1995-1996), Deputy Head of Equity Markets at Bursamex Casa de Bolsa (1993-1995), Floor Trader at Inverlat Casa de Bolsa (1991-1993). He received a degree in
    Business Administration from the Universidad Iberoamericana (1990-1994).
  </p></div>

    <div class="c-content-title-3 c-title-sm c-theme-border" id="jcm">  <h3 class="c-theme-font c-font-uppercase">Javier Cervantes Monteil </h3>

      <p>Born in 1964. Patrimonial Board Member of Corpovael. Mr. Cervantes currently serves as CADU's Deputy Chief Executive Officer
        (FP&A and CFO) since August 2006. He also performed as CFO in Wurth Mexico, S.A. de C.V. (1990-1991), CFO
        of Articulos de Carton DIN, S.A. de C.V. (1991-1995), General Legal Director of the Economic
        Development Ministry of the State of Aguascalientes (1996-1998), Chairman and CEO of Cervantes y Asociados, S.C., from
        1999 to 2006, Deputy CEO of Desarrollos y Construcciones del Centro, S.A. de C.V. in 2006. Mr. Cervantes is a
        lawyer graduated from the Escuela Libre de Derecho (1982-1987) and holds a master's degree in Senior Business
        Management from the Instituto Panamericano de Alta Direccion de Empresa (1988-1990).
      </p>
    </div>

    <div class="c-content-title-3 c-title-sm c-theme-border" id="mfa"><h3 class="c-theme-font c-font-uppercase">Manuel Arce Rincon </h3>

    <p>Born in 1941. Independent Board Member of Corpovael since 2009. He is currently engaged as Managing Partner of Grupo Consultor ACM, S.C. Throughout his career, Mr. Arce is or has been a Board Member of over 100 companies, both private and publicly traded, including financial groups, banks, brokerages, insurance companies, Afores (Retirement Funds Administrators), investment funds, airports, real estate companies, security transport services companies, newspapers, publishing houses, distribution companies, oil companies, among others. He holds a degree in Business Administration from the Universidad Nacional Autonoma de Mexico (UNAM) and an MBA from Columbia University.
    </p>
  </div>
   <div class="c-content-title-3 c-title-sm c-theme-border" id="lza"> <h3 class="c-theme-font c-font-uppercase">Luis Zazueta Dominguez </h3>

    <p>Born in 1946. Independent Board Member of Corpovael since 2014. Founding Partner and CEO of Despacho Zazueta Hermanos, S.C., provider of professional public accounting services including tax consultancy, audit of financial statements and valuation of companies. Throughout his career, Mr. Zazueta has been a Board Member of several companies, including iron and steel companies, airports and insurance companies. He is a member of the Colegio de Contadores Publicos de Mexico (Mexican College of Public Accountants) and of the Academia Mexicana de Derecho Fiscal (Mexican Academy of Tax Law). Mr. Zazueta is CPA from the Universidad Iberoamericana.
    </p>
  </div>


  <div class="c-content-title-3 c-title-sm c-theme-border" id="ais">  <h3 class="c-theme-font c-font-uppercase">Alberto Sanchez Palazuelos </h3>

    <p>Born in 1939. Independent Board Member of Corpovael since 2015. He currently serves as Chairman of ASP y Asociados, S.C. Throughout his career, Mr. Sanchez is or has been Chairman at the Board of 13 companies, both private and publicly traded, including financial groups, banks, insurance companies, Afores (Retirement Funds Administrators), investment funds, real estate companies, hotel companies, among others. Mr. Sanchez holds a degree in  Chemical Engineering (graduated with honors) from the Universidad Iberoamericana and MBA from the Purdue University.
    </p>
  </div>

  <div class="c-content-title-3 c-title-sm c-theme-border" id="jlrh">  <h3 class="c-theme-font c-font-uppercase">Jose Luis Romero Hicks </h3>

    <p>Born in 1957. Independent Board Member of Corpovael since 2016. He is a lawyer graduated from Universidad de Guanajuato, holds a bachelor's degree in Political Science from the Lawrence University, Wisconsin and a Master's degree in Economics from the Southern Oregon University. Mr. Romero has been professor, researcher, Director of Planning, Advisor to the Dean and Member of the Board of Trustees at Universidad de Guanajuato.</p>
    <p>Previously, he has served as CEO of Banco de Comercio Exterior (National Exterior Commerce Bank, known as Bancomext for its Spanish acronym), Economic Counsellor at the Mexican Embassies in India and Japan, Managing Director of Housing Policy and Development at the Secretaria de Desarrollo Social (Ministry of Social Development, known as SEDESOL for its Spanish acronym), Member of the Board of Petroleos Mexicanos (PEMEX), Chairman of the Board of Directors at Ocean Garden and Seguros Bancomext.</p>
  </div>


</div>
