<div id="consejo-administracion">
  <p>CADU’s Board of Directors is comprised of 10 members which meet at least four times a year.</p>

  <p>50% of Directors are independent, thus exceeding both the 25% established by the Securities Market
    Law and 25% recommended in the Code of Best Corporate Practices. </p>

  <p>Given that all Directors attend to each and every meeting held, the Board does not have any Alternate Members.</p>

  <p>The primarily functions of the Board of Directors are:</p>
  <p>(i)	define the strategic vision of the Company;
    <br>
    (ii) monitor the performance of CADU and its subsidiaries;
    <br>
    (iii)	ensure that all shareholders have equal treatment and protect their best interests;
    <br>
    (iv)	to encourage the Company’s social responsibility; and,
    <br>
    (v)	safeguard the Company’s equity (including each and everyone of the subsidiaries
    consolidated in the CADU’s financial statements).</p>

  <p>The Board of Directors is currently composed by:</p>
  <div class="container" style="overflow: scroll;">
    <div class="col-md-9 col-xs-12">
  <table class="table">
    <thead>
    <tr>
      <td>NAME</td>
      <td>POSITION</td>
      <td>PROFILE</td>
      <td>PERSONAL QUALIFICATIONS AND AFFILIATIONS</td>
      <td>MEMBER SINCE</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Pedro Vaca Elguero</td>
      <td>Chairman</td>
      <td>Related Patrimonial Member</td>
      <td>CADU's Chairman and CEO since 2001. Besides,
        he currently serves as Regional Director of BBVA Bancomer and Director of CANADEVI. He graduated in Law
        and has performed at business organization such as Consejo Coordinador
        Empresarial (Mexican Business Coordinating Council), and CANACINTRA.</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Pablo Vaca Elguero</td>
      <td>Member</td>
      <td>Related Patrimonial Member</td>
      <td>General Manager of Construction Companies at Grupo CADU. Throughout his professional career, 
      he has served at a number of senior management positions at different companies.</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Joaquin Vaca Elguero</td>
      <td>Secretary</td>
      <td>Related Patrimonial Member</td>
      <td>General Manager of CADU at the state of Jalisco. He held several senior management
        positions at different companies between 1995 and 2001, outstanding Equity Markets 
        Director at Deustche Bank Securities.</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Luis Vaca Elguero</td>
      <td>Member</td>
      <td>Patrimonial Member</td>
      <td>He served as General Manager of CADURMA in Playa del Carmen and Rivera Maya, as well as Construction Manager
        of CADU Guadalajara. He has held many senior management positions in several companies during past 50 years.</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Manuel Arce Rincon</td>
      <td>Member</td>
      <td>Independent Member</td>
      <td>He is currently engaged as Managing Partner of Grupo Consultor ACM, S.C. Throughout his career,
        Mr. Arce is or has been a Board Member of over 100 companies, both private and publicly traded. He
        holds a degree in Business Administration from the Universidad Nacional Autonoma de Mexico (UNAM) 
        and an MBA from Columbia University.</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Luis Guillermo Zazueta Dominguez</td>
      <td>Member</td>
      <td>Independent Member</td>
      <td>Founding Partner and CEO of Zazueta Hermanos, S.C. Throughout his career, he has been a Board Member of several
        companies, including iron and steel companies, airports and insurance companies. He is a member of the Colegio de
        Contadores Publicos de Mexico (Mexican College of Public Accountants). Mr. Zazueta is Public Accountant from the 
        Universidad Iberoamericana.</td>
      <td>2014</td>
    </tr>
    <tr>
      <td>Alberto Sanchez Palazuelos</td>
      <td>Member</td>
      <td>Independent Member</td>
      <td>He currently serves as Chairman of ASP y Asociados, S.C. Throughout his career, Mr. Sanchez is or
        has been Chairman at the Board of several companies, including financial groups, banks, insurance companies, Afores
        (Retirement Funds Administrators), investment funds, real estate companies, hotel companies, among others.
        He holds a degree in Chemical Engineering. And an MBA from Purdue University.</td>
      <td>2015</td>
    </tr>
    <tr>
      <td>Jose	Luis Romero Hicks</td>
      <td>Member</td>
      <td>Independent Member</td>
      <td>He has served as CEO of Banco de Comercio Exterior (National Exterior Commerce Bank, known as Bancomext for its Spanish acronym)
        and as Economic Counsellor at the Mexican Embassies in India and Japan. Mr. Romero has also performed as Member
        of the Board of Petroleos Mexicanos (PEMEX) and Managing Director of Housing Policy and Development at the Secretaria
        de Desarrollo Social (Ministry of Social Development, known as SEDESOL for its Spanish acronym). He is a lawyer graduated
        from Universidad de Guanajuato, holds a bachelor's degree in Political Science from the Lawrence University, Wisconsin and a
        Master's degree in Economics from the Southern Oregon University.</td>
      <td>2016</td>
    </tr>
    <tr>
      <td>Marta Vaca Viana</td>
      <td>Member</td>
      <td>Independent Member</td>
      <td>Mrs. Marta has been Manager of Delphi Consulting & Advisory Firm for 8 years. She has worked with 
      over 100 companies from Latin America, Europe, and USA, advising them on Environmental, Social, and 
      Governance (ESG) projects.</td>
      <td>2021</td>
    </tr>
    <tr>
      <td>Mauricio Torres Pimienta</td>
      <td>Member</td>
      <td>Related Member</td>
      <td>Mr. Torres Pimienta has collaborated with CADU's finance team since 2019 and has extensive experience
      in the banking and real estate sectors.</td>
      <td>2023</td>
    </tr>
    <!--<tr>
      <td>Javier Cervantes Monteil</td>
      <td>Director</td>
      <td>Patrimonial Member</td>
      <td>He served as CEO and Director of a lawyer’s firm; and held several positions at a number of companies, as well as a state Department. Mr. Cervantes is a lawyer
        graduated from the Escuela Libre de Derecho and holds an MBA from the Instituto
        Panamericano de Alta Direccion de Empresa.</td>
      <td>2009</td>
    </tr>-->
    
    
    <!--<tr>
      <td>Israel Godina</td>
      <td>Non-member secretary of the Board of Directors</td>
      <td>N/A</td>
      <td></td>
      <td>N/A</td>
    </tr>-->

    </tbody>
  </table>
    </div>
  </div>

</div>
