<div id="estructura-corporativa">
  <p>The corporate structure of CADU is comprised of 28 Subsidiaries, holding a direct majority
    ownership interest in the capital stock of the following companies:</p>
  <br/>
  <div style="text-align: center;">
    <img style="width: 100%" src="/assets/cadu/images/content/corpovael-en.png?v=1" alt=""/>
  </div>
  <br/>
  <!--<p>CADU'S corporate structure is organized through independent income and cost centers. Thus, a commercial society
    (housing developer) is set at each location, which is responsible for the acquisition of land plots,
    subscription of credit lines, contracting urbanization and building services, managing the resources,
    commercializing of homes and collection of the receivable accounts derived from the latter. Additionally, the
    vertical integration strategy of CADU includes the establishment of construction companies at each location,
    dedicated exclusively to the urbanization of housing developments and other focused solely on building activities.</p>
  <table class="table">
    <thead>
    <tr>
      <th colspan="2" style="text-align: center">Corpovael, S.A.B. de C.V. Subsidiaries
        as of December 31, 2018
      </th>
    </tr>
    <tr>
      <th class="col-md-9">Entity</th>
      <th class="col-md-3">Stake</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="2"><b>Housing Developers</b></td>
    </tr>
    <tr>
      <td>CADU INMOBILIARIA, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>CADURMA, S.A. DE C.V.</td>
      <td>98.00%</td>
    </tr>
    <tr>
      <td>CASAS DURADERAS DEL CENTRO, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <tr>
        <td>CASAS DURADERAS DEL SUR, S.A. DE C.V.</td>
        <td>99.99%</td>
      </tr>
      <tr>
        <td>CADUEM, S.A. DE C.V.</td>
        <td>95.00%</td>
      </tr>
      <td>INMOBILIARIA TUSAL, S.A. DE C.V.</td>
      <td>99.96%</td>
    </tr>
    <tr>
      <td>CADU RESIDENCIAS, S.A. DE C.V.</td>
      <td>85.00%</td>
    </tr>
    <tr>
      <td>INMOCCIDENTE, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>VIVIENDAS RESTAURADAS, S.A. DE C.V.</td>
      <td>95.00%</td>
    </tr>
    <tr>
      <td>PROGRESANDO Y CRECIENDO, S.A. DE C.V.</td>
      <td>51.00%</td>
    </tr>





    <tr>
      <td colspan="2"><b>Construction Companies</b></td>
    </tr>
    <tr>
      <td>CONSTRUCCIONES PUNTA CANCÚN, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>SUMINISTROS CONCRETORA, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>URBARIMA, S.A. DE C.V.</td>
      <td>98.00%</td>
    </tr>
    <tr>
      <td>EDIFICACIONES RIVIERA MAYA, S.A. DE C.V.</td>
      <td>98.00%</td>
    </tr>
    <tr>
      <td>CONSTRUCCIONES DE MONTEJO, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>URBAMER, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>VILLA EDIFICADORA, S.A. DE C.V.</td>
      <td>95.00%</td>
    </tr>
      <tr>
        <td>VILLA URBANIZADORA, S.A. DE C.V.</td>
        <td>95.00%</td>
      </tr>
      <tr>
        <td>URVAEL, S.A. DE C.V.</td>
        <td>99.99%</td>
      </tr>
      <tr>
        <td>EDIFICASAS DEL BAJÍO, S.A. DE C.V.</td>
        <td>99.99%</td>
      </tr>
     <tr>
      <td>INMOBILIARIA ADMINISTRADORA DE CAPITAL</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>ECOVIVIENDAS TAPATÍAS</td>
      <td>99.99%</td>
    </tr>

    <tr>
      <td>SUBASTAS Y LICITACIONES DEL ALTIPLANO</td>
      <td>99.99%</td>
    </tr>


    </tbody>
  </table>-->
</div>
