<div id="estructura-accionaria">

  <p>The capital stock of CADU is comprised of 319,172,265 common and nominative shares, without par value,
    corresponding to the fixed portion of the capital stock. All CADU's shares are registered in a <b>single series</b> at the Registro Nacional de Valores (National Securities Registry).</p>

  <p>CADU's shares entitles their holders to the same patrimonial and voting rights.</p>

  <p>Each share grants its holder full voting rights and, in particular, the right to cast a vote in any of
    the Company's General Shareholders' Meetings, whether Ordinary or Extraordinary.</p>

  <table class="table">
    <thead>
    <tr>
      <th colspan="3" style="text-align: center">Corpovael, S.A.B. de C.V. “CADU” Shareholder Structure
      </th>
    </tr>

    <tr>
      <th>Shareholder</th>
      <th>Shares</th>
      <th>%</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Control Group</td>
      <td>229,737,446</td>
      <td>71.98%</td>
    </tr>

    <tr>
      <td>Float</td>
      <td>89,434,819 </td>
      <td>28.02%</td>
    </tr>
    <tr>
      <td><b>Total</b></td>
      <td><b>319,172,265</b></td>
      <td><b>100.00%</b></td>
    </tr>
    </tbody>
  </table>
  <div style="text-align: center">
    <!--<img src="/assets/cadu/images/content/accionaria.png" alt=""/>-->
    <div id="acc" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>

  </div>
  <!---<p>The capital stock of CADU is comprised of 342,022,974 common and nominative shares, without par value, corresponding to the fixed portion of the capital stock. All CADU's shares are registered in a single series at the Registro Nacional de Valores (National Securities Registry).</p>

  <p>CADU's shares entitles their holders to the same patrimonial and voting rights. Each share grants its holder full voting rights and, in particular, the right to cast a vote in any of the Company's General Shareholders' Meetings, whether Ordinary or Extraordinary. </p>-->
</div>

<!-- Amchart Scripts -->
<script type="application/javascript" src="/assets/plugins/amcharts/amcharts.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/serial.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/pie.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/themes/light.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/charts-accionaria.js?i=2"></script>
