<div class="text-center">
  <img src="/assets/cadu/images/content/FD1.jpg" width="100%" alt=""/>

</div>
<div class="text-center">
  <img src="/assets/cadu/images/content/FD2.jpg" width="100%" alt=""/>

</div>