<div class="text-center">
  <img src="/assets/cadu/images/content/FD1-en.jpg" width="100%" alt=""/>

</div>
<div class="text-center">
  <img src="/assets/cadu/images/content/FD2-en.jpg" width="100%" alt=""/>

</div>
