<div class="text-center">
  <img src="/assets/cadu/images/content/FD2020en2.png" width="100%" alt=""/>

</div>
<div class="text-center">
  <img src="/assets/cadu/images/content/FD2_2020en-.png" width="100%" alt=""/>

</div>
