<div id="reportes-financieros">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Annual Sustainability Report</th>
    </tr>
    </thead>
    <tbody>
    <tr class="Raws">
    <td style="vertical-align: middle !important;"><h3>2023</h3></td>
    <td></td>
   <td>
     <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2023-Sustentabilidad.pdf"><img src="/assets/cadu/images/content/reporte_sustentabilidad_2022.png" width="40%" alt="Reporte Financiero Anual"></a></br>
   </td>
 </tr>

    <tr class="Raws">
         <td style="vertical-align: middle !important;"><h3>2022</h3></td>
         <td></td>
        <td>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2022-Sustentabilidad-.pdf"><img src="/assets/cadu/images/content/reporte_sustentabilidad_2022.png" width="40%" alt="Reporte Financiero Anual"></a></br>
        </td>
      </tr>

      <tr class="Raws">
         <td style="vertical-align: middle !important;"><h3>2021</h3></td>
         <td></td>
        <td>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2021-Sustentabilidad.pdf"><img src="/assets/cadu/images/content/reporte_sustentabilidad_2021.png" width="40%" alt="Reporte Financiero Anual"></a></br>
        </td>
      </tr>

      <tr class="Raws">
         <td style="vertical-align: middle !important;"><h3>2020</h3></td>
         <td></td>
        <td>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2020-Sustentabilidad-en.pdf"><img src="/assets/cadu/images/content/reporte_sustentabilidad2020.png" width="40%" alt="Reporte Financiero Anual"></a></br>
        </td>
      </tr>

      <tr class="Raws">
         <td style="vertical-align: middle !important;"><h3>2019</h3></td>
         <td></td>
        <td>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2019-Sustentabilidad-en.pdf"><img src="/assets/cadu/images/content/reporte_sustentabilidad19-en.jpg" width="40%" alt="Reporte Financiero Anual"></a></br>
        </td>
      </tr>

      <tr class="Raws">
         <td style="vertical-align: middle !important;"><h3>2018</h3></td>
         <td></td>
        <td>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2018-Sustentabilidad.pdf"><img src="/assets/cadu/images/content/reporte_sustentabilidad.png" width="40%" alt="Reporte Financiero Anual"></a></br>
        </td>
      </tr>


      <tr class="Raws">
         <td style="vertical-align: middle !important;"><h3>2017</h3></td>
         <td></td>
        <td>
          <a onclick="ga('send', 'event','Inversionistas', 'Reportes Anuales' ,'Reporte anual 2016');" target="_blank" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Sustentabilidad.pdf"><img src="/assets/cadu/images/content/sustentable2017.png" width="40%" alt="Reporte Financiero Anual"></a></br>
        </td>
      </tr>



</tbody>
  </table>
</div>
