<div id="">
<p>CADU seeks to consolidate itself as one of the industry leaders in the adoption of environmental protection
  practices, therefore, none of its land banks are located within protected areas or zones with high biodiversity
  value. In each of its housing developments, and with the purpose of preserving the environment, CADU currently
  executes various measures to mitigate the environmental impact of its business activities, such as the construction
  of tree nurseries, implementation of reforestation campaigns, among others.</p>

<p>CADU is subject to several environmental regulations, whose provisions are fully complied with The Ley General del Equilibrio Ecológico y
  la Protección al Ambiente (General Law of Ecological Balance and Environmental Protection, known as LGEEPA for its Spanish acronym) is Mexico´s
  primary legal framework in force regarding environmental protection at the federal level. In the cases of areas where real estate developments
  could affect coastal ecosystems, the regulations of the Secretaria del Medio Ambiente y Recursos Naturales (Secretariat of Environment and Natural
  Resources, known as SEMARNAT by its Spanish acronym) are enforced. To date, no ecological fine or penalty from relevant authorities or any
  stakeholder have been imposed on CADU for failing to comply with environmental regulations.</p>

<h4>Environmental Performance</h4>

<p>CADU is mindful of the importance of the appropriate use of the existing natural resources, such as water and electricity, since the efficient
  utilization of these resources helps to reduce the direct and indirect environmental impacts in the communities where it operates, and also at global scale.</p>

<p>For this reason, water care and saving are primordial elements in CADU’s operations. The Company has never dumped its wastes in aquifers such as rivers,
  lagoons and seas, and, as of today, no spillage that could have affected water bodies has occurred at any of its housing developments.</p>

<p>CADU incorporates the following programs and features in its developments:</p>
<ul class="c-content-list-1 c-theme c-separator-dot">
<li>Approval of HIPOTECA VERDE (Green Mortgage), a Federal Government program that prioritizes water and energy savings, as well as thermic insulation.</li>
<li>Use of energetical saving and CO2 emission reduction ecotechnologies.</li>
<li>DEEVi<sup>1</sup> and HEEVi<sup>2</sup> certifications in ECOCASA<sup>3</sup>programs.</li>
<li>Significant reduction of water and energy consumption by installing water-saving toilets, water-saving faucets for kitchen and bathroom,
  energy-saving lamps, thermal insulation and ecological showers.</li>
<li>VIVEROS (tree nurseries) program, which help the reproduction of species for their reintegration into the environment of the communities where the Company operates.</li>
</ul>

  <div class="text-center">
  <img src="/assets/cadu/images/content/emisiones.png" width="80%" alt=""/>
  </div>

  <div class="text-center">
  <img src="/assets/cadu/images/content/ambiente2.png" width="80%" alt=""/>
  </div>


<small style="font-size:12px"><sup>1</sup>Diseño Energeticamente Eficiente de la Vivienda (Mexican Energy Efficiency Package), a tool for energy-efficient design that allows to evaluate
  the thermal performance of a home based on its architectonical design, as well as its CO2-saving rate.
<br>
<sup>2</sup>Herramienta de Evaluacion del Entorno de la Vivienda (Housing Environment Assesment Tool) linking the location of the home with public and private transport use, it also shows
an annual estimate of greenhouse gas (GHG) emissions.
<br>
<sup>3</sup>Program that implements environment-friendly initiatives and ecotechnologies, guaranteeing the long-term reduction of emissions and a more efficient utilization of the existing
natural resource.</small>
</div>
