<div id="">
  <p>CADU busca consolidarse como uno de los líderes en la industria en cuanto a prácticas de cuidado al medio ambiente,
    por ende ninguna de sus reservas territoriales se encuentra en áreas protegidas o con alto impacto de biodiversidad
    de fauna y de flora. La Compañía no solamente cumple cabalmente con lo que le exige la legislación vigente, sino que
    tiene programas que la distinguen como pionera en la materia.</p>

  <p>CADU está sujeta a diversos ordenamientos de carácter ambiental con los que cumple cabalmente, la Ley General del
    Equilibrio Ecológico y la Protección al Ambiente (LGEEPA) es el principal ordenamiento jurídico vigente en México en
    materia de protección al ambiente a nivel federal. En el caso de las zonas donde los desarrollos inmobiliarios
    pudieran afectar ecosistemas costeros, están regulados por la SEMARNAT. CADU nunca ha recibido una multa ecológica
    por parte de la autoridad ni de algún <i>stakeholder</i>.</p>

  <h4>Desempeño Ambiental</h4>

  <p>CADU está consciente de la importancia del buen uso de los recursos naturales, como lo son el agua, la electricidad
    o la tierra, ya que la utilización eficiente de dichos recursos ayuda a reducir los impactos ambientales en las
    comunidades en las que trabaja y también a nivel global.</p>

  <p>Por ello, el cuidado y el ahorro del agua es un elemento primordial en sus prácticas. La Compañía nunca ha vertido
    sus residuos en cuerpos acuíferos como los ríos, lagunas y mares; tampoco ha tenido derrames de estos que hayan
    afectado cuerpos de agua.
  </p>

  <p>CADU cuenta con los siguientes programas y características en sus desarrollos:</p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Aprobación de HIPOTECA VERDE, programa del Gobierno Federal que prioriza el ahorro de agua, energía y el
      aislamiento térmico.
    </li>
    <li>Uso de ecotecnologías de ahorro energético y de reducción de emisiones de CO2.</li>
    <li>Certificaciones DEEVi<sup>1</sup> y HEEVi<sup>2</sup> en los programas de ECOCASA<sup>3</sup>.</li>
    <li>Generación de un impacto positivo en el ahorro del agua y electricidad al instalar inodoros ahorradores, llaves
      ahorradoras para
      cocinas y baños, lámparas ahorradoras de energía, aislamientos térmicos y regaderas de grado ecológico.
    </li>
    <li>Programas llamados VIVEROS, que ayudan a la reproducción de especies para la reintegración en los territorios de
      la Compañía, y de reforestación que se implementan año con año.
    </li>
  </ul>

  <br>
  <div class="text-center">
    <img src="/assets/cadu/images/content/emisiones2020.png" width="80%" alt=""/>
  </div>
  <br><br><br>
  <div class="text-center">
    <img src="/assets/cadu/images/content/ecocasa2020.png" width="80%" alt=""/>
  </div>
  <br><br>


  <small style="font-size:12px"><sup>1</sup>Herramienta para el Diseño Energéticamente Eficiente que permite evaluar el
    comportamiento térmico de la vivienda de acuerdo a su diseño arquitectónico, así como el porcentaje de ahorro de
    CO2.
    <br>
    <sup>2</sup>Herramienta de Evaluación del Entorno de la Vivienda que relaciona la ubicación de la vivienda con el
    uso del transporte público y privado, así como con la cercanía a centros educativos, de empleo y salud. También
    muestra una estimación anual de las emisiones de gases de efecto invernadero (GEI).
    <br>
    <sup>3</sup>Programa que implementa medidas y tecnologías que garanticen la reducción de emisiones y hagan más
    eficiente el uso de recursos.
  </small>
</div>
