<div>
  <p>
    At <strong>CADU</strong> we are committed to sustainable development through the construction of quality housing that promotes environmental
    care and the formation of integral communities.
  </p>
  <p>Thanks to this, at CADU we contribute to the Sustainable Development Goals (SDGs) below:</p>
  <img src="/assets/cadu/images/content/objetivos_2022_eng.png" width="90%"  alt=""/>
  <br/>
  <br>

  <a href="http://cdn.investorcloud.net/cadu/GobiernoCorporativo/Global/impacto-ods.pdf" target="_blank">CADU’S Contribution to SDGs Report (available in spanish)
  </a>
</div>
