<div>
  <p>
    At <strong>CADU</strong> we are committed to sustainable development through the construction of quality housing that promotes environmental
    care and the formation of integral communities.
  </p>
  <p>In 2021, we conducted a review of our contribution to the Sustainable Development Goals (SDGs) in order to continue our
    actions in favor of Mexico's development.</p>
  <p>We confirm that our operations contribute directly to SDGs 11, 7, 13, 8, 6 and 15 and indirectly to SDGs 3, 4, 1, 10 and 9.</p>
  <img src="/assets/cadu/images/content/objetivos_2021_eng.png" width="90%"  alt=""/>
  <br/>
  <br>

  <a href="http://cdn.investorcloud.net/cadu/GobiernoCorporativo/Global/impacto-ods.pdf" target="_blank">CADU’S Contribution to SDGs Report (available in spanish)
  </a>
</div>
