<div>
  <p>
    At <b>CADU</b> our commitment is to continue to be a promoter of development. As a result, in 2019 we conducted a study to understand how we contribute to the UN Sustainable Development Goals (SDGs).

  </p>
  <p>The study found that our business strategy is closely aligned with SDG 11; but, that we also contribute directly to SDGs 6, 7, 8, 13 and 15; and, indirectly, to SDGs 4, 1, 10 and 9.</p>
  <img src="/assets/cadu/images/content/infografia3-2-en-.png" width="90%"  alt=""/>
  <br/>
  <br>

  <a href="http://cdn.investorcloud.net/cadu/GobiernoCorporativo/Global/impacto-ods.pdf" target="_blank">CADU’S Contribution to SDGs Report (available in spanish)
  </a>
</div>
