<div>
  <p>
    At CADU we are aware that it is not enough to have your own sustainability agenda.
    If we want to support both national and global agenda of sustainable development, it is essential to know how we can contribute through our activities.

  </p>
  <p>Based on the foregoing, we have conducted an impact analysis of our activities before the SDG and have concluded that our impact is summarized in the following graph:</p>
  <img src="/assets/cadu/images/content/infografia3.png" width="100%"  alt=""/>
  <br/>
  <br>

  <a href="http://cdn.investorcloud.net/cadu/GobiernoCorporativo/Global/impacto-ods.pdf" target="_blank">CADU’s Impact on SDGs Report (Spanish only)
  </a>
</div>
