<div id="practicas">
  <p>CADU adopted the Code of Best Corporate Practices, formed a Board of Directors and an Audit and Corporate Practices Committee. The Board of Directors is currently comprised of nine members, of which four are independent, providing confidence and safety to its investors, as well as an adequate diversification in the Company’s decision-making processes.</p>

  <p>As a result of the comprehensive amendment of the CADU’s bylaws for its transformation into a publicly traded company (Sociedad Anonima Bursatil de Capital Variable), the Company has modified its bylaws to incorporate the latest regulatory reforms, in this regard, it is worth noting that the corporate structure remains practically unchanged in line with the institutionalization efforts set in motion since 2006.</p>
  <br>
  <div class="item col-md-4">
    <div class="c-content-blog-post-card-1 c-option-2">
      <div class="c-media c-content-overlay">
        <div class="c-overlay-wrapper">
          <div class="c-overlay-content">
            <a target="_blank" onclick="ga('send', 'event','Inversionistas', 'Reportes trimestrales Teleconferencia' ,'cmpc');" href="http://cdn.investorcloud.net/cadu/GobiernoCorporativo/Global/CMPC.pdf">
              <i class="fa fa-download"></i>
            </a>

          </div>
        </div>
        <img class="c-overlay-object img-responsive" src="/assets/cadu/images/content/cmpc-en.jpg" alt="">
      </div>
    </div>
  </div>

</div>
