<div id="practicas">
  <p>CADU adopted the Code of Best Corporate Practices, constituted a Board of Directors and an Audit and Corporate Practices Committee. The Board of Directors is currently comprised of nine members, four out of them  are independent, providing confidence and safety to its investors, as well as an adequate diversification of its decision-making processes.</p>

  <p>As a result of the comprehensive amendment of CADU's bylaws for its transformation into a publicly traded company (Sociedad Anonima Bursatil de Capital Variable), the Company has modified its bylaws to incorporate the latest regulatory reforms. In this regard, it is worth noting that the corporate structure remains practically unchanged in line with the institutionalization efforts set in motion since 2006.</p>
  <br>
  <div class="item col-md-4">
    <div class="c-content-blog-post-card-1 c-option-2">
      <a href="#"><img class=" img-responsive" src="/assets/cadu/images/content/practicas.jpg" alt="">CPyMPGC_FINAL Codigov19</a>
    </div>
  </div>

</div>
