<div id="">

<p>For CADU it is very important to lead by example, promote fair competition and adhere to the Company´s values that include:</p>

<div class="text-center">
<img src="/assets/cadu/images/content/valores-en.png" width="80%" alt=""/>
</div>

<p>CADU seeks to protect all its collaborators, as constitute a vital component for the Company to achieve its objectives. For
  this reason, CADU safeguards, among other things, the full compliance with human rights, thus avoiding any act of discrimination.</p>

  <div class="text-center">
  <img src="/assets/cadu/images/content/infograma-en.png" width="80%" alt=""/>
  </div>

<h3>Workforce Composition</h3>

<p>At the end of 2017, CADU had a workforce of 2,985 collaborators, in which 967 were site, administration and sales personnel. The remaining
  2,018 were contractors, temporary workers, construction workers and bricklayers.</p>

  <div class="text-center">
  <img src="/assets/cadu/images/content/personal2-en.png" width="80%" alt=""/>
  </div>


  <h3>Employee Benefits</h3>

  <p>CADU´s senior executives are convinced that salaries must match the knowledge and expertise of each collaborator of the Company, therefore,
    it is imperative that these are fair and competitive in the market without favoring any gender in particular.</p>

  <p>In accordance with the purpose of creating welfare for our collaborators, CADU provides a wide range of employee benefits exceeding those
    established by the Mexican labor legislation, as shown below:</p>

  <h4 style="color:#ea5f26">Employee benefits granted by law</h4>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Social Security.</li>
    <li>Christmas bonus equal to 15-days salary or proportional.</li>
    <li>Paid annual leave in accordance with Mexican Federal Labor Law (Security Department).</li>
  </ul>

  <h4 style="color:#ea5f26">Employee benefits exceeding those established by law</h4>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Vacation period of four weeks per year: one full week in Easter holiday and three full weeks in December.<sup>1</sup></li>
    <li>Christmas bonus equal to 30-days salary for collaborators who have been working in the Company for a year or more.<sup>1</sup></li>
    <li>Interest-free employee loan policy: The Company seeks to support its collaborators to face large expenses that may
      arise such as tuition fees for their children, purchase of school materials, down payments on car loans, among others.</li>
    <li>Medical support for  collaborators and their direct relatives: as public medical services are not always sufficient
      or lacks the specialized attention required, the Company assumes the responsibility to facilitate access to the appropriate
      private medical services. For example, for degenerative diseases or development of malignant tumors, medical expenses for
      bone fractures, among others.</li>
    <li>Funeral expenses: On the understanding that the decease of a close relative represents a heavy emotional toll and a significant
      economical expense, the Company provides financial support to its collaborators to cover those expenses.</li>
    <li>Maternity/Paternity: The procreation of family is not exclusive of our female staff; consequently, our male personnel is
      granted paternity leave with pay to attend and provide support to the laboring mom.</li>
  </ul>


  <h3>Stakeholders</h3>

  <p>For CADU, efficient and timely communication with its stockholders is of the utmost importance, for this reason:</p>

  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>It has an Investor Relationships Department.</li>
    <li>It has a dedicated section on its website with the latest information.</li>
    <li>Carries out conference calls with the purpose of providing a timely follow-up on any concern that may arise.</li>
  </ul>

  <p>Furthermore, the Company has started to perform periodic evaluations to detect opportunity areas that could be improved to enhance the quality of its collaborators’ working life.</p>

    <h3>Community Support</h3>

    <p>As part of its extensive commitment with the society, CADU has acted in solidarity with the Mexican communities affected
      by the earthquakes that struck the country in 2017, responding strongly to the crisis with the following actions:</p>
    <p>CADU made donations for an amount of MXN 10 million to the Fideicomiso Fuerza Mexico (FFM), a private-sector initiative,
      led by the Consejo Coordinador Empresarial (Mexican Business Coordinating Counsel). As of today, thanks to the raised funds,
      the FFM has built over 3,588 homes and 7 schools - benefiting 17,134 people.</p>

    <p>For its part, CADU has an “Housing Self-Construction Program”, which provides support to different marginalized communities
      across the country and teaches them how to build their own homes.</p>

    <table class="table">
      <thead>
        <th>In 2017</th>
      </thead>
      <tbody>
        <tr>
        <td>9,600 families received technical assistance for self-construction diagnoses.</td>

      </tr>
      <tr>
        <td>2,912 homes were built in marginalized areas.</td>

</tr>
<tr>
        <td>1,350 homes were built for people affected by the September earthquakes.</td>
</tr>
      </tbody>
    </table>



    <small style="font-size:12px"><sup>1</sup>Only for construction employees.</small>

</div>
