<div id="">

<p>For CADU it is very important to lead by example, promote fair competition and adhere to the Company's values that include:</p>

<div class="text-center">
<img src="/assets/cadu/images/content/valores18-en.png" width="80%" alt=""/>
</div>

<p>CADU seeks to protect all its associates, as this constitutes a vital component for the Company to achieve its objectives. For
  this reason, CADU safeguards, among other things, the full compliance to human rights, thus avoiding any act of discrimination.</p>

  <div class="text-center">
  <img src="/assets/cadu/images/content/infograma-en.png" width="80%" alt=""/>
  </div>

<h3>Workforce Composition</h3>

<p>At the end of 2018, CADU recorded a workforce of 1,221 permanent associates and 3,635 temporary associates
  (hired for specific projects). Even though CADU does note have unionized personnel working in its offices, we
  carry out negotiations with the site workers union at the beginning of each project, therefore, all site employees
  hired for specific projects are affiliates.</p>

  <div class="text-center">
  <img src="/assets/cadu/images/content/personal2-en.png" width="80%" alt=""/>
  </div>


  <h3>Benefits</h3>

  <p>CADU's senior executives are convinced that compensation must match the knowledge and expertise of each associate of the Company, therefore,
    it is imperative that these are fair and competitive in the market without favoring any gender in particular.</p>

  <p>In accordance with the purpose of creating welfare for our associate, CADU provides a wide range of benefits exceeding those
    established by the Mexican labor legislation, as shown below:</p>

  <h4 style="color:#ea5f26">Employee benefits granted by law</h4>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Social Security.</li>
    <li>INFONAVIT.</li>
    <li>Christmas bonus equal to 15-days salary or proportional.</li>
    <li>Paid annual leave in accordance with Mexican Federal Labor Law (Security Department).</li>
  </ul>

  <h4 style="color:#ea5f26">Employee benefits exceeding those established by law</h4>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Vacation period of four weeks per year: one full week in Easter holiday and three full weeks in December.
    <li>Christmas bonus equal to 30-days salary for associate who have been working in the Company for a year or more.
    <li>Interest-free employee loan policy: The Company seeks to support its associate to face large expenses that may
      arise such as tuition fees for their children, purchase of school materials, down payments on car loans, among others.</li>
    <li>Medical support for  associate and their direct relatives: as public medical services are not always sufficient
      or lacks the specialized attention required, the Company assumes the responsibility to facilitate access to the appropriate
      private medical services. For example, it has lent its support in cataract surgeries, with treatments for degenerative diseases or
      development of malignant tumors, medical expenses for bone fractures, among others.</li>
    <li>Funeral expenses: On the understanding that the decease of a close relative represents a heavy emotional toll and a significant
      economical expense, the Company provides financial support to its associate to cover those expenses.</li>
    <li>Maternity/Paternity: The procreation of family is not exclusive of our female staff; consequently, our male personnel is
      granted paternity leave with pay to attend and provide support to the laboring mom.</li>
    <li>In the Christmas Party, where all CADU’s collaborators are invited, raffles are carried out giving away household appliances,
        televisions, computers and even a car. 80% of the guests go home with at least one gift.</li>
  </ul>


  <h3>Stakeholders</h3>

  <p>For CADU, efficient and timely communication with its stockholders is of the utmost importance, for this reason it has the following communication channels:</p>

  <div class="col-md-6 col-xs-6">
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Personal attention.</li>
    <li>Complaints and suggestions mailbox.</li>
    <li>Employee satisfaction surveys.</li>
    <li>E-mail.</li>
    <li>Training courses.</li>
    <li>Post-sale services.</li>
    <li>Social networks.</li>
  </ul>
  </div>
  <div class="col-md-6 col-xs-6">
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Corporate website.</li>
    <li>Phone contact.</li>
    <li>Meetings.</li>
    <li>Conference call.</li>
    <li>Earnings Release.</li>
    <li>Road shows.</li>
    <li>Shareholders’ meetings.</li>
  </ul>
  </div>

    <h3>Community Support</h3>

    <p>In CADU we are involved with Mexico’s development and with the goal of eradicating extreme poverty.
      Therefore, we have continuously deployed several social programs, also since 2018 we have acquired a formal
      commitment to build a corporate social responsibility plan aligned to our business model.</p>

      <h3>Medical brigades</h3>

      <p>In 2018, through our Neighborhood Promoters program, we were able to create synergies with several governmental
        entities and civil associations to carry out medical brigades and provide health services in our developments. All
        these activities are promoted by CADU, not only due to our social commitment, also because we want our clients and
        communities to feel identified with the company. Among the services provided in 2018 were the following:</p>

        <ul class="c-content-list-1 c-theme c-separator-dot">
          <li>Free mammograms.</li>
          <li>General medical tests.</li>
          <li>Pediatrics consultation.</li>
          <li>Eye examinations.</li>
          <li>Prescription lenses giveaway with simbolic prices.</li>
          <li>Anti-rabies pet vaccination campaign .</li>
          <li>Inscriptions to elderly care programs and to the popular insurance scheme.</li>
        </ul>



</div>
