<div>
  <p>En CADU seguimos las medidas que dicta la Secretaría de Ecología y Medio Ambiente respecto del trato que debemos dar a especies de flora y fauna en cada obra que realizamos.</p>
  <div class="text-center row">
    <img src="/assets/cadu/images/content/biodiversidad.jpg" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>

  </div>
  <div class="row">
    <div class="col-md-12">
  <p>Nos comprometimos a cuidar la flora y la fauna de nuestro futuro proyecto en Tulum con las acciones que se exponen a continuación.</p>

  <b>Flora:</b>
  <ul>
    <li>Ejecutar un programa de rescate de flora;</li>
    <li>Realizar actividades de reforestación;</li>
    <li>Remover la cobertura vegetal, únicamente, bajo la supervisión de la autoridad;</li>
    <li>Cuidar que, en la fase de construcción, la superficie desmontada permaneza expuesta el menor tiempo posible para evitar que se transporten polvos por viento o erosión;</li>
    <li>Mantener áreas de aprovechamiento con vegetación árborea y palmas de la vegetación original para que se mantengan como áreas verdes, parques, camellones, o jardines;</li>
    <li>Rescatar y reubicar las palmas de la vegetación original en las áreas verdes del proyecto, en caso de que el diseño proyectado no permita mantenerlas en su sitio y siempre bajo la supervisión de una autoridad competente;</li>
    <li>Sembrar elementos de la flora nativa o con estatus de conservación (por ejemplo: chaca, chicozapote, flor de mayo, ceiba, y otras palmáceas nativas);</li>
    <li>Reforestar por lo menos 1,500 árboles o palmas por hectárea si existieran áreas afectadas o con vegetación escasa;</li>
    <li>Cuidar que los esfuerzos de forestación se realicen en períodos de lluvias para aumentar el porcentaje de supervivencia y ahorro de agua.</li>
  </ul>
    </div></div>
  <div class="text-center row">
    <img src="/assets/cadu/images/content/flora.jpg" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>

  </div>
  <br>
  <b>Fauna:</b>
  <ul>
    <li>Realizar el desmonte gradual del terreno para favorecer que la fauna que pueda estar en el sitio se desplace a las áreas vecinas;</li>
    <li>Colocar anuncios y señales para informar sobre la importancia de la fauna las razones de su protección e incluso las sanciones a las que se
      haría acreedor cualquiera que fuere sorprendido afectando o aprovechando a las especies presentes en el sitio.</li>
    <!--<li>Para cada obra evaluamos los impactos potenciales sobre los ecosistemas y buscamos que, en medida de lo posible,
      no impacten áreas naturales protegidas ni áreas marcadas como de alta biodiversidad.</li>
    <li>Estos deberán tener diámetros normales (1.30 centímetros del suelo) y deberán protegerse en un radio de 5m alrededor del tronco del árbol.</li>-->
  </ul>
  <div class="text-center row">
    <img src="/assets/cadu/images/content/fauna.jpg" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>

  </div>
</div>
