<div>
  <p><b>ECOCASA</b> es un programa de vivienda que busca mejorar la calidad de vida de las personas, reducir el consumo de
    energía y proteger al medio ambiente. <b>CADU</b> ha participado en el programa <b>ECOCASA</b> desde 2013 y, de esta manera,
    estamos contribuyendo a transformar el mercado de la vivienda en México.</p>
  <p>El programa <b>ECOCASA</b> pretende reducir por lo menos en 20% y hasta en un 40% las emisiones de GEI y proteger el agua.
    Al cierre de 2022, tenemos 26,397 casas construidas dentro del programa <b>ECOCASA</b>, lo cual representa alrededor del 22% del
    total de las viviendas construidas por <b>CADU</b>.</p>
  <div class="text-center row">
    <img src="/assets/cadu/images/content/ecocasa_2022.png" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>
  </div>
</div>
