<div>
  <p>Adicional a nuestro compromiso de construir viviendas con ecotecnologías que permitan un uso más eficiente de
    energía y de agua, hemos comenzado a medir nuestras emisiones de CO<sub>2</Sub> desde 2018 a pesar de que no somos una
    industria intensiva en emisiones de CO<sub>2</sub>.</p>
  <p>Para calcular nuestras emisiones de 2019 contabilizamos tanto el consumo total de electricidad como el de
    combustible. Después, utilizamos la calculadora de emisiones de GEI de la Agencia de Protección Ambiental del
    gobierno de los EE.UU. para observar que de 2018 a 2019 tuvimos una reducción de 22% en nuestras emisiones a la
    atmósfera.</p>
  <div class="row"></div>
  <img src="/assets/cadu/images/content/emisiones.jpg" class="col-md-9 col-xs-12" alt=""/>
</div>
