<div>
  <p>Adicional a nuestro compromiso de construir viviendas con ecotecnologías que permitan un uso más eficiente de
    energía y de agua, hemos comenzado a medir nuestras emisiones de CO<sub>2</Sub> desde 2018 a pesar de que no somos una
    industria intensiva en emisiones de CO<sub>2</sub>.</p>
  <p>Somos una empresa ambiciosa en la lucha contra el cambio climático, pero sobre todo, comprometida en contribuir
  con una mejor calidad de vida de nuestras comunidades. Por ello desarrollamos nuestra estrategia de sustentabilidad que ha permitido los
siguientes impactos ambientales: </p>
  <div class="row">
  <img src="/assets/cadu/images/content/emisiones-2021.png" class="col-md-9 col-xs-12 text-center" alt=""/>
  </div><br>
  <p> A partir de 2021 estaremos trabajando para que otros segmentos de negocio incorporen nuevas tecnologías y para que se
    alineen a las prácticas de la Certificación EDGE. </p>
</div>
