  <h1>Gestión de residuos</h1>
  <p>En CADU reafirmamos nuestro compromiso con la sostenibilidad al fortalecer nuestro Sistema de Gestión Ambiental y Social (SGAS) mediante la adopción de prácticas mejoradas orientadas al manejo responsable de residuos.</p>
  <p>Con la implementación de estos procedimientos, buscamos impulsar acciones orientadas a la reducción, reutilización y reciclaje de los residuos generados en nuestros desarrollos, asegurando al mismo tiempo su disposición final adecuada. Esta iniciativa no solo cumple con la normativa ambiental vigente, sino que también reafirma nuestro compromiso con la mitigación de impactos ambientales.</p>
  <div class="row" style = "display: flex; justify-content: center;">
  <img src="/assets/cadu/images/content/residuos_2024.png" class="col-md-9 col-xs-12 text-center" alt=""/>
  </div><br>

  <h1>Gestión Hídrica</h1>
  <p> En CADU reconocemos que el uso responsable del agua es un pilar central de nuestra gestión ambiental, debido a su valor como recurso vital para el bienestar y la sostenibilidad.</p>
  <p>A través de nuestras certificaciones ECOCASA y EDGE, contribuimos significativamente al uso eficiente del agua, logrando importantes ahorros anuales por vivienda.</p>
  <div class="row" style = "display: flex; justify-content: center;">
  <img src="/assets/cadu/images/content/hidrico_2024.png" class="col-md-9 col-xs-12 text-center" alt=""/>
  </div>
