{% extends 'layouts/content.html' %}
{% block content %}
<div>
  <p>Para CADU es muy importante dirigir con el ejemplo, promover una competencia justa y apegarse a los valores de
    la Compañía que incluyen:</p>

  <div class="text-center" style="width: 100%">
    <img src="/static/assets/cadu/images/content/valores_18.png" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>CADU busca proteger a todos sus colaboradores, ya que ellos son una pieza clave para que la Compañía pueda
        lograr la
        consecución de sus objetivos, para esto CADU salvaguarda, entre otras cosas, el total cumplimiento de los
        derechos
        humanos evitando así cualquier acto de discriminación.</p>
    </div>
  </div>
  <div class="text-center row">
    <img src="/static/assets/cadu/images/content/bienestar-laboral.png" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>
  </div>

  <h3>Composición de la fuerza laboral</h3>

  <p>Durante 2024, CADU reportó una plantilla laboral de 2,212 colaboradores.</p>

  <div class="text-center">
    <img src="/static/assets/cadu/images/content/desglose-personal-2024.png" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>
  </div>


  <!--<h3>Prestaciones</h3>

  <p>Los altos directivos de CADU creen que los salarios corresponden a conocimientos y experiencia por lo que es
    imperativo que sean
    justos y competitivos ante el mercado sin favorecer a un género en especial.</p>

  <p>En seguimiento a la generación de bienestar entre cada uno de sus colaboradores, CADU brinda diversos beneficios
    superiores a los
    que exige la ley, tal como se muestra a continuación:</p>

  <h4 style="color:#ea5f26">Prestaciones de Ley</h4>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Descanso semanal.</li>
    <li>Seguro Social.</li>
    <li>INFONAVIT.</li>
    <li>Aguinaldo correspondiente a 15 días de Salario o Proporcional.</li>
    <li>Vacaciones Anuales con base en la LFT.</li>
    <li>Prima vacacional.</li>
    <li>Permiso Parental.</li>
  </ul>

  <h4 style="color:#ea5f26">Prestaciones Superiores a la Ley</h4>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Periodo vacacional adicional en el año.</li>
    <li>Política de préstamos sin cobro de intereses: la
      Compañía busca apoyar a los colaboradores a
      enfrentar gastos difíciles que puedan presentar
      como pagar colegiaturas de sus hijos, compra de útiles,
      enganches de automóviles, etc.
    </li>
    <li>Apoyos médicos para colaboradores y sus familiares
      directos: como en ocasiones los servicios médicos
      sociales no son sufcientes o presentan falta de atención
      especializada, la Compañía se da a la tarea de apoyar
      con servicios médicos particulares. Por ejemplo,
      ha apoyado en cirugías para cataratas; con tratamientos
      para casos degenerativos o de tumores; y gastos médicos por fracturas.
    </li>
    <li>Gastos funerarios: con el conocimiento de que
      un evento como un deceso representa un desgaste
      emocional y un gasto económico fuerte, la Compañía
      apoya a sus colaboradores para enfrentar los gastos.
    </li>
    <!--<li>En la festa de Navidad, misma a la que asisten todos los colaboradores de CADU,
      se entregan electrodomésticos, televisiones, computadoras y hasta un automóvil.
      El 80% de los invitados se llevan a casa al menos un regalo.</li>
    <li>Fondo de Ahorro.</li>
    <li>Doctor que apoya específicamente a los colaboradores en obra.</li>
    <li>Entrega de medicinas para colaboradores que enfermaron de COVID-19 o gripa.</li>
    <li>Apoyos para formación de colaboradores.</li>
  </ul>
  <p>Una de nuestras grandes fortalezas y, que nos distingue como empresa incluyente, es la diversidad de nuestra fuerza
    laboral.</p>
  <p>En CADU valoramos la diversidad de género, la diversidad de pensamiento y la generacional porque consideramos que
    respetar las diferencias
    es un antecedente para ser una compañía innovadora y competitiva.</p>-->

  <div class="text-center">
    <img src="/static/assets/cadu/images/content/colaboradoresgenero2024.png" alt="" width="80%">
  </div>

  <!--<div class="text-center">
    <img src="/static/assets/cadu/images/content/directivos2021.png" alt="" width="100%">
  </div>-->

  <div class="col-md-12">
    <br>
    <!--<p>En 2021 ofrecimos una variedad de cursos y capacitaciones porque valoramos a cada uno de nuestros colaboradores y
      entendemos que cada uno de ellos
      tiene aspiraciones, objetivos y metas individuales.</p>-->
  </div>

  <!--<div class="text-center" style="width: 80%">
    <img src="/static/assets/cadu/images/content/capacitacion_2021.png" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>
  </div>-->

</div>

{% endblock %}
