{% extends 'layouts/content.html' %}
{% block content %}
<div>

<p>Estamos comprometidos con las comunidades ya que, una vez que terminamos de comercializar las viviendas de un desarrollo, nos convertimos en parte de dicha comunidad.</p>

<p>Contamos con programas de seguimiento y de atención cuya finalidad es mejorar la calidad de vida de nuestros vecinos manteniendo el tejido social y brindando apoyos
  médicos y sociales.</p>

  
  <h3 class="c-theme-color">Impacto en la Comunidad</h3>

  <p>En CADU entendemos que cada desarrollo representa una oportunidad para fortalecer la vida comunitaria, promover la integración social y contribuir al bienestar de las personas. Al cierre de 2025 nuestra plantilla estuvo conformada por 2,389 colaboradores, y nuestra relación con las comunidades donde operamos se rige por el procedimiento CADU-PRO-SUST-09: Comunicación y Vinculación con Comunidades y Grupos de Interés, que establece canales de diálogo con nuestros distintos grupos de interés y contribuye a la viabilidad y sostenibilidad de largo plazo de nuestros proyectos.</p>

  <p>Durante el año dimos continuidad a diversas campañas e iniciativas sociales y ambientales, entre las que destacan:</p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Campaña Banco de Tapitas A.C.: recuperación y donación de tapitas a una asociación que apoya a niños con cáncer en sus tratamientos de quimioterapia.</li>
    <li>CADUTÓN 2025: Feria de Ciencias, dinámicas con piñatas y entrega de regalos a niñas y niños de la comunidad Cenote Dos Pisos con motivo del Día del Niño.</li>
    <li>Programa de Reciclaje: invitación a residentes de Aldea Tulum a sumarse a las iniciativas de reciclaje de CADU.</li>
    <li>Programa Regalando Vida: dinámica en la que las personas entregan residuos reciclables a cambio de plantas rescatadas de nuestros desarrollos; los materiales recolectados se canalizan con proveedores autorizados para su reutilización.</li>
    <li>Semana de la Salud y Seguridad en el Trabajo: capacitaciones realizadas cada año durante una semana de abril para reforzar la prevención y el bienestar en el entorno laboral.</li>
    <li>Taller Infantil de Reciclaje: campaña de concientización "Pequeños Héroes Verdes al Rescate" en el marco del Día Mundial del Medio Ambiente.</li>
  </ul>

  <h4 class="c-theme-color">CADUEM</h4>
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <p>A través de CADUEM, nuestro programa de inversión social activo desde 2010, ofrecemos asistencia técnica y de construcción a familias que buscan acceder, ampliar, remodelar o finalizar su vivienda. El programa tiene presencia en 12 estados de la República (entre ellos Baja California, Jalisco, Yucatán y Quintana Roo) y ha beneficiado a más de 1,600 familias.</p>
    </div>
    <div class="col-md-5 col-xs-12 text-center">
      <img src="/assets/cadu/images/content/mapa-caduem.png" class="col-xs-12" alt="Presencia de CADUEM en 12 estados de la República"/>
    </div>
  </div>


  <div class="row text-center">
    <div class="col-md-6 col-xs-12">
      <img src="/assets/cadu/images/content/1600-familias.png" class="col-xs-12" alt="Más de 1,600 familias beneficiadas por CADUEM"/>
    </div>
    <div class="col-md-6 col-xs-12">
      <img src="/assets/cadu/images/content/imagen-activo-desde.png" class="col-xs-12" alt="CADUEM, programa de inversión social activo desde 2010"/>
    </div>
  </div>
  <br>


  <h3 class="c-theme-color">Biodiversidad y Campañas Ecológicas</h3>

  <div class="row">
    <div class="col-md-10 col-xs-12">
      <p>En CADU promovemos el cuidado del entorno en las comunidades donde operamos a través de campañas ecológicas y de nuestra contribución a los Objetivos de Desarrollo Sostenible. Durante 2025 reconocimos una contribución directa a los ODS 7, 9, 11, 13 y 15. En particular, a través del ODS 15 (Vida de ecosistemas terrestres), impulsamos iniciativas como Regalando Vida, con las que promovemos el rescate de plantas, el reciclaje de residuos y la conservación de recursos naturales en nuestros desarrollos.</p>
    </div>
    <div class="col-md-2 col-xs-6 col-xs-offset-3 col-md-offset-0 text-center">
      <img src="/assets/cadu/images/content/ODS15.png" class="col-xs-12" alt="ODS 15: Vida de ecosistemas terrestres"/>
    </div>
  </div>

  <p>Nuestras principales campañas ecológicas son:</p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Programa Regalando Vida: las personas entregan residuos reciclables a cambio de plantas rescatadas de nuestros desarrollos, promoviendo la reutilización de materiales y el cuidado de la flora local.</li>
    <li>Programa de Reciclaje: sensibilización ambiental con residentes, como la iniciativa realizada en Aldea Tulum.</li>
    <li>Taller Infantil de Reciclaje "Pequeños Héroes Verdes al Rescate": concientización dirigida a la niñez en el marco del Día Mundial del Medio Ambiente.</li>
  </ul>

  <p>Como parte de nuestra gestión de residuos con enfoque de economía circular, en 2025 el 100% de nuestros residuos peligrosos (2.08 toneladas) y no peligrosos (601.68 toneladas) fue dispuesto mediante proveedores autorizados, priorizando la valorización de los materiales aprovechables.</p>
  <br>
 

  <h3 class="c-theme-color">Comunidades</h3>

  <p>El 2021 sirvió para consolidar nuestro Modelo de Atención a Comunidades que busca el bienestar de las familias que viven en nuestros
    proyectos. Como resultado de este Modelo hemos construido: un Procedimiento para la Identificación y Priorización de Grupos de Interés;
    una Política de Vinculación con Comunidades; un Procedimiento de Atención a Comunidades; un Procedimiento de Vinculación con Grupos de
    Interés; un Mecanismo de Atención a Quejas (MAQ) y un Sistema de Indicadores. </p>

  <h3 class="c-theme-color">Cercanía a los centros de trabajo</h3>
  <!--<h3 style="color:#0BCE24" ><span style="background: #2ECC71; border-radius:40px; padding:0px 10px;"> Cercanía a los centros de trabajo </span></h3>-->

  <p>Elegimos estratégicamente la tierra para la construcción de los proyectos con el objetivo de permitir
  a las nuevas comunidades el asentarse cerca de los centros de trabajo y comerciales. </p>

    <h3 class="c-theme-color"> Infraestructura alineada al Plan Nacional de Vivienda </h3>

    <p>Los esfuerzos de nuestra urbanización se enfocan en la construcción de infraestructura de calidad que
    atienda las necesidades básicas de nuestras comunidades.</p>

    <h3 class="c-theme-color">Evaluaciones de Impacto Social </h3>

    <p>Realizamos evaluaciones en todos nuestros desarrollos con el objetivo de analizar a fondo las consencuencias o impactos sociales surgidos del progreso
    de nuestros proyectos, ya sean positivos o negativos, previstos o imprevistos.</p>

    <h3 class="c-theme-color">Contribución a la educación</h3>

    <p>Destinamos espacios para que, dentro de nuestros desarrollos, haya escuelas. De igual manera, construimos vialidades inclusivas dentro
    de los fraccionamientos para brindar comodidad y acceso a estos centros.</p>

    <h3 class="c-theme-color">Espacios comunitarios</h3>

    <p>Fomentamos la integración social con la construcción de canchas de básquetbol, parques y zonas infantiles.</p>

  

<br>
  <h3 class="c-theme-color"> Hipoteca con Servicios</h3>

  <p>Desde el 2012 hemos implementado el Programa de Hipoteca con Servicios que busca conservar y dar mantenimiento a nuestros
    fraccionamientos para contribuir a la plusvalía de estos. Este Programa se mantiene con una cuota voluntaria de conservación o
    mantenimiento mensual que incluye los siguientes servicios:</p>

    <ul class="c-content-list-1 c-theme c-separator-dot">
      <li>Mejora de las áreas comunes</li>
      <li>Retiro de grava de gran tamaño para utilizarla como decoración de bases de árboles y plantas sembradas</li>
      <li>Retiro de maleza en zonas donde haya tierra</li>
      <li>Servicio de jardinería</li>
      <li>Recolección de basura en parques, banquetas y calles de los fraccionamientos</li>
      <li>Limpieza en áreas deportivas de los parques</li>
      <li>Barrido de banquetas y calles interiores y perimetrales</li>
      <li>Lavado y desinfección de contenedores de basura</li>
      <li>Limpieza del punto de acopio de basura a nivel fraccionamiento</li>
      <li>Mantenimiento y limpieza de parques, calles, camellones, banquetas, avenidas, contenedores de basura y alumbrado público.
        Esto incluye la jardinería y la rehabilitación de canchas deportivas, áreas comunes y juegos infantiles.</li>
    </ul>

    <!--<p>En 2021, un total de 55,000 viviendas se vieron beneficiadas de los servicios de mantenimiento que CADU hizo a los parques, calles, camellones,
      banquetas, avenidas, contenedores de basura y alumbrado público.</p>-->

    <img src="/static/assets/cadu/images/content/desarrollo-cadu-12-.png" class="col-md-10 col-md-offset-1 col-xs-12"  alt=""/>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <h2 class="text-center"> CADUTÓN</h2>


        <div class="c-body">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/1085036074" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

</div>

{% endblock %}
