<div id="auditor-externo">
<p>Los Estados Financieros de la Emisora por los ejercicios terminados al 31 de diciembre de 2017, 2016 y 2015
  fueron auditados por Mancera, S.C. Integrante de Ernst & Young Global, auditores externos de la Compañía.</p>
<p>En los ejercicios que se han auditado “no se han emitido opiniones con salvedades” o una opinión negativa,
  ni se han abstenido de emitir opinión acerca de los Estados Financieros de la Compañía. Asimismo, los auditores
  externos de la Compañía han prestado los siguientes servicios adicionales a la auditoría: Estudios de Precios de Transferencia.</p>
  <p>La designación de los auditores independientes de la Compañía está a cargo del Consejo de Administración de
    CADU, especialmente del Comité de Auditoría. Hasta el ejercicio terminado el 31 de diciembre de 2011, la persona
    que auditó los Estados Financieros de Corpovael y Subsidiarias desde 2007, fue el C.P. Marcelino Menéndez
    Jiménez. Para los ejercicios terminados el 31 de diciembre de 2012 y 2013 la persona que auditó los Estados
    Financieros fue la C.P.C. Claudia Leticia Rizo Navarro y para los ejercicios terminados al 31 de diciembre de
    2014, 2015, 2016 y 2017 la persona que auditó los Estados Financieros es el C.P.C. David Echeverría Alonso.</p>
   <p>A la fecha, Mancera, S.C. Integrante de Ernst & Young Global, ha prestado servicios a la
  Compañía por conceptos diferentes a Servicios de Auditoría. </p>
</div>

<% #listado de documentos
   @documents= [
     {:titulo => "Dictamen 2017", :date => "2018-04-06", :link => @reportes_anuales_path + "2017-EF-Dictaminados.pdf"},
      {:titulo => "Carta de independencia y consentimiento de los auditores", :date => "2018-04-06", :link => @gobierno_corporatico_path + "Global/2018-04-06-auditores.pdf"},

          {:titulo => "Dictamen 2016", :date => "2017-04-10", :link => @reportes_anuales_path + "2016-EF-Dictaminados.pdf"},
           {:titulo => "Carta de independencia y consentimiento de los auditores", :date => "2017-04-10", :link => @gobierno_corporatico_path + "Global/2017-04-10-auditores.pdf"},
           {:titulo => "Dictamen 2015", :date => "2016-04-28", :link => @reportes_anuales_path + "2015-EF-Dictaminados.pdf"},
           {:titulo => "Carta de independencia y consentimiento de los auditores", :date => "2016-04-11", :link => @gobierno_corporatico_path + "Global/2016-04-11-auditores.pdf"},



   ]
%>

<div class="comunicdos">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Documento</th>
      <th class="col-md-3">Fecha</th>
    </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
      <tr>
        <td><a target="_blank" href="<%= document[:link] %>"><%= document[:titulo] %></a></td>
        <td><%= document[:date] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
