<div id="auditor-externo">
  <p>La designación de los auditores independientes de la Compañía está a cargo del Comité de Auditoría.</p>

  <p>Los Estados Financieros de la Emisora por los ejercicios terminados al 31 de diciembre de 2013, 2012, y 2011
    revisados y auditados por Galaz, Yamazaki, Ruiz Urquiza, S.C., miembro de
    Deloitte Touche Tohmatsu Limited, y el ejercicio terminado a diciembre de 2014 fue revisado por Mancera, S.C.
    Integrante de Ernst & Young Global, actuales auditores externos de la Compañía.</p>

  <p>En los ejercicios auditados no se ha emitido opinión con salvedad o negativa, ni se han
    presentado abstenciones de opinión acerca de los Estados Financieros de la Compañía. Mancera, S.C.
    Integrante de Ernst & Young Global, no ha prestado servicios a CADU por conceptos diferentes a Servicios de
    la Auditoría.</p>
</div>