<div id="comites">
  <p>En cumplimiento con las disposiciones de la Ley del Mercado de Valores y con el objetivo de brindar mayor certeza y
    transparencia en la realización de las funciones estratégicas de CADU, se crearon los siguientes comités
    especiales: </p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li> Comité de Auditoría.</li>
    <li> Comité de Evaluación y Compensación.</li>
    <li> Comité de Planeación y Finanzas.</li>
  </ul>
  <p>A continuación se describen las funciones de cada comité: </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Comité de Auditoría</h3>
  <table class="table">
    <thead>
    <tr>
      <td>Nombre</td>
      <td>Puesto</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Luis Zazueta Domínguez</td>
      <td>Presidente</td>
    </tr>
    <tr>
      <td>Manuel Francisco Arce Rincón</td>
      <td>Integrante</td>
    </tr>
    <tr>
      <td>Alberto Mulas Alonso</td>
      <td>Integrante</td>
    </tr>
    </tbody>
  </table>
  <p>Tiene la función de apoyar al Consejo de Administración en la función de auditoría, asegurándose que tanto la
    auditoría interna como la externa se realicen con la mayor objetividad e independencia posible; procurando que la
    información financiera que llegue al Consejo de Administración, a los accionistas y al público en general, sea
    emitida y revelada con responsabilidad y transparencia; a la vez que sea suficiente, oportuna y refleje
    razonablemente la posición financiera de la sociedad, validando permanentemente el control interno y el proceso de
    la emisión de la información financiera de CADU y de sus Subsidiarias, así como se analicen y evalúen las operaciones
    con partes relacionadas y se detecten posibles conflictos de interes. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Comité de Evaluación y Compensación</h3>

  <table class="table">
    <thead>
    <tr>
      <td>Nombre</td>
      <td>Puesto</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Luis Zazueta Domíngues</td>
      <td>Presidente</td>
    </tr>
    <tr>
      <td>Manuel Francisco Arce Rincón</td>
      <td>Integrante</td>
    </tr>
    <tr>
      <td>Alberto Mulas Alonso</td>
      <td>Integrante</td>
    </tr>
    </tbody>
  </table>
  <p>Tiene la función de Apoyar al Consejo de Administración en el cumplimiento de la función de evaluación y
    compensación del Director General y de los funcionarios de alto nivel de Corpovael y de las Subsidiarias para que el
    Consejo de Administración tome las decisiones correspondientes. </p>

  <p>Es importante mencionar que a la fecha no se han formalizado programas en beneficio de directivos relevantes o
    empleados de la Emisora que les permitan participar en el capital social. Dichos programas están en proceso de
    estudio por parte del Comité de Evaluación y Compensación. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Comité de Planeación y Finanzas</h3>
  <table class="table">
    <thead>
    <tr>
      <td>Nombre</td>
      <td>Puesto</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Luis Zazueta Domíngues</td>
      <td>Presidente</td>
    </tr>
    <tr>
      <td>Manuel Francisco Arce Rincón</td>
      <td>Integrante</td>
    </tr>
    <tr>
      <td>Alberto Mulas Alonso</td>
      <td>Integrante</td>
    </tr>
    </tbody>
  </table>
  <p>Este Comité apoyará al Consejo de Administración en el cumplimiento de la función de finanzas y planeación, en
    especial en la evaluación de la planeación estratégica de largo plazo y de las principales políticas de inversión y
    financiamiento, incluyendo el apoyo en la identificación de los riesgos a que están sujetas Corpovael y sus
    Subsidiarias y en la evaluación de los mecanismos para contralarlos. De igual forma, dicho órgano intermedio deberá
    cerciorarse que las políticas de inversión y financiamiento estén alineadas con la visión estratégica.</p>

</div>