<div id="comites">
 <!-- <p>En cumplimiento con las disposiciones de la Ley del Mercado de Valores y con el objetivo de brindar mayor certeza y
    transparencia en la realización de las funciones estratégicas de CADU, se crearon los siguientes comités
    especiales: </p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li> Comité de Auditoría y Prácticas Societarias.</li>
    <li> Comité de Evaluación y Compensación.</li>
    <li> Comité de Planeación y Finanzas.</li>
  </ul>
  <p>A continuación se describen las funciones de cada comité: </p> -->

  <p>Conforme los Estatutos Sociales actuales de CADU, hay un <b>Comité de Auditoría y Prácticas Societarias</b> integrado
    exclusivamente por consejeros independientes.</p>

  <p>El Presidente del Comité es elegido por la Asamblea General de Accionistas, la cual toma en cuenta su experiencia,
    reconocida capacidad y prestigio profesional.</p>

  <p>Este Comité es el encargado de:</p>
  <p>(i) Discutir los estados financieros con las personas responsables de su elaboración (y recomendar o no su aprobación al Consejo de Administración);
    <br>
    (ii) Investigar posibles incumplimientos en la operación, en el control interno y en auditoría interna;
    <br>
    (iii) Informar al Consejo la situación que guarda el sistema de control interno y de auditoría interna de la Sociedad (y las personas morales que esta controle);
    <br>
    (iv) Vigilar que el Director General dé cumplimiento a los acuerdos de las Asambleas de Accionistas;
    <br>
    (v)	Evaluar a la firma que realice los servicios de auditoría externa (y analizar el dictamen, opiniones y reportes que generen);
    <br>
    (vi) Supervisar las funciones de gobernanza;
    <br>
    (vii)	Revisar y realizar recomendaciones al Consejo de Administración respecto a las transacciones con partes relacionadas;
    <br>
    (viii) Dar opinión sobre asuntos que le competan conforme a la LMV;
    <br>
    (ix) Dar seguimiento a los temas de ética de la Compañía;
    <br>
    (x) Apoyar en la elaboración de informes;
    <br>
    (xi) Realizar observaciones respecto del desempeño de directivos relevantes; y,
    <br>
    (xii) Proponer paquetes de compensaciones al Director General y demás directivos relevantes de la Sociedad.</p>


  <br>

  <p>Los miembros del Comité son:</p>

    <h3 class="c-left c-font-lowercase c-font-sbold">Comité de Auditoría y Prácticas Societarias.</h3>
    <table class="table">
      <thead>
      <tr>
        <td>Nombre</td>
        <td>Puesto</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Luis Zazueta Domínguez</td>
        <td>Presidente</td>
      </tr>
      <tr>
        <td>Manuel Francisco Arce Rincón</td>
        <td>Miembro</td>
      </tr>
      <tr>
        <td>Alberto Sánchez Palazuelos</td>
        <td>Miembro</td>
      </tr>
      <tr>
        <td> José Luis Romero Hicks	</td>
        <td>Miembro</td>
      </tr>
      </tbody>
    </table>

</div>
