<div id="consejo-administracion">
  <p>Desde 2006, CADU, en seguimiento de los lineamientos del Código de Mejores Prácticas Corporativas,
    inició el proceso para integrar un Consejo de Administración, en el que se incluya la participación de al menos 25% de Consejeros
    Independientes. </p>

  <p>El Consejo de Administración sesiona por lo menos 4 veces al año, no cuenta con Consejeros Suplentes y su función
    primordial es la de definir la visión estratégica del negocio, así como vigilar el desempeño de CADU y de las
    subsidiarias, cerciorarse de que todos los accionistas tengan un trato igualitario y se protejan sus intereses,
    promover que la Sociedad sea socialmente responsable, y proteger el patrimonio de la Sociedad. </p>

  <p>El Consejo de Administración decide respecto de todas y cada una de las sociedades que consolidan en sus estados
    financieros (Corpovael y Subsidiarias), y actualmente se conforma de la siguiente manera:</p>
  <table class="table">
    <thead>
    <tr>
      <td>Nombre</td>
      <td>Puesto</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="#pve">Pedro Vaca Elguero</a></td>
      <td>Consejero Patrimonial Relacionado y Presidente del Consejo de Administración</td>
    </tr>
    <tr>
      <td><a href="#pave">Pablo Vaca Elguero</a></td>
      <td>Consejero Patrimonial Relacionado</td>
    </tr>
    <tr>
      <td><a href="#lve">Luis Vaca Elguero</a></td>
      <td>Consejero Patrimonial Relacionado</td>
    </tr>
    <tr>
      <td><a href="#jve">Joaquín Vaca Elguero</td>
      <td>Consejero Patrimonial Relacionado y Secretario del Consejo de Administración</td>
    </tr>
    <tr>
      <td><a href="#jcm">Javier Cervantes Monteil</td>
      <td>Consejero Patrimonial Relacionado</td>
    </tr>
    <tr>
      <td><a href="#mfa">Manuel Francisco Arce Rincón</a></td>
      <td>Consejero Independiente</td>
    </tr>
    <tr>
      <td><a href="#lza">Luis Guillermo Zazueta Domínguez</a></td>
      <td>Consejero Independiente</td>
    </tr>
    <tr>
      <td><a href="#ais">Alberto Ignacio Sánchez Palazuelos</a></td>
      <td>Consejero Independiente</td>
    </tr>
    <tr>
      <td><a href="#jlrh">José Luis Romero Hicks</a></td>
      <td>Consejero Independiente</td>
    </tr>

    </tbody>
  </table>
  <p>A continuación se presenta una breve biografía de cada uno de los miembros de nuestro Consejo de
    Administración:</p>

 <div class="c-content-title-3 c-title-sm c-theme-border" id="pve"> <h3 class="c-theme-font c-font-uppercase">Pedro Vaca Elguero.</h3>

  <p>Nacido en el año de 1960. Es Presidente del Consejo de Administración y Director General
    de CADU, desde que la fundó en septiembre de 2001. También es Consejero de Banco Actinver
    y es Consejero regional de BBVA Bancomer y Banamex. Anteriormente fue socio fundador, Presidente y Director General
    de Teñidos San Juan, S.A. de C.V., así como Presidente del Consejo de Administración y accionista de diversas
    empresas dedicadas a la confección de prendas de mezclilla (1987-2001). Ha participado en los Consejos de distintos
    organismos empresariales como la United States - México Chamber of Commerce (Vicepresidente del Capítulo Pacífico y
    Presidente del Capítulo Aguascalientes), la Cámara Nacional de la Industria del Vestido (Vicepresidente), el Consejo
    Coordinador Empresarial (Vicepresidente), así como de la CANACINTRA, Cámara de la que fue Presidente de la
    Delegación Aguascalientes y Vicepresidente Nacional en los años 1999-2000, actualmente es Vicepresidente de la
    cámara nacional de la industria de desarrollo y promoción de vivienda CANADEVI. Cursó estudios de Derecho en la Universidad Anáhuac.</p>
</div>
  <div class="c-content-title-3 c-title-sm c-theme-border" id="pave"><h3 class="c-theme-font c-font-uppercase">Pablo Vaca Elguero.</h3>

  <p>Nacido en el año de 1960. Consejero Patrimonial de CADU. Durante los últimos 20 años, ha desempeñado diversos
    puestos directivos entre los que destacan: Director General y socio fundador de Lavados Industriales Rinva, S.A. de
    C.V. (1988-1995), Director de Operaciones y Socio de Teñidos San Juan, S.A. de C.V. empresa dedicada a la lavandería
    de prendas textiles (1995-2001), Socio, Director de Obra y Operación y Ventas de CADU. Es fundador y Director
    General de las siguientes empresas: Urbanizadora Aspa, S.A. de C.V., Suministros Concretora, S.A. de C.V.,
    Constructora Punta Cancún, S.A. de C.V., Urbarima S.A. de C.V., y, Edirima, S.A. de C.V.</p></div>
    <div class="c-content-title-3 c-title-sm c-theme-border" id ="lve"> <h3 class="c-theme-font c-font-uppercase">Luis Vaca Elguero. </h3>

     <p>Nacido en el año de 1949. Consejero Patrimonial de Corpovael y Director General de Casas Duraderas del Sur S.A. de C.V. en
       Jalisco, de 2010 a 2012 Director General de CADURMA en Playa del Carmen en la Rivera Maya. Anteriormente, fue Director
       de Obra en CADU Guadalajara. Colaboró como Director de Recuperación y Administración de Cartera para la empresa
       Crédito Inmobiliario S.A. de C.V. SOFOM (1996-2008). Fue Director del Área Turística para la empresa Grupo Mar S.A.
       de C.V. (1974-1994). Trabajó en la Cadena de Hoteles Camino Real (especialización en Administración de Alimentos y
       Bebidas) (1969-1973), cuenta con una Licenciatura en Administración de Empresas Turísticas y ha participado en
       programas del IPADE (1990- 1991).</p></div>

  <div class="c-content-title-3 c-title-sm c-theme-border" id="jve"><h3 class="c-theme-font c-font-uppercase">Joaquín Vaca Elguero.</h3>

  <p>Nacido en el año de 1969. Consejero Patrimonial de CADU. Actualmente es Director de la oficina de Casas Duraderas del Sur S.A. de C.V. en Jalisco, Director Operativo de CADU desde su fundación en 2001, fundador y Director General de Primera Clase
    Net y Director General de 1st-Air Inc. America Latina (2000-2001), Director de Actinver Sucursal Aguascalientes
    (1999-2000), Director de Mercado de Capitales del Deutsche Bank Securities (1996-1999), Director de Mercado de
    Capitales en ING-Baring (1995-1996), Subdirector de Mercado de Capitales en Bursamex Casa de Bolsa (1993-1995), Operador
    de Piso en Inverlat Casa de Bolsa (1991-1993), cursó la Licenciatura en Administración de Empresas por la Universidad
    Iberoamericana (1990-1994).</p></div>

    <div class="c-content-title-3 c-title-sm c-theme-border" id="jcm">  <h3 class="c-theme-font c-font-uppercase">Javier Cervantes Monteil. </h3>

      <p>Nacido en el año de 1964. Consejero Relacionado de CADU. Director General Adjunto (Planeación y Finanzas),
        desde agosto de 2006 en CADU. Fue Director de Finanzas de Würth México, S.A. de C.V. (1990-1991) y de Artículos de
        Cartón DIN, S.A. de C.V. (1991-1995), Director General Jurídico de la Secretaría de Desarrollo Económico, Gobierno
        del Estado de Aguascalientes (1996-1998), Presidente y Director General de Cervantes y Asociados, S.C., despacho
        dedicado a prestar asesoría jurídica y corporativa, (1999-2006), Director General Adjunto de “Desarrollos y
        Construcciones del Centro, S.A. de C.V.”, en 2006. Es Abogado egresado de la Escuela Libre de Derecho (1982-1987) y
        Máster en Alta Dirección de Empresas, por el IPADE (1988-1990).</p>
    </div>

    <div class="c-content-title-3 c-title-sm c-theme-border" id="mfa"><h3 class="c-theme-font c-font-uppercase">Manuel Arce Rincón. </h3>

    <p>Nacido en el año de 1941, Consejero Independiente de CADU desde 2009 a la Fecha. Actualmente es Socio Director
      de Grupo Consultor ACM, S.C. A lo largo de su carrera, el Lic. Arce es o ha sido miembro del Consejo de
      Administración de más de 100 compañías, tanto del sector público como del privado, incluyendo Grupos Financieros,
      Bancos, Casas de Bolsa, Compañías de Seguros, Afores, Sincas, Fondos de Inversión, Aeropuertos, desarrolladoras,
      Transportadores de Valores, Periódicos, Casas Editoriales, Compañías Distribuidoras, Perforadoras Petroleras y
      otros. Es Licenciado en Administración de Empresas por la UNAM y MBA (Columbia University, New York).</p>
  </div>
   <div class="c-content-title-3 c-title-sm c-theme-border" id="lza"> <h3 class="c-theme-font c-font-uppercase">Luis Zazueta Domínguez. </h3>

    <p>Nacido en el año de 1946, Consejero Independiente de CADU desde 2014 a la Fecha. Socio Fundador y Director
      General de Despacho Zazueta Hermanos, S.C. prestador de servicios profesionales de contaduría pública incluyendo
      asesoría fiscal, auditoría de estados financieros y valuación de empresas. A lo largo de su carrera, el C.P. Zazueta
       ha sido miembro del Consejo de Administración de diversas compañías, incluyendo siderúrgicas, aeropuertos y de
      seguros. Es Miembro del Colegio de Contadores Públicos de México, Instituto Mexicano de Contadores Públicos y de la
      Academia Mexicana de Derecho Fiscal. Es Contador Público de la Universidad Iberoamericana.</p>
  </div>


  <div class="c-content-title-3 c-title-sm c-theme-border" id="ais">  <h3 class="c-theme-font c-font-uppercase">Alberto Sanchez Palazuelos. </h3>

    <p>Nacido en el año de 1939. Consejero  Independiente  de  Corpovael  desde 2015 a  la  Fecha.  Actualmente Presidente de ASP y Asociados, S.C. A
      lo largo de su carrera, el Ing. Sanchez es o ha sido Presidente del Consejo de  Administración de 13 compañías, del sector privado y público,
      incluyendo Grupos Financieros, Bancos, Compañías   de   Seguros,   Afores, Fondos   de Inversión, Desarrolladoras, Compañías Hoteleras, entre otros.
       Es Ingeniero Químico con Mención Honorifica por UIA y MBA en Administración de Empresas por Purdue University.</p>
  </div>

  <div class="c-content-title-3 c-title-sm c-theme-border" id="jlrh">  <h3 class="c-theme-font c-font-uppercase">José Luis Romero Hicks. </h3>

    <p>Nacido en el año de 1957, Consejero Independiente de Corpovael desde 2016 a la Fecha. Es licenciado en Derecho por la Universidad de Guanajuato y
      Licenciado en Ciencias Políticas por la Universidad de Lawrence, Wisconsin y Maestro en Economía por la Universidad del Sur de Oregon. José Luis
      ha sido catedrático, investigador, Director de Planeación, Asesor de la Rectoría y Miembro del Patronato de la Universidad de Guanajuato. </p>
    <p>Anteriormente fue Director General del Banco de Comercio Exterior (Bancomext), Consejero Económico de las embajadas de México en la India y Japón,
      Director General de Política y Fomento a la Vivienda en Sedesol, Consejero Propietario de Pemex, Presidente de los Consejos de Ocean Garden y Seguros Bancomext.
  </div>


</div>
