<div id="consejo-administracion">
  <p>CADU tiene un Consejo de Administración integrado por 11 personas que sesionan por lo menos 4 veces al año.</p>

  <p>El 50% de los integrantes del Consejo de CADU son de carácter independiente – superando, así, tanto el 25% de
    independientes exigido en la Ley del Mercado de Valores como el 25% de independientes recomendado en el Código de
    Principios y Mejores Prácticas de Gobierno Corporativo. </p>

  <p>El Consejo de Administración no cuenta con Consejeros Suplentes ya que todos los Consejeros asisten a la
    totalidad de las sesiones a las que son convocados.</p>

  <p>Las principales labores del Consejo son:</p>
  <p>(i)	definir el rumbo estratégico del negocio;
    <br>
    (ii)	vigilar el desempeño de la Empresa y de sus subsidiarias;
    <br>
    (iii)	cerciorarse de que todos los accionistas tengan un trato igualitario y se protejan sus intereses;
    <br>
    (iv)	promover que la Sociedad sea socialmente responsable; y,
    <br>
    (v)	proteger el patrimonio de la Sociedad (incluyendo todas y cada una de las sociedades que consolidan
    en sus estados financieros).</p>

  <p>Actualmente, el Consejo se conforma de la siguiente manera:</p>
<div class="container" style="overflow: scroll;">
  <div class="col-md-9 col-xs-12">
  <table class="table">
    <thead>
    <tr>
      <td>NOMBRE</td>
      <td>CARGO</td>
      <td>PERFIL</td>
      <td>COMPETENCIAS Y AFILIACIONES</td>
      <td>EN EL CONSEJO DESDE</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Pedro Vaca Elguero</td>
      <td>Presidente del Consejo</td>
      <td>Patrimonial Relacionado</td>
      <td>Es Director General de CADU desde 2001. Además, es Consejero de Banco Actinver, y Consejero Regional
        de BBVA Bancomer y CitiBanamex. Cursó estudios de Derecho y ha sido parte de organismos empresariales
        como el Consejo Coordinador Empresarial, CANACINTRA y CANADEVI</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Pablo Vaca Elguero</td>
      <td>Consejero</td>
      <td>Patrimonial Relacionado</td>
      <td>Director General de Empresas Contructoras de Grupo CADU. Y, por los últimos 20 años ha desempeñado
        cargos directivos en distintas empresas</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Joaquín Vaca Elguero	</td>
      <td>Consejero</td>
      <td>Patrimonial Relacionado</td>
      <td>Director General de CADU en Jalisco. Tuvo varios cargos directivos en distintas empresas entre 1995
        y 2001, entre los cuales figuran Director de Capitales del Deustche Bank Jalisco</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Luis Vaca Elguero</td>
      <td>Consejero</td>
      <td>Patrimonial </td>
      <td>Fue Director General de CADURMA en Playa del Carmen, en la Rivera Maya, y Director de Obra en CADU
        Guadalajara. Ha desempeñado cargos de alta dirección en distintas empresas durante los últimos 50 años</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Mauricio Torres Pimienta</td>
      <td>Consejero</td>
      <td>Patrimonial Relacionado</td>
      <td>El Lic. Torres Pimienta ha colaborado con el
      equipo de finanzas de CADU durante los últimos 3 años y cuenta con amplia experiencia en
      los sectores bancario e inmobiliario</td>
      <td>2023</td>
    </tr>
    <!--<tr>
      <td>Javier Cervantes Monteil</td>
      <td>Consejero</td>
      <td>Patrimonial Relacionado</td>
      <td>Fue Presidente y Director de una
        firma de abogados; y ocupó cargos directivos en distintas empresas y hasta en una Secretaría. Es abogado,
        egresado de la Escuela Libre de Derecho, y Master en Alta Dirección de Empresas del IPADE</td>
      <td>2009</td>
    </tr>-->
    <tr>
      <td>Marta Vaca Viana</td>
      <td>Consejero</td>
      <td>Independiente</td>
      <td>Es Directora de Delphi Consulting & Advisory Firm desde hace 7 años. Ha trabajado con más de 100 empresas de
        América Latina, Europa, EE. UU. y Asia, para asesorarlas en materias de gobierno corporativo, gobierno familiar,
        sustentabilidad corporativa, ética y proyectos de institucionalización y profesionalización.</td>
      <td>2021</td>
    </tr>
    <tr>
      <td>Alberto Sánchez Palazuelos</td>
      <td>Consejero</td>
      <td>Independiente</td>
      <td>Es Presidente de ASP y Asociados S.C. Y a lo largo de su carrera es o ha sido Presidente del Consejo de
        Administración de 13 compañías que incluyen Grupos Financieros, Bancos, Compañías de Seguros, Afores, Fondos de
        inversión, Compañías Hoteleras, entre otros. Es Ing. Químico, y tiene un MBA por Purdue University</td>
      <td>2015</td>
    </tr>
    <tr>
      <td>Manuel F. Arce Rincón</td>
      <td>Consejero</td>
      <td>Independiente</td>
      <td>Es Socio Director de Grupo Consultor ACM S.C. A lo largo de su carrera, ha sido Consejero de más de 100 empresas
        tanto del sector público como del privado. Es Licenciado en Administración de Empresas por la UNAM y MBA por
        Columbia University en Nueva York</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Luis	Zazueta Domínguez  </td>
      <td>Consejero</td>
      <td>Independiente</td>
      <td>Es socio fundador y Director General de Zazueta Hermanos. Ha sido consejero de diversas compañías incluyendo
        siderúrgicas, aeropuertos y compañías de seguros. Es miembro del Colegio de Contadores Públicos de México.
        Es Contador Público por la Universidad Iberoamericana.</td>
      <td>2014</td>
    </tr>
    <tr>
      <td>José	Luis Romero Hicks</td>
      <td>Consejero</td>
      <td>Independiente</td>
      <td>Fue Director General del Banco de Comercio Exterior (Bancomext), Consejero Económico de las embajadas de México
        en la India y en Japón. Además, Consejero Propietario en Pemex, y Director General de Política y Fomento a la
        Vivienda en Sedesol. Es Licenciado en Derecho por la Universidad de Guanajuato, Licenciado en Ciencias
        Políticas por la Universidad de Lawrence, y Maestro en Economía por la Universidad del Sur de Oregon</td>
      <td>2016</td>
    </tr>
    <tr>
      <td>Israel Godina</td>
      <td>Secretario no-miembro del consejo de administración</td>
      <td>N/A</td>
      <td></td>
      <td>N/A</td>
    </tr>

    </tbody>
  </table>
  </div>
</div>
</div>
