<div id="estructura-accionaria">

  <p>El capital social de CADU se encuentra representado por 319,172,265 acciones ordinarias, nominativas, sin expresión
    de valor nominal y representativas de la parte fija del capital social. Todas las acciones de CADU se encuentran
    inscritas ante el Registro Nacional de Valores en una <b>serie única</b>.</p>

  <p>Las acciones de CADU confieren a sus tenedores los mismos derechos plenos de voto y patrimoniales.</p>

  <p>Cada una de las acciones le da derecho a su tenedor a ejercer sus derechos de voto de manera completa y,
    en particular, a emitir un voto en cualquiera de las Asambleas Generales de Accionistas de la Emisora,
    ya sean Ordinarias o Extraordinarias.</p>

  <table class="table">
    <thead>
    <tr>
      <th colspan="3" style="text-align: center">Tenencia accionaria Corpovael, S.A.B. de C.V. "CADU"
      </th>
    </tr>

    <tr>
      <th>Accionista</th>
      <th>Acciones</th>
      <th>%</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Grupo de Control</td>
      <td>229,737,446</td>
      <td>71.98%</td>
    </tr>

    <tr>
      <td>Público Inversionista</td>
      <td>89,434,819 </td>
      <td>28.02%</td>
    </tr>
    <tr>
      <td><b>Total</b></td>
      <td><b>319,172,265</b></td>
      <td><b>100.00%</b></td>
    </tr>
    </tbody>
  </table>
  <div style="text-align: center">
    <!--<img src="/assets/cadu/images/content/accionaria.png" alt=""/>-->
    <div id="acc" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>

  </div>
</div>

<!-- Amchart Scripts -->
<script type="application/javascript" src="/assets/plugins/amcharts/amcharts.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/serial.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/pie.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/themes/light.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/charts-accionaria.js?i=1"></script>
