<div id="estructura-corporativa">
  <p>La estructura corporativa de CADU se integra por un total de 26 subsidiarias, manteniendo participación directa
    mayoritaria en el capital social de las siguientes empresas, representativas de la actividad principal de CADU:</p>
  <br/>
  <div style="text-align: center;">
    <img style="width: 100%" src="/assets/cadu/images/content/corporativa.png?v=1" alt=""/>
  </div>
  <br/>
  <p>La estructura corporativa de CADU está fundamentada en centros de ingresos y costos independientes. Así, existe una
    sociedad mercantil constituida en cada plaza (empresa desarrolladora), misma que es la encargada de adquirir los
    terrenos, contratar créditos, contratar la urbanización y la edificación de las viviendas, administrar los recursos,
    vender y cobrar las viviendas. Asimismo, la estrategia de integración vertical de CADU establece la constitución de
    empresas constructoras en cada plaza, una empresa dedicada exclusivamente a la urbanización de los desarrollos y una
    empresa dedicada exclusivamente a la edificación de las viviendas.</p>
  <table class="table">
    <thead>
    <tr>
      <th colspan="2" style="text-align: center">Subsidiarias de Corpovael, S.A.B. de C.V.
        al 31 de diciembre de 2017
      </th>
    </tr>
    <tr>
      <th class="col-md-9">Entidad</th>
      <th class="col-md-3">% de participación accionaria</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="2"><b>Empresas desarrolladoras</b></td>
    </tr>
    <tr>
      <td>CADU INMOBILIARIA, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>CADURMA, S.A. DE C.V.</td>
      <td>98.00%</td>
    </tr>
    <tr>
      <td>CASAS DURADERAS DEL CENTRO, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <tr>
        <td>CASAS DURADERAS DEL SUR, S.A. DE C.V. </td>
        <td>99.99%</td>
      </tr>
      <tr>
        <td>CADUEM, S.A. DE C.V. </td>
        <td>95.00%</td>
      </tr>
      <td>INMOBILIARIA TUSAL, S.A. DE C.V.</td>
      <td>99.96%</td>
    </tr>
    <tr>
      <td>CADU RESIDENCIAS, S.A. DE C.V.</td>
      <td>85.00%</td>
    </tr>
    <tr>
      <td>INMOCCIDENTE, S.A. DE C.V. </td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>VIVIENDAS RESTAURADAS, S.A. DE C.V. </td>
      <td>95.00%</td>
    </tr>
    <tr>
      <td>PROGRESANDO Y CRECIENDO, S.A. DE C.V. </td>
      <td>51.00%</td>
    </tr>





    <tr>
      <td colspan="2"><b>Empresas constructoras</b></td>
    </tr>
    <tr>
      <td>URBANIZADORA ASPA, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>CONSTRUCCIONES PUNTA CANCÚN, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>SUMINISTROS CONCRETORA, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>URBARIMA, S.A. DE C.V.</td>
      <td>98.00%</td>
    </tr>
    <tr>
      <td>EDIFICACIONES RIVIERA MAYA, S.A. DE C.V.</td>
      <td>98.00%</td>
    </tr>
    <tr>
      <td>INMOBILIARIA ESPECIALIZADA VAEL, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>URBACDC, S.A. DE C.V.</td>
      <td>99.99%</td>
    </tr>

    <tr>
      <td>CONSTRUCCIONES DE MONTEJO, S.A. DE C.V. </td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>URBAMER, S.A. DE C.V. </td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>VILLA EDIFICADORA, S.A. DE C.V. </td>
      <td>95.00%</td>
    </tr>
      <tr>
        <td>VILLA URBANIZADORA, S.A. DE C.V.</td>
        <td>95.00%</td>
      </tr>
      <tr>
        <td>URVAEL, S.A. DE C.V. </td>
        <td>99.99%</td>
      </tr>
      <tr>
        <td>EDIFICASAS DEL BAJÍO, S.A. DE C.V.</td>
        <td>99.99%</td>
      </tr>

    <tr>
      <td colspan="2"><b>Otros</b></td>
    </tr>

    <tr>
      <td>INMOBILIARIA ADMINISTRADORA DE CAPITAL</td>
      <td>99.99%</td>
    </tr>
    <tr>
      <td>ECOVIVIENDAS TAPATÍAS</td>
      <td>99.99%</td>
    </tr>

    <tr>
      <td>SUBASTAS Y LICITACIONES DEL ALTIPLANO</td>
      <td>99.99%</td>
    </tr>


    </tbody>
  </table>
</div>
