<div>
  <p>
    En <strong>CADU</strong> estamos comprometidos con el desarrollo sostenible a través de la edificación de viviendas de calidad que promuevan el
    cuidado al medio ambiente y la formación de comunidades integrales.
  </p>
  <p>En el año 2021 llevamos a cabo una revisión de nuestra contribución con los Objetivos de Desarrollo Sostenible (ODS) para
    poder dar continuidad a nuestras acciones en favor del desarrollo de México.</p>
  <p>Confirmamos que nuestras operaciones contribuyen de forma directa con los ODS 11, 7, 13, 8, 6 y 15 y con los ODS
    3, 4, 1, 10 y 9 de forma indirecta. </p>
  <img src="/assets/cadu/images/content/objetivos_2021.png" width="90%"  alt=""/>
  <br/>
  <br>

  <a href="http://cdn.investorcloud.net/cadu/GobiernoCorporativo/Global/impacto-ods.pdf" target="_blank">Reporte del Impacto de CADU a los ODS
  </a>
</div>
