<div>
  <p>
    En CADU sabemos que no basta con tener una agenda propia de sustentabilidad. Si queremos contribuir a la agenda nacional y a la agenda global de desarrollo sostenible, es fundamental saber cómo podemos contribuir a través de nuestras actividades.

  </p>
  <p>Con base en la premisa expuesta, hemos realizado un análisis de impacto de nuestras actividades frente a los ODS y hemos concluido que nuestro impacto se resume en la siguiente Figura.</p>
  <img src="/assets/cadu/images/content/infografia3.png" width="100%"  alt=""/>
  <br/>

  <a href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2018-Sustentabilidad.pdf" target="_blank">Reporte del Impacto de CADU a los ODS
  </a>
</div>