<div>
  <p>
    En <b>CADU</b> tenemos el compromiso de continuar siendo un polo de desarrollo. Por ello, en 2019 hicimos un estudio para entender cómo estamos contribuyendo a los Objetivos de Desarrollo Sostenible (ODS) de la ONU.

  </p>
  <p>Los resultados del estudio arrojaron que nuestra estrategia empresarial está íntimamente alineada con el ODS 11. Y también entendimos cómo, con nuestra
    operación, también contribuimos a los ODS 6, 7, 8, 13 y 15; y, a los 4, 1 y 10 y 9 de forma directa e indirecta, respectivamente.</p>
  <img src="/assets/cadu/images/content/infografia3-3-.png" width="90%"  alt=""/>
  <br/>
  <br>

  <a href="http://cdn.investorcloud.net/cadu/GobiernoCorporativo/Global/impacto-ods.pdf" target="_blank">Reporte del Impacto de CADU a los ODS
  </a>
</div>
