<div id="practicas">
  <p>CADU tiene un firme compromiso con las mejores prácticas; por ello, conoce y sigue recomendaciones que hace el
    Consejo Coordinador Empresarial en materia de gobierno corporativo.</p>
  <br>
  <br>
<div class="text-center">
    <div class="c-content-blog-post-card-1 c-option-2">
        <a href="http://cdn.investorcloud.net/cadu/GobiernoCorporativo/Global/CMPC-18.pdf" target="_blank"><img class="center-img img-responsive" src="/assets/cadu/images/content/practicas.jpg" alt="">Código de principios y mejores prácticas <br>de Gobierno Corporativo 2018</a>
    </div>
</div>

</div>
