<div id="practicas">
  <p>CADU viene adaptando el Código de Mejores Prácticas Corporativas, integró un Consejo de Administración y un Comité de Auditoría y Prácticas Societarias.
    Actualmente el Consejo esta conformado por nueve miembros, de los cuales, cuatro son independientes, lo cual proporciona confianza a sus inversionistas además de
    diversificación en la toma de decisiones.</p>

  <p>En virtud de la reforma integral de los estatutos sociales para la adopción de la modalidad de sociedad anónima
    bursátil de capital variable, CADU ha modificado sus estatutos para integrar las últimas reformas
    regulatorias, siendo importante señalar que la integración corporativa permanece sustancialmente similar, en virtud
    de los esfuerzos de institucionalización que datan desde el 2006.</p>
</div>
