<div id="practicas">
  <p>CADU tiene un firme compromiso con las mejores prácticas; por ello, conoce y sigue recomendaciones que hace el
    Consejo Coordinador Empresarial en materia de gobierno corporativo.</p>
  <br>
  <div class="item col-md-4">
    <div class="c-content-blog-post-card-1 c-option-2">
        <a href="#"><img class=" img-responsive" src="/assets/cadu/images/content/practicas.jpg" alt="">CPyMPGC_FINAL Codigov19</a>
    </div>
  </div>

</div>
