<div id="practicas">
  <p>En el 2006, CADU adoptó el Código de Mejores Prácticas Corporativas e integró un Consejo de Administración de ocho
    miembros, de los cuales, dos son independientes, lo cual proporciona confianza a inversionistas además de
    diversificación en toma de decisiones.</p>

  <p>En virtud de la reforma integral de los estatutos sociales para la adopción de la modalidad de sociedad anónima
    bursátil de capital variable, la Compañía ha modificado sus estatutos para integrar las últimas reformas
    regulatorias, siendo importante señalar que la integración corporativa permanece sustancialmente similar en virtud
    de los esfuerzos de institucionalización de CADU desde el 2006.</p>
</div>