<div id="">

<p>Para CADU es muy importante dirigir con el ejemplo, promover una competencia justa y apegarse a los valores de
  la Compañía que incluyen:</p>

<div class="text-center">
<img src="/assets/cadu/images/content/valores.png" width="80%" alt=""/>
</div>

<p>CADU busca proteger a todos sus colaboradores, ya que ellos son una pieza clave para que la Compañía pueda lograr la
  consecución de sus objetivos, para esto CADU salvaguarda, entre otras cosas, el total cumplimiento de los derechos
  humanos evitando así cualquier acto de discriminación.</p>

  <div class="text-center">
  <img src="/assets/cadu/images/content/infograma.png" width="80%" alt=""/>
  </div>

<h3>Composición de la fuerza laboral</h3>

<p>Al cierre de 2018, CADU tenía una plantilla laboral de 1,221 colaboradores fijos (con contrato permanente) y de 3,635 colaboradores indirectos (con contrato por obra determinada).
  Y, a pesar de que en CADU no tenemos personal sindicalizado en oficinas, en obra celebramos negociaciones con el sindicato al inicio de cada proyecto, lo cual significa que todo el
  personal por obra determinada es afiliado.</p>

  <div class="text-center">
  <img src="/assets/cadu/images/content/personal2.png" width="80%" alt=""/>
  </div>


  <h3>Prestaciones</h3>

  <p>Los altos directivos de CADU creen que los salarios corresponden a conocimientos y experiencia por lo que es imperativo que sean
    justos y competitivos ante el mercado sin favorecer a un género en especial.</p>

  <p>En seguimiento a la generación de bienestar entre cada uno de sus colaboradores, CADU brinda diversos beneficios superiores a los
    que exige la ley, tal como se muestra a continuación:</p>

  <h4 style="color:#ea5f26">Prestaciones de Ley</h4>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Seguro Social.</li>
    <li>INFONAVIT.</li>
    <li>Aguinaldo correspondiente a 15 días de Salario o Proporcional.</li>
    <li>Vacaciones Anuales con base en la LFT (Departamento Seguridad).</li>
  </ul>

  <h4 style="color:#ea5f26">Prestaciones Superiores a la Ley</h4>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Periodo Vacacional de 4 Semanas al Año: una
Semana completa en “Semana Santa” y 3 Semanas
completas en Diciembre.<sup>1</sup></li>
    <li>Aguinaldo de 30 días: a los colaboradores que cuentan ya con un año de antigüedad o más.<sup>1</sup></li>
    <li>Política de préstamos sin cobro de intereses: la
Compañía busca apoyar a los colaboradores a
enfrentar gastos difíciles que puedan presentar
como pagar colegiaturas de sus hijos, compra de útiles,
enganches de automóviles, etc. </li>
    <li>Apoyos médicos para colaboradores y sus familiares
directos: como en ocasiones los servicios médicos
sociales no son sufcientes o presentan falta de atención
especializada, la Compañía se da a la tarea de apoyar
con servicios médicos particulares. Por ejemplo,
ha apoyado en cirugías para cataratas; con tratamientos
para casos degenerativos o de tumores; gastos médicos por fracturas. </li>
    <li>Gastos funerarios: con el conocimiento de que
un evento como un deceso representa un desgaste
emocional y un gasto económico fuerte, la Compañía
apoya a sus colaboradores para enfrentar los gastos. </li>
<li>Maternidad/Paternidad: la procreación de una
familia no es exclusiva de nuestro personal
femenino; por lo que a nuestro personal masculino
se les da permiso, con goce de sueldo, para asistir y
acompañar en el parto a su cónyuge.</li>
<li>En la festa de Navidad, misma a la que asisten todos los colaboradores de CADU,
  se entregan electrodomésticos, televisiones, computadoras y hasta un automóvil.
  El 80% de los invitados se llevan a casa al menos un regalo.</li>
  </ul>


  <h3>Grupos de interés</h3>

  <p>Para CADU es de suma importancia la comunicación eficiente y oportuna con sus accionistas, por lo que tiene los siguientes canales de diálogo:</p>
  <div class="col-md-6 col-xs-6">
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Atención en persona.</li>
    <li>Buzón de quejas.</li>
    <li>Encuestas de clima laboral.</li>
    <li>Correo electrónico.</li>
    <li>Capacitaciones.</li>
    <li>Servicio post-venta.</li>
    <li>Redes sociales.</li>
  </ul>
  </div>
  <div class="col-md-6 col-xs-6">
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Sitio web de la empresa.</li>
    <li>Contacto telefónico.</li>
    <li>Reuniones.</li>
    <li>Teleconferencias.</li>
    <li>Reportes.</li>
    <li>Road shows.</li>
    <li>Asambleas.</li>
  </ul>
  </div>

    <h3>Apoyo a la comunidad</h3>

  <p>En CADU estamos comprometidos con el desarrollo de México y con la meta de erradicar la pobreza.
    Por ello, hemos continuado con la implementación de varios programas sociales y, además, desde 2018 hemos
    consolidado un compromiso formal para construir un plan de responsabilidad social corporativa que se alinee a
    nuestro modelo de negocio.</p>

    <h3>Brigadas médicas</h3>

    <p>En 2018 a través de nuestros Promotores Vecinales logramos hacer sinergia con diversas instancias
      gubernamentales y asociaciones civiles para realizar brigadas médicas y brindar servicios de la rama
      de salud en nuestros desarrollos. Todas estas actividades son promovidas desde CADU, no nada más por
      nuestro compromiso social, sino porque queremos que nuestros clientes y comunidades se sientan identificados
      con la empresa. Entre los servicios brindados en 2018 figuraron los siguientes:</p>

      <ul class="c-content-list-1 c-theme c-separator-dot">
        <li>Mastografías gratuitas.</li>
        <li>Exámenes médicos generales.</li>
        <li>Consultas pediátricas.</li>
        <li>Exámenes de la vista.</li>
        <li>Entrega de lentes graduados a precios simbólicos.</li>
        <li>Campañas de vacunación antirrábica para mascotas.</li>
        <li>Inscripción a programas de apoyo al adulto mayor y seguro popular.</li>
      </ul>

    <small style="font-size:12px"><sup>1</sup>Válido únicamente a los empleados de construcción.</small>

</div>
