<div id="">

<p>Para CADU es muy importante dirigir con el ejemplo, promover una competencia justa y apegarse a los valores de
  la Compañía que incluyen:</p>

<div class="text-center">
<img src="/assets/cadu/images/content/valores.png" width="80%" alt=""/>
</div>

<p>CADU busca proteger a todos sus colaboradores, ya que ellos son una pieza clave para que la Compañía pueda lograr la
  consecución de sus objetivos, para esto CADU salvaguarda, entre otras cosas, el total cumplimiento de los derechos
  humanos evitando así cualquier acto de discriminación.</p>

  <div class="text-center">
  <img src="/assets/cadu/images/content/infograma.png" width="80%" alt=""/>
  </div>

<h3>Composición de la fuerza laboral</h3>

<p>Al cierre de 2017, la plantilla laboral de CADU ascendía a 1,320 colaboradores, mismos que se encontraban distribuidos
  de la siguiente manera: </p>

  <div class="text-center">
  <img src="/assets/cadu/images/content/personal.png" width="80%" alt=""/>
  </div>

<p>Asimismo, el personal administrativo cuenta con un buen balance entre experiencia e innovación, dirigidos por una justa
  composición de nuestros puestos gerenciales/directivos.</p>

  <div class="text-center">
  <img src="/assets/cadu/images/content/graficas.png" width="80%" alt=""/>
  </div>

  <h3>Prestaciones</h3>

  <p>Los altos directivos de CADU creen que los salarios corresponden a conocimientos y experiencia por lo que es imperativo que sean
    justos y competitivos ante el mercado sin favorecer a un género en especial.</p>

  <p>En seguimiento a la generación de bienestar entre cada uno de sus colaboradores, CADU brinda diversos beneficios superiores a los
    que exige la ley, tal como se muestra a continuación:</p>

  <h4 style="color:#ea5f26">Prestaciones de Ley</h4>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Seguro Social.</li>
    <li>Aguinaldo a 15 días de Salario o Proporcional.</li>
    <li>Vacaciones Anuales con base en la LFT (Departamento Seguridad).</li>
  </ul>

  <h4 style="color:#ea5f26">Prestaciones Superiores a la Ley</h4>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Periodo Vacacional de 4 Semanas al Año: una
Semana completa en “Semana Santa” y 3 Semanas
completas en Diciembre.<sup>1</sup></li>
    <li>Aguinaldo de 30 días: a los colaboradores que cuentan ya con un año de antigüedad o más.<sup>1</sup></li>
    <li>Política de préstamos sin cobro de intereses: la
Compañía busca apoyar a los colaboradores a
enfrentar gastos difíciles que puedan presentar
como pagar colegiaturas de sus hijos, compra de útiles,
enganches de automóviles etc. </li>
    <li>Apoyos médicos para colaboradores y sus familiares
directos: como en ocasiones los servicios médicos
sociales no son sufcientes o presentan falta de atención
especializada, la Compañía se da a la tarea de apoyar
con servicios médicos particulares. Por ejemplo,
para casos degenerativos o de tumores; gastos
médicos por fracturas. </li>
    <li>Gastos funerarios: con el conocimiento de que
un evento como un deceso representa un desgaste
emocional y un gasto económico fuerte, la Compañía
apoya a sus colaboradores para enfrentar los gastos. </li>
<li>Maternidad/Paternidad: la procreación de una
familia no es exclusiva de nuestro personal
femenino; por lo que a nuestro personal masculino
se les da permiso, con goce de sueldo, para asistir y
acompañar en el parto a su cónyuge.</li>
  </ul>


  <h3>Grupos de interés</h3>

  <p>Para CADU es de suma importancia la comunicación eficiente y oportuna con sus accionistas, por lo que:</p>

  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Tiene un departamento de Relación con Inversionistas.</li>
    <li>Posee una sección en su sitio web con la información más reciente.</li>
    <li>Realiza <em>conference calls</em> con el objetivo de dar un seguimiento puntual a cualquier inquietud que les pudiera surgir.</li>
  </ul>

  <p>Además, ha comenzado a realizar evaluaciones que detectan las áreas de oportunidad en las cuales se podría mejorar para incrementar
    la calidad de la vida laboral de sus asociados.</p>

    <h3>Apoyo a la comunidad</h3>

    <p>Como parte de su amplio compromiso con la sociedad, CADU ha sido solidaria con los acontecimientos que afectaron a México tras los sismos acaecidos durante 2017, en donde tuvo la oportunidad de apoyar de la siguiente manera: </p>

    <table class="table">
      <thead>
        <th>Apoyo a Causa Social</th>
        <th>Importe Económico</th>
      </thead>
      <tbody>
        <tr>
        <td>Apoyo para damnificados por terremoto
en Oaxaca y Ciudad de México, Fundación
Carlos Slim.</td>
<td rowspan="3"><br><br>$300,000.00 MXN</td>
      </tr>
      <tr>
        <td>Casa de campaña para personas damnificadas
por terremoto de Oaxaca y Ciudad de México</td>

</tr>
<tr>
<td>Cobertores para 500 personas damnificadas
por terremoto en Oaxaca y Ciudad de México.</td>
</tr>
      </tbody>
    </table>



    <small style="font-size:12px"><sup>1</sup>Válido únicamente a los empleados de construcción.</small>

</div>
