{% extends 'layouts/content.html' %}
{% block content %}
<div>
  <h3>Stakeholders</h3>

  <p>CADU attaches great importance to efficient and timely communication with its various stakeholders, and therefore has the following channels of dialogue:</p>
  <div class="col-md-6 col-xs-6">
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Individual attention.</li>
    <li>Complaints box.</li>
    <li>Work climate surveys.</li>
    <li>E-mail.</li>
    <li>Trainings.</li>
    <li>Post-sale service.</li>
    <li>Social networks.</li>
  </ul>
  </div>
  <div class="col-md-6 col-xs-6">
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Corporate website.</li>
    <li>Telephone.</li>
    <li>Meetings.</li>
    <li>Audioconferences.</li>
    <li>Earnings releases.</li>
    <li>Roadshows.</li>
    <li>Shareholders’ meetings.</li>
  </ul>
  </div>
</div>

{% endblock %}
