{% extends 'layouts/content.html' %}
{% block content %}
<div id="hitoria">
  <section class="slice bg-3 no-padding">
    <div class="w-section inverse">
      <div class="">
        <ul class="timeline">
          <li class="year">2020 - 2024</li>
          
          <li class="event">
            <div class="event-date">
              <p>HSBC otorgó a CADU el Premio Empresas Líderes en Innovación Sustentable que, con el poder de su impacto, generan estrategias sustentables en México.</p>
              <small> 2024</small>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>CADU recibe por tercer año consecutivo el distintivo ESR 2024 para empresas grandes, otorgado por el Centro Mexicano para la Filantropía, A.C. (Cemefi) y la Alianza por la Responsabilidad Social Empresarial por México (AliaRSE), en reconocimiento a su compromiso evidenciado en aspectos Ambientales, Sociales y de Gobierno Corporativo.</p>
              <small> 2024</small>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>CADU continúa por cuarto año como participante del Pacto Global de la ONU.</p>
              <small> 2024</small>
            </div>
          </li>

          <li class="event mover">
            <div class="event-date">
              <p>CADU ha sido galardonada por segundo año consecutivo con el distintivo ESR® 2023 para empresas Grandes, otorgado 
              por el Centro Mexicano para la Filantropía, A.C. (Cemefi) y la Alianza por la Responsabilidad Social Empresarial por 
              México (AliaRSE), en reconocimiento a su compromiso evidenciado en aspectos Ambientales, Sociales y de Gobierno Corporativo.</p>
              <small> 2023</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>CADU obtuvo la certificación EDGE Advanced, “Excellence In Design For Greater Efficiencies” que otorga
                el International Finance Corporation (IFC), miembro del Banco Mundial, para las primeras 798 viviendas de
                su desarrollo “El Edén” en Playa del Carmen.</p>
              <small> 2022</small>
            </div>
          </li>
          <li class="event ">
            <div class="event-date">
              <p>CADU fue felicitado por el Centro Mexicano para la Filantropía, A.C., (Cemefi) y de la Alianza por
                la Responsabilidad Social Empresarial por México (AliaRSE),  por haber obtenido el Distintivo ESR®
                2022 para empresas Grandes, como resultado de su compromiso público y voluntario por implementar una
                gestión socialmente responsable, basada en una visión de mejora continua manifestada ante sus grupos de interés.</p>
              <small> 2022</small>

            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>El Consejo Consultivo de Finanzas Verdes (CCFV) otorgó al Bono Verde CADU20V emitido en diciembre de 2020,
                el premio al Primer bono verde de una desarrolladora de vivienda colocado en el mercado local, en el marco
                de los Premios Bonos Verdes, Sociales y Sustentables 2020-2021.</p>
              <small> 2021</small>

            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>CADU cumplió 20 años de trayectoria en el sector vivienda, durante los cuales ha diseñado,
                urbanizado, edificado, promovido y escriturado más de 100 mil viviendas en 6 estados del país.
                Asimismo, se ha convertido en el desarrollador que más viviendas ha escriturado bajo el
                programa ECOCASA de la Sociedad Hipotecaria Federal.</p>
              <small> 2021</small>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>CADU fue galardonado internacionalmente con el premio al Bono Verde 2020 de <i>Environmental
                  Finance</i>.</p>
              <small> 2021</small>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>CADU obtuvo la Certificación Prime, reconocimiento otorgado por Bancomext, NAFIN, la BMV,
                BIVA y la AMIB, para incentivar la institucionalización de las empresas mexicanas.</p>
              <small> 2020</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>CADU llevó a cabo la emisión de su primer Bono Verde “CADU20V”, por $502 millones de pesos,
                un plazo de 7 años y con tasa de interés fija de 9.13%,
                convirtiéndose en el primer Bono Verde del sector vivienda en América Latina con certificación
                de <i>Climate Bond Initiative</i> (CBI), bajo la modalidad <i>“Low Carbon Buildings”.</i> Los recursos se destinarán al refinanciamiento de proyectos bajo el programa ECOCASA. </p>
              <small> 2020</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>CADU evalúa su <i>"Green Invesment Framework"</i>mediante una segunda opinión con Sustainalytics y
                logra una certificación verde por CBI bajo el criterio de <i>"Low Carbon Buildings".</i> </p>
              <small> 2020</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>CADU desarrolla su <i>"Green Invesment Framework"</i>para emitir Bonos Verdes.</p>
              <small> 2020</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>CADU se vuelve participante del Pacto Global de la ONU.</p>
              <small> 2020</small>
            </div>
          </li>
          <li class="year">2010 - 2019</li>
          <li class="event">
            <div class="event-date">
              <p>CADU lleva a cabo la quinta emisión de Certificados Bursátiles (“CADU 19”), por un monto de $500 millones de pesos, quirografarios y
                a un plazo de 5 años.</p>
              <small> 2019</small>
            </div>
          </li>
          <br>
          <li class="event">
            <div class="event-date">
              <p>CADU lleva a cabo la cuarta emisión de Certificados Bursátiles (“CADU 18”), por un monto de $500 millones de pesos, quirografarios y
                a un plazo de 5 años.</p>
              <small> 2018</small>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>CADU inaugura Allure, complejo residencial ubicado frente al mar caribe, rodeado de bellezas naturales,
                seguridad y las mejores amenidades.</p>
              <small> 2017</small>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/static/assets/cadu/images/content/longi2.png" class="img-responsive" alt="CADU BMV">
                </div>
              </div>
            </div>
          </li>
          <li class="event ">
            <div class="event-date">
              <p>CADU inauguró el primer desarrollo del complejo habitacional Long Island: York Homes. Con esta
                apertura,
                CADU reafirma su liderazgo en Quintana Roo y avanza hacia una sólida mezcla de ventas, incrementando
                la participación de vivienda media.</p>
              <small> 2017</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/static/assets/cadu/images/content/longisland3.jpg" class="img-responsive" alt="CADU BMV">
                </div>
              </div>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>Escrituración Vivienda Media en Cancún y Valle de México con precio promedio de venta de $1.8
                millones de pesos.</p>
              <small> 2016</small>
            </div>

          </li>
          <li class="event">
            <div class="event-date">
              <p>Con los recursos levantados, CADU tiene la intención de dar continuidad a su plan de crecimiento basado
                en la ampliación de su oferta hacia productos de mayor rentabilidad y rangos de precios mayores.</p>

              <small> 2015</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">

              <p>CADU lleva a cabo una oferta pública inicial en la Bolsa Mexicana de Valores (BMV) bajo la clave de pizarra “CADU”,
                marcando el regreso del sector de la vivienda al mercado de capitales mexicano después de poco más de 10 años de la última colocación.</p>

              <small> 2015</small>
            </div>

          </li>

          <li class="event ">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/static/assets/cadu/images/content/cadu-bmv.jpg" class="img-responsive" alt="CADU BMV">
                </div>
              </div>
            </div>
          </li>
          <li class="event ">
            <div class="event-date">
              <p>Se realiza la trecera emisión de Certificados Bursátiles (“CADU 15”), por un monto de $400 millones de pesos, sin
                garantía de un tercero.</p>

              <small> 2015</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">
              <p>Se realiza la segunda emisión de Certificados Bursátiles (“CADU 14”), por un monto de 300 millones de pesos, con
                garantía de Sociedad Hipotecaria Federal (SHF) por el 50%, obteniendo una calificación de A+ por parte
                de Fitch Ratings.</p>

              <small> 2014</small>
            </div>

          </li>
          <br>
          <li class="event ">
            <div class="event-date">

              <p>Obtiene el reconocimiento de las Mejores Empresas Mexicanas (MEM) otorgado por Banamex, Deloitte y el
                Tecnológico de Monterrey.</p>

              <small> 2014</small>
            </div>

          </li>
          <li class="event ">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/static/assets/cadu/images/content/2014.png" class="img-responsive" alt="CADU">
                </div>
              </div>
            </div>
          </li>
          <br>
          <li class="event">
            <div class="event-date">
              <p>Se inicia la escrituración de viviendas en los estados de Jalisco, Guanajuato y Estado de México.</p>
              <small> 2013</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">
              <p>CADU lleva a cabo su primera emisión de Certificados Bursátiles (“CADU 12”), por un monto de $300
                millones de pesos, con garantía NAFIN por el 48%, obteniendo una calificación de A+ por la agencia Fitch
                Ratings.</p>
              <small> 2012</small>
            </div>

          </li>
          <li class="event">
            <div class="event-date">
              <p>Obtiene el 8vo. lugar a nivel nacional en créditos otorgados por Infonavit.</p>
              <small> 2012</small>
            </div>

          </li>
          <li class="year">2001 -2009</li>
          <li class="event  offset-first">
            <div class="event-date">
              <p>Se reforman los estatutos sociales de CADU con el fin de adoptar el código de mejores prácticas
                corporativas en su administración, con la inclusión de consejeros independientes.</p>
              <small> 2009</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>CADU alcanza el liderazgo como desarrollador de Vivienda de Interés Social en el Estado de Quintana
                Roo.</p>
              <small> 2008</small>
            </div>
          </li>
          <li class="event ">
            <div class="event-date">
              <p>Se constituye Corpovael, S.A. de C.V. (CADU), como empresa tenedora de las acciones de todas sus
                Subsidiarias, con el fin de consolidar a las mismas.</p>
              <small> 2007</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>Inicia proceso de institucionalización de la Compañía.
              </p>
              <small> 2006</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>Inicio de operaciones en Quintana Roo, con el desarrollo “Villas Otoch I”.</p>
              <small> 2004</small>
            </div>
          </li>
          <li class="event ">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/static/assets/cadu/images/content/2004-2.png" class="img-responsive" alt="CADU">
                </div>
              </div>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>Inicio de operaciones en Jalisco, con el desarrollo “Villas de Hacienda”.</p>
              <small> 2003</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>Construye e inicia la venta de viviendas de sus primeros desarrollos, “Santa Isabel” y “Bajío de las
                Palmas”, en Aguascalientes.</p>
              <small> 2002</small>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>Constitución de CADU Inmobiliaria S.A. de C.V. en Aguascalientes.</p>
              <small>2001</small>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </section>

</div>

{% endblock %}
