{% extends 'layouts/content.html' %}
{% block content %}
<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>En lo que va del 2026, las presiones inflacionarias continúan normalizándose, a pesar de un entorno de incertidumbre geopolítica. En este sentido, el Fondo Monetario Internacional (FMI) anticipó que la inflación general mundial disminuya de 4.1% en 2025 a 3.7% en 2026. En paralelo, el FMI proyecta que el crecimiento mundial sea de 3.1% en 2026, manteniendo prácticamente el mismo nivel de 2025.</p>

  <p>Por su parte, en su último anuncio de política monetaria (el pasado 11 de diciembre) la Reserva Federal de Estados Unidos, mantuvo el límite superior de la tasa de interés de los fondos federales en 3.75%, lo que contribuye a una mayor estabilidad de las condiciones financieras globales y a sostener el apetito por riesgo.</p>

  <p>De esta manera, el pronóstico del crecimiento económico mundial para 2026 mostró consistencia vs 2025. Por un lado, el Banco Mundial publicó un estimado de 2.6% para el PIB de 2026, comparándose contra el 2.7% de 2025; y, por otro lado, el Fondo Monetario Internacional proyectó un aumento del PIB de 3.3% para 2026 vs. 3.2% en 2025.</p>

  <br><h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>Durante los primeros 2 meses de 2026, la inflación ha mostrado un ligero repunte como consecuencia de presiones en algunos productos agropecuarios y cierta persistencia en la inflación subyacente. No obstante, esta continúa muy cerca del rango objetivo del Banco de México, el cual estima que la inflación se sitúe en 3.8% en 2026. De materializarse esta relativa estabilidad de la inflación, podría esperarse un entorno más favorable para el consumo y la inversión.</p>

  <p>En cuanto a la actividad económica, el INEGI reportó que, en el 2025, el PIB creció 0.7% respecto a 2024, confirmando un desempeño moderado, pero positivo. Cabe mencionar que, el International Trade Administration publicó que por el Mundial 2026, a celebrarse en México, Estados Unidos y Canadá, anticipa una derrama económica de USD 3,000 millones para México, lo cual se perfila como un atractivo impulso económico para el país.</p>

  <p>En materia de política monetaria, Banxico redujo en diciembre la tasa objetivo en 25 puntos base a 7.0%, lo que favorece las condiciones de financiamiento y sienta las bases para fortalecer el ciclo económico durante los próximos periodos. </p>

  <br><h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <p>Con base a las cifras presentadas por la SEDATU, las viviendas nuevas financiadas a nivel nacional por el INFONAVIT en el periodo enero-noviembre de 2025 fueron de 171,763 unidades, lo que equivale a un alza de 2.0% AsA. En el caso de Quintana Roo, también se registró un aumento de 8.4% en el número de créditos otorgados en este mismo periodo, por parte del INFONAVIT, para la adquisición de vivienda nueva.</p>

  <p>Lo anterior, aunado al incremento de 8.9% que presentó el Índice SHF de Precios de la Vivienda en el 4T25 a nivel nacional, confirma la solidez de la demanda que persiste en México. </p>

  <p>Con base a los datos más recientes del SEDATU (febrero 2025), la demanda potencial de INFONAVIT en Quintana Roo ascendió a 169,825 derechohabientes (+7.5% vs. 2024), lo que, además de compararse favorablemente contra los 157 mil derechohabientes registrados en febrero de 2024, confirma una base relevante de población con posibilidad de acceder a financiamiento de vivienda.</p>

</div>

{% endblock %}
