<div>
  <p>Hemos conformado un Comité de Sustentabilidad que es el responsable de gestionar y de rendir cuentas respecto de
    los avances en este frente. Además, éste es el encargado de la creación, la implementación, la evaluación y el
    monitoreo de las estrategias de sustentabilidad que emanen desde la visión del Consejo de Administración.</p>
    <br>
  <h3>Funciones y responsabilidades del Comité de Sustentabilidad</h3>
  <p>1. Estrategia de sustentabilidad (lo que se desprende de gobierno corporativo, responsabilidad social y cuidado al
    medio ambiente)</p>
  <ul class="comite c-content-list-1 c-theme c-separator-dot">
    <li>Creación, implementación, evaluación y monitoreo de estrategias de sustentabilidad
      alineadas al rumbo dictado por el Consejo de Administración
    </li>
    <li>En su caso, dar asistencia al Consejo de Administración en materia técnica o estrategia de sustentabilidad</li>
    <li>Generar reportes de avances de las estrategias y acciones de sustentabilidad llevadas a cabo y presentarlas al
      Director General y al Consejo de Administración
    </li>
    <li>Asegurar que se tengan mejores resultados en materia de sustentabilidad</li>
  </ul>
  <p>2. Estrategias de financiamiento</p>
  <ul class="comite c-content-list-1 c-theme c-separator-dot">
    <li>Aprobar las estrategias de financiamiento relacionadas con temas de sustentabilidad</li>
    <li>Determinar los planes de trabajo para conseguir financiamiento por medio de instrumentos que convengan a la Empresa
    </li>
    <li>Evaluar y monitorear los KPI’s establecidos para la sustentabilidad de la Empresa</li>
    <li>Reportar los avances de los KPI’s frente a los programas señalados</li>
    <li>Monitorear el correcto uso de los recursos solicitados</li>
    <li>Reportar la situación financiera del uso de los recursos obtenidos</li>
  </ul>
  <p>3. Evaluaciones</p>
  <ul class="comite c-content-list-1 c-theme c-separator-dot">
    <li>Generar información suficiente para cumplir con los requisitos de los evaluadores e inversionistas en materia de
      sustentabilidad
    </li>
    <li>Construir, anualmente, los Reportes de Sustentabilidad de la Empresa
    </li>
  </ul>
  <p>4. Premios y reconocimientos</p>
  <ul class="comite c-content-list-1 c-theme c-separator-dot">
    <li>A criterio del Comité, buscar los premios y reconocimientos que sean afines al accionar de la Empresa en materia
      de sustentabilidad
    </li>
    <li>Afiliar a la Empresa a cualquier organismo o asociación sin fines de lucro que beneficie a la sustentabilidad de CADU
    </li>
  </ul>
  <p>5. Riesgos</p>
  <ul class="comite c-content-list-1 c-theme c-separator-dot">
    <li>Revisar y actualizar el análisis de materialidad de la Empresa</li>
    <li>Generar el estudio pertinente para la estrategia, implementación y seguimiento de los Objetivos de Desarrollo
      Sostenible (ODS)
    </li>
    <li>Crear las políticas necesarias en materia de responsabilidad social y medio ambiente. Y co-diseñar con el
      Consejo de Administración aquellas que tengan que ver con gobierno corporativo de CADU
    </li>
    <li>Crear, implementar y medir la estrategia contra de cambio climático de la Empresa
    </li>
  </ul>
  <br>
  <h3>Conformación del Comité</h3>
  <p>La integración del Comité representa la correcta mezcla de características técnicas, habilidades suaves y
    experiencia suficiente, que permitarán que los resultados de las decisiones tomadas tengan el impacto deseado. Este órgano
    está integrado por un asesor externo independiente con
    expertise en ESG, nuestro Director de Medio Ambiente y una
    consejera independiente especializada en la materia.</p>

    <!--<table class="table">
      <thead>
      <tr>
        <td>Nombre</td>
        <td>Puesto</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Javier Cervantes</td>
        <td>Miembro del Consejo de Administración y accionista de CADU</td>
      </tr>
      <tr>
        <td>Víctor Álvarez</td>
        <td>Director Ejecutivo del área técnica de desarrollo y medio ambiente</td>
      </tr>
      <tr>
        <td>Marta Vaca</td>
        <td>Miembro independiente, experta en sustentabilidad corporativa</td>
      </tr>
      <tr>
        <td>Rodrigo Rébora</td>
        <td>Miembro independiente, experto en sustentabilidad corporativa</td>
      </tr>
      </tbody>
    </table>-->

    <br>

    <h3>Naturaleza del Comité</h3>
    <p>El Comité de Sustentabilidad es el responsable de gestionar y de rendir cuentas respecto
      de los avances en este frente. Además, éste es el encargado de la creación, la implementación,
      la evaluación y el monitoreo de las estrategias de sustentabilidad que emanen desde la
      visión del Consejo de Administración.</p>
    <p>Con base en lo anterior, este comité es de carácter ejecutivo. Es decir, la responsabilidad
      última de la estrategia de sustentabilidad corresponde al Consejo de Administración. A este
      Comité, corresponderán las actividades y todo aquello que permita que se cumpla con la visión
      previamente establecida.</p>

    <br>

  <div class="text-center">
    <img src="/assets/cadu/images/content/diagrama.png" width="75%" alt=""/>
  </div>

  <br>

  <div class="text-center">
    <img src="/assets/cadu/images/content/comite-2.png" width="50%" alt=""/><br>
    <a href="http://cdn.investorcloud.net/cadu/GobiernoCorporativo/Global/impacto-ods.pdf" target="_blank">
      Reporte de Estrategia de Sustentabilidad</a>
  </div>
</div>
