<div>
  <p>Nuestra estrategia de sustentabilidad a partir del año 2020 es ser <b>desarrolladores de bienestar</b> porque entendemos
    la gran responsabilidad que tenemos como empresa de generar impactos positivos en México y en el mundo.</p>
  <p>Hoy en día sabemos que México enfrenta un rezago de casi 9.2 millones de viviendas lo cual para nosotros quiere
    decir que hay millones de personas (y millones de familias), sin acceso a una vivienda digna, asequible y con
    servicios básicos como la electricidad, el agua y/o el saneamiento. Por eso estamos decididos a contribuir en la
    resolución de esta problemática.</p>
  <div class="text-center">
    <img src="/assets/cadu/images/content/estrategia3.png" width="80%" alt=""/>
  </div>

  <div class="text-center">
    <img src="/assets/cadu/images/content/esg_2.jpg" width="100%" alt=""/>
  </div>
</div>
