<div>
  <p>La visión de <b>CADU</b> es desarrollar bienestar; por ello, nuestro modelo de sustentabilidad parte de esta premisa y
    busca que desarrollemos ciudades integrales con viviendas sustentables.</p>
  <p>Hoy en día sabemos que México enfrenta un rezago de casi 8.9 millones de viviendas lo cual para nosotros quiere decir
    que hay millones de personas (y millones de familias), sin acceso a una vivienda digna, asequible y con servicios básicos
    como la electricidad, el agua y/o el saneamiento. Por eso estamos decididos a contribuir en la resolución de esta problemática.</p>
  <div class="text-center">
    <img src="/assets/cadu/images/content/estrategia-3.jpg" width="80%" alt=""/>
  </div>

  <!---<div class="text-center">
    <img src="/assets/cadu/images/content/esg_3.png" width="100%" alt=""/>
  </div>--->
</div>
