<div>
<p>En el año 2019 se hizo una actualización del estudio de materialidad con la finalidad de tener
  mapeados riesgos a los que haremos frente y oportunidades de las que buscaremos sacar provecho.</p>
  <div class="text-center">
  <img src="/assets/cadu/images/content/matriz18.svg" width="75%">
  </div>
<br>
 <p>Al tratarse del primer ejercicio de materialidad, no hay información que se haya expresado nuevamente.
  Tampoco hay cambios en lo relacionado a los temas materiales ni en lo relacionado a los temas cubiertos.</p>
 <p>Como se ha visto en el Reporte, hemos incluido información a nuestros grupos de interés sobre aspectos
   materiales a nuestro modelo de negocio tales como son: los colaboradores y sus prestaciones, o nuestro
   cabal cumplimiento en materia regulatoria y nuestro compromiso para cuidar la biodiversidad.</p>
 <p>Para CADU es muy importante comunicarnos con nuestros grupos de interés y, así, poder comprometernos y
   alinearnos a las prácticas que les interesan – en especial cuando éstas sean materiales para el negocio.
   Con base en lo anterior, hemos construido la siguiente tabla que sirve para presentar los canales que hemos
   construido y que utilizamos para fomentar el diálogo con cada uno de nuestros grupos de interés.
<div class="text-center">
 <img src="/assets/cadu/images/content/grupos18.svg" width="90%">
</div>
</div>
