<div>
<p>En el año 2019 se hizo una actualización del estudio de materialidad con la finalidad de tener
  mapeados riesgos a los que haremos frente y oportunidades de las que buscaremos sacar provecho.</p>
  <div class="text-center">
  <img src="/assets/cadu/images/content/estrategia.png" width="75%">
  </div>
</div>
