{% extends 'layouts/content.html' %}
{% block content %}
<div>
 <p> Como resultado del elevado compromiso que tenemos con la transparencia, el <b>Código de Ética</b> de <b>CADU</b> fue revisado y actualizado en 2024.</p>
  <p> Este documento tiene como objetivo subrayar los principios y valores que distinguen a la Empresa y que rigen el trabajo diario de todos los que formamos parte de ella. Tener presente cada uno de estos principios es fundamental para que la empresa se sostenga en el largo plazo.</p>
  <p>Nuestro <b>Código de Ética</b> incluye nuestras Políticas de Conducta y expone lo importante que es, para <b>CADU</b>, que tengamos un <b>Sistema Integral de Ética</b>.</p>
  <p>En <b>CADU</b>, teniendo nuestros valores como centro, buscamos la trascendencia y el bienestar de nuestros colaboradores quienes son, a su vez, ciudadanos de nuestro país.</p>
  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-12">
    <div class="pull-left">
      <a href="https://investorcloud.s3.amazonaws.com/cadu/GobiernoCorporativo/Global/Codigo-de-Etica-2024.pdf" target="_blank" style="color:#F04C23"><i class="fa fa-download"></i> Código de Ética</a>
    </div>
    </div>
  </div>
</div>

{% endblock %}
