{% extends 'layouts/content.html' %}
{% block content %}
<div>
  <div class="et_pb_text_inner"><p style="text-align: justify;"><strong>CADU</strong> cuenta con un <strong>Comité de Ética</strong> integrado por tres personas que fueron nombradas por el <strong>Comité de Auditoría y Prácticas Societarias</strong> con base en su probada integridad.</p>
    <p style="text-align: justify;"><strong>El Comité de Ética</strong> de <strong>CADU</strong> está encargado, entre otras cosas, de:</p>
    <ul>
      <li style="text-align: justify;">Promover el conocimiento y la viviencia de la cultura Ética en la empresa;</li>
      <li style="text-align: justify;">Servir de órgano consultor sobre hechos o circunstancias que puedan afectar la ética empresarial;</li>
      <li style="text-align: justify;">Analizar y dar solución a las denuncias recibidas en el Sistema <strong>CADU-DENUNCIA;</strong></li>
      <li style="text-align: justify;">Orientar y apoyar las investigaciones internas o externas que sean necesarias;</li>
      <li style="text-align: justify;">Reportar la evolución del <strong>Sistema Integral de Ética al Consejo de Administración una vez al trimestre.</strong></li>
    </ul></div>
  <div class="text-center">
    <img src="/static/assets/cadu/images/content/COMITE-ETICA-FLUJO.png" width="100%" alt=""/>

  </div>
</div>

{% endblock %}
