{% extends 'layouts/content.html' %}
{% block content %}
<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">


  <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">


    <div class="et_pb_text_inner"><p style="text-align: justify;">At <strong>CADU</strong>, we understand that our values lead the decisions we make every day. For this reason, we have consolidated this <strong>Anti-Corruption Policy</strong> that works in two ways: on the one hand, it bolsters our <strong>Code of Ethics and Policies of Conduct</strong>, and on the other, it supports us in endorsing our commitment to fight corruption in Mexico.</p></div>
  </div> <!-- .et_pb_text --><div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_clickable  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">





  <div style="margin-top: 30px">
    <div style="display: flex" >
      <div style="margin: auto;width: 215px">
        <div class="pull-left">
          <a href="https://investorcloud.s3.amazonaws.com/cadu/GobiernoCorporativo/Global/Politica-Anticorrupcion.pdf" target="_blank"><img src="/static/assets/cadu/images/content/BOTON-DESCARGA.jpg" alt="" style="width: 35px"></a></div>
        <div class="et_pb_blurb_container" style="padding-left: 15px;">
          <h4 class="et_pb_module_header"><a href="https://investorcloud.s3.amazonaws.com/cadu/GobiernoCorporativo/Global/Politica-Anticorrupcion.pdf" target="_blank">Anti-Corruption Policy</a></h4>

        </div>
      </div>
    </div> <!-- .et_pb_blurb_content -->
  </div>
  <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb -->
</div>

{% endblock %}
