<div>
  <p>In CADU we fully comply with the measures outlined by the Ministry of Ecology and Environment, in relation to the treatment we must give to species of flora and fauna in each of the developments we build.</p>
  <div class="text-center">
    <img src="/assets/cadu/images/content/biodiversidad-en.png" width="80%" alt=""/>

  </div>
  <p>In 2019 we adopted the commitment of taking care of the flora and fauna of our future development in Tulum by means of the following actions:</p>
  <b>Flora:</b>
  <ul>
    <li>Conduct a plant rescue program;</li>
    <li>Carry out reforestation activities;</li>
    <li>Vegetation removal, exclusively under the supervision of the authority;</li>
    <li>Ensure that, during construction activities, the dismantled surface remains exposed for the shortest time possible in order to prevent dust being carried by strong winds or erosion;</li>
    <li>Maintain the land plot’s areas with vast vegetation (trees and palms) by converting them into green areas, ecological parks, road walks or gardens;</li>
    <li>Rescue and move the palms from the land plot’s original vegetation to the green areas of the development, should the development’s design does not allow them to be kept in place, exclusively under the supervision of a relevant authority;</li>
    <li>Planting of native vergetation or in danger (e.g. chaca, chicozapote, mayflower, ceiba, and other native palms);</li>
    <li>Reforest at least 1,500 trees or palms per hectare should there be affected or sparsely vegetated areas;</li>
    <li>Ensure that afforestation efforts are conducted during rainy periods in order to increase the survival probabilities and water saving percentage.</li>
  </ul>
  <div class="text-center">
    <img src="/assets/cadu/images/content/flora.jpg" width="80%" alt=""/>

  </div>
  <br>
  <b>Fauna:</b>
  <ul>
    <li>Conduct the gradual clearing of the land to encourage the fauna that may be established on the construction site to move to neighboring areas;</li>
    <li>Place billboards and signs to inform about the importance of the fauna, the reasons for its protection and even the sanctions for anyone caught affecting or taking advantage of the species present on construction site.</li>
    <li>For each development, we assess the potential impacts on ecosystems and seek to ensure that, as far as possible, they do not affect natural protected or high biodiversity areas.</li>
    <li>These signings should have normal diameters (1.30 centimeters from the ground) and should be protected within a radius of 5m around the tree trunk.</li>
  </ul>
  <div class="text-center">
    <img src="/assets/cadu/images/content/fauna.jpg" width="80%" alt=""/>

  </div>
</div>
