<div>
  <p>At CADU we implement the measures issued by the Ministry of Ecology and Environment regarding the treatment of flora and fauna species in each project we develop.</p>

  <div class="text-center row">
    <img src="/assets/cadu/images/content/biodiversidad2021_eng.png" class="text-center" alt="" width="80%">

  </div>
  <div class="row"><div class="col-md-12">
  <p>We undertook to protect flora and fauna in our future project in Tulum with the following measures:</p>
  <b>Flora:</b>
  <ul>
    <li>Running a plant rescue program;</li>
    <li>Carrying out reforestation;</li>
    <li>Removing the vegetation cover only under the supervision of the authorities;</li>
    <li>Ensuring that the dismantled surface is exposed as little as possible during the construction phase to prevent dust being carried away by wind or erosion;</li>
    <li>Maintaining areas of use with trees and original vegetation bulbs to be kept as green areas, parks, central dividers, or gardens;</li>
    <li>Rescuing and relocating original vegetation bulbs in the project´s green areas, in case the projected design does not allow them to be kept in place,
      and always under the supervision of the competent authorities;</li>
    <li>Planting native or conservation status flora (e.g. chaca, sapodilla, mayflower, ceiba, and other native palm trees);</li>
    <li>Reforesting at least 1,500 palm or other trees per hectare if there are affected areas or areas with scarce vegetation;</li>
    <li>Ensuring that reforestation efforts are carried out during rainy periods in order to increase the survival and water saving percentages.</li>
  </ul>
  </div>
  </div>
  <div class="text-center row">
    <img src="/assets/cadu/images/content/flora.jpg" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>

  </div>
  <br>
  <b>Fauna:</b>
  <ul>
    <li>Execute a flora rescue program;</li>
    <li>Carry out reforestation activities.</li>
    <!--<li>We evaluate the potential inpact on the ecosystem for each project and seek to ensure that, as far as possible, they do not affect natural protected areas
      or high biodiversity areas.</li>
    <li>These should have normal diameters (1.30 centimeters from the ground) and be protected within a radius of 5m around the tree trunk.</li>-->
  </ul>
  <div class="text-center row">
    <img src="/assets/cadu/images/content/fauna.jpg" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>

  </div>
</div>
