<div>
  <p><b>ECOCASA (Spanish word game for Ecological Home)</b> is a housing program that seeks to improve people’s quality of life,
    reduce energy consumption and safeguard the environment. <b>CADU</b> has taken part of the <b>ECOCASA</b> program since 2013, and by means of this
    program contributes in the positive transformation of the housing market in Mexico.</p>
  <p>The <b>ECOCASA</b> program aims to reduce GHG emissions by at least 20% and up to 40%, and to safeguard water.
    As of the end of 2019, we had 19,063 houses built under the <b>ECOCASA</b> program, roughly 18% of the total number of houses built by <b>CADU</b>.</p>
  <div class="text-center">
    <img src="/assets/cadu/images/content/ecocasa-en.png" width="70%" alt=""/>

  </div>
</div>
