<div>
  <p><b>ECOCASA</b> is a housing program that aims to improve people’s quality of life,
    reduce energy consumption and protect the environment. <b>CADU</b> has participated in the <b>ECOCASA</b> program since 2013, as a result, we are contributing
    to the transformation of the housing market in Mexico.</p>
  <p>The <b>ECOCASA</b> program aims to reduce GHG emissions by at least 20% and up to 40%, as well as to protect water.
    As of the end of 2024, we have built 27,258 houses as part of the <b>ECOCASA</b> program, around 22% of the total number of houses built by <b>CADU</b>.</p>
  <div class="text-center row">
    <img src="/assets/cadu/images/content/ecocasa_2024_eng.png" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>
  </div>
</div>
