<div>
  <p><b>ECOCASA</b> is a housing program that aims to improve people’s quality of life,
    reduce energy consumption and protect the environment. <b>CADU</b> has participated in the <b>ECOCASA</b> program since 2013, as a result, we are contributing
    to the transformation of the housing market in Mexico.</p>
  <p>The <b>ECOCASA</b> program aims to reduce GHG emissions by at least 20% and up to 40%, as well as to protect water.
    As of the end of 2019, we have built 19,063 houses as part of the <b>ECOCASA</b> program, roughly 18% of the total number of houses built by <b>CADU</b>.</p>
  <div class="text-center">
    <img src="/assets/cadu/images/content/ecocasa-en.png" width="70%" alt=""/>

  </div>
</div>
