<div>
  <p>In addition to our commitment to building homes with green technologies that allow for more efficient use of
    energy and water, we began measuring our CO<sub>2</sub> emissions in 2018 even though, we are not a  CO<sub>2</sub> emission-intensive industry.</p>
  <p>To calculate our 2019 emissions, we took total electricity and fuel consumption into account. We then used the U.S. Environmental Protection Agency's GHG emissions
    calculator and found that between 2018 and 2019 we slashed air emissions by 22%.</p>
  <img src="/assets/cadu/images/content/emisiones2-en.png" width="70%" alt=""/>
</div>
