<div>
  <p>In addition to our commitment to building homes with eco-technologies that enable a more efficient management of
    energy and water, we began to measure our CO<sub>2</sub> emissions from 2018 onwards, even though we are not a carbon-intensive industry.</p>
  <p>In order to calculate our 2019 emissions, we summed both total electricity and fuel consumption. Aftewards we used the U.S. government
    Environmental Protection Agency's GHG emissions calculator, thus observing that from 2018 to 2019 we achieved a 22% reduction in our air emissions.</p>
  <img src="/assets/cadu/images/content/emisiones2-en.png" width="70%" alt=""/>
</div>
