<div>
  <p>In addition to our commitment to building homes with green technologies that allow for more efficient use of
    energy and water, we began measuring our CO<sub>2</sub> emissions in 2018 even though, we are
     not a  CO<sub>2</sub> emission-intensive industry.</p>
  <p>We are a company deeply engaged in the fight against climate change, especially
    when it comes to contributing to a better quality of life for our communities.
    For this reason, we have developed our sustainability strategy, which generates
     the following environmental benefits</p>
  <div class="row" style = "display: flex; justify-content: center;">
  <img src="/assets/cadu/images/content/emisiones-2022-eng.png" class="col-md-9 col-xs-12 " alt=""/>
</div><br>
  <p>It is worth mentioning that 662 homes received the EDGE ADVANCED Certification from the IFC in 2022,
    which guarantees that the design and materials that comprise them contribute to savings of up to 47% in energy, 39%
    in water and 75% in the energy mass of materials.</p>
</div>
