<div id="cadu-numeros">
  <div style="text-align: center">
    <img src="/assets/cadu/images/content/numeros.png" alt="" style="width: 80%"/>
  </div>

  <div class="row">
    <div class="col-md-6" style="text-align: center">
      <h3>Viviendas registradas por plazas (2015)</h3>
      <!--<img src="/assets/cadu/images/content/viviendas-registradas.png" alt="" style="width: 80%"/>-->
      <div id="vrp" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
    </div>
    <div class="col-md-6" style="text-align: center">
      <h3>Ingresos por plazas (2015)</h3>
      <!--<img src="/assets/cadu/images/content/ingresos.png" alt="" style="width: 80%"/>-->
      <div id="ixp" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
    </div>
  </div>
</div>
<!-- Amchart Scripts -->
<script type="application/javascript" src="/assets/plugins/amcharts/amcharts.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/serial.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/pie.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/themes/light.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/charts-data.js"></script>
