<div id="cadu-numeros">
  <div style="text-align: center">
    <img src="/assets/cadu/images/content/numeros.png" alt="" style="width: 80%"/>
  </div>
  <h3 class="c-left c-font-lowercase c-font-sbold">
    Presencia
  </h3>
  <div style="text-align: center">
    <img src="/assets/cadu/images/content/presencia.png" alt="" style="width: 80%"/>
  </div>
  <div class="row">
    <div class="col-md-6" style="text-align: center">
      <img src="/assets/cadu/images/content/viviendas-registradas.png" alt="" style="width: 80%"/>
    </div>
    <div class="col-md-6" style="text-align: center">
      <img src="/assets/cadu/images/content/ingresos.png" alt="" style="width: 80%"/>
    </div>
  </div>
</div>