<div id="directivos">
  <p>CADU cuenta con un equipo directivo ampliamente experimentado en el mercado de desarrollos inmobiliarios en México,
    con gran experiencia y desempeño probado durante la crisis <em>subprime</em> y la más reciente crisis de las vivienderas en México. La Compañía
    atribuye gran parte de su éxito operacional y financiero al equipo directivo con el que cuenta.</p>

  <p>El equipo directivo de CADU y Subsidiarias está integrado por funcionarios de alto nivel, entre los que se
    encuentran los actuales accionistas de la Compañía, lo cual otorga gran flexibilidad a la Empresa; agilizando la toma
    de decisiones y su ejecución.</p>
  <br/>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-6">Nombre</th>
      <th class="col-md-6">Puesto</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Pedro Vaca Elguero</td>
      <td>Presidente y Director General</td>
    </tr>
    <tr>
      <td>Pablo Vaca Elguero</td>
      <td>Director General Empresas Constructoras</td>
    </tr>

    <tr>
      <td>Joaquín Vaca Elguero</td>
      <td>Director General Jalisco</td>
    </tr>
    <tr>
      <td>Javier Cervantes Monteil</td>
      <td>Director General Adjunto (Planeación y Finanzas)</td>
    </tr>

    <tr>
      <td>Manuel Araiza Luévano</td>
      <td>Director de Operaciones</td>
    </tr>
    <tr>
      <td>Israel Godina Machado</td>
      <td>Director Jurídico</td>
    </tr>
    <tr>
      <td>Mario Rodríguez Durón</td>
      <td>Contador General</td>
    </tr>
    <tr>
      <td>Víctor Rodríguez García</td>
      <td>Director de R.H. y Administración</td>
    </tr>
    <tr>
      <td>Enrique Esquer</td>
      <td>Director Valle de México (Cd. México/Edo. México)</td>
    </tr><tr>
      <td>Miguel García Etchegaray</td>
      <td>Valle de México (Cd. México/Edo. México)</td>
    </tr>
    <!-- <tr>
      <td>Ricardo Sanabria González </td>
      <td>Director Plaza Ciudad de México / Estado de México</td>
    </tr> -->

    <tr>
      <td>Jesús Guilabert Boyer
      </td>
      <td>Director CADU Residencias</td>
    </tr>
    <tr>
      <td>César Navarro Troncoso</td>
      <td>Relación con Inversionistas</td>
    </tr>
    </tbody>
  </table>
  <br/>

  <div class="c-content-title-3 c-title-sm c-theme-border">
    <h3 class="c-theme-font c-font-uppercase">Pedro Vaca Elguero</h3>

    <p>Nacido en el año de 1960. Es Presidente del Consejo de Administración y Director General
      de CADU, desde que la fundó en septiembre de 2001. También es Consejero regional de BBVA Bancomer.
      Anteriormente fue socio fundador, Presidente y Director General
      de Teñidos San Juan, S.A. de C.V., así como Presidente del Consejo de Administración y accionista de diversas
      empresas dedicadas a la confección de prendas de mezclilla (1987-2001). Ha participado en los Consejos de distintos
      organismos empresariales como la United States - México Chamber of Commerce (Vicepresidente del Capítulo Pacífico y
      Presidente del Capítulo Aguascalientes), la Cámara Nacional de la Industria del Vestido (Vicepresidente), Grupo Financiero Actinver,
      el Consejo Coordinador Empresarial (Vicepresidente), así como de la CANACINTRA, Cámara de la que fue Presidente de la
      Delegación Aguascalientes y Vice-Presidente Nacional en los años 1999-2000, actualmente es vicepresidente de la
      cámara nacional de la industria de desarrollo y promoción de vivienda CANADEVI. Cursó estudios de Derecho en la Universidad Anáhuac.</p>
  </div>
  <div class="c-content-title-3 c-title-sm c-theme-border">
    <h3 class="c-theme-font c-font-uppercase">Pablo Vaca Elguero</h3>

    <p>Nacido en el año de 1960. Consejero Patrimonial de Corpovael. Durante los últimos 20 años ha desempeñado diversos
      puestos directivos entre los que destacan: Director General y socio fundador de Lavados Industriales Rinva, S.A. de
      C.V. (1988-1995), Director de Operaciones y Socio de Teñidos San Juan, S.A. de C.V. empresa dedicada a la lavandería
      de prendas textiles (1995-2001), Socio, Director de Obra y Operación y Ventas de CADU. Es fundador y Director
      General de las siguientes empresas: Urbanizadora Aspa, S.A. de C.V., Suministros Concretora, S.A. de C.V.,
      Constructora Punta Cancún, S.A. de C.V., Urbarima S.A. de C.V., y, Edirima, S.A. de C.V.</p>
  </div>

  <div class="c-content-title-3 c-title-sm c-theme-border">
    <h3 class="c-theme-font c-font-uppercase">Joaquín Vaca Elguero</h3>

    <p>Nacido en el año de 1969. Consejero Patrimonial de Corpovael. Actualmente es Director de la oficina de CADU en
      Aguascalientes, Director Operativo de CADU desde su fundación en 2001, fundador y Director General de Primera
      Clase Net y Director General de 1st-Air Inc. America Latina (2000 - 2001), Director de Actinver Sucursal
      Aguascalientes (1999 - 2000), Director de Mercado de Capitales del Deutsche Bank Securities (1996 - 1999),
      Director de Mercado de Capitales en ING-Baring (1995 - 1996), Subdirector de Mercado de Capitales en Bursamex Casa de
      Bolsa (1993 - 1995), Operador de Piso en Inverlat Casa de Bolsa (1991 - 1993). Cursó la Licenciatura en Administración de
      Empresas por la Universidad Iberoamericana (1990 - 1994).</p>
  </div>
  <div class="c-content-title-3 c-title-sm c-theme-border">
    <h3 class="c-theme-font c-font-uppercase">Javier Cervantes Monteil</h3>

    <p>Nacido en el año de 1964. Consejero Patrimonial de Corpovael. Desde agosto de 2006 funge como Director General Adjunto de Planeación y Finanzas de CADU. Se desempeñó como
      Director de Finanzas en Würth México, S.A. de C.V. (1990 – 1991), Director de Finanzas en Artículos de
      Cartón DIN, S.A. de C.V. (1991 – 1995), Director General Jurídico de la Secretaria para el Desarrollo Económico
      del Gobierno del estado de Aguascalientes (1996 – 1998), Presidente y Director General de Cervantes y Asociados, S.C.,
      de 1999 a 2006. y Director General Adjunto de Desarrollos y Construcciones del
      Centro, S.A. de C.V. (2006 – a la fecha). El Sr. Cervantes es abogado egresado de la Escuela Libre de Derecho
      (1982-1987) y Máster en Alta Dirección de Empresas por el IPADE (1988-1990).</p>
  </div>
</div>
