<div id="estrategia">
  <p>Conjuntamente con los proyectos de Vivienda de Interés Social, y como consecuencia de las oportunidades
actuales de mercado y en particular, el incremento en el financiamiento a través de instituciones financieras en
México, a partir de 2013, CADU retoma el segmento de Vivienda Media en la mayoría de sus proyectos, a través del diseño,
urbanización, edificación, promoción y venta de dicho segmento. </P>
<p>La estrategia de participación de CADU en viviendas de tipo medio y residencial busca balancear su mezcla de productos,
  habiendo alcanzado una participación conjunta en estos segmentos, de hasta 25% durante el pasado 2T18.</p>

    <p>La ejecución de estrategias de reducción de gastos y costos, para maximizar la
    rentabilidad, le han permitido a CADU incrementar su oferta de vivienda y alcanzar un crecimiento sostenido de doble
    dígito en ingresos y EBITDA, durante periodos de crisis.</p>

  <p>Para cumplir con su plan de crecimiento, la estrategia de CADU se centra en cuatro aspectos
    fundamentales:</p>
    <div class="text-center">
    <img src="/assets/cadu/images/content/estrategia.png" width="75%">
  </div>

</div>
