<div id="estrategia">
  <p>Conjuntamente con los proyectos de Vivienda de Interés Social, y como consecuencia de las oportunidades
actuales de mercado y en particular, el incremento en el financiamiento a través de instituciones financieras en
México, a partir de 2013 CADU retoma el segmento de Vivienda Media a través del diseño,
urbanización, edificación, promoción y venta de dicho segmento. </P>
<p>La estrategia de participación de Cadu en viviendas de tipo medio y residencial busca balancear su mezcla de productos, estimando alcanzar una participación del 30% de dichos segmentos de mayor margen de rentabilidad.</p>

    <p>La ejecución de estrategias de reducción de gastos y costos, para maximizar la
    rentabilidad, le han permitido a CADU incrementar su oferta de vivienda y alcanzar un crecimiento sostenido de doble
    dígito en ingresos y UAFIDA durante los recientes periodos de crisis.</p>

  <p>Para cumplir con nuestro plan de crecimiento, la estrategia de CADU se centrará en cuatro aspectos
    fundamentales</p>
<img src="/assets/cadu/images/content/estrategia.png">

</div>
