<div id="estrategia">
  <p>Conjuntamente con los proyectos de Vivienda de Interés Social, y como consecuencia de las oportunidades
actuales de mercado y en particular, el incremento en el financiamiento a través de instituciones financieras en
México, a partir de 2013, CADU retoma el segmento de Vivienda Media en la mayoría de sus proyectos, a través del diseño,
urbanización, edificación, promoción y venta de dicho segmento. En la misma línea, buscando impulsar su rentabilidad a través de
la adición de prototipos de mayor valor, durante 2018 CADU escrituró sus primeras unidades residenciales
con precios promedio superiores a los $15 millones de pesos. </P>
<p>La estrategia de participación de CADU en viviendas de tipo medio, medio-residencial y residencial busca balancear su mezcla de productos,
  habiendo alcanzado una participación conjunta en estos segmentos, de 25.5% en los 12M25.</p>

  <p>Para cumplir con su plan de crecimiento, la estrategia de CADU se centra en los siguientes aspectos
    fundamentales:</p>
    <div class="text-center">
    <img src="/assets/cadu/images/content/estrategia.png" width="55%">
  </div>

</div>
