<div id="estrategia">
  <p>La operación enfocada en el mercado de interés social, segmento que es financiado principalmente por créditos
    otorgados por el INFONAVIT, y la ejecución de estrategias de reducción de gastos y costos, para maximizar la
    rentabilidad, le han permitido a CADU incrementar su oferta de vivienda y alcanzar un crecimiento sostenido de doble
    dígito en ingresos y UAFIDA durante los recientes periodos de crisis.</p>

  <p>Para cumplir con nuestro plan de crecimiento, la estrategia de CADU se centrará en cuatro aspectos
    fundamentales</p>
<img src="/assets/cadu/images/content/estrategia.png">

</div>
