<div id="hitoria">
  <section class="slice bg-3 no-padding">
    <div class="w-section inverse">
      <div class="">
        <ul class="timeline">
          <li class="year">2011 - 2016</li>

          <li class="event ">
            <div class="event-date">
              <p>CADU inauguró el primer desarrollo del complejo habitacional Long Island: York Homes. Con esta apartura,
                 CADU reafirma su liderazgo en Quintana Roo y avanzá hacia una sólida mezcla de ventas, incrementando
                 la participación de vivienda media-residencial.</p>
              <small> 2017</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/assets/cadu/images/content/yorkhomes.jpg" class="img-responsive" alt="CADU BMV">
                </div>
              </div>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>Escrituración Vivienda Media en Cancún y Valle de México con precio promedio de venta de Ps.1.8 millones</p>
              <small> 2016</small>
            </div>

          </li>
          <li class="event">
            <div class="event-date">
              <p>Con los recursos levantados, CADU tiene la intención de dar continuidad a su plan de crecimiento basado
                en la ampliación de su oferta hacia productos de mayor rentabilidad y rangos de precios.</p>

              <small> 2015</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">

              <p>CADU lleva a cabo una oferta pública inicial mixta en el Bolsa Mexicana de Valores (BMV) y en el
                Mercado Integrado Latinoamericano (MILA), bajo la clave de pizarra “CADU”, convirtiéndose en la primera
                empresa mexicana en emprender tal acción, marcando el regreso del sector de la vivienda al mercado de
                capitales mexicano después de 12 años de la última colocación.</p>

              <small> 2015</small>
            </div>

          </li>

          <li class="event ">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/assets/cadu/images/content/cadu-bmv.jpg" class="img-responsive" alt="CADU BMV">
                </div>
              </div>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>Se realiza la trecera emisión de Certificados Bursátiles (“CADU15”), por un monto de Ps.400 mills., sin garantía de un tercero.</p>

              <small> 2015</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">
              <p>Se realiza la segunda emisión de Certificados Bursátiles (“CADU14”), por un monto de Ps.300 mills., con garantía de Sociedad Hipotecaria Federal (SHF) por el 50%, obteniendo una calificación de A+ por parte de Fitch Ratings.</p>

              <small> 2014</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">

              <p>Obtiene el reconocimiento de las Mejores Empresas Mexicanas (MEM) otorgado por Banamex, Deloitte y el Tecnológico de Monterrey.</p>

              <small> 2014</small>
            </div>

          </li>
          <li class="event ">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/assets/cadu/images/content/2014.png" class="img-responsive" alt="CADU">
                </div>
              </div>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>Con su estrategia de diversificación geográfica bien definida se inicia la escrituración de viviendas en los estados de Jalisco, Guanajuato y Estado de México.</p>
              <small> 2013</small>
            </div>

          </li>
          <li class="event mover">
            <div class="event-date">
              <p>CADU lleva a cabo su primera emisión de Certificados Bursátiles (“CADU12”), por un monto de Ps.300 mills., con garantía NAFIN por el 48%, obteniendo una calificación de A+ por la agencia Fitch Ratings.</p>
              <small> 2012</small>
            </div>

          </li>
          <li class="event">
            <div class="event-date">
              <p>Obtiene el 8vo. lugar a nivel nacional en créditos otorgados por Infonavit.</p>
              <small> 2012</small>
            </div>

          </li>
          <li class="year">2001 -2010</li>
          <li class="event  offset-first">
            <div class="event-date">
              <p>Se reforman los estatutos sociales de CADU con el fin de adoptar el código de mejores prácticas corporativas en su administración, con la inclusión de consejeros independientes.</p>
              <small> 2009</small>
            </div>
          </li>
          <li class="event ">
            <div class="event-date">
              <p>Se constituye Corpovael, S.A. de C.V. (CADU), como empresa tenedora de las acciones de todas sus Subsidiarias, con el fin de consolidar las mismas.</p>
              <small> 2007</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>Inicia proceso de institucionalización de la Compañía.
              </p>
              <small> 2006</small>
            </div>
          </li>

          <li class="event">
            <div class="event-date">
              <p>CADU alcanza el liderazgo como desarrollador de Vivienda de Interés Social en el Estado de Quintana Roo.</p>
              <small> 2005</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>Inicio de operaciones en Quintana Roo, con el desarrollo “Villas Otoch I”.</p>
              <small> 2004</small>
            </div>
          </li>
          <li class="event ">
            <div class="event-date">
              <div class="row">
                <div class="col-md-12">
                  <img src="/assets/cadu/images/content/2004.png" class="img-responsive" alt="CADU">
                </div>
              </div>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>Inicio de operaciones en Jalisco, con el desarrollo “Villas de Hacienda”.</p>
              <small> 2003</small>
            </div>
          </li>
          <li class="event">
            <div class="event-date">
              <p>Construye e inicia la venta de viviendas de sus primeros desarrollos, “Santa Isabel” y “Bajío de las Palmas”, en Aguascalientes.</p>
              <small> 2002</small>
            </div>
          </li>
          <li class="event mover">
            <div class="event-date">
              <p>Constitución de CADU Inmobiliaria S.A. de C.V. en Aguascalientes.</p>
              <small>2001</small>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </section>

</div>
