<div id="modelo-negocio">
  <p>Nuestro Plan de Negocios orientado a maximizar la rentabilidad, persigue incrementar la participación de vivienda de mayor valor, buscando así la flexibilidad en la oferta de nuestra mezcla de productos; creando valor para nuestros clientes, inversionistas, sociedades hipotecarias, entre otros grupos de interés.</p>
  <div style="text-align: center">
    <img class="img-responsive center-block" src="/assets/cadu/images/content/modelonegocios.png" alt="Modelo de negocios"/>
  </div>
</div>
