<div id="modelo-negocio">
  <p>Nuestra Estrategia de Negocios orientada a maximizar la rentabilidad, persigue acrecentar la participación de prototipos de vivienda de mayor valor,
    buscando así incrementar la flexibilidad en la oferta de nuestra mezcla de productos, creando valor para nuestros clientes, inversionistas, sociedades
    hipotecarias y demás grupos de interés.</p>
  <div style="text-align: center">
    <img class="img-responsive center-block" src="/assets/cadu/images/content/modelonegocios.png" alt="Modelo de negocios"/>
  </div>
</div>
