<div id="modelo-negocio">
  <div style="text-align: center">
    <img class="img-responsive center-block" src="/assets/cadu/images/content/modelonegocios.png" alt="Modelo de negocios"/>
  </div>
</div>
