<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>El Banco Mundial estima que la economía global registrará una expansión de 2.3% durante el presente año, disminuyendo ligeramente el ritmo respecto al 2024. Este desempeño se da en un entorno caracterizado por la reducción gradual de la inflación y de las tasas de interés a nivel internacional. De igual forma, se prevé que las economías en desarrollo conserven un crecimiento estable y superior al de las economías desarrolladas (alrededor del 4% para 2025).</p>

  <p>En paralelo, el Fondo Monetario Internacional (FMI) proyecta que el Producto Interno Bruto mundial tendrá un mayor crecimiento durante el 2025 (+2.8%), de acuerdo con su tabla de Proyecciones de Crecimiento de Perspectivas de la Economía Mundial.</p>

  <p>El FMI también prevé que la inflación mundial siga disminuyendo, con una ralentización de la inflación general al 4.2% en 2025, mientras que la inflación subyacente se ha reducido de forma considerable y ahora se encuentra por debajo del 2%, lo que abre la posibilidad a los bancos centrales de introducir políticas monetarias más laxas que incentiven el consumo, y, eventualmente, la inversión.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>La economía mexicana registró un crecimiento de 1.2% en el segundo trimestre de 2025 frente al mismo periodo del año anterior y de 0.7% respecto al primer trimestre del 2025, de acuerdo con la Estimación Oportuna del PIB, realizado por el INEGI.</p>

  <p>En el mercado laboral, el INEGI reportó en junio una tasa de desempleo del 2.6%, manteniéndose por debajo del 3% por trigésimo mes consecutivo, lo que sitúa a México entre los tres países con niveles más bajos de este indicador dentro de la OCDE. </p>

  <p>La inflación general en México hiló durante los primeros 15 días de agosto cuatro quincenas a la baja, ubicándose en 3.49%, según datos del INEGI, ubicándose dentro del rango objetivo del Banco de México del 3% +/- 1 punto porcentual.</p>

  <p>Por su parte, al primer semestre de 2025, la Secretaría de Economía reportó una cifra récord en captación de Inversión Extranjera Directa, por quinto año consecutivo, alcanzando los 34,265 millones de dólares, creciendo 10.2% respecto al primer semestre del año anterior, lo que demuestra la resiliencia de la economía mexicana ante las tensiones comerciales registradas con Estados Unidos.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->

  <p>La Sociedad Hipotecaria Federal (SHF) estima que, en 2025, la demanda de financiamientos para vivienda alcanzará 809,199 créditos, superando los 735,160 del 2024. De estos, se estima que 242,679 corresponderán a la adquisición de vivienda nueva, un incremento de 9,269. </p>

  <p>La SHF también señala que dentro de las entidades que registrarán mayor demanda de créditos para vivienda nueva en 2025 se encuentran Quintana Roo, principal plaza de operación de CADU, y Jalisco, estado donde CADU busca incrementar su participación con proyectos de vivienda media y media-residencial.</p>

  <p>En cuanto a los organismos que más solicitudes de crédito captarán, el INFONAVIT se mantendrá como el principal actor, al concentrar el 71% de la demanda de créditos de adquisición de vivienda nueva y usada, con un estimado total de 327,675 durante el año, un avance del 4% respecto al 2024. Esto destaca debido a que, a nivel nacional, CADU se encuentra dentro de los principales desarrolladores cuyos clientes adquieren su vivienda mediante créditos otorgados por el INFONAVIT.</p>

  <p>De igual forma, la demanda potencial del INFONAVIT en Quintana Roo continúa por encima de niveles prepandemia, alcanzando los 169,825.</p>
  
  <p>Por otra parte, la Asociación de Desarrolladores Inmobiliarios (ADI) reporta que Quintana Roo ocupa el primer lugar en inversión inmobiliaria del país, con un monto programado de 3,694 millones de dólares, impulsado principalmente por desarrollos turísticos y hoteleros. El desarrollo de estos complejos ayudará a la proliferación de un mayor dinamismo económico en la región, impulsado por la generación de nuevos empleos, lo que incentivará, entre otras cosas, un mayor consumo y, consecuentemente, una mayor intención de compra de vivienda para uso personal o como inversión en la entidad.</p>

</div>
