<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>Al mes de julio, alrededor del 40% de las economías avanzadas y el 11% de los países emergentes
     habían sido vacunados, de acuerdo con Gita Gopinath, jefa del Fondo Monetario Internacional (FMI).
     A lo largo del 3T21, la institución mantuvo su pronóstico del crecimiento de la economía mundial
     en 6% para este año. </p>

  <p>En el mes de septiembre, Evergrande, uno de los desarrolladores más grandes en China, que poseía
     una deuda alrededor de USD$300,000 mills., informó que se encontraba en la dificultad de financiar
    su deuda por falta de liquidez. Una de las medidas que tomó para tratar de resolver este problema
    fue la venta del 20% del banco Shengjing. Como era de esperarse, fue inevitable el impacto en el
    que incurrieron los mercados mundiales en el inicio de la semana ante esta noticia: la Bolsa Mexicana
    de Valores (BMV) cayó por debajo de 51 mil puntos por primera vez en un mes, los índices Dow Jones y
    S&P perdieron 1.78% y 1.70%, respectivamente, los precios internacionales del petróleo cayeron alrededor
    de 2% y el peso mexicano tomó su nivel más débil frente al dólar.</p>


  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>Los intentos del Gobierno por mantener las tarifas del gas LP han chocado con la realidad del mercado
    internacional. Semana tras semana, la Comisión Reguladora de Energía ha tenido que revisar al alza los
    precios máximos. Mientras tanto, la empresa Gas Bienestar, creada por el presidente Andrés Manuel López
    Obrador, para distribuir el combustible y fomentar la competencia, mantiene un alcance muy limitado
    para ejercer un peso determinante. La solución escapa de las manos del Gobierno y pasa, dicen los expertos,
    por una caída en los precios mundiales. A pesar de estas medidas, en septiembre el gas LP registró un
    aumento mensual de 4.7%, según datos del Inegi. </p>

  <p>Debido a la presión del alza de los precios en materias primas a nivel global durante el trimestre,
  el Banco de México, a cargo actualmente de Alejandro Díaz de León, aumentó la tasa de interés referencia
  en 0.25% en línea con lo esperado por los analistas del mercado, pasando a 4.75%, su nivel más alto en más
  de un año. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Derivado de la crisis sanitaria del COVID-19, las ventas a través de internet y por medio de la logística
    mejor conocida como e-commerce fueron la principal absorción de la vacancia territorial en el sector
    industrial, principalmente en la Ciudad de México y en la Zona Industrial con un incremento de 893k m²,
    26% mayor a la cifra reportada al 3T20. </p>

  <p>El 30% de la demanda de espacios inmobiliarios durante el 3T21 fue para inquilinos de e-commerce y el
    otro 22% para el sector logístico. </p>

  <p>Por otro lado, el Consejo de Administración del Infonavit aprobó nuevas reglas para definir el desarrollo
    de viviendas cerca de oficinas, escuelas, hospitales, vías de comunicación, etc. Estas medidas suponen
    una nueva etapa en el desarrollo de viviendas ya que la elaboración se realizó en conjunto con los sectores
    empresarial, sindical y gobierno. </p>

  <p>La Asociación Mexicana de Profesionales Inmobiliarios continúa promoviendo una reforma para la ley
    inmobiliaria particularmente en la matriculación de agentes inmobiliarios y garantizar a la ciudadanía
    acceso a profesionales certificados.</p>


</div>
