<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>E.U. muestra solidez, principalmente en su mercado laboral y en el consumo, mientras que el sector industrial ha
    mostrado cierta mejora durante los primeros meses del año. De mantenerse el ritmo de la actividad económica en E.U.
    en los próximos años podría impulsar a la economía mexicana, lo que podría traducirse en un importante impulso para
    nuestras operaciones.</p>

  <p>Las perspectivas de crecimiento a largo plazo para las economías emergentes continúan deteriorándose, ante datos
    económicos que siguen mostrando una desaceleración de la actividad económica, resultado principalmente de la
    debilidad en los precios de commodities, especialmente del petróleo, y la persistente desaceleración de la economía
    china.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>Las expectativas y estimaciones económicas en México apuntan a un crecimiento moderado, derivado, entre otros factores,
    por la desaceleración de la inflación en los primeros meses del año, así como el fortalecimiento del empleo formal en
    el país impulsando el poder adquisitivo de los hogares.</p>

  <p>Las nuevas reformas en materia de energía, telecomunicaciones y financiera garantizarán que el país mantenga la
    senda de crecimiento en el largo plazo.</p>

  <p>El surgimiento de nuevos episodios de volatilidad en la cotización peso-dólar podría conducir a la Junta de
    Gobierno del Banco de México a realizar mayores ajustes a la tasa de referencia, independientemente de la dirección
    de la política monetaria en U.S., con la intención de asegurar la alineación de la inflación con la tasa
    objetivo.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>La industria de la construcción ha continuado en su recuperación, siendo impulsado principalmente por el segmento de edificación,
    mismo que contribuyó a mejorar el pronóstico de crecimiento del sector para este 2018, ubicándose en un rango de 1.0% a 2.0% de
    acuerdo con los reportes del Centro de Estudios Económicos del Sector de la Construcción (CEESCO) basado en cifras del Instituto
    Nacional de Estadística y Geografía (Inegi).</p>

  <p>De la mano con la ralentización de los niveles inflacionarios en los primeros meses del año, el alza en el precio de los insumos
    del sector construcción ha comenzado a estabilizarse, disminuyendo el impacto en los costos de las Compañías posterior a los continuos
    incrementos presentados en 2017 arraigados a las presiones inflacionarias. </p>

  <p>En lo referente a la estimación de la demanda de financiamiento para vivienda en 2018 publicada por la SHF, se presentó una disminución
    de 8.9% en la demanda por rezago habitacional en contraste con el año anterior, sin embargo, este componente continúa siendo el de
    mayor impacto representando un 60.5% de la demanda total, seguido de los financiamientos para formación de nuevos hogares; lo que
    indica que a pesar de dicha disminución hay una eminente demanda en el sector vivienda. </p>

  <p>Cabe mencionar que ningún candidato a la presidencia, ha hecho mención de cambios en la política de vivienda, por lo que se espera
    que este evento no cause gran influencia en el sector, sin embargo, las Compañías constructoras han tomado sus respectivas precauciones
    para prevenirse de dichos cambios.</p>

</div>
