<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>Al mes de julio, las economías avanzadas habían alcanzado significativos progresos en
    sus esquemas de vacunación contra el COVID-19, habiendo inmunizado aproximadamente al
    40% de sus habitantes; mientras que diversos países emergentes sólo el 11%. En este
    sentido, las estimaciones del Fondo Monetario Internacional (FMI) indican que las
    economías avanzadas lograrán retornar a sus niveles prepandémicos durante el año 2022
    y las emergentes y en vías de desarrollo lo harán hacia el 2024.</p>

  <p>Por lo anterior, con el objetivo de reforzar la liquidez mundial y apoyar a la
    recuperación económica, el 23 de agosto entró en vigor la asignación de 456,000
    mills. de derechos especiales de giro (DEG), equivalentes a USD$650,000 mills.,
    que había sido aprobada a inicios de agosto por el FMI. Los recursos serían
    asignados a todos los países miembros en proporción a sus cuotas con la institución. </p>

  <p>Por otro lado, durante el mes de septiembre, Evergrande, uno de los desarrolladores
    inmobiliarios más grandes en China, que poseía una deuda de ~USD$300,000 mills.,
    informó que se encontraba en la dificultad de financiar su deuda por falta de liquidez.
    Como era de esperarse, fue inevitable el impacto negativo en el que incurrieron los mercados
    mundiales, el precio de petróleo y diversos tipos de cambio (la divisa mexicana tomó su
    nivel más débil frente al dólar). </p>


  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>En julio, el país presentó una notable recuperación en la actividad económica del 7.10% AsA,
    impulsado por el alza de la actividad en el sector industrial y de servicios, de acuerdo con
    los datos del Indicador Global de la Actividad Económica proporcionados por el Inegi. Lo
    anterior, aunado a la positiva tendencia de generación de empleos, que durante septiembre
    rompió el récord para dicho mes permitiendo con ello aproximar el número de empleos formales
    a los niveles previos a la pandemia, propició que el Fondo Monetario Internacional elevara
    su pronóstico del crecimiento de la economía del país de 5% a 6.30% para el cierre de 2021.</p>

    <p>No obstante, debido a las presiones inflacionarias registradas durante el trimestre,
      el Banco de México aumentó la tasa de referencia en 25 puntos base, pasando a 4.25% en
      junio a 4.50% en agosto; mientras que en octubre, la ubicó en 4.75%, su nivel más alto en más de un año.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>De acuerdo con las Cifras de la Cámara Mexicana de la Industria de la Construcción,
    al mes de agosto ya habían sido registrados los mayores incrementos de precios en insumos
    para el sector de construcción. A nivel nacional, los precios de la varilla corrugada, el
    alambrón y los perfiles de hierro subieron poco más del 30%; los distintos insumos derivados
    del petróleo aumentaron entre 10% y 17%.</p>

  <p>En cuanto al otorgamiento de créditos a la vivienda, el nuevo sistema de puntuación del
    Infonavit, nombrado T-1000, que contempla ahora nuevas variables para la determinación del
    crédito de vivienda, como el municipio y características del empleador, en conjunto con la
    reforma laboral de outsourcing, la cual causó que las empresas cambiaran su razón social
    para adecuarse a la reforma (ocasionando que múltiples trabajadores tuvieran que cotizar
    desde cero en el Infonavit, a pesar de continuar en la misma compañía), significó un
    importante impacto temporal en la demanda y comercialización de vivienda.</p>

 <p>Por su parte, el Consejo de Administración del Infonavit aprobó las nuevas reglas para
   definir el desarrollo de viviendas cerca de oficinas, escuelas, hospitales, vías de
   comunicación, etc. Estas medidas suponen una nueva etapa en el desarrollo de viviendas,
   ya que la elaboración se realizó en conjunto con los sectores empresarial, sindical y gobierno. </p>


</div>
