<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>Proyecciones del Fondo Monetario Internacional (FMI) indican que el crecimiento económico mundial será de 3.1% en 2024 y de 3.2% en 2025. 
  Este ajuste al alza, respecto a lo previsto en octubre de 2023, se atribuye a una mayor resiliencia en Estados Unidos y en varias economías 
  de mercados emergentes.</p>

  <p>En términos de inflación, se proyecta que la tasa a nivel mundial alcance el 5.8% en 2024 y el 4.4% en 2025, representando una revisión 
  a la baja con respecto a las estimaciones previas para 2025. Este ajuste se atribuye a la solución de problemas en el ámbito de la oferta y 
  a la implementación de políticas monetarias restrictivas.</p>

  <p>De esta manera, la reducción más rápida de la inflación sugiere una mayor estabilidad económica y un potencial ambiente de menores tasas de interés.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>Se proyecta que México experimentará un crecimiento en 2024 del 2.5% en su Producto Interno Bruto (PIB), impulsado por la llegada de inversiones 
  productivas derivadas de la reubicación de empresas, según estimaciones de la Organización para la Cooperación y el Desarrollo Económicos (OCDE). 
  Esta proyección se mantiene consistente con la predicción realizada por la misma entidad a finales del 2023, y se sitúa en el extremo inferior del 
  rango estimado por la Secretaría de Hacienda, que oscila entre el 2.5% y el 3.5%.</p>

  <p>El aumento de la inflación en México se proyecta ligeramente superior al 4% para el 2024, según las estimaciones de la OCDE. Esta cifra guarda 
  similitud con la inflación del 4.7% registrada en 2023 y se mantendría por encima del rango meta del Banco de México, que oscila entre el 2% y el 
  4%. La organización prevé que la inflación disminuirá a un 3.2% en 2025.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->

  <p>El Infonavit tiene la expectativa de conceder aproximadamente 460,000 créditos en diversas modalidades durante 2024, generando así una inversión 
  de alrededor de 220,000 millones de pesos.</p>

  <p>Además, el Infonavit informó que la colocación de vivienda en Quintana Roo, principal área de operaciones de CADU, creció de 10,139 en 2022 
  a 12,088 al cierre de 2023.</p>

  <p>Basado en ese resultado, anticipan que para este 2024 podría seguir la tendencia de crecimiento con un incremento de hasta 20%, gracias a 
  distintas políticas de agilización en el otorgamiento de los créditos y a una mayor demanda potencial (+41.4%, agosto 2023 vs. diciembre 2022).</p>

  <p>Finalmente, la Cámara Nacional de la Industria de Desarrollo y Promoción de la Vivienda (Canadevi) afirmó que el sector vivienda en México 
  cuenta con la capacidad de aumentar su contribución al PIB del país, de 5% a 8% en el mediano plazo (2-5 años).</p>

</div>
