<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>Alrededor del mundo, el incremento de los precios se está convirtiendo en una característica
    de la recuperación en la era pospandémica, lo cual ha llevado a algunos bancos centrales del
    mundo a concentrar sus esfuerzos en luchar contra la inflación por medio de una política
    monetaria restrictiva. En este respecto, se anticipó que los precios alcanzarían un pico
    durante los últimos meses de 2021 en los países tanto desarrollados como en los emergentes;
    para posteriormente, disminuir gradualmente en el 2022.</p>

  <p>En lo que a la recuperación económica se refiere, a finales de 2021 esta se vio afectada por
    los impactos derivados de la variante Delta de COVID-19, las cadenas de suministro globales
    atascadas que afectan los principales puertos del mundo y en consecuencia los problemas en
    la distribución internacional; además se registró el surgimiento de la nueva variante de
    COVID-19 “Ómicron”, que aunque presentó una alta tasa de contagios, los avances que se tenían
    en materia de vacunación contribuyeron a la disminución de casos graves de esta enfermedad.  </p>

  <p>Por el contrario, el sector inmobiliario internacional registró, durante el 3T21, un incremento
     anual del 77% en las transacciones realizadas, cuyo monto se valúa en USD$292 mills. Asimismo,
    la actividad dentro de esta industria tuvo comportamiento al alza en 2021, siendo un 4% mayor
    con respecto a los niveles prepandemia de 2019, de acuerdo con un análisis realizado por JLL. </p>


  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>México experimentó un retroceso en la recuperación de la actividad económica, pues durante tres meses
    consecutivos el Indicador Global de la Actividad Económica tuvo un comportamiento a la baja, disminuyendo
    en octubre un 0.21% MsM. Lo anterior, se vio principalmente por la contracción en los sectores agropecuarios
    y de servicios.</p>

    <p>Por su parte, el alza de precios dentro del país se ubicó en sus niveles más altos desde hace 20 años,
      pues cerró el 2021 con una tasa de inflación del 7.36% AsA. Esta presión inflacionaria provocó que el Banco
      de México continúe elevando su tasa de referencia, misma que actualmente se sitúa en 6.0%. La perspectiva
      de diversos economistas especializados es que en el transcurso de 2022 la tasa de interés tenga más incrementos.</p>

      <p>Bajo este contexto, el FMI redujo sus expectativas del crecimiento económico en México, estimando un avance anual del 2.8% para el 2022.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>De acuerdo con cifras del Inegi, la industria de la construcción se vio afectada por un aumento en el precio de materias
    primas, las cuales acumularon un incremento de 15.32% AsA en 2021. A nivel nacional, los insumos de varilla corrugada,
    alambre de fierro y acero, y alambrón aumentaron sus precios de manera anual en un 32.79%, 24.37% y 44.07%, respectivamente. </p>

  <p>Respecto a los créditos otorgados por el Infonavit, estos ascendieron a más de 530 mil durante 2021, incrementando en un
    11.6% respecto a 2020 y 6.6% contra la meta fijada para 2021. Del total, el 61% fueron destinados a la adquisición de
    vivienda nueva o existente, construcción y pago de pasivos; mientras que el 39% restante se utilizaron para mejoramiento
    o remodelación.</p>

 <p>Con relación a las expectativas de 2022, el Infonavit, en línea con su Programa Operativo Anual 2022, estima que al cierre
  de este año se otorguen un total de casi 596 mil créditos, tanto hipotecarios como no hipotecarios, lo que representaría un
  alza de ~12% vs. 2021. </p>


</div>
