<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>Durante el tercer trimestre de 2025, la inflación continuó mostrando una tendencia a la baja, destacando que el Fondo Monetario Internacional estima una disminución al 4.2% para 2025 desde 5.8% en el 2024. Ante este escenario, numerosos bancos centrales tomaron medidas para navegar este contexto económico, resaltando la decisión de la Reserva Federal de Estados Unidos, que redujo su tasa de interés por segunda vez en el año en 25 puntos base a finales de octubre, ubicando el rango objetivo de los fondos federales entre 3.75% y 4.0%, su punto más bajo desde 2022.</p>

  <p>Este giro de política monetaria, aunado a los acuerdos en materia comercial alcanzados a nivel mundial, dentro de los que destacan: 1) la actualización integral del acuerdo comercial entre China y la Asociación de Naciones del Sudeste Asiático (que fungen como sus principales socios comerciales); y, 2) el <i>Comprehensive Economic Partnership Agreement</i> entre la Unión Europea e Indonesia, contribuyó a que los mercados globales experimentaran menor volatilidad y un incremento en la tolerancia al riesgo. Se anticipa que estas circunstancias, junto con la expectativa de un enfoque menos restrictivo por parte de la Reserva Federal y diversos Bancos Centrales, favorecerán un mayor dinamismo a nivel global.</p>

  <p>Sobre la misma línea, el panorama mundial mostró señales de fortalecimiento, ya que la OMC proyecta que el volumen del comercio mundial de mercancías crecerá 2.4% en 2025 (un aumento considerable respecto a la estimación del 0.9% publicada en agosto), tras su revisión al alza de octubre.</p>

  <p>Pese a la incertidumbre comercial de inicios de año, el FMI destaca que el impacto resultó moderado debido a la agilidad del sector privado, que adelantó importaciones y reorganizó cadenas de suministro, a la negociación de nuevos acuerdos y al mantenimiento de mercados abiertos por la mayoría de los países. Con ello, el organismo elevó la confianza en el desempeño mundial al proyectar un crecimiento de 3.2% en 2025 y 3.1% en 2026, niveles similares al de 2024 (3.3%), que reflejan resiliencia y un entorno adecuado para la inversión y el comercio a medida que se consolidan los ajustes logísticos y regulatorios.</p>

  <br><h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>México registra un desempeño estable en un entorno de menor inflación y condiciones financieras más favorables, según los datos más recientes del INEGI a octubre de 2025, donde se registró un nivel de inflación anual del 3.57%, ligeramente inferior a lo registrado en septiembre y manteniéndose dentro del rango objetivo del Banco de México por cuarto mes consecutivo. Por su parte, el Consejo de Estabilidad del Sistema Financiero (CESF*) reportó que el sistema financiero nacional conserva una posición sólida y resiliente, con capital y liquidez en la banca por arriba de los mínimos regulatorios.</p>

  <p>Respecto a los mercados locales, estos mostraron menos volatilidad y condiciones más favorables, mientras que el peso ha mantenido una apreciación sostenida desde mediados de septiembre, registrando aproximadamente 12% de avance de enero al 13 de noviembre y el S&P/BMV IPC un aumento de más del 20% en el mismo periodo. Esto cobra mayor relevancia si consideramos la incertidumbre latente frente a los posibles cambios de la política comercial con Estados Unidos.</p>

  <p>De forma paralela, el Banco Mundial ajustó sus estimaciones para el crecimiento de la economía mexicana para el 2025, pasando de 0.2% en junio a 0.5% en octubre, a la vez que la calificación crediticia soberana de México mantiene grado de inversión, con reciente ratificación por parte de S&P Global Ratings, situándola en BBB, con perspectiva estable.</p>

  <p>Alineado con las expectativas del mercado, el Banco de México anunció a inicios de noviembre su decisión de reducir la tasa de interés en 25 puntos base, situándola en 7.25%, su nivel más bajo desde mayo de 2022. Esta decisión refleja el ciclo de flexibilización monetaria seguido por el Banco de México desde el 2024, con la intención de impulsar el dinamismo económico.</p>
  
  <sub>*Conformado por el Secretario de Hacienda y Crédito Público, quien lo preside, la Gobernadora del Banco de México, la Subsecretaria de Hacienda y Crédito Público, dos Subgobernadores del Banco Central, el Presidente de la Comisión Nacional Bancaria y de Valores, el Presidente de la Comisión Nacional de Seguros y Fianzas, el Presidente de la Comisión Nacional del Sistema de Ahorro para el Retiro y el Secretario Ejecutivo del Instituto para la Protección al Ahorro Bancario.</sub>

  <br><br><h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <p>El Infonavit anunció recientemente la simplificación de su esquema, que elimina el sistema de puntos y permite solicitar crédito con seis meses de cotización, empleo formal comprobable, no siendo propietario de una vivienda y teniendo un ingreso de entre uno y dos salarios mínimos, lo que reduce barreras de entrada, agiliza la originación y amplía la base de derechohabientes bancables, en línea con el proceso oficial de precalificación. Esta medida fortalecerá la demanda efectiva en segmentos de interés social.</p>

  <p>Por otra parte, la Sociedad Hipotecaria Federal reportó que, a nivel nacional, el valor de la vivienda hipotecada creció 8.2% en el acumulado anual respecto al mismo periodo del año anterior (8.4% en vivienda nueva), con un valor promedio de $1,863,022 en el periodo de enero–septiembre de 2025. Quintana Roo fue el estado con mayor aumento de precios, teniendo una variación del 14%, lo que confirma la existencia de una demanda sólida y una mayor capacidad de pago.</p>

  <p>En paralelo, la SEDATU informó que 5.8 millones de personas salieron del rezago habitacional entre 2018 y 2024, lo que se traduce en un contexto de mayor regularización de los hogares y mejores condiciones de elegibilidad para el otorgamiento de crédito a nivel nacional. Sin embargo, más de 8 millones de hogares en México aún sufren de esta problemática, lo que deja ver la necesidad de vivienda que persiste en todo el territorio nacional.</p>

</div>
