<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>El Fondo Monetario Internacional (FMI) pronostica que el crecimiento mundial mantendrá el rumbo observado desde 2023, con una tasa constante cercana al 3.2%, 
  y se prolongará hasta 2025. Lo anterior como resultado de la ralentización en las economías emergentes y en desarrollo, que ha sido compensada por una ligera 
  aceleración en las economías avanzadas.</p>

  <p>Se proyecta que la tasa de inflación alcance el 5.9% en 2024 y disminuya gradualmente a 4.5% para 2025. La disparidad entre países en función de la reducción 
  de la inflación indica que las economías avanzadas alcanzarán sus objetivos inflacionarios antes que las emergentes.</p>

  <p>En resumen, se mantiene un panorama positivo respecto a la economía mundial, pese al crecimiento moderado y la continua presencia de riesgos geopolíticos, tal 
  como lo indica la Organización para la Cooperación y el Desarrollo Económicos (OCDE).</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>Proyecciones del Banco de México indican un ajuste a la baja en el pronóstico de crecimiento económico del país, reduciendo la estimación del incremento del 
  Producto Interno Bruto (PIB) a 1.5% para el 2024 vs. la proyección de 2.4% realizada en el mes de mayo.</p>

  <p>En México, el Instituto Nacional de Estadística y Geografía (INEGI) informó que la inflación alcanzó el 5.16% en la segunda quincena de julio, lo cual podría 
  ralentizar los recortes a la tasa de interés objetivo por parte del Banco de México, cuya tasa actualmente se encuentra en 10.75%.</p>

  <p>No obstante, aunque la inflación parece haber mostrado signos de desaceleración, algunos analistas estiman que alcance su rango objetivo para finales de 2025.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->

  <p>De acuerdo con la Secretaría de Desarrollo Agrario, Territorial y Urbano (SEDATU), la demanda de derechohabientes del Instituto del Fondo Nacional de la Vivienda para los 
  Trabajadores (Infonavit) ascendió a 10,114,320 en 2023, lo que representa un incremento del 29.81% en comparación con los 7,791,114 derechohabientes registrados en 2022. 
  En este sentido, se estima que la demanda de vivienda en México seguirá siendo impulsada por el crecimiento demográfico, la urbanización y las políticas de apoyo gubernamental.

  </p>

  <p>Asimismo, el Infonavit dio a conocer que desde 2019 hasta el primer trimestre de 2024 se han otorgado 68,653 créditos en Quintana Roo, principal área de operación de CADU. 
  Esto ha implicado una inversión de 38,913 millones de pesos, representando un incremento del 6% en comparación con los créditos otorgados durante el periodo de 2013 a 2018, y 
  un aumento del 57% con relación al periodo de 2007 a 2012.</p>

  <p>En particular, durante los primeros seis meses de 2024, el organismo registró un incremento de casi 30% en los 
  créditos otorgados para la compra de vivienda nueva en Quintana Roo, en comparación con el mismo periodo de 2023, 
  lo que representa una inversión superior a los 3,400 millones de pesos (+35% AsA).</p>

</div>
