<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>De acuerdo con el informe semestral de la FED, la economía del país norteamericano presentó un crecimiento
    sólido, ligeramente por debajo del 3.0% durante 2018, compartiendo que, no esperan realizar ajustes al alza a
    su tasa de interés en el corto plazo. Por otra parte, la inflación estuvo en línea con el estimado de alrededor
    del 2.0% establecido por la FED para 2018.</p>
  <p>Posterior a diversas reuniones entre negociadores de EE. UU. y China, la guerra comercial entre ambos
    países parece estar por finalizar ante la potencial consecución de un acuerdo, lo que podría beneficiar la
    estabilidad en los mercados, así como incrementar el dinamismo económico mundial a través del mayor flujo de
    bienes.</p>
  <p>Tras la firma del acuerdo comercial entre México, EE. UU. y Canadá al cierre del sexenio anterior, el flujo
    de inversión privada extranjera en la región parece retomar impulso, haciendo del “T-MEC” un catalizador
    importante para los crecimientos de las economías involucradas.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>Durante 2018, el PIB nacional creció por debajo de 2.3% de acuerdo con cifras del INEGI, por lo que
    especialistas del sector privado, consultados por Banxico durante el pasado mes de enero, estiman un
    crecimiento para el PIB de ~1.8% en promedio para 2019. Por otra parte, el índice de confianza del consumidor
    ha presentado niveles máximos históricos, lo que vislumbra un mayor dinamismo económico durante los primeros
    meses del año.</p>

  <p>La política monetaria ejecutada por el Banco de México al cierre del año anterior estableció una tasa de
    referencia de 8.25%, en línea con el incremento en la tasa de la FED y el nivel inflacionario presentado en
    ese momento. Sin embargo, durante la última junta hacía el mes de febrero del año actual, la junta de gobierno
    del Banco Central mantuvo la tasa de referencia en el mismo nivel con un tono conservador, en seguimiento a la
    desaceleración que presentó la inflación en el primer mes de 2019 (4.37%).</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>De acuerdo con cifras revisadas del INEGI, el PIB del sector de la construcción presentó un crecimiento anual
    acumulado en 2018 de 0.6%, reflejando en parte la desaceleración propia del negocio durante cada cambio de
    sexenio. Sin embargo, de acuerdo con el Centro de Estudios Económicos del sector de la construcción (CEESCO),
    se estima que en 2019 se registre un crecimiento de alrededor de 2.0% y 2.5%, esperando que la inversión
    privada sea un impulsor para el sector. Esto, sumado a un posible aumento en la capacidad de crédito de los
    derechohabientes del Infonavit, abonará a la mayor escrituración de vivienda durante el año.</p>

  <p>Los precios de los insumos de la construcción presentaron un incremento de +10.3% AsA en 2018, resultado de
    ciertas políticas externas como la imposición de aranceles al acero y aluminio por parte de EE. UU. a México.
    No obstante, en enero, esta tendencia ha mostrado señales de recuperación, al finalizar en 8.6% AsA,
    destacando la disminución de los precios de insumos como el asfalto, varilla, alambre y alambrón.</p>


</div>
