<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>Después de 15 meses de haber iniciado un ciclo de tensión comercial entre los gobiernos de
    Estados Unidos y China, durante octubre, el presidente Donald Trump dio a conocer que se
    logró un principio de acuerdo para resolver las diferencias entre ambas naciones, el cual
    beneficiará principalmente la comercialización internacional de alimento agrícola. Se espera que
    el importante documento sea ratificado por ambos mandatarios durante la cumbre de Chile en
    noviembre, suspendiendo así, el amague de EE. UU. por incrementar los aranceles de los
    productos del país asiático de 25% a 30% en próximos meses.</p>

  <p>Asimismo, existen indicios de una posible resolución favorable del “Brexit”, toda vez que el
    Reino Unido y la Unión Europea han intensificado sus esfuerzos para una transición ordenada a
    mediados de octubre. Cabe recordar que la fecha límite para presentar una resolución o solicitar
    un aplazamiento por parte del Reino Unido es el día 31 de octubre.</p>

  <p>Durante este periodo prolongado de tensiones comerciales a nivel global, algunos países han
    sacado provecho de la situación, siendo México el principal beneficiado en términos absolutos,
    pues durante el décimo mes del 2019, se rompió el récord de exportaciones hacia Estados
    Unidos, alcanzando la venta de productos por USD.240,738 mills., lo que representó el 14.4%
    de las importaciones totales de aquel país.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>A pesar de un nivel inflacionario que fluctúa dentro del objetivo del Banco de México,
    así como una buena confianza de la población en la economía nacional, que se sustenta
    en el aumento salarial y los apoyos proporcionados por el Gobierno Federal para el
    gasto familiar; el Fondo Monetario Internacional (FMI) recortó nuevamente sus
    perspectivas de crecimiento económico de México (en línea con los pronósticos para la
    economía global y de Latinoamérica), debido a una “elevada” incertidumbre política, la
    baja ejecución del presupuesto y algunos factores transitorios, como los bajos niveles de
    inversión privada y una desaceleración del consumo nacional.</p>

  <p>Por otra parte, el Banco de México recortó por segunda ocasión consecutiva la tasa de
    referencia, pasando de 8.25% durante el 2T19 hasta 7.75% al finalizar el 3T19, una
    disminución de medio punto porcentual, fundamentada, según el organismo,
    en la necesidad de propiciar un ambiente de confianza y certidumbre para la inversión,
    una mayor productividad y que se consoliden sosteniblemente las finanzas públicas.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Los indicadores nacionales indican una desaceleración en la construcción de nuevas
    propiedades en lo que va del año, pues hasta julio, los montos destinados a la
    edificación en el país no han logrado superar los del mismo lapso de 2018, efecto
     colateral a la reducción del presupuesto en el gasto público.</p>

  <p>Sin embargo, los institutos de vivienda continúan implementando nuevas mecánicas
    para revitalizar el mercado al cierre del año, destacando el incremento en los montos
    máximos de crédito para los afiliados de menores ingresos que llevó a cabo el Infonavit,
    exhortando a la población a la adquisición de nuevos hogares; en tanto que el Fovissste,
    avanzó a paso firme en el otorgamiento de los créditos programados para 2019,
    atendiendo a más de 80,000 familias en busca de un nuevo hogar. Por lo que se espera
    un mayor impulso en el sector vivienda hacia el 4T19.</p>


</div>
