<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>E.U. muestra solidez, principalmente en su mercado laboral y en el consumo, mientras que el sector industrial ha
    mostrado cierta mejora durante los primeros meses del año. De mantenerse el ritmo de la actividad económica en E.U.
    en los próximos años podría impulsar a la economía mexicana, lo que podría traducirse en un importante impulso para
    nuestras operaciones.</p>

  <p>Las perspectivas de crecimiento a largo plazo para las economías emergentes continúan deteriorándose, ante datos
    económicos que siguen mostrando una desaceleración de la actividad económica, resultado principalmente de la
    debilidad en los precios de commodities, especialmente del petróleo, y la persistente desaceleración de la economía
    china.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>En los últimos meses, el dinamismo de la economía estuvo sustentado en el fortalecimiento del consumo interno, que
    en parte ha sido impulsado por un mayor poder adquisitivo de los hogares, gracias a la solidez del mercado laboral e
    inflación en mínimos históricos. </p>

  <p>Las nuevas reformas en materia de energía, telecomunicaciones y financiera garantizarán que el país mantenga la
    senda de crecimiento en el largo plazo.</p>

  <p>El surgimiento de nuevos episodios de volatilidad en la cotización peso-dólar podría conducir a la Junta de
    Gobierno del Banco de México a realizar mayores ajustes a la tasa de referencia, independientemente de la dirección
    de la política monetaria en U.S., con la intención de asegurar la alineación de la inflación con la tasa
    objetivo.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>La industria de la construcción se posiciona como uno de los principales motores de la economía nacional, al
    mantener una participación de alrededor del 7.5% del Producto Interno Bruto desde 2012 y por su estrecha vinculación
    con otras actividades secundarias. </p>

  <p>El sector de la construcción continúa avanzando en la consolidación de su recuperación, alcanzando su mejor nivel
    desde que se tiene registro, mientras que el segmento de edificación muestra su mejor dinamismo desde mediados de
    2008, impulsado por una creciente demanda insatisfecha de vivienda, alimentada por el efecto conjunto del
    crecimiento demográfico y del fortalecimiento sostenido en el mercado laboral formal. </p>

  <p>Asimismo, el sector se ha visto profundamente beneficiado por la mejor coordinación y mayor certidumbre de las
    políticas de vivienda del Gobierno Federal. El financiamiento para vivienda otorgado por el INFONAVIT, fondos
    federales y la
    banca comercial ha incrementado sostenidamente desde 2004 hasta 2015, registrando una tasa anual de crecimiento
    compuesto de 9.02%. </p>

  <p>En línea con la mayor disponibilidad de créditos para la vivienda, los inventarios de vivienda se han recuperado y
    se espera que crezcan, aún más, durante los próximos años, a medida que la oferta de vivienda se vaya normalizando y se
    recupere la confianza de los inversionistas por el sector.</p>

</div>