<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>Según las estimaciones del Fondo Monetario Internacional, para el 2023 el crecimiento global será de 2.8% y de 3.0% para 2024; de acuerdo con las investigaciones del fondo y a pesar de las presiones inflacionarias y la reciente turbulencia en el sector financiero estadounidense, se espera un crecimiento históricamente bajo, pero alejado de una recesión.  </p>

  <p>De igual forma, se prevé que el bajo crecimiento derive de la desaceleración de las economías más desarrolladas. En el caso de EE.UU. el mercado laboral ha comenzado a moderarse pasando de una expectativa de crecimiento salarial de 7.2% a 6.9% interanual, cerrando con un crecimiento esperado de 1.6% para 2023 y de 1.1% para 2024. En la misma línea, el sector manufacturero europeo se ha visto aletargado en los primeros meses del año, lo cual aunado a una política monetaria más restrictiva por parte de los gobiernos de la eurozona y a condiciones financieras más estrictas, arrojan perspectivas de crecimiento de apenas 0.8% para Europa, de acuerdo con datos del FMI.  </p>

  <p>En el caso de las economías emergentes, se tienen previsiones más optimistas de 3.9% para este año y de 4.2% para el siguiente, principalmente por el crecimiento esperado del sector manufacturero en China y la India. Mientras que, en Latinoamérica, la situación política y social ha generado un ambiente de desconfianza para el sector empresarial, lo que aunado a las altas tasas de interés genera una desmotivación a la inversión privada, arrojando una perspectiva de crecimiento de 1.6% para la región en su conjunto, por debajo del 4% alcanzado en 2022.   </p>

  <!--<p>Se espera que la desaceleración comience en Estados Unidos a partir del cuarto trimestre de 2022 y continúe durante la primera mitad del año entrante, para retomar una senda de crecimiento a partir del segundo semestre de 2023.   </p> -->

  <!--<p>La economía estadounidense se expandirá un 2.3% este año y un 1% el siguiente, según las estimaciones del FMI al mes de junio; las cuales rebajan las estimaciones de abril en 1.4 y 1.3 puntos, respectivamente. </p>-->

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>De acuerdo con el informe “Situación de México”, realizado por BBVA México, el banco revisó al alza su expectativa para el cierre de 2023, pasando de 0.6% a 1.4%. Asimismo, la Comisión Económica para América Latina y el Caribe (Cepal) pronostica un crecimiento de 1.5% para la economía mexicana.  </p>

  <p>Los analistas coinciden en que México ha visto revisiones positivas en sus perspectivas de crecimiento debido a su cercanía con un mercado estadounidense que aún se mantiene sólido, al igual que al creciente flujo de remesas y en particular por el nearshoring que se prevé siga beneficiando a la demanda interna a la vez que impulsa el dinamismo del mercado laboral en el país, el cual se encuentra en máximos históricos, con un desempleo de apenas 2.8% en el último informe disponible.  </p>

  <p>Por otro lado, la expectativa de tipos de interés a 11.5% sigue vigente, pero se espera que Banxico inicie la bajada de tasas a partir del 1T24 buscando potenciar aún más las oportunidades del nearshoring y las perspectivas favorables para el país.    </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>En concordancia con la consultora inmobiliaria Softec, el sector inmobiliario se ha mantenido resiliente frente a un entorno económico complicado, manteniendo una demanda creciente impulsada por el atractivo laboral y turístico del país. Según la consultora, sería necesario construir aproximadamente 600,000 viviendas por año en los próximos 6 años para cubrir la demanda. La cual se ha descentralizado en los últimos meses, ya que, a raíz de la recuperación de la pandemia y a las nuevas tendencias surgidas a partir del confinamiento, los espacios fuera del centro del país, así como en lugares más seguros o en contacto con la naturaleza se vieron favorecidos, reduciendo así la tendencia al acaparamiento del sector en las grandes ciudades.   </p>

  <p>Asimismo, la demanda se ha visto beneficiada en todo el país gracias a las facilidades que el INFONAVIT ha dado para la obtención de créditos por montos más elevados para la compra de vivienda, lo que facilitaría a los trabajadores del sector formal obtener un crédito hipotecario. Lo anterior aunado al aumento del poder adquisitivo de los trabajadores y a la reducción de las previsiones inflacionarias da como resultado expectativas favorables para el sector inmobiliario en el 2023. </p>

  <!--<p>A fin de ajustarse a las necesidades de vivienda de sus afiliados, el INFONAVIT anunció un incremento del monto máximo de crédito para compra de vivienda, situándolo en poco más de $2.4 millones; lo que, aunado al aumento de la edad máxima a la que los afiliados pueden acceder a los créditos, pasando de 65 a 70 años, y al inicio del modelo de inscripción continua del FOVISSSTE, el cual permitirá a los derechohabientes solicitar un crédito hipotecario en cualquier momento, contribuirá al dinamismo del sector vivienda. </p>

  <p>Respecto al sector vivienda, durante el trimestre, el INFONAVIT anunció medidas para incrementar el número y la calidad de los créditos
    otorgados, entre ellas se encuentra el aumento de la edad máxima para realizar la solicitud de un crédito, que pasa de 65 a 70 años.
    A raíz de esto, el monto máximo de crédito aumentará $180,000 en promedio y el monto de las mensualidades se volverá más cómodo. 
    Lo anterior, contribuyó a una demanda potencial adicional de aproximadamente 200,000 derechohabientes que cumplen con los nuevos
    requisitos. </p>

  <p>Además, la demanda potencial del INFONAVIT en las plazas donde CADU opera muestra signos de recuperación, ya que, tan sólo en Quintana Roo, su principal plaza de operación, la demanda potencial ha incrementado más de 23% en lo que va de 2022 (datos a junio) vs. diciembre de 2021.</p>

  <p>Y, próximamente, el FOVISSSTE atenderá demandas de crédito de manera continua, eliminando los periodos de solicitudes y facilitando así la obtención de préstamos hipotecarios para la adquisición de vivienda.</p>-->



</div>
