<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>Según las proyecciones del Fondo Monetario Internacional (FMI), se espera que el crecimiento económico mundial sea de 3.0% en 
  2023 y 2024. La adopción de tasas de interés más altas por parte de los bancos centrales para combatir la inflación sigue afectando la actividad 
  económica. Se estima que la tasa de inflación global general disminuya del 8.7% en 2022 al 6.8% en 2023 y al 5.2% en 2024.</p>

  <p>Por su parte, de acuerdo con las perspectivas de crecimiento del Banco Mundial para América Latina y el Caribe, se prevé que 
  este alcance un 2.0% para 2023 y un 2.3% para 2024; no obstante, la región está sujeta a situaciones de riesgo a causa de los factores adversos a 
  nivel global, como el aumento de las tasas de interés en los países del Grupo de los Siete (G7) y la recuperación inestable de China.</p>

  <p>En general, el enfoque que han promovido las economías sigue siendo alcanzar una reducción sostenida de la inflación y al mismo tiempo 
  mantener la estabilidad financiera. En este respecto, los bancos centrales deben centrarse en restaurar la estabilidad de los precios y 
  fortalecer la supervisión financiera, así como la evaluación de riesgos.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>Según el informe "Situación México" elaborado por BBVA México, se prevé un mayor crecimiento económico para el 2023, con una 
  proyección de 3.2%, en contraste con el 2.4% previamente estimado. Está estimación se debe, entre otras cosas, a un consumo resiliente, 
  a la fortaleza del empleo formal y a un desempeño positivo de la inversión (principalmente pública).</p>

  <p>En este sentido, se prevé que el empleo formal siga siendo sólido en lo que resta del 2023, lo que mejorará la perspectiva 
  de cara al 2024. Aunque el paquete económico gubernamental de 2024 no generará desequilibrios fiscales significativos el próximo 
  año, planteará desafíos importantes para la siguiente administración.</p>

  <p>Por su parte, se espera que el inicio del ciclo de reducción de tasas de interés, por parte de Banxico, se retrase hasta el 
  primer trimestre de 2024, anticipando una tasa de 8.25% para finales de 2024.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->

  <p>A nivel nacional, el sector vivienda se ha visto beneficiado, principalmente por el <i>nearshoring</i> y la continua recuperación 
  de la demanda potencial de los derechohabientes del Infonavit. En este sentido, las inversiones que siguen llegando a México, 
  mayormente en la zona norte y del Bajío, estimulan la generación de empleo y la necesidad de vivienda.</p>

  <p>Asimismo, al cierre del primer semestre del año, la demanda potencial de los derechohabientes del Infonavit se ha incrementado 
  en 10.1% a nivel nacional, con respecto al cierre de 2022; destacando que en Quintana Roo, la principal plaza de operación de 
  CADU, la recuperación de la demanda ha sido superior al 20% en el mismo periodo de tiempo.</p>

  <p>A lo anterior, se suma el reciente lanzamiento de los créditos subsecuentes, por parte del Infonavit, lo cual permitirá a los 
  derechohabientes con relación laboral activa solicitar más créditos toda vez que hayan liquidado su crédito anterior; por lo que 
  se espera que esta medida contribuya al fortalecimiento de la demanda de vivienda durante los próximos periodos.</p>

</div>
