<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>Según las proyecciones del Fondo Monetario Internacional (FMI), para el año 2023 el crecimiento económico global caerá desde 3.4% al cierre de 2022 a 2.8%. No obstante, pese a la turbulencia en el sector financiero, se espera un crecimiento a mediano plazo de 3%, prevaleciendo alejado de una recesión.  </p>

  <p>En el caso de América Latina y el Caribe se espera que se profundice la desaceleración del crecimiento económico, alcanzando una tasa del 1.2%. Los países de la región continúan enfrentándose a un espacio limitado para la política fiscal y monetaria. Si bien la inflación en la región muestra una tendencia a la baja, los efectos de la política restrictiva sobre el consumo privado y la inversión se harán sentir con más fuerza durante el año.  </p>

  <p>A nivel global, se observan los primeros signos de que las políticas monetarias, implementadas por los bancos centrales para combatir la prevaleciente presión inflacionaria, están teniendo efecto sobre la actividad económica. Se prevé que al cierre de 2023 el nivel general de inflación disminuya de 8.7% en 2022 a 7.0%, como resultado del menor precio de las materias primas; sin embargo, es probable que la inflación subyacente disminuya con mayor lentitud.   </p>

  <!--<p>Se espera que la desaceleración comience en Estados Unidos a partir del cuarto trimestre de 2022 y continúe durante la primera mitad del año entrante, para retomar una senda de crecimiento a partir del segundo semestre de 2023.   </p> -->

  <!--<p>La economía estadounidense se expandirá un 2.3% este año y un 1% el siguiente, según las estimaciones del FMI al mes de junio; las cuales rebajan las estimaciones de abril en 1.4 y 1.3 puntos, respectivamente. </p>-->

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>De acuerdo con el informe "Situación México", realizado por BBVA México, se estima un alza en el crecimiento económico para el año 2023, proyectando ahora un crecimiento del 2.4%, en comparación con el 1.4% previo. Esta estimación se fundamenta en el buen dinamismo que la economía mexicana experimentó durante el primer trimestre del año. Se destaca el sector manufacturero, que ha mostrado signos de normalización, impulsando una rápida recuperación en la inversión en maquinaria y equipo, especialmente en el componente importado, que ha superado en un 16.4% su nivel en enero de 2019.  </p>

  <p>Pese a que el dinamismo en el sector manufacturero ha sido notable, algunos segmentos de la inversión fija bruta, como la construcción residencial, aún presentan un rezago significativo, registrando un nivel 21.6% por debajo del observado en enero de 2019. No obstante, las estimaciones indican que la economía mexicana mantendrá cierto grado de fortaleza a pesar de los retos que puedan surgir en el panorama económico global.  </p>

  <p>Se anticipa que la economía mexicana enfrentará una gradual desaceleración hacia la segunda mitad de 2023, debido al debilitamiento progresivo de la demanda de bienes duraderos en Estados Unidos. Sin embargo, se espera que la resiliencia del consumo interno evite una caída más pronunciada del Producto Interno Bruto (PIB) en México durante esta etapa del año, beneficiada por las ganancias acumuladas en ingresos desde la segunda mitad del año anterior. Para el año 2024, se proyecta un crecimiento del PIB de 1.8%, en parte debido al efecto arrastre provocado por la desaceleración económica experimentada al finalizar el presente año.    </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>De acuerdo con cifras del Gobierno de México, en el país existe un déficit habitacional superior a los 9 millones de viviendas, sin embargo, el encarecimiento de los materiales de construcción, así como de los combustibles han encarecido la poca oferta inmobiliaria. En línea, dado el incremento en la demanda de mano de obra relacionado con el nearshoring, así como el alza en las tasas de interés globales y la prevaleciente presión inflacionaria en EE. UU., que podría impactar potencialmente en el consumo y envío de remesas, se prevén incrementos en el valor de las viviendas en un rango de entre el 8% y el 10% durante el año.   </p>

  <p>Asimismo, la demanda habitacional podría incrementar durante los próximos períodos, como resultado de la mayor colocación de créditos por parte de Infonavit, tras presentar un nuevo programa llamado "Mujer Infonavit" que plantea abordar las desigualdades laborales y sociales que enfrentan las mujeres, reduciendo la cantidad de puntos necesarios para solicitar un crédito para la adquisición de una vivienda o pago de pasivos, y un plazo cinco años mayor para realizar la liquidación del crédito. </p>

  <!--<p>A fin de ajustarse a las necesidades de vivienda de sus afiliados, el INFONAVIT anunció un incremento del monto máximo de crédito para compra de vivienda, situándolo en poco más de $2.4 millones; lo que, aunado al aumento de la edad máxima a la que los afiliados pueden acceder a los créditos, pasando de 65 a 70 años, y al inicio del modelo de inscripción continua del FOVISSSTE, el cual permitirá a los derechohabientes solicitar un crédito hipotecario en cualquier momento, contribuirá al dinamismo del sector vivienda. </p>

  <p>Respecto al sector vivienda, durante el trimestre, el INFONAVIT anunció medidas para incrementar el número y la calidad de los créditos
    otorgados, entre ellas se encuentra el aumento de la edad máxima para realizar la solicitud de un crédito, que pasa de 65 a 70 años.
    A raíz de esto, el monto máximo de crédito aumentará $180,000 en promedio y el monto de las mensualidades se volverá más cómodo. 
    Lo anterior, contribuyó a una demanda potencial adicional de aproximadamente 200,000 derechohabientes que cumplen con los nuevos
    requisitos. </p>

  <p>Además, la demanda potencial del INFONAVIT en las plazas donde CADU opera muestra signos de recuperación, ya que, tan sólo en Quintana Roo, su principal plaza de operación, la demanda potencial ha incrementado más de 23% en lo que va de 2022 (datos a junio) vs. diciembre de 2021.</p>

  <p>Y, próximamente, el FOVISSSTE atenderá demandas de crédito de manera continua, eliminando los periodos de solicitudes y facilitando así la obtención de préstamos hipotecarios para la adquisición de vivienda.</p>-->



</div>
