<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>Al cierre de 2020, la recuperación económica global se mantuvo contenida por el impacto de la pandemia generada
    por el COVID-19; sin embargo, de acuerdo con la última actualización de las perspectivas del Fondo Monetario Internacional,
    la economía mundial se contraerá sólo 3.5% durante el 2020, un escenario más optimista respecto a la caída de 4.4% que se había
    estimado durante el 3T20 y de 4.9% proyectada en el 2T20.</p>

  <p>Por otro lado, se espera que con el cambio de gobierno en Estados Unidos aminoren de manera importante los roces comerciales
    internacionales, permeando de manera positiva en la evolución de la economía mundial. Asimismo, dentro de las acciones que implementará
    el presidente electo de EE. UU., Joe Biden, se encuentra un plan de USD$1.9 billones de estímulo que incluye pagos directos a las familias,
    apoyos a las PyMEs, así como fondos para extender la aplicación de la vacuna contra el COVID-19.</p>

  <p>Tras haber demostrado una eficacia del 95% para prevenir contagios de COVID-19, la vacuna desarrollada por Pfizer y BioNTech fue autorizada
    para su uso de emergencia en varios países, de los cuales, los primeros fueron Reino Unido, Baréin, Canadá, Arabia Saudita, México y Estados Unidos.
    Pfizer y BioNTech estiman producir aproximadamente 1,000 millones de dosis de la vacuna a lo largo de 2021 para suministrar alrededor del mundo.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>En México, la actividad económica continuó con su tendencia de recuperación, pues en noviembre el IGAE sumó 6 meses consecutivos de incrementos mensuales.
    Sin embargo, las ventas de la ANTAD a tiendas comparables cayeron 5% durante 2020, afectado por la debilidad del mercado interno, la incertidumbre por las
    políticas del gobierno, el incremento en el comercio informal y los problemas de inseguridad pública.</p>

  <p>Por su parte, Banxico redujo la tasa de referencia en 25 pbs. durante febrero, ubicándola en 4%. Esta decisión se dio por unanimidad, argumentando que la
    actividad económica en el cuarto trimestre mejoró a un ritmo ligeramente mayor al previsto. De esta manera, el Banco Central, demuestra que mantiene su
    política monetaria expansionista, por lo que podría esperarse la realización de algún recorte adicional durante los próximos meses.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Durante diciembre, se aprobaron las reformas a la legislación del Infonavit y del Fovissste, las cuales tienen como finalidad permitir, entre otras cosas,
    que aquellos derechohabientes que estuvieron afiliados al Infonavit en el pasado y que actualmente no se encuentren activos puedan obtener créditos
    hipotecarios; además los trabajadores tendrán la oportunidad de obtener préstamos adicionales, toda vez que hayan liquidado el anterior, sin tener que
    coparticipar con la banca comercial.</p>

  <p>De acuerdo con Carlos Martínez, director general del Infonavit, estas reformas estimularán la colocación de opciones de financiamiento durante el 2021,
    adaptándose a las necesidades de los trabajadores. Cabe destacar que, en diciembre, el Infonavit logró su mayor colocación de créditos hipotecarios del
    último lustro, de los cuales, más del 70% se ejercieron para la adquisición de vivienda nueva o existente.</p>


</div>
