<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>A finales de 2019, surgió en la ciudad Wuhan, China un nuevo virus denominado como “SARS-CoV-2”,
    causante de la enfermedad COVID-19, el cual comenzó a propagarse rápidamente, infectando hasta el momento a
    más de 3.0 mills. de personas en todo el mundo, paralizando un sinfín de actividades productivas al limitar
    el libre tránsito de las personas y, por lo tanto, las transacciones comerciales entre países.</p>

  <p>A raíz de lo anterior y en conjunto con el aumento de producción realizado por ciertos países, el precio del
    barril de petróleo en todo el mundo ha comenzado a descender de forma drástica, afectando los presupuestos de
    ingresos de varios países, pues la baja demanda propiciada por el confinamiento de las personas está generando
    una sobreoferta, que a desafía las capacidades de almacenamiento mundial.</p>

  <p>Sin embargo, la iniciativa privada y pública se encuentran actualmente en la búsqueda de generar una vacuna
    efectiva contra el virus, la cual se estima podría estar lista en un plazo de un año. Se espera que, con el
    surgimiento gradual de mayores avances en este rubro, el panorama mundial comience a recuperarse; lo que sin duda
    brindará mayores bases para recobrar el dinamismo habitual de la actividad económica.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>En México, los efectos de la ralentización global han comenzado a reflejarse en los indicadores clave del país,
    presentando una confianza del consumidor a la baja (-4.4% AsA en marzo), una estimación del Producto Interno Bruto negativa
    (-2.4% AsA para el 1T20) y un tipo de cambio cuya volatilidad lo ha llevado hasta los Ps.26.0 por moneda extranjera.</p>

  <p>Como respuesta a estos factores externos, el Banco de México ha decidido disminuir en dos ocasiones de manera “anticipada”
    (fuera de calendario) la tasa de referencia nacional en 50 puntos base, hasta el nivel de 6.0% en abril. A la par, se dio a
    conocer que el próximo 1 de julio entrará en vigor el nuevo acuerdo comercial “T-MEC”; hechos que fueron calificados en los
    mercados como “positivos” para reactivar la economía del país con mayor velocidad.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Derivado del brote epidémico de COVID-19 en México, el 30 de marzo de 2020, el Consejo de Salubridad General, encabezado por
    el presidente de México, decretó un estado de emergencia sanitaria nacional por causa de fuerza mayor; por lo que, como medida
    para mitigar la propagación del virus, se acordó la suspensión de actividades no esenciales en todo el país, entre los que se
    incluye la construcción de casa habitación.</p>

  <p>Sin embargo, esta coyuntura avecina la implementación de medidas contra cíclicas para incentivar el desplazamiento de inventario
    inmobiliario conforme la actividad económica comience a normalizarse (a través de créditos hipotecarios con menor costo, por la
    disminución en las tasas de interés, así como de esquemas de financiamiento conjunto, como los lanzados por el Infonavit y el Fovissste).</p>


</div>
