<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>De acuerdo con el Fondo Monetario Internacional, se espera que la economía mundial registre un crecimiento de 6% durante 2021,
    favorecida por el avance en el proceso de vacunación contra el COVID-19 y los estímulos fiscales brindados por ciertos países
    para incentivar la recuperación económica.</p>

  <p>En este respecto, destaca Estados Unidos con la implementación del paquete fiscal promovido por el presidente Joe Biden, así como por el proceso
    acelerado de vacunación desplegado (convirtiéndose en el primer país en alcanzar los 150 millones de dosis aplicadas), lo que incentivó un alza de
    2 puntos porcentuales en el pronóstico de crecimiento económico para 2021 (de 4.5% a 6.5%).</p>

  <p>Por su parte, en la Zona Euro se observa un panorama similar, pues la economía se incrementará en un 3.8%, ciertamente un crecimiento menos acelerado en
    comparación con otras partes del mundo, pues la magnitud de los impactos de la pandemia, y el grado de recuperación de los mismos, es diferente en cada país. En
    este sentido, el crecimiento estará liderado principalmente por España, Francia e Italia, con incrementos del PIB de 5.6%, 5.5% y 3.4%, respectivamente.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>En México, si bien la generación de empleos se desaceleró en marzo vs. febrero, la cifra registrada en tercer mes del año se posicionó como la más alta en los
    últimos 2 años, por lo que, tan sólo en el 1T21 se generaron poco más de 250 mil empleos formales.</p>

  <p>En este sentido, se espera que la reactivación económica de los principales sectores del país continúe en aumento, aminorando sus contracciones. De igual forma, para
    finales de año se tienen altas expectativas de regresar un crecimiento económico de 3.4%, según las estimaciones del Fondo Monetario Internacional.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Los principales institutos de vivienda iniciaron a paso firme el ejercicio 2021, pues el Infonavit presentó un alza anual de 14.5% en el número de créditos otorgados en
    el 1T21 y el Fovissste terminó de autorizar en febrero (tiempo récord) más de 97 mil solicitudes de crédito de tipo tradicional para 2021 (+17.6% AsA).</p>

  <p>Asimismo, a mediados de abril, el Infonavit dio a conocer las nuevas reglas de otorgamiento relacionadas a la reforma aprobada el pasado mes de diciembre, la cual busca brindar mayores opciones de financiamiento en materia de vivienda. </p>


</div>
