<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>El estatus de los conflictos comerciales entre China y Estados Unidos parece incierto,
    al estar cercano a los 10 meses desde su inicio y no tener un principio de acuerdo, puesto que el
    presidente Donald Trump y el enviado comercial de Pekín, Liu He, se reunieron a principios de abril sin obtener,
    aparentemente, resultados positivos. Sin embargo, esta constante parece estar beneficiando a México,
    puesto que para el mes de febrero logró desplazar a China como el principal socio comercial de los Estados Unidos,
    beneficiando a las exportaciones y por ende a la balanza comercial.</p>

  <p>Luego de las distintas negativas por parte del parlamento británico a los acuerdos para alcanzar un “Brexit”,
    presentados por la primera ministra del Reino Unido, Theresa May, la Unión Europea aceptó conceder una nueva prórroga,
    con el objetivo de encontrar una salida “ordenada”. La fecha quedó para máximo el 31 de octubre, teniendo como único requisito
    la participación leal del Reino Unido en las elecciones europeas del 26 de mayo, brindando un periodo de aparente estabilidad
    a los mercados mundiales.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>En los primeros meses del 2019, el comportamiento de las variables macroeconómicas clave ha sido mayormente estable,
    presentando un nivel inflacionario que crece en menor medida en comparación con el mismo periodo del año anterior,
    cerrando a marzo de 2019 con una inflación acumulada de 0.44% vs. su comparativo anual de 1.24%; aunado a esto,
    el índice de confianza del consumidor permanece en sus máximos históricos, reflejando que, en general, la población espera
    que la economía nacional tenga un buen desempeño a corto plazo.</p>

  <p>La junta de gobierno del Banco de México, por su parte, ha demostrado nuevamente su criterio prudencial al reiterar
    la tasa de referencia en 8.25% durante las juntas que sostuvo en los primeros tres meses del año, argumentando que los
    riesgos para el objetivo inflacionario han estado controlados, pero sin descartar movimientos al alza dado los riesgos
    inherentes, principalmente, del escalamiento de las tensiones comerciales entre Estados Unidos y China, y a una salida
    desordenada del Reino Unido de la Unión Europea.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Las tendencias en la industria de la construcción al cierre de marzo de 2019, de acuerdo con el estudio realizado
    por el CEESCO, es de un decremento en los precios promedio de los insumos, derivado de la ralentizada actividad del
    sector, propia del proceso de normalización de actividades en cada inicio de sexenio. Se espera que la actividad
    repunte con el paso de los meses a través del inicio de las distintas obras y programas impulsados por el nuevo
    gobierno federal.</p>

  <p>Durante el inicio de año, el buen ritmo de otorgamiento de créditos por parte de los institutos de vivienda nacionales
    sobre compensó el bajo monto de subsidios registrado en este periodo. Asimismo, se espera que la escrituración de
    viviendas tome mayor impulso durante el 2T19, ya que se ha anunciado el inicio de un nuevo programa del Infonavit,
    el cual contempla un incremento en los montos financiados a sus derechohabientes de menor ingreso, lo que seguramente
    contribuirá a una mayor derrama económica sectorial.</p>


</div>
