<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>La contingencia sanitaria por COVID-19 continuó generando una ralentización importante en el desarrollo
    de la economía durante el tercer trimestre de 2020; no obstante, se ha observado una cierta mejoría en
    las perspectivas de varias instituciones en cuanto al desempeño de la economía mundial. Por ejemplo, en
    el caso del Fondo Monetario Internacional, la organización ahora espera una caída en el PIB mundial de
    4.4% AsA para todo el 2020, una previsión menos severa que la estimada al cierre del 2T20, cuando
    proyectaron un decremento anual de 4.9%.</p>

  <p>De la misma manera, el precio del barril de petróleo, que había estado disminuyendo colateralmente por
    una menor demanda, recuperó parte del terreno perdido, pasando desde USD$34.28 al cierre de junio hasta
    USD$37.12 por barril al cierre de septiembre de 2020.</p>

  <p>Respecto a los avances alcanzados en la búsqueda de una vacuna efectiva para el COVID-19, destacan
    los prototipos rusos y chino, cuyos ensayos ya se han realizado en grupos limitados; mientras que
    en Estados Unidos la Universidad de Oxford en conjunto con la farmacéutica AstraZeneca declaran obtener
    “resultados positivos” en otro prototipo, al cual en palabras de sus desarrolladores “aún le falta
    mucho camino por recorrer”. En este sentido, se espera que cuando se encuentre una vacuna que supere
    exitosamente todas las fases de prueba, garantizando eficacia y seguridad, la Organización Mundial de la
    Salud trabajará para facilitar el acceso y distribución de dicha vacuna.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>En México, los resultados del proceso de “nueva normalidad” ha generado un mayor dinamismo en el desarrollo
    de la economía (en comparación con el trimestre anterior), como indican las cifras del IGAE (102.2 en julio vs.
    88.0 en abril), o las ventas de la ANTAD (2.6% AsA en septiembre vs. -15.3% AsA en junio), que desde el inicio
    de la reapertura económica en junio, acumulan 2 y 3 meses de recuperación en sus métricas, respectivamente. No
    obstante, la estimación de los especialistas respecto a la generación del PIB durante todo 2020 se ubicó en
    -9.8% AsA, de acuerdo con la encuesta publicada por el Banco de México a principios de octubre.</p>

  <p>Como factor de apoyo para la economía, durante el trimestre Banxico disminuyó en 75 puntos base la tasa de
    referencia nacional, llevándola hasta 4.25%, nivel no visto desde septiembre de 2016. Sin embargo, destaca que
    la reciente aceleración de la inflación podría limitar el espacio de recortes adicionales durante los próximos
    periodos.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Durante el 3T20, el sector de la construcción operó sin mayores contratiempos tras ser considerado como
    actividad “esencial”, a finales del trimestre pasado, lo que a su vez se reflejó en el valor de la producción
    de las empresas dentro de este sector, que de junio a julio mostró un aumento de 1.1%.</p>

  <p>Asimismo, los institutos de vivienda continúan comprometidos en estimular la industria a través de sus esquemas
    de otorgamiento de créditos para la adquisición de vivienda nueva, ya que, en el caso del Infonavit, este amplió
    su meta de créditos del programa “Unamos Créditos” hasta los 48 mil créditos (vs. el objetivo inicial de 14 mil);
    mientras que el Fovissste anunció que otorgará 2,352 créditos adicionales en su programa “Tu casa te Espera” en
    lo que resta del ejercicio.</p>


</div>
