<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>El brote del virus SARS-CoV-2, mejor conocido como Coronavirus, que comenzó en una pequeña ciudad de China a
    finales de 2019, se ha propagado a tal velocidad alrededor del mundo, que la Organización Mundial de la Salud
    reporta ya más de 13 millones de personas contagiadas, de los cuales lamentablemente han fallecido poco más de medio
    millón de personas. Hasta la primera quincena de julio, los países que presentaban mayor número de contagios eran Estados Unidos,
    Brasil, India, Rusia, Perú, Chile y México.</p>

  <p>De manera colateral, el desempeño económico ha experimentado una ralentización significativa, llevando a que instituciones como el
    Fondo Monetario Internacional proyecten que para el 2020 se reduzca el PIB mundial en 4.9% AsA. No obstante, se empieza a observar un
    “aplanamiento de la curva” en ciertas regiones de Europa y el mundo, por lo que, si este comportamiento se replica en otros países, en
    2021 se podría esperar una recuperación de ~5.4%, de acuerdo con el mismo organismo.</p>

  <p>Asimismo, se están presentando avances positivos en la creación de una vacuna contra este virus, pues en Rusia uno de los ensayos
    experimentales pasará a la fase III (circulación pública en lugares controlados) dentro de poco; a la par de que en Estados Unidos otra
    posible vacuna comienza a finalizar sus pruebas preliminares en humanos; brindando una perspectiva más favorable para la población mundial.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>En México, los efectos del confinamiento en el dinamismo económico continúan reflejándose, con un retroceso histórico de 19.9% AsA en el IGAE
    reportado en abril y una disminución de 17.9% AsA en las Ventas Mismas Tiendas de la ANTAD en junio; por lo que el Banco de México decidió disminuir
    nuevamente su tasa de referencia nacional en 50 puntos base como respuesta, hasta un nivel de 5.0% al 30 de junio de 2020.</p>

  <p>Adicionalmente, trascendió que con la entrada en vigor del nuevo acuerdo comercial “T-MEC”, se espera una mayor inversión por parte de empresas del
    extranjero en México, lo que contribuirá a incentivar la economía de cara a la etapa de reactivación económica que arrancó en el país durante el sexto
    mes del año, en línea con el levantamiento de la “Jornada Nacional de Sana Distancia”.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>A mediados del 2T20, la autoridad competente en materia de salud decretó al sector de la construcción como actividad “esencial” para el país, por lo que las
    medidas que restringían la construcción de casa habitación comenzaron a levantarse paulatinamente en cada estado; hecho que resultará positivo para las Compañías
    en el sector, pues el inventario que estaba en proceso podrá terminarse y, por ende, comenzar a desplazarse.</p>

  <p>Asimismo, los institutos de vivienda continúan estimulando la estabilidad de la industria, a través de diferimientos en los plazos de pago y nuevos esquemas de
    otorgamiento de créditos para la adquisición de vivienda nueva, como las del FOVISSSTE, que implementó los programas “FOVISSSTE para todos”, que contempla el
    otorgamiento de más de 3,000 créditos en 2020, y “Tu casa te espera”, que brindará cerca de 2,500 créditos a los empleados gubernamentales del sector salud para la
    compra o construcción de vivienda; entre otros.</p>


</div>
