<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>EE. UU. continúa mostrando solidez, principalmente en su mercado laboral y en el de consumo, mientras que el sector industrial ha
    mostrado cierta mejora en lo que va del año. </p>
  <p>En cuanto a las tensiones comerciales entre EE. UU. y China, el país asiático informó que en caso de continuar los aranceles a
    importaciones de su país por parte de EE. UU. no dudará en tomar represalias y responder proporcionalmente a los cobros impuestos.</p>
  <p>La incertidumbre por las renegociaciones del Tratado de Libre Comercio de América del Norte (TLCAN) ha disminuido debido
    al acuerdo anunciado entre EE. UU. y México, sin embargo, aún continúan las renegociaciones con Canadá para concluir el
    diálogo trilateral acerca del pacto comercial.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>Las expectativas y estimaciones económicas en México apuntan a un crecimiento moderado, de entre 1.8% y 2.8% según
    el pronóstico del segundo trimestre del Banco de México. Para el 2019, que será el primer año de la administración de
    Andrés Manuel López Obrador, anticipa que estará alrededor de 2.2% y 3.2%. En lo referente a la inflación, Banxico espera
    que se ubique en 4.2% para finales de 2018.</p>

  <p>El surgimiento de nuevos episodios de volatilidad en la cotización peso-dólar, así como un incremento mayor a lo esperado
    en las tasas de interés externas, podrían conducir a la Junta de Gobierno del Banco de México a realizar mayores ajustes a
    la tasa de referencia, con la intención de asegurar la alineación de la inflación con la tasa objetivo.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>La industria de la construcción ha continuado recuperándose, siendo impulsada principalmente por el segmento de edificación,
    mismo que registró un incremento de 3.4% durante el primer semestre de 2018, comportamiento que contribuyó al crecimiento de 2.0% del PIB
    construcción al primer semestre de 2018, alcanzando el rango alto del pronóstico emitido a inicios de año (1.0%-2.0%) por el Centro de Estudios
    Económicos del Sector de la Construcción (CEESCO) basado en cifras del INEGI.</p>

  <p>La Secretaría de Economía de México informó que el impacto estimado de la imposición de aranceles por parte de EE. UU. a la
    importación del acero sería un alza de entre 3.0% y 4.0% en los precios de los materiales derivados de este producto,
    provocando que la inflación anual en el sector mexicano de la construcción se ubique en un rango de 12.0%-13.0% en 2018.</p>


</div>
