<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>El brote de variantes del virus SARS-CoV-2 y el alza de inflación en varios países del mundo,
    se consolidan como los principales riesgos para la economía y han generado incertidumbre respecto
    el ritmo de recuperación. Según expectativas del Fondo Monetario Internacional, la economía mundial
    registrará un crecimiento de 6% durante 2021 y de 4.4% en 2022, impulsado por la recuperación
    acelerada de Estados Unidos que beneficiará a muchos países a través del aumento del comercio,
     así como del progreso en los esquemas de vacunación. </p>

  <p>En este sentido, el riesgo de un aumento de los costos del crédito, dado que las recientes presiones
     inflacionarias podrían derivar en alzas de las tasas de interés antes de lo esperado, resultaría en un
     fuerte endurecimiento de las condiciones financieras globales y en fugas de capital de economías
     emergentes y en desarrollo.</p>

  <p>De forma paralela, en China, único país que logró crecer económicamente durante 2020,
    el PIB se desaceleró en el 2T21 a 7.9% anual, luego de expandirse 12.7% anual en el 1T21, tras la
    lenta recuperación del consumo interno, mientras las empresas enfrentan el aumento del costo de las
    materias primas. Por su parte, en la Zona Euro se espera que la economía se incremente 4.4%, debido
    en gran medida a la reapertura de las economías nacionales en el segundo trimestre del año. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>En México, la recuperación económica avanza de la mano con el proceso de vacunación. En este contexto,
    la agencia de calificación S&P Global Ratings afirmó que México es el único país de Latinoamérica que presentó
    una revisión al alza para 2021 y 2022, con expectativas de crecimiento económico para dichos años de 5.8% y
     2.9%, respectivamente.</p>

  <p>Asimismo, el país sigue beneficiándose de la fuerte recuperación económica de Estados Unidos, a través
    de las exportaciones de manufacturas y el incremento de remesas, reflejándose en el alza de 21.1% AsA en
     las Ventas Mismas Tiendas de la ANTAD en junio. Adicionalmente, el país creó 65,936 empleos formales en
     junio, acumulando una recuperación de más de 400 mil empleos formales en lo que va de 2021. Sin embargo,
     como consecuencia de una mayor inflación, el Banco de México decidió aumentar en 25 puntos base su tasa de
      referencia, hasta un nivel de 4.25%, lo que podría generar cierta ralentización en el ritmo de recuperación. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>El Infonavit informó que la confianza de los derechohabientes a adquirir un hogar se incrementa al ritmo de
    la reactivación de la actividad económica del país, ya que el Índice de Intención de Adquisición de Vivienda
    se ubicó en 36.7 puntos en el 2T21, avanzando 2.5 puntos respecto al 1T21. De igual forma, en mayo, entró en
    vigor su nuevo esquema de crédito en pesos, con una tasa de interés fija (de 1.91% a 10.45%, dependiendo del
    salario que tenga registrado el derechohabiente ante el IMSS) y en el que los pagos serán fijos durante toda la
     vida del financiamiento, con el fin de beneficiar a los trabajadores.</p>

  <p>En este contexto, las expectativas de los principales institutos de vivienda son positivas para el resto del
     ejercicio 2021, puesto que, para el primer semestre, el Infonavit logró una recaudación patronal de Ps.131,210 millones,
      un crecimiento de 6.4% respecto al mismo periodo del año anterior.</p>


</div>
