<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>La economía estadounidense ha mostrado madurez al mantener su crecimiento en niveles superiores al 2.0% en lo que va del año,
    pronosticándose una expansión para los siguientes trimestres superior al 3.0%; sin embargo, uno de los principales factores que
    podrían disminuir este desempeño es la baja en las exportaciones del país, debido a las tensiones comerciales con diversos países.</p>
  <p>La tensión comercial entre EE. UU. y China ha originado una desaceleración a la previsión de crecimiento de 2019 para las
    economías emergentes del mundo, luego de que se intensificara con el retiro del país americano del Acuerdo de Asociación Transpacífico,
    con el argumento de que el acuerdo beneficia mayormente a productores asiáticos.</p>
  <p>EE. UU., México y Canadá llegaron a un nuevo acuerdo comercial el pasado 30 de septiembre, denominado “T-MEC”, mismo
    que será revisado y posteriormente firmado en el mes de noviembre de 2018. Esto mitigó significativamente la incertidumbre
    que imperaba alrededor de las renegociaciones, ya que el nuevo acuerdo mantuvo diversos principios del original TLCAN; se
    pronostica que entre en vigor para el año 2020.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>Las expectativas de crecimiento del PIB para el cierre del año, por parte de los especialistas en economía del sector
    privado, estiman alzas de 2.40% y 2.15% AsA para el 3T18 y 4T18, respectivamente. En cuanto a los niveles inflacionarios,
    Banxico espera una convergencia hacia un nivel de 4.80% AsA al cierre de 2018, teniendo como principal riesgo el rubro energético.</p>

  <p>Los resultados de la consulta ciudadana sobre la continuidad del NAIM, el incremento de las tasas por parte de la FED,
    episodios de volatilidad en la cotización del peso-dólar, así como una aceleración en el crecimiento anualizado de la
    inflación podrían incentivar a la Junta de Gobierno del Banco de México a ajustar nuevamente su tasa de referencia, con el
    fin de propiciar la convergencia de la inflación hacia su objetivo de 3.0% - 4.0%.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>De acuerdo con información del Centro de Estudios Económicos del Sector de la Construcción (CEESCO), se espera un crecimiento
    anual para la industria de la construcción de alrededor de 1.0% - 2.0% para el cierre de 2018, esperando una desaceleración en
    el crecimiento derivado de la transición federal y el freno de algunas obras. Entre los retos a afrontar en los siguientes años
    destacan los niveles de inversión, la mayor eficiencia en la asignación de recursos de obra pública y la creación de nuevos
    mecanismos de financiamiento.</p>

  <p>Actualmente continúa la tendencia alcista de los costos del sector de la construcción, acumulando una inflación de 10.5% AsA
    a septiembre, siendo la parte de materiales los que más incrementos han mostrado, al registrar crecimientos anuales de doble
    dígito en varilla (+33.1%), productos de alambre (+31.0%) y malla de acero (+24.2%). Se espera un nivel inflacionario para el
    sector superior al 12.0% AsA para el cierre de año, al no eliminarse la imposición de aranceles al acero impuestos por México
    a EE.UU. en el nuevo acuerdo trilateral.</p>


</div>
