<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>Luego de un aparente enfriamiento entre las negociaciones de Estados Unidos
    con China, en el que se vieron afectados el comercio internacional, las inversiones
    y la confianza en general; durante la cumbre del G20, el presidente Donald Trump
    anunció la suspensión de ciertos aranceles impuestos, así como el levantamiento
    del veto al gigante de telefonía asiática Huawei, asunto de vital importancia
    para la reactivación de las negociaciones entre ambos países. La constante
    tensión entre ambas potencias ha beneficiado a países como México, el cual ha
    sustituido a China como principal proveedor de Estados Unidos en alrededor de 20
    productos, mejorando la plataforma de exportación mexicana.</p>

  <p>Por otro lado, Europa continúa con un crecimiento moderado dado los conflictos
    internos como el "Brexit", el cual no cuenta aún con un acuerdo contundente
    (fecha límite: 31 de octubre), dejando al viejo continente con una perspectiva ralentizada.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>A pesar del comportamiento estable en las variables económicas clave, como la
    inflación anual dentro del rango objetivo y el ICC ubicado en un nivel superior al
    de años anteriores al cierre de junio, las perspectivas de crecimiento del país tanto
    para analistas como para instituciones financieras nacionales e internacionales es
    más débil que el esperado al inicio de año. La deuda de Pemex es uno de los principales
    factores considerados en la perspectiva, por lo que se espera que la publicación del
    plan de negocios reciente beneficiará a la certidumbre nacional.</p>

  <p>Por su parte, el Banco de México, continuando con su criterio prudencial, mantuvo la tasa
    de referencia en 8.25% por cuarta vez consecutiva, aunque el subgobernador de dicha
    institución, Gerardo Esquivel, votó a favor de una reducción de 25 puntos base, argumentando
    un buen comportamiento de la inflación; modificación que iría en línea con la de la FED, que,
    tras varias señales, apunta a una reducción en su próxima reunión de política monetaria, según analistas.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Las tendencias en la industria de la construcción, al cierre de junio, es de una disminución
    en el costo de la producción, de acuerdo con un estudio realizado por el CEESCO. Esto se
    encuentra en línea con el comportamiento bajista en el precio de ciertos insumos del sector,
    derivado de la menor demanda de las empresas y una menor inversión pública.</p>

  <p>Durante los primeros meses del año, la demanda de vivienda de interés social se ralentizó,
    afectada por la reducción en el monto de subsidios para su adquisición, situación parcialmente
    compensada por un mayor monto de crédito por parte de instituciones bancarias y de seguridad
    social. Para la segunda mitad del año, se espera que la demanda de este segmento de vivienda
    retome impulso debido al inicio de un nuevo programa del Infonavit que contempla un aumento en
    los montos máximos financiados para los derechohabientes de menor ingreso. </p>


</div>
