<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>De acuerdo con las proyecciones del Fondo Monetario Internacional (FMI), se estima un decremento en la economía mundial de 2.9% en 2023 y un repunte de 3.1% en 2024. El aumento en las tasas de interés, como respuesta de los bancos centrales para combatir la inflación, y el conflicto entre Rusia y Ucrania han sido factores importantes para esta desaceleración.  </p>

  <p>En este sentido, el FMI prevé que la inflación mundial disminuya, llegando a un 6.6% en 2023 (2.2 pp. menos que en el 2022) y a 4.3% en 2024. Dichas expectativas han logrado reducir las tasas de interés a largo plazo y de igual manera los mercados financieros han sido estimulados tanto en economías avanzadas como emergentes.  </p>

  <p>En 2022, la economía de América Latina se expandió casi 4%, el empleo repuntó y el sector servicios se recuperó de la crisis económica causada por la pandemia de COVID-19. Por su parte, a lo largo de enero del 2023, el mercado laboral de Estados Unidos superó las expectativas al registrar una tasa de desempleo de 3.4%, la más baja en más de 5 décadas, lo cual sugiere que el sector laboral ha sido resiliente a pesar de un menor dinamismo económico observado. El avance en la reducción de las presiones inflacionarias y la solidez observada en los mercados laborales, a nivel global, han dado motivos para creer que los bancos centrales controlarán la inflación con un menor impacto para el crecimiento económico.   </p>

  <!--<p>Se espera que la desaceleración comience en Estados Unidos a partir del cuarto trimestre de 2022 y continúe durante la primera mitad del año entrante, para retomar una senda de crecimiento a partir del segundo semestre de 2023.   </p> -->

  <!--<p>La economía estadounidense se expandirá un 2.3% este año y un 1% el siguiente, según las estimaciones del FMI al mes de junio; las cuales rebajan las estimaciones de abril en 1.4 y 1.3 puntos, respectivamente. </p>-->

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>A pesar de que la economía mexicana hace frente a un entorno complejo, dadas las presiones inflacionarias y la dependencia de la economía estadounidense, mantiene un buen dinamismo al aprovechar oportunidades de inversión como el nearshoring. </p>

  <p>En este sentido, el FMI ha ajustado su expectativa de crecimiento a 1.7% durante el mes de enero, debido a la solidez y resiliencia mostrada por la moneda mexicana al mantenerse en un tipo de cambio menor a los 19 pesos por dólar americano, un nivel no visto desde 2018; este ajuste en las perspectivas ha sido replicado por otras instituciones como la Secretaría de Hacienda y Crédito Público e incluso bancos privados como el Bank of America, Banorte y BBVA México, que han mejorado sus perspectivas para el crecimiento del país en 2023.</p>

  <p>Por su parte, el Banco Mundial proyecta que la economía mexicana tendrá un crecimiento de 0.9%, esto como resultado de la posible disminución del dinamismo económico de Estados Unidos que podría afectar a las exportaciones y remesas. Respecto al alza de los precios, Banxico continúa tomando medidas restrictivas, elevando la tasa de interés, para hacer frente al entorno inflacionario del país; se espera que las subidas continúen hasta alcanzar el 11.50%.  </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Se dio a conocer mediante la Encuesta Nacional de Empresas Constructoras (ENEC), que el sector de la construcción tuvo un crecimiento del 6.1% en el primer semestre del 2022. Para noviembre de 2022, el valor de la producción de las empresas constructoras creció 2.5%, con respecto a octubre, sumando tres meses al alza, impulsado principalmente por la edificación de naves industriales como producto del nearshoring.   </p>

  <p>Con respecto a las tasas de interés hipotecarias, el Director del INFONAVIT declaró que no hay intención de aumentar las tasas de interés de acuerdo a la inflación en contraste con las hipotecas del sector bancario, con el objetivo de aumentar el acceso a la vivienda entre los sectores de menores ingresos. </p>

  <p>A fin de ajustarse a las necesidades de vivienda de sus afiliados, el INFONAVIT anunció un incremento del monto máximo de crédito para compra de vivienda, situándolo en poco más de $2.4 millones; lo que, aunado al aumento de la edad máxima a la que los afiliados pueden acceder a los créditos, pasando de 65 a 70 años, y al inicio del modelo de inscripción continua del FOVISSSTE, el cual permitirá a los derechohabientes solicitar un crédito hipotecario en cualquier momento, contribuirá al dinamismo del sector vivienda. </p>

  <!--<p>Respecto al sector vivienda, durante el trimestre, el INFONAVIT anunció medidas para incrementar el número y la calidad de los créditos
    otorgados, entre ellas se encuentra el aumento de la edad máxima para realizar la solicitud de un crédito, que pasa de 65 a 70 años.
    A raíz de esto, el monto máximo de crédito aumentará $180,000 en promedio y el monto de las mensualidades se volverá más cómodo. 
    Lo anterior, contribuyó a una demanda potencial adicional de aproximadamente 200,000 derechohabientes que cumplen con los nuevos
    requisitos. </p>

  <p>Además, la demanda potencial del INFONAVIT en las plazas donde CADU opera muestra signos de recuperación, ya que, tan sólo en Quintana Roo, su principal plaza de operación, la demanda potencial ha incrementado más de 23% en lo que va de 2022 (datos a junio) vs. diciembre de 2021.</p>

  <p>Y, próximamente, el FOVISSSTE atenderá demandas de crédito de manera continua, eliminando los periodos de solicitudes y facilitando así la obtención de préstamos hipotecarios para la adquisición de vivienda.</p>-->



</div>
