<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>Durante enero, los gobiernos de Estados Unidos y China llegaron a un acuerdo “Fase I” para
    concluir con la guerra comercial que afectaba la economía mundial desde 2018; entre las concesiones
    alcanzadas, destaca la eliminación de ciertos aranceles y la reducción de otros de forma bilateral,
    así como compromisos de adquisición de materia prima entre ambas naciones. Sin embargo, expertos
    coinciden en que el pacto dejó muchos puntos inconclusos, por lo que se esperan mejores perspectivas
    globales tan pronto se dé a conocer la segunda etapa de este importante convenio.</p>

  <p>De forma paralela, el Reino Unido llegó a un acuerdo definitivo para separarse de la Unión Europea,
    luego de 3 años de haberse dado a conocer la intención de esta nación. De esta forma, el proceso de
    transición marcó el inicio de una nueva época para la economía europea y del mundo.</p>

  <p>Finalmente, el “T-MEC” fue aprobado y firmado por Estados Unidos, quedando pendiente únicamente la
    ratificación del gobierno canadiense. Todos estos acontecimientos en conjunto anticipan mejores condiciones
    para el desarrollo económico de México durante 2020, dado el menor nivel de incertidumbre y el impulso a
    sectores como la minería, industria, construcción y comercio.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>En 2019, la economía del país cerró con una inflación de 2.83% anual, ligeramente por debajo del rango
    objetivo establecido por el Banco de México (3% +/- 1%); mientras que el comportamiento del tipo de
    cambio continuó sólido, cerrando en Ps.19.11 por dólar. A pesar de esto, las principales agencias de
    calificación de riesgo anticipan un bajo crecimiento económico para el nuevo año (PIB de ~1% AsA),
    debido a una baja inversión nacional, dada la cautela mostrada por los inversionistas en la actualidad.</p>

  <p>En este sentido, con el objetivo de impulsar el dinamismo de la economía mediante el menor costo del dinero,
    Banxico recortó por quinta vez consecutiva la tasa de referencia, estableciéndola en un nivel de 7.00% (-25 pb)
    durante febrero. Se espera que la política monetaria de carácter expansivo incentive los niveles de
    inversión productiva en el corto plazo.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>El sector de la construcción durante 2019 se desarrolló bajo un panorama de baja aplicación de recursos
    federales para la adquisición de vivienda nueva, el cual vino acompañado de la publicación tardía del Plan
    Nacional de Vivienda. Sin embargo, 2020 comienza revitalizado dada la publicación de los parámetros de
    actividad que seguirá la CONAVI, orientado a la atención de la población con mayor rezago en esta materia.</p>

  <p>Asimismo, el Presidente de México anunció la inversión de más de Ps.200,000 mills. en acciones de vivienda
    con el fin de estimular el sector; mientras que el Infonavit y el Fovissste ponen en marcha nuevos esquemas
    de financiamiento, como la unión de créditos de ambos institutos para la adquisición de vivienda, acciones
    que en su conjunto coadyuvará a un mayor dinamismo del sector vivienda.</p>


</div>
