<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>En la mayor parte del mundo, la situación económica y social continúa normalizándose, gracias a
    los esfuerzos de vacunación desplegados para mitigar la severidad de los síntomas generados por el virus.
    En este respecto, los principales indicadores de salud de diversos países, como el número de contagios,
    se mantienen con una tendencia a la baja o con una importante estabilidad.</p>

  <p>Sin embargo, en otras naciones, como China continúa cierto grado de incertidumbre ante el aumento de casos de COVID-19, ya que esto podría propiciar un nuevo confinamiento obligatorio para todos los habitantes.  </p>

  <p>Otro hecho importante ha sido el conflicto que se ha presentado entre Rusia y Ucrania, ya que diversos países han tomado represalias comerciales contra el país más extenso del mundo, lo cual ha derivado, entre otras cosas, en constantes aumentos en la energía y afectaciones en algunas cadenas de suministro en Europa; sin contar la desaceleración comercial que ha presentado Ucrania. </p>

  <p>Si bien el FMI no considera que Europa pueda entrar en recesión, sin duda habrá que monitorear la evolución de este conflicto y sus posibles impactos alrededor del mundo.  </p>


  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>Afectado por las actividades primarias y secundarias, en febrero el Índice de Actividad Económica Global se mantuvo prácticamente igual que su comparativo mensual, colocándose levemente por debajo de la lectura de un aumento de 0.2% prevista por el Indicador Oportuno de la Actividad Económica; sin embargo, subió un 2.7% en su comparativo a febrero de 2021, acumulando con ello cuatro meses consecutivos con crecimientos, de acuerdo con cifras desestacionalizadas del Inegi.</p>

    <p>Si bien la SHCP se mantiene optimista y espera que la economía de México crezca 4.1% en 2022, existen diversos factores endógenos y exógenos que podrían influir en el desempeño económico del país; tales como el conflicto entre Rusia y Ucrania, las presiones inflacionarias, las mayores tasas de interés, etc. Por esta razón, organismos internacionales como Goldman Sachs y Moody´s esperan un crecimiento de apenas el 1.4% y 1.1%, respectivamente.</p>


  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <p>Las actuales presiones inflacionarias que enfrenta México han afectado los precios de diversos productos y aquellos relacionados con la industria de la construcción de vivienda no han sido la excepción. Por tal motivo, los desarrolladores han tenido que optar por absorber parte de esos costos y transferir la otra porción al comprador final, lo cual ciertamente podría afectar la demanda de vivienda, ya que esto repercute directamente en el poder de compra de las familias. </p>

  <p>No obstante, de acuerdo con la Encuesta de Necesidades de Crédito y Vivienda correspondiente al primer trimestre de 2022, publicada por el Infonavit, el Índice de Intención de Adquisición de Vivienda se ubicó en el máximo nivel observado desde su lanzamiento en el primer trimestre del año pasado, lo que significa que la demanda de vivienda podría registrar una mejor dinámica en el transcurso del año.</p>



</div>
