<div id="panorama">
  <h3 class="c-left c-font-lowercase c-font-sbold">Internacional</h3>

  <p>El Banco Mundial prevé que la economía global se expandirá 2.7% tanto en el presente año como en el próximo, mateniendo la misma tendencia observada en 2024. Esto ocurre en un entorno de disminución gradual de la inflación y las tasas de interés a nivel mundial. Asimismo, se estima que el crecimiento de las economías en desarrollo se mantenga estable, con una tasa aproximada del 4% en los próximos dos años.</p>

  <p>Por su parte, el Fondo Monetario Internacional (FMI) anticipa que, en los próximos dos años, el crecimiento de la economía global se mantendrá en 3.3%, cifra positiva, pero aún por debajo del promedio histórico del período 2000 - 2019.</p>

  <p>Se pronostica que la inflación mundial disminuya al 4.2% en 2025 y al 3.5% en 2026, lo que permitirá una política monetaria más estable por parte de los bancos centrales. Bajo este contexto, se espera que la economía global se mantenga estable, con perspectiva positiva para los próximos años.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nacional</h3>

  <p>La economía mexicana mostró un crecimiento del 1% en febrero de 2025, en contraste con el retroceso registrado en enero del mismo año. Este incremento representa el mayor avance desde abril de 2023, según el el Indicador Global de la Actividad Económica (IGAE), publicado por el Instituto Nacional de Estadística y Geografía (INEGI).</p>

  <p>De acuerdo con un análisis de Banamex, la disminución mensual del IGAE del mes de enero de 2025 respecto a diciembre de 2024 se atribuye principalmente a una ligera contracción en la producción industrial. En contraste, las actividades primarias registraron un crecimiento del 3.1%, mientras que el sector de servicios se mantuvo estable.</p>

  <p>En la primera quincena de marzo, el Índice Nacional de Precios al Consumidor (INPC) registró un incremento, con lo cual la tasa anual de inflación nacional se ubicó en 3.67%, continuando su desaceleración, y manteniéndose dentro del rango objetivo establecido por el Banco de México (Banxico).</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Sectorial</h3>

  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial1.png" alt="" style="width: 80%"/>-->
  <!--</div>-->
  <!--<div style="text-align: center">-->
  <!--<img src="/assets/cadu/images/content/sectorial2.png" alt="" style="width: 80%"/>-->
  <!--</div>-->

  <p>La Sociedad Hipotecaria Federal (SHF), presentó el resumen del mercado de vivienda correspondiente al primer trimestre de 2025, en el cual destacó que el valor de las viviendas adquiridas mediante créditos hipotecarios registró un crecimiento del 8.2%.</p>

  <p>A pesar de la apreciación del 10.3% en la vivienda económica-social, el 25% de las operaciones realizadas mediante créditos hipotecarios correspondió a viviendas con un precio igual o menor a $767,000 pesos, y el 50% se efectuó por debajo de $1,197,273 pesos.</p>

  <p>Según datos de la Sociedad Hipotecaria Federal, aunque Quintana Roo ocupa el segundo nivel nacional en el incremento de precios de vivienda, con un alza del 12.2% en el primer trimestre del año, el estado continúa mostrando un crecimiento sostenido, una alta demanda de viviendas y una alta plusvalía.</p>

  <p>A finales de 2024 la demanda potencial del INFONAVIT, medida por el número de derechohabientes alcanzó los 167,156 en el estado de Quintana Roo y 894,969 en el estado de Jalisco, reafirmando la tendencia de alta necesidad de vivienda.</p>
</div>
