<div id="perfil">
  <p>Corpovael (CADU) es una empresa mexicana integrada verticalmente por 14 subsidiarias, dedicada al diseño,
    urbanización, edificación, promoción y venta de desarrollos habitacionales, especialmente Vivienda de Interés
    Social, Vivienda Media y Vivienda Residencial. CADU es la primera empresa mexicana en realizar una oferta pública
    inicial mixta en la Bolsa Mexicana de Valores (BMV) y en el Mercado Integrado Latinoamericano (MILA), bajo la clave
    de pizarra “CADU”.</p>

  <p>Desde su constitución en 2001 ha construido y vendido más de 68,000 viviendas en más de 29 desarrollos en los
    estados de Quintana Roo, Aguascalientes, Jalisco, Guanajuato y el Estado de México. CADU es líder en el estado de
    Quintana Roo, con una participación de mercado de 49.7%, según información de INFONAVIT, donde también fue la
    primera desarrolladora en obtener el primer permiso para llevar a cabo un Desarrollo Certificado, al cumplir
    cabalmente con los más altos estándares en infraestructura, servicios, equipamiento y sustentabilidad.</p>

  <p>CADU ha logrado mantener competitivos márgenes de rentabilidad y rendimiento de capital, a pesar de las recientes crisis del sector, gracias principalmente a
    las importantes eficiencias operativas, mejoras en la construcción de viviendas y reducción de costos brindadas por
    su alto nivel de integración vertical, así como la implementación de un modelo de
    negocio orientado al crecimiento y a la rentabilidad. </p>

  <div style="text-align: center">
    <!--<img src="/assets/cadu/images/content/perfil_tabla.png" alt="Perfil" style="width: 80%"/>-->
    <div id="per_chart" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
    <p class="c-font-10">*La ROE disminuyó en 2015 como consecuencia de una base de capital más amplia, ante la capitalización de CADU en su OPI.</p>
  </div>
  <p>Además de lo anteriormente mencionado, el crecimiento sostenido de CADU ha sido impulsado por fortalezas únicas que nos distinguen como uno de los
    principales desarrolladores de viviendas en México:</p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li> Sistema de comercialización y capital de trabajo eficiente.</li>
    <li> Flexibilidad de producto y rápida adaptación a los cambios en la demanda.</li>
    <li> Experiencia probada en el desarrollo de vivienda con atractivos retornos.</li>
    <li> Balance sólido y conservador con fuentes de financiamiento diversificadas.</li>
    <li> Equipo directivo con profundo conocimiento y experiencia en el sector.</li>
    <li> Sólida organización de gobierno corporativo.</li>
    <li> Certidumbre en la ejecución del plan de negocio.</li>
  </ul>
  <div class="row">
    <div class="col-sm-4" style="margin-bottom: 10px">
      <img  class="img-responsive" src="/assets/cadu/images/content/perfil1.jpg" alt=""/>
    </div>
    <div class="col-sm-4 hidden-xs" style="margin-bottom: 10px">
      <img class="img-responsive" src="/assets/cadu/images/content/perfil2.jpg" alt=""/>
    </div>
    <div class="col-sm-4 hidden-xs">
      <img class="img-responsive" src="/assets/cadu/images/content/perfil3.jpg" alt=""/>
    </div>
  </div>
  <br/>
  <p>Buscaremos alcanzar nuestro objetivo de continuar fortaleciendo nuestra posición en el mercado, a través de la
    implementación de esfuerzos orientadas en maximizar la rentabilidad, incluyendo la expansión de nuestras
    operaciones hacia otros estados del país, así como aumentar nuestra participación en los segmentos de Vivienda Media
    y Residencial, en pro de alcanzar una diversificación más sana de nuestros ingresos tanto por
    ubicación geográfica como por producto. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nuestra visión</h3>

  <p>Ser una empresa reconocida por sus altos estándares de calidad en el desarrollo inmobiliario en México, así como
    por su dedicación a brindar la mejor experiencia de compra en el mercado. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nuestra misión</h3>

  <p>Desarrollar y comercializar soluciones habitacionales competitivas y accesibles, que superen las expectativas de
    nuestros clientes.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Valores</h3>
  <div class="row">
    <div class="col-md-3">
      <ul class="c-content-list-1 c-theme c-separator-dot">
        <li> Calidad</li>
        <li> Respeto</li>
        <li> Honestidad</li>
        <li> Cooperación</li>
      </ul>
    </div>
    <div class="col-md-9 pull-left" >
      <ul class="c-content-list-1 c-theme c-separator-dot">
        <li> Compromiso</li>
        <li> Responsabilidad</li>
        <li> Comunicación</li>
        <li> Disciplina</li>
      </ul>
    </div>
  </div>

</div>
<!-- Amchart Scripts -->
<script type="application/javascript" src="/assets/plugins/amcharts/amcharts.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/serial.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/pie.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/themes/light.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/charts-perfil.js"></script>