<div id="perfil">
  <p>Corpovael (CADU), es una sociedad controladora que, junto con sus subsidiarias, se dedica a desarrollar vivienda,
     especialmente Vivienda de Interés Social, Vivienda Media, Vivienda Media-Residencial y Vivienda Residencial.
     Sus actividades consisten en el diseño, urbanización, edificación, promoción y venta de viviendas.</p>
      <p>CADU realizó una oferta pública inicial en la Bolsa Mexicana de Valores (BMV) en 2015, bajo la clave
    de pizarra “CADU”.</p>

  <p>Desde el momento de su constitución en 2001 y hasta la fecha,
   CADU ha vendido más de 122,000 viviendas en 6 estados de México. CADU es líder en el estado de
    Quintana Roo, con una participación de mercado de alrededor de 34% (enero a diciembre de 2024), según información de INFONAVIT, donde también fue la
    primera desarrolladora en obtener permiso para llevar a cabo un Desarrollo Certificado, al cumplir
    cabalmente con los más altos estándares en infraestructura, servicios, equipamiento y sustentabilidad.</p>

  <p>CADU ha logrado mantener competitivos márgenes de rentabilidad y rendimiento de capital, a pesar de las diferentes crisis que ha enfrentado el sector, gracias principalmente a
    las importantes eficiencias operativas, mejoras en la construcción de viviendas y reducción de costos, brindados por la implementación de un modelo de
    negocio orientado al crecimiento y a la rentabilidad. </p>

  <div style="text-align: center">
    <!--<img src="/assets/cadu/images/content/perfil_tabla.png" alt="Perfil" style="width: 80%"/>-->
    <div id="per_chart" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
    <p class="c-font-10">*La ROE y el EBITDA disminuyeron como consecuencia de los efectos de la pandemia de COVID-19.</p>
  </div>
  <p>Además de lo anteriormente mencionado, el crecimiento sostenido de CADU ha sido impulsado por fortalezas únicas que nos distinguen como uno de los
    principales desarrolladores de viviendas en México:</p>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li> Sistema de comercialización eficiente.</li>
    <li> Flexibilidad de producto y rápida adaptación a los cambios en la demanda.</li>
    <li> Experiencia probada en el desarrollo de vivienda con atractivos retornos.</li>
    <li> Balance sólido y conservador con fuentes de financiamiento diversificadas.</li>
    <li> Equipo directivo con profundo conocimiento y experiencia en el sector.</li>
    <li> Sólida organización de gobierno corporativo.</li>
    <li> Cumplimiento en guías de resultados.</li>
  </ul>
  <div class="row">
    <div class="col-sm-4 hidden-xs" style="margin-bottom: 10px">
      <img class="img-responsive" src="/assets/cadu/images/content/blume_r.jpg" alt=""/>
    </div>
    <div class="col-sm-4" style="margin-bottom: 10px">
      <img  class="img-responsive" src="/assets/cadu/images/content/perfil4.png" alt=""/>
    </div>

    <div class="col-sm-4 hidden-xs">
      <img class="img-responsive" src="/assets/cadu/images/content/sohop2.jpg" alt=""/>
    </div>
  </div>
  <br/>
  <p>Buscaremos alcanzar nuestro objetivo de continuar fortaleciendo nuestra posición en el mercado, a través de la
    implementación de esfuerzos orientados en mejorar la rentabilidad, alcanzar una mayor profundidad en las plazas donde operamos,
    así como consolidar nuestra participación en los segmentos de Vivienda Media, Media-Residencial y Residencial. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nuestra visión</h3>

  <p>Desarrollar bienestar a través de proyectos integrales
  de vivienda que se distingan por tener los más altos
  estándares de calidad – desde el desarrollo y la
  construcción de una casa hasta la venta y la
  experiencia de vida del cliente que la habita.</p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Nuestra misión</h3>

  <p>Ofrecer soluciones habitacionales
  seguras, competitivas y con buena
  ubicación. </p>

  <h3 class="c-left c-font-lowercase c-font-sbold">Valores</h3>
  <div class="row">
    <div class="col-md-3">
      <ul class="c-content-list-1 c-theme c-separator-dot">
        <li> Calidad</li>
        <li> Respeto</li>
        <li> Honestidad</li>
        <li> Puntualidad</li>
        <li> Cooperación</li>





      </ul>
    </div>
    <div class="col-md-9 pull-left" >
      <ul class="c-content-list-1 c-theme c-separator-dot">
      <li> Compromiso</li>
      <li> Responsabilidad</li>
      <li> Disciplina</li>
      <li> Comunicación</li>
      </ul>
    </div>
  </div>

    <h3 class="c-left c-font-lowercase c-font-sbold">Reconocimientos</h3>

    <p>En el 2014 y 2015, CADU fue galardonada con el reconocimiento de Las Mejores Empresas Mexicanas (MEM),
      el cual es otorgado por Banamex, Deloitte y el Tecnológico de Monterrey (ITESM), tomando
      en consideración distintos factores, como las buenas prácticas laborales, el alto desempeño
      en gestión de negocios, así como sus resultados financieros.</p>
    <p>En 2020, como resultado de su fuerte compromiso Ambiental Social y de Gobernanza (ASG), CADU
      obtuvo la Certificación Prime, reconocimiento otorgado por Bancomext, NAFIN, la BMV,
      BIVA y la AMIB, para incentivar la institucionalización de las empresas mexicanas. </p>
    <img src="/assets/cadu/images/content/mem.png" alt="">



</div>
<!-- Amchart Scripts -->
<script type="application/javascript" src="/assets/plugins/amcharts/amcharts.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/serial.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/pie.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/themes/light.js"></script>
<script type="application/javascript" src="/assets/plugins/amcharts/charts-perfil.js?v=5"></script>
