{% load cadu_i18n %}
<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-7 -->
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-7">
  <div class="container">
    <div class="c-prefooter">
      <div class="c-body">
        <div class="row" style="display: flex; flex-wrap: wrap; align-items: flex-start;">

          <div class="col-md-3 col-sm-12 col-xs-12 text-left" style="margin-bottom: 16px;">
            <a href="/{{ request.LANGUAGE_CODE }}">
              <img src="/static/assets/cadu/images/brand/25-Horizontal-Original.svg" alt="CADU Inmobiliaria" style="width: 100%; max-width: 240px; height: auto; margin-top: 8px;">
            </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">Corporativo</h3>
              <div class="c-line-left hide"></div>
            </div>
            <ul class="c-links c-theme-ul">
              <li>
                <a href="/{{ request.LANGUAGE_CODE }}/perfil">Perfil</a>
              </li>
              <li>
                <a href="/{{ request.LANGUAGE_CODE }}/historia">Historia</a>
              </li>
              <li>
                <a href="/{{ request.LANGUAGE_CODE }}/faqs">Preguntas frecuentes</a>
              </li>
              <li>
                <a href="/{{ request.LANGUAGE_CODE }}/fundamentales">Fundamentales</a>
              </li>

            </ul>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">Redes sociales</h3>
              <div class="c-line-left hide"></div>
            </div>
            <div class="socicon">
              <a href="https://www.facebook.com/caduinmobiliariaoficial/" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-facebook tooltips" data-original-title="Facebook" data-container="body"></a>
            <!--<a href="https://twitter.com/CADU_INV" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover socicon-twitter tooltips" data-original-title="Twitter" data-container="body"></a>-->
              <!--<a href="https://www.linkedin.com/company/1782585" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover tooltips socicon-linkedin" data-original-title="Linkedin" data-container="body"></a>-->
              <a href="mailto:ri@caducancun.com" class="socicon-btn socicon-btn-circle socicon-solid c-font-dark-1 c-theme-on-hover tooltips socicon-mail" data-original-title="Email" data-container="body"></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">Contacto RI</h3>
              <div class="c-line-left hide"></div>
            </div>
            <p class="c-address c-font-16">César Navarro Troncoso</p>
            <p class="c-address c-font-16">
              <!--<br/> California, US-->
             Teléfono: +52 (998) 193 1100 <br/>Ext: 1210
              <!--<br/> Fax: 800 123 3456-->
              <br/> Email:
              <a href="mailto:ri@caducancun.com">
                <span class="c-theme-color"> ri@caducancun.com</span>
              </a>


            </p>
          </div>
        </div>
      </div>
      <div class="c-line"></div>
      <div class="c-foot">
        <div class="row">
          <div class="col-md-7">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">Sobre <span class="c-theme-font">CADU</span>
              </h3>
              <div class="c-line-left hide"></div>
            </div>
            <p class="c-text c-font-16 c-font-regular">Grupo empresarial líder dedicado al desarrollo integrado de
              vivienda de interés social, media, media-residencial y residencial en México, a través de un modelo de negocios diferenciado
              y sustentado en la rentabilidad.</p>
          </div>
          <div class="col-md-5 boletin">
            <div class="c-content-title-1 c-title-md">
              <h3 class="c-title c-font-uppercase c-font-bold">{% t 'Boletin_financiero' %}</h3>
              <div class="c-line-left hide"></div>
            </div>
            <div class="c-line-left hide"></div>
            <form name="formulario" action="/es/boletinsubscripcion" method="post">
              {% csrf_token %}
              <div class="input-group input-group-lg c-square">
                <input required name="email" data-toggle="popover" data-placement="bottom" id="subscribir" type="email" class="c-input form-control c-square c-theme" placeholder="{% t 'email_placehoder' %}"/>
                <input type="hidden" id="g_recaptcha_response" name="g_recaptcha_response">
                <span class="input-group-btn">
                                  <button id="s-submit-btn" class="btn c-theme-btn c-theme-border c-btn-square c-btn-uppercase c-font-16" type="button">{% t 'Subscribe' %}</button>
                                </span>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="c-postfooter c-bg-dark-2" style="padding-bottom: 30px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 c-col" style="display: flex; align-items: center; flex-wrap: wrap; gap: 28px;">
          <p class="c-copyright c-font-grey" style="margin: 0;">Copyright {% now "Y" %}. Diseñado y generado por
            <a class="link_e" target="_blank" href="http://www.irdesign.mx/">IRDesign</a>
            <!-- |
                        <span class="c-font-grey-3"><a class="link_e" target="_blank" href="/{{ request.LANGUAGE_CODE }}/terminos-condiciones">Términos y Condiciones</a></span> -->
          </p>
          <img src="/static/assets/cadu/images/content/mem-c.png" alt="Las Mejores Empresas Mexicanas" style="height: 48px; width: auto;">
          <a href="https://www.environmental-finance.com/content/awards/" target="_blank">
            <img src="/static/assets/cadu/images/globales/award-ef.png" alt="Bond Awards 2021" style="height: 48px; width: auto;">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END: LAYOUT/FOOTERS/FOOTER-7 -->
{% include 'frontend/bloques/recaptcha.html' %}
