{% load cadu_i18n %}
<!-- BEGIN: HEADER -->
<header class="c-layout-header c-layout-header-3 c-layout-header-dark-mobile" data-minimize-offset="80">
  {% include 'frontend/bloques/topbar.html' %}
  <div class="c-navbar">
    <div class="container">
      <!-- BEGIN: BRAND -->
      <div class="c-navbar-wrapper clearfix">
        <div class="c-brand c-pull-left">
          <a href="/{{ request.LANGUAGE_CODE }}" class="c-logo">
            <img src="/static/assets/cadu/images/brand/25-Horizontal-Original.svg" alt="CADU 25 Aniversario" class="c-desktop-logo">
            <img src="/static/assets/cadu/images/brand/25-Horizontal-Original.svg" alt="CADU 25 Aniversario" class="c-desktop-logo-inverse">
            <img src="/static/assets/cadu/images/brand/25-Horizontal-Original.svg" alt="CADU 25 Aniversario" class="c-mobile-logo">
          </a>
          <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
            <span class="c-line"></span>
            <span class="c-line"></span>
            <span class="c-line"></span>
          </button>
          <button class="c-topbar-toggler" type="button">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <button class="c-search-toggler" type="button">
            <i class="fa fa-search"></i>
          </button>

        </div>
        <!-- END: BRAND -->
        <!-- BEGIN: QUICK SEARCH -->
        <form class="c-quick-search" action="/es/resultados">
          <input type="text" name="q" placeholder="{% t 'buscar' %}" value="" class="form-control" autocomplete="off">
          <span class="c-theme-link">&times;</span>
        </form>
        <!-- END: QUICK SEARCH -->
        <!-- BEGIN: HOR NAV -->
        <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
        <!-- BEGIN: MEGA MENU -->
        <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
        <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
          <ul class="nav navbar-nav c-theme-nav">
            <li class="hidden-md">
              <a href="/{{ request.LANGUAGE_CODE }}" class="c-link dropdown-toggle">{% t 'Inicio' %}
                <span class="c-arrow c-toggler"></span>
              </a>
            </li>
            <li class="c-menu-type-classic {% if menu_num == 1 %}c-active{% endif %}">
              <a href="javascript:;" class="c-link dropdown-toggle  c-toggler">{% t 'Nosotros' %}
                <span class="c-arrow "></span>
              </a>
              <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/perfil">{% t 'Perfil' %}
                    <span class="c-arrow"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/estrategia">{% t 'Estrategia' %}
                    <span class="c-arrow"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/panorama">{% t 'Panorama' %}
                    <span class="c-arrow"></span>
                  </a>
                </li>
                <!-- <li class="dropdown-submenu">
                                <a href="/{{ request.LANGUAGE_CODE }}/cadu-numeros">Cadu en números
                                  <span class="c-arrow c-toggler"></span>
                                </a>
                              </li> -->
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/modelo-negocio">{% t 'modelo_n' %}
                    <span class="c-arrow"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/historia">{% t 'Historia' %}
                    <span class="c-arrow"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/directivos">{% t 'Directivos' %}
                    <span class="c-arrow"></span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="c-menu-type-classic {% if menu_num == 2 %}c-active{% endif %} ">
              <a href="#" class="c-link dropdown-toggle c-toggler">{% t 'sustentabilidad' %}
                <span class="c-arrow"></span>
              </a>
              <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                <li class="dropdown-submenu ">
                  <a href="#" class="c-link dropdown-toggle c-toggler">{% t 'Gobierno_corporativo' %}
                    <span class="c-arrow"></span>
                  </a>


                  <ul class="dropdown-menu c-menu-type-classic c-pull-right">
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/consejo-administracion">{% t 'Consejo_de_Administracion' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/comites">{% t 'Comites' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/estructura">{% t 'Estructura_accionaria' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/estructura-corporativa">{% t 'estructura_c' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/practicas">{% t 'practicas' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/auditor-externo">{% t 'Auditor_externo' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="http://cdn.investorcloud.net/cadu/Comunicados/Estatutos-Corpovael-SAB-de-CV-2025.pdf" target="_blank">{% t 'estatutos_s' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="#" class="c-link dropdown-toggle c-toggler">{% t 'responsabilidad_s' %}
                    <span class="c-arrow"></span>
                  </a>
                  <ul class="dropdown-menu c-menu-type-classic c-pull-right">
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/colaboradores">{% t 'colaboradores' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <!---<li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/valor_social">{% t 'valor_social_compartido' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>-->
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/comunidades">{% t 'comunidades' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#" class="c-link dropdown-toggle c-toggler">{% t 'medio_a' %}
                    <span class="c-arrow"></span>
                  </a>
                  <ul class="dropdown-menu c-menu-type-classic c-pull-right">
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/indicadores_ambientales">{% t 'indicadores_ambientales' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/construccion_verde">{% t 'construccion_verde' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
<!--                    <li class="dropdown-submenu">-->
<!--                      <a href="#">-->
<!--                        <span class="c-arrow"></span>-->
<!--                      </a>-->
<!--                    </li>-->
                    <!--<li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/biodiversidad">{% t 'biodiversidad' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>-->
                    <li class="dropdown-submenu">
                      <a href="https://investorcloud.s3.amazonaws.com/cadu/GobiernoCorporativo/Global/politica-de-medio-ambiente-CADU-2023.pdf" target="_blank">{% t 'politica_medio_ambiente' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="#" class="c-link dropdown-toggle c-toggler">{% t 'etica' %}
                    <span class="c-arrow"></span>
                  </a>
                  <ul class="dropdown-menu c-menu-type-classic c-pull-right">
                    <li class="dropdown-submenu">
                        <a href="/{{ request.LANGUAGE_CODE }}/codigo_etica" >{% t 'codigo_etica' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/comite_etica">{% t 'comite_etica' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <!--<li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/sistema_denuncias" >{% t 'sistema_denuncias' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>-->

                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/politica_anticorrupcion">{% t 'politica_anticorrupcion' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="#" class="c-link dropdown-toggle c-toggler">{% t 'estrategia_modelo' %}
                    <span class="c-arrow"></span>
                  </a>
                  <ul class="dropdown-menu c-menu-type-classic c-pull-right">
                    <!--<li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/estrategia_sustentabilidad">{% t 'estrategia_sustentabilidad' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>-->
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/estudio_materialidad">{% t 'estudio_materialidad' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="/{{ request.LANGUAGE_CODE }}/comite_sustentabilidad">{% t 'comite_sustentabilidad' %}
                        <span class="c-arrow"></span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/objetivos_desarrollo_sostenible">{% t 'objetivos_desarrollo_sostenible' %}
                    <span class="c-arrow"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="#" class="c-link dropdown-toggle c-toggler">{% t 'informe_s' %}
                    <span class="c-arrow"></span>
                  </a>
                  <ul class="dropdown-menu c-menu-type-classic c-pull-right" >
                    <li class="dropdown-submenu" >
                      <a  style="font-size: 12px !important; margin-top: -3px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2017-Sustentabilidad.pdf" target="_blank">{% t 'reporte_2017' %}
                        <span class="c-arrow"></span>
                      </a>

                    </li>
                    <li class="dropdown-submenu">
                      <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2018-Sustentabilidad.pdf" target="_blank">{% t 'reporte_2018' %}
                        <span class="c-arrow"></span>
                      </a>

                    </li>
                    <li class="dropdown-submenu">

                      {% if request.LANGUAGE_CODE == 'es' %}
                        <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2019-Sustentabilidad.pdf" target="_blank">{% t 'reporte_2019' %}
                          <span class="c-arrow"></span>
                        </a>
                      {% else %}
                        <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2019-Sustentabilidad-en.pdf" target="_blank">{% t 'reporte_2019' %}
                          <span class="c-arrow"></span>
                        </a>
                      {% endif %}



                    </li>
                    <li class="dropdown-submenu">
                      {% if request.LANGUAGE_CODE == 'es' %}
                        <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2020-Sustentabilidad-vf.pdf" target="_blank">{% t 'reporte_2020' %}
                          <span class="c-arrow"></span>
                        </a>
                      {% else %}
                        <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2020-Sustentabilidad-en.pdf" target="_blank">{% t 'reporte_2020' %}
                          <span class="c-arrow"></span>
                        </a>
                      {% endif %}

                    </li>

                <li class="dropdown-submenu">
                  {% if request.LANGUAGE_CODE == 'es' %}
                    <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2021-Sustentabilidad.pdf" target="_blank">{% t 'reporte_2021' %}
                      <span class="c-arrow"></span>
                    </a>
                  {% else %}
                    <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2021-Sustentabilidad.pdf" target="_blank">{% t 'reporte_2021' %}
                      <span class="c-arrow"></span>
                    </a>
                  {% endif %}

                </li>

                <li class="dropdown-submenu">
                  {% if request.LANGUAGE_CODE == 'es' %}
                    <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2022-Sustentabilidad-.pdf" target="_blank">{% t 'reporte_2022' %}
                      <span class="c-arrow"></span>
                    </a>
                  {% else %}
                    <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2022-Sustentabilidad-.pdf" target="_blank">{% t 'reporte_2022' %}
                      <span class="c-arrow"></span>
                    </a>
                  {% endif %}

                </li>
              <li class="dropdown-submenu">
              {% if request.LANGUAGE_CODE == 'es' %}
                <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2023-Sustentabilidad.pdf" target="_blank">{% t 'reporte_2023' %}
                  <span class="c-arrow"></span>
                </a>
              {% else %}
                <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2023-Sustentabilidad.pdf" target="_blank">{% t 'reporte_2023' %}
                  <span class="c-arrow"></span>
                </a>
              {% endif %}

            </li>

            <li class="dropdown-submenu">
              {% if request.LANGUAGE_CODE == 'es' %}
                <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2024-Sustentabilidad_.pdf" target="_blank">{% t 'reporte_2024' %}
                  <span class="c-arrow"></span>
                </a>
              {% else %}
                <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesAnuales/2024-Sustentabilidad-en.pdf" target="_blank">{% t 'reporte_2024' %}
                  <span class="c-arrow"></span>
                </a>
              {% endif %}

            </li>

            <li class="dropdown-submenu">
              {% if request.LANGUAGE_CODE == 'es' %}
                <a style="font-size: 12px !important; margin-top: -10px !important;" href="https://investorcloud.s3.us-east-1.amazonaws.com/cadu/InformacionFinanciera/ReportesAnuales/2025-Sustentabilidad.pdf" target="_blank">{% t 'reporte_2025' %}
                  <span class="c-arrow"></span>
                </a>
              {% else %}
                <a style="font-size: 12px !important; margin-top: -10px !important;" href="https://investorcloud.s3.us-east-1.amazonaws.com/cadu/InformacionFinanciera/ReportesAnuales/2025-Sustentabilidad.pdf" target="_blank">{% t 'reporte_2025' %}
                  <span class="c-arrow"></span>
                </a>
              {% endif %}

            </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="#" class="c-link dropdown-toggle c-toggler">{% t 'reporte_bv' %}
                    <span class="c-arrow"></span>
                  </a>
                  <ul class="dropdown-menu c-menu-type-classic c-pull-right" >

                    <li class="dropdown-submenu">
                    <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesSustentables/Reporte-Bono-Verde-1Q21-.pdf" target="_blank">{% t 'reporte_bono-v-1Q21' %}
                      <span class="c-arrow"></span>
                    </a>

                  </li>

                  <li class="dropdown-submenu">
                  <a style="font-size: 12px !important; margin-top: -10px !important;" href="http://cdn.investorcloud.net/cadu/InformacionFinanciera/ReportesSustentables/Reporte-Bono-Verde-2Q21.pdf" target="_blank">{% t 'reporte_bono-v-2Q21' %}
                    <span class="c-arrow"></span>
                  </a>

                </li>

                  </ul>
                </li>

                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/figuras_destacadas">{% t 'figuras_destacadas' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
                <li class="dropdown-submenu">
                  <a target="_blank" href="https://maq.caduinmobiliaria.com/">{% t 'mecanismo_atencion' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
              </ul>
            </li>
            <li class="c-menu-type-classic {% if menu_num == 3 %}c-active{% endif %} ">
              <a href="#" class="c-link dropdown-toggle c-toggler">{% t 'Informacion_financiera' %}
                <span class="c-arrow"></span>
              </a>
              <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/reportes-financieros">{% t 'reportes_f' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/presentaciones">{% t 'presentaciones' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
                <li class="dropdown-submenu">
                  <a href="http://cdn.investorcloud.net/cadu/Presentaciones/Factsheet-1T26-{{ request.LANGUAGE_CODE }}.pdf" target="_blank">{% t 'factsheet' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/fundamentales">{% t 'Fundamentales' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/faqs">{% t 'Preguntas_frecuentes' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/glosario">{% t 'Glosario' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/sala-prensa">{% t 'comunicados' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>

                </li>
              </ul>
            </li>
            <li class="c-menu-type-classic {% if menu_num == 4 %}c-active{% endif %} ">
              <a href="javascript:;" class="c-link dropdown-toggle c-toggler">{% t 'Informacion_bursatil' %}
                <span class="c-arrow"></span>
              </a>
              <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                <li class="dropdown-submenu ">
                  <a href="/{{ request.LANGUAGE_CODE }}/cotizacion">{% t 'Cotizacion_de_la_accion' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu ">
                  <a href="/{{ request.LANGUAGE_CODE }}/acuerdos-asambleas">{% t 'acuerdos_a' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu ">
                  <a href="/{{ request.LANGUAGE_CODE }}/dividendos">{% t 'dividendos' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu ">
                  <a href="/{{ request.LANGUAGE_CODE }}/renta-fija-credito"> {% t 'renta_f' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <!-- <li class="dropdown-submenu ">
                              <a href="/{{ request.LANGUAGE_CODE }}/renta-fija-credito">Renta Fija y Crédito
                                <span class="c-arrow c-toggler"></span>
                              </a>

                            </li> -->
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/analistas">{% t 'Cobertura_de_analistas' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/calificaciones">{% t 'Calificaciones' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>
                <li class="dropdown-submenu">
                  <a href="/{{ request.LANGUAGE_CODE }}/prospectos">{% t 'Prospectos' %}
                    <span class="c-arrow c-toggler"></span>
                  </a>
                </li>

              </ul>
            </li>
            <li class="c-search-toggler-wrapper">
              <a href="#" class="c-btn-icon c-search-toggler">
                <i class="fa fa-search"></i>
              </a>
            </li>

            <!-- <li class="c-quick-sidebar-toggler-wrapper">
                <a href="#" class="c-quick-sidebar-toggler">
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                </a>
            </li> -->
          </ul>
        </nav>
        <!-- END: MEGA MENU -->
        <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
        <!-- END: HOR NAV -->
      </div>


    </div>
  </div>
</header>
<!-- END: HEADER -->
