<div id="resultados">
  <h2> Video: Con un ADN de negocios diferente, surge CADU en el sector vivienda.</h2>
  <div class="c-content-panel">

      <div class="c-body">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/272679163" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
      </div>
  </div>
</div>
