<% #listado de documentos
   @documents= [
       {:titulo => "Ratificación anual del despacho de auditoría externa", :date => "2026-04-20", :link => @comunicados_path + "2026-04-28-ratificacion.pdf"},        
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Primer Trimestre de 2026", :date => "2026-04-13", :link => @comunicados_path + "2026-04-13-CADU-Invitacion-1T26.pdf"},    
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Cuarto Trimestre de 2025", :date => "2026-02-18", :link => @comunicados_path + "2026-02-18-CADU-Invitacion-4T25.pdf"},    
       {:titulo => "Retransmisión de Información", :date => "2025-12-12", :link => @comunicados_path + "2025-12-12-retransmision.pdf"},    
       {:titulo => "HR Ratings ratificó las calificaciones para CADU y también para el Certificado Bursátil (bono verde) CADU 20V", :date => "2025-11-27", :link => @comunicados_path + "2025-11-27-HR-Ratings.pdf"},
       {:titulo => "Ratificación anual del despacho de auditoría externa", :date => "2025-14-27", :link => @comunicados_path + "2025-11-27-ratificacion.pdf"},    
       {:titulo => "PCR Verum incrementa calificaciones corporativas de corto y largo plazo de CADU. También incrementó la calificación del CEBUR CADU20V", :date => "2025-11-13", :link => @comunicados_path + "2025-11-13-pcrverum.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2025-11-05", :link => @comunicados_path + "2025-11-05-movimientos.pdf"},
       {:titulo => "Fondo Recompra comprará 5,000,000 acciones de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V. serie 'A' (BMV: CADU)", :date => "2025-10-28", :link => @comunicados_path + "2025-10-28-fondo.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Tercer Trimestre de 2025", :date => "2025-10-13", :link => @comunicados_path + "2025-10-13-CADU-Invitacion-3T25.pdf"},
       {:titulo => "Aclaración de la nota publicada por “Real Estate Market & Lifestile”", :date => "2025-08-18", :link => @comunicados_path + "2025-08-18-aclaracion.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Segundo Trimestre de 2025", :date => "2025-07-14", :link => @comunicados_path + "2025-07-14-CADU-Invitacion-2T25.pdf"},
       {:titulo => "Ratificación anual del despacho de auditoría externa", :date => "2025-04-21", :link => @comunicados_path + "2025-04-21-ratificacion.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Primer Trimestre de 2025", :date => "2025-04-15", :link => @comunicados_path + "2025-04-15-CADU-Invitacion-1T25.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2025-03-21", :link => @comunicados_path + "2025-03-21-Movimientos.pdf"},
       {:titulo => "Aviso de canje de título de acciones de CORPOVAEL, S.A.B. de C.V.", :date => "2025-02-27", :link => @comunicados_path + "2025-02-27-Aviso-Canje.pdf"},
       {:titulo => "Aviso de canje de título de acciones de CORPOVAEL, S.A.B. de C.V.", :date => "2025-02-26", :link => @comunicados_path + "2025-02-26-Aviso-Canje.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Cuarto Trimestre de 2024", :date => "2025-02-12", :link => @comunicados_path + "2025-02-12-CADU-Invitacion-4T24.pdf"},
       {:titulo => "PCR Verum Incrementa a ‘BBB+/M’ la Calificación Corporativa de CADU; Perspectiva ‘Positiva’", :date => "2024-11-25", :link => @comunicados_path + "2024-11-25-PCR-Verum.pdf"},
       {:titulo => "HR Ratings revisó al alza las calificaciones de CADU y del bono verde (CADU 20V)", :date => "2024-11-21", :link => @comunicados_path + "2024-11-21-HR-Ratings.pdf"},
       {:titulo => "HR Ratings revisó al alza la calificación de HR A+ a HR AA, modificando la Perspectiva Positiva a Perspectiva Estable, para CADU 20V", :date => "2024-11-19", :link => @comunicados_path + "2024-11-19-CADU20V-HR-Ratings.pdf"},
       {:titulo => "HR Ratings revisó al alza las calificaciones de HR BBB a HR A-, modificando la Perspectiva Positiva a Perspectiva Estable, asimismo revisó al alza la calificación de HR3 a HR2 para CADU", :date => "2024-11-19", :link => @comunicados_path + "2024-11-19-CADU-HR-Ratings.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Tercer Trimestre de 2024", :date => "2024-10-09", :link => @comunicados_path + "2024-10-09-CADU-Invitacion-3T24.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Segundo Trimestre de 2024", :date => "2024-07-15", :link => @comunicados_path + "2024-07-15-CADU-Invitacion-2T24.pdf"},
       {:titulo => "Ratificación anual del despacho de auditoría externa", :date => "2024-05-15", :link => @comunicados_path + "2024-05-15-ratificacion.pdf"},
       {:titulo => "HR Ratings retiró la calificación de HR BBB con Perspectiva Positiva para la emisión de CADU 19", :date => "2024-04-18", :link => @comunicados_path + "2024-04-18-CADU19-HR-Ratings.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Primer Trimestre de 2024", :date => "2024-04-16", :link => @comunicados_path + "2024-04-16-CADU-Invitacion-1T24.pdf"},
       {:titulo => "Aviso de Amortización Total de los Certificados Bursátiles CADU 19", :date => "2024-04-12", :link => @comunicados_path + "2024-04-12-Aviso.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2024-03-04", :link => @comunicados_path + "2024-03-04-movimientos.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Cuarto Trimestre de 2023", :date => "2024-02-19", :link => @comunicados_path + "2024-02-19-CADU-Invitacion-4T23.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2024-02-07", :link => @comunicados_path + "2024-02-07-movimientos.pdf"},
       {:titulo => "HR Ratings y PCR Verum ratifican calificación de CADU mejorando su perspectiva", :date => "2023-11-28", :link => @comunicados_path + "2023-11-28-Calificacion-CADU.pdf"},
       {:titulo => "PCR Verum Afirma Calificación de ‘BBB/M’ de CADU y Revisa la Perspectiva a ‘Estable’ Desde ‘Negativa’", :date => "2023-11-27", :link => @comunicados_path + "2023-11-27-Calificacion-Verum.pdf"},
       {:titulo => "HR Ratings retiró la calificación de HR BBB con Perspectiva Estable para CADU 18", :date => "2023-11-24", :link => @comunicados_path + "2023-11-24-CADU18-HR-Ratings.pdf"},
       {:titulo => "HR Ratings ratificó la calificación de HR A+ modificando la Perspectiva de Estable a Positiva para CADU 20V", :date => "2023-11-24", :link => @comunicados_path + "2023-11-24-CADU20V-HR-Ratings.pdf"},
       {:titulo => "HR Ratings ratificó la calificación de HR BBB modificando la Perspectiva de Estable a Positiva para CADU 19", :date => "2023-11-24", :link => @comunicados_path + "2023-11-24-CADU19-HR-Ratings.pdf"},
       {:titulo => "HR Ratings ratificó las calificaciones de HR BBB con Perspectiva Estable a Positiva y de HR3 para CADU", :date => "2023-11-24", :link => @comunicados_path + "2023-11-24-CADU-HR-Ratings.pdf"},
       {:titulo => "Compra de acciones de un miembro del consejo por el 1.46% del total de acciones en circulación (BMV: CADU)", :date => "2023-11-09", :link => @comunicados_path + "2023-11-09-compra-acciones.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2023-11-08", :link => @comunicados_path + "2023-11-08-movimientos.pdf"},
       {:titulo => "Fondo de recompra comprará 6,266,997 acciones de los valores representativos del capital social de 'CORPOVAEL', S.A.B. de C.V. Serie A (BMV: CADU)", :date => "2023-11-06", :link => @comunicados_path + "2023-11-06-Fondo-de-recompra.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Tercer Trimestre de 2023", :date => "2023-10-18", :link => @comunicados_path + "2023-10-18-CADU-Invitacion-3T23.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Segundo Trimestre de 2023", :date => "2023-07-20", :link => @comunicados_path + "2023-07-20-CADU-Invitacion-2T23.pdf"},
       {:titulo => "Procedimiento judicial", :date => "2023-07-12", :link => @comunicados_path + "2023-07-12-procedimiento.pdf"},
       {:titulo => "Ratificación anual del despacho de auditoría externa", :date => "2023-04-27", :link => @comunicados_path + "2023-04-27-ratificacion.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Primer Trimestre de 2023", :date => "2023-04-19", :link => @comunicados_path + "2023-04-19-CADU-Invitacion-1T23-.pdf"},
       {:titulo => "Corpovael S.A.B. de C.V. (CADU) obtiene por segundo año el Distintivo ESR® 2023", :date => "2023-02-28", :link => @comunicados_path + "2023-02-28-distintivo.pdf"},
       {:titulo => "Aviso de Amortización Total de los Certificados Bursátiles CADU 18", :date => "2023-02-21", :link => @comunicados_path + "2023-02-21-Aviso.pdf"},
       {:titulo => "CADU anuncia venta de activo", :date => "2023-02-17", :link => @comunicados_path + "2023-02-17-CADU-Venta.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Cuarto Trimestre de 2022", :date => "2023-02-15", :link => @comunicados_path + "2023-02-15-CADU-Invitacion-4T22.pdf"},
       {:titulo => "Reenvío de información", :date => "2023-01-25", :link => @comunicados_path + "2023-01-25-Reenvio.pdf"},
       {:titulo => "Amortización de los CEBURES CADU18 se hará conforme a lo programado en el título", :date => "2023-01-18", :link => @comunicados_path + "2023-01-18-Amortizacion.pdf"},
       {:titulo => "Reenvío de Reporte Anual 2021", :date => "2023-01-16", :link => @comunicados_path + "2023-01-16-Reenvio.pdf"},
       {:titulo => "Amortización Anticipada CEBUR CADU18", :date => "2023-01-09", :link => @comunicados_path + "2023-01-09-Amortizacion.pdf"},
       {:titulo => "CADU anuncia venta de activo", :date => "2022-12-21", :link => @comunicados_path + "2022-12-21-Venta-Activo.pdf"},
       {:titulo => "CADU anuncia nuevo Director de Finanzas", :date => "2022-11-01", :link => @comunicados_path + "2022-11-01-Cambio-Director-Finanzas.pdf"},
       {:titulo => "Cambio de Auditor Externo", :date => "2022-10-31", :link => @comunicados_path + "2022-10-31-Cambio-Auditor.pdf"},
       {:titulo => "CADU comunica cambio de Director de Finanzas a partir del primero de Noviembre", :date => "2022-10-28", :link => @comunicados_path + "2022-10-28-Cambio-Director.pdf"},
       {:titulo => "HR Ratings ratificó las calificaciones de HR BBB con Perspectiva Estable y de HR3 para CADU", :date => "2022-10-24", :link => @comunicados_path + "Calificaciones/2022-10-24-HR-CB.pdf"},
       {:titulo => "HR Ratings ratificó la calificación de HR BBB con Perspectiva Estable para CADU 18 y CADU 19", :date => "2022-10-24", :link => @comunicados_path + "Calificaciones/2022-10-24-HR-18-19.pdf"},
       {:titulo => "HR Ratings ratificó la calificación de HR A+ con Perspectiva Estable para CADU 20V", :date => "2022-10-24", :link => @comunicados_path + "Calificaciones/2022-10-24-HR-20V.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Tercer Trimestre de 2022", :date => "2022-10-18", :link => @comunicados_path + "2022-10-18-CADU-Invitacion-3T22.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2022-09-15", :link => @comunicados_path + "2022-09-15-Movimientos.pdf"},
       {:titulo => "PCR Verum Baja a 'BBB/M' y '3/M' las Calificaciones de CADU Inmobiliaria; Perspectiva se Modifica a 'Negativa'", :date => "2022-09-06", :link => @comunicados_path + "2022-09-06-Calificacion-Verum.pdf"},
       {:titulo => "Levantamiento de suspensión de cotización de valores", :date => "2022-08-23", :link => @comunicados_path + "2022-08-23-Levantamiento-Suspension.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Segundo Trimestre de 2022", :date => "2022-07-26", :link => @comunicados_path + "2022-07-26-CADU-Invitacion-2T22.pdf"},
       {:titulo => "Aviso de incumplimiento en la presentación de los estados financieros dictaminados de la sociedad", :date => "2022-05-26", :link => @comunicados_path + "2022-05-27-Aviso.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2022-04-28", :link => @comunicados_path + "2022-04-28-Movimientos.pdf"},
       {:titulo => "Aviso de extemporaneidad en la entrega de informacion", :date => "2022-04-25", :link => @comunicados_path + "2022-04-25-Extemporaniedad-2.pdf"},
       {:titulo => "Aviso de extemporaneidad en la entrega de informacion", :date => "2022-04-25", :link => @comunicados_path + "2022-04-25-Extemporaniedad.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2022-04-22", :link => @comunicados_path + "2022-04-22-Movimientos.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2022-04-21", :link => @comunicados_path + "2022-04-21-Movimientos.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Primer Trimestre de 2022", :date => "2022-04-21", :link => @comunicados_path + "2022-04-21-CADU-Invitacion-1T22.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2022-04-13", :link => @comunicados_path + "2022-04-13-Movimientos.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2022-04-12", :link => @comunicados_path + "2022-04-12-Movimientos.pdf"},
       {:titulo => "Corpovael S.A.B. de C.V. (CADU) obtiene el Distintivo ESR 2022 para empresas Grandes", :date => "2022-03-14", :link => @comunicados_path + "2021-03-14-distintivo.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Cuarto Trimestre de 2021", :date => "2022-02-18", :link => @comunicados_path + "2022-02-18-CADU-Invitacion-4T21.pdf"},
       {:titulo => "Certificación EDGE Advanced", :date => "2022-01-31", :link => @comunicados_path + "2022-01-31-EDGE-Advanced.pdf"},
       {:titulo => "PCR Verum Ratifica Calificaciones Corporativas de 'A-/M' y '2/M' a CADU Inmobiliaria; Perspectiva 'Estable', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2021-12-27", :link => @comunicados_path + "Calificaciones/2021-27-12-Verum-CB.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2021-12-23", :link => @comunicados_path + "2021-12-23-Movimientos.pdf"},
       {:titulo => "HR Ratings ratificó la calificación de HR BBB con Perspectiva Estable y de HR3 para CADU", :date => "2021-12-15", :link => @comunicados_path + "Calificaciones/2021-12-15-HR-CB.pdf"},
       {:titulo => "HR Ratings ratificó la calificación de HR BBB con Perspectiva Estable para CADU 18 y CADU 19", :date => "2021-12-15", :link => @comunicados_path + "Calificaciones/2021-12-15-HR-2.pdf"},
       {:titulo => "HR Ratings ratificó la calificación de HR A+ con Perspectiva Estable para la Emisión de CADU 20V", :date => "2021-12-15", :link => @comunicados_path + "Calificaciones/2021-12-15-HR-20V.pdf"},
       {:titulo => "CADU anuncia que su Bono Verde obtuvo premio del Consejo Consultivo de Finanzas Verdes", :date => "2021-12-15", :link => @comunicados_path + "2021-12-15-Bono-verde-premio.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2021-11-18", :link => @comunicados_path + "2021-11-18-Movimientos.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Tercer Trimestre de 2021", :date => "2021-10-21", :link => @comunicados_path + "2021-10-21-CADU-Invitacion-3T21.pdf"},
       {:titulo => "CADU cumple 20 años desarrollando viviendas en México", :date => "2021-09-06", :link => @comunicados_path + "2021-09-06-CADU-20-años.pdf"},
       {:titulo => "Ratificación anual del despacho de auditoría externa", :date => "2021-07-26", :link => @comunicados_path + "2021-07-26-CADU-despacho-auditoria.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2021-07-15", :link => @comunicados_path + "2021-07-15-Movimientos.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Segundo Trimestre de 2021", :date => "2021-07-14", :link => @comunicados_path + "2021-07-14-CADU-Invitacion-2T21.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2021-05-20", :link => @comunicados_path + "2021-05-20-Movimientos.pdf"},
       {:titulo => "Fondo Recompra comprará 9.5 millones de acciones Serie A de 'Corpovael', S.A.B. De C.V. (BMV: CADU)", :date => "2021-05-20", :link => @comunicados_path + "2021-05-20-Fondo-de-recompra.pdf"},
       {:titulo => "Ratificación anual del despacho de auditoría externa", :date => "2021-05-14", :link => "https://www.bmv.com.mx/docs-pub/visor/visorXbrl.html?docins=../eventemi/eventemi_1099971_1.zip#/visorXbrl"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2021-04-27", :link => @comunicados_path + "2021-04-27-Movimientos.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Primer Trimestre de 2021", :date => "2021-04-16", :link => @comunicados_path + "2021-04-16-CADU-Invitacion-1T21.pdf"},
       {:titulo => "CADU anuncia que fue galardonado con el premio al Bono Verde 2020 de Environmental Finance", :date => "2021-04-06", :link => @comunicados_path + "2021-04-06-bono-verde-EF.pdf"},
       {:titulo => "Movimientos inusitados en la negociación de los valores representativos del capital social de 'Corpovael', S.A.B. de C.V., serie 'A' (BMV: CADU)", :date => "2021-03-22", :link => @comunicados_path + "2021-03-22-Movimientos.pdf"},
       {:titulo => "Certificación PRIME en Gobierno Corporativo", :date => "2021-03-05", :link => @comunicados_path + "2021-03-05-prime.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Cuarto Trimestre de 2020", :date => "2021-02-16", :link => @comunicados_path + "2021-02-16-CADU-Invitacion-4T20.pdf"},
       {:titulo => "CADU anuncia la exitosa colocación de un Bono Verde", :date => "2020-12-16", :link => @comunicados_path + "2020-12-16-bono-verde.pdf"},
       {:titulo => "PCR Verum asigna calificación de 'AA-/M' a una emisión de CBs de CADU Inmobiliaria ('CADU 20v'); perspectiva se mantiene 'Estable'", :date => "2020-11-12", :link => @comunicados_path + "2020-11-12-Verum-CADU20.pdf"},
       {:titulo => "HR Ratings asignó la calificación de HR A+ con Perspectiva Estable para la Emisión CADU 20v de CADU", :date => "2020-11-12", :link => @comunicados_path + "2020-11-12-HRRatings-CADU20.pdf"},
       {:titulo => "Autorización Línea de Crédito Revolvente con el BID por $300 millones", :date => "2020-11-09", :link => @comunicados_path + "2020-11-09-autorizacion-BID.pdf"},
       {:titulo => "HR Ratings revisó a la baja la calificación de HR A- a HR BBB, modificando la Perspectiva de Negativa a Estable, para las emisiones CADU 18 y CADU 19", :date => "2020-10-28", :link => @comunicados_path + "2020-10-28-HR-CADU-18-19.pdf"},
       {:titulo => "HR Ratings revisó a la baja la calificación de HR A- a HR BBB, modificando la Perspectiva de Negativa a Estable y también revisó a la baja de HR2 a HR3 para CADU", :date => "2020-10-28", :link => @comunicados_path + "2020-10-28-HR-CADU.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Tercer Trimestre de 2020", :date => "2020-10-13", :link => @comunicados_path + "2020-10-13-CADU-Invitacion-3T20-.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Segundo Trimestre de 2020", :date => "2020-07-16", :link => @comunicados_path + "2020-07-16-CADU-Invitacion-2T20.pdf"},
       {:titulo => "Cambio fecha y lugar de Asamblea Anual de Accionistas", :date => "2020-06-16", :link => @comunicados_path + "2020-06-16-cambio-asamblea-accionistas.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Primer Trimestre de 2020", :date => "2020-06-08", :link => @comunicados_path + "2020-06-08-CADU-Invitacion-1T20.pdf"},
       {:titulo => "Aclaración Nota Periodistica", :date => "2020-05-27", :link => @comunicados_path + "2020-05-27-aclaracion-nota-periodistica.pdf"},
       {:titulo => "Resoluciones Asambleas Tenedores CEBURES CADU18 y CADU19", :date => "2020-05-15", :link => @comunicados_path + "2020-05-15-resoluciones-asambleas-tenedores.pdf"},
       {:titulo => "Verum ratifica calificaciones de 'A-/M' y '2/M' a CADU Inmobiliaria", :date => "2020-02-11", :link => @comunicados_path + "2020-02-11-Verum-Ratifica-Calificaciones.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Cuarto Trimestre de 2019", :date => "2020-02-10", :link => @comunicados_path + "2020-02-10-CADU-Invitacion-4T19.pdf"},
       {:titulo => "Fitch Ratifica y Retira Calificación de Corpovael", :date => "2020-01-31", :link => @comunicados_path + "2020-01-31-Fitch-retira-calificacion.pdf"},
       {:titulo => "HR Ratings retiró la calificación de HR A con Perspectiva Negativa para la emisión CADU 15 debido a su amortización total en su fecha de vencimiento legal", :date => "2020-01-09", :link => @comunicados_path + "2020-01-09-HRRatings-CADU15.pdf"},
       {:titulo => "Termina contrato del Formador de Mercado", :date => "2020-01-06", :link => @comunicados_path + "2020-01-06-Formador.pdf"},
       {:titulo => "HR Ratings ratificó la calificación de HR A- y modificó la Perspectiva de Estable a Negativa para las emisiones CADU 18 y CADU 19, y de HR A, modificando la Perspectiva de Estable a Negativa para su emisión CADU 15", :date => "2019-11-29", :link => @comunicados_path + "2019-11-29-HRRatings-CEBUR.pdf"},
       {:titulo => "HR Ratings ratificó la calificación de HR A- y modificó la Perspectiva de Estable a Negativa, y de HR2 para CADU", :date => "2019-11-29", :link => @comunicados_path + "2019-11-29-HRRatings-CADU.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Tercer Trimestre de 2019", :date => "2019-10-18", :link => @comunicados_path + "2019-10-18-CADU-Invitacion-3T19.pdf"},
       {:titulo => "Cambio de Auditor Externo", :date => "2019-08-05", :link => "https://www.bmv.com.mx/docs-pub/visor/visorXbrl.html?docins=../eventemi/eventemi_944207_1.zip#/visorXbrl"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Segundo Trimestre de 2019", :date => "2019-07-08", :link => @comunicados_path + "2019-07-08-CADU-Invitacion-2T19-F.pdf"},
       {:titulo => "Reenvío Informe Primer Trimestre 2019", :date => "2019-05-23", :link => "https://www.bmv.com.mx/docs-pub/visor/visorXbrl.html?docins=../eventemi/eventemi_925763_1.zip#/visorXbrl"},
       {:titulo => "Aviso de Extemporaneidad en la entrega de Informacion: Reporte Anual (Anexo N) por el ejercicio 2018", :date => "2019-05-03", :link => @comunicados_path + "2019-05-03-Aviso-Extemporaneidad-Anual.pdf"},
       {:titulo => "Aviso de Extemporaneidad en la entrega de Informacion: Informe del Cuarto Trimestre 2018 (con cifras dictaminadas)", :date => "2019-05-03", :link => @comunicados_path + "2019-05-03-Aviso-Extemporaneidad-4T18.pdf"},
       {:titulo => "Aviso de Extemporaneidad en la entrega de Informacion: Dictamen de los Auditores Externos", :date => "2019-04-29", :link => @comunicados_path + "2019-04-29-Aviso-Extemporaneidad-Dictamen.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Primer Trimestre de 2019", :date => "2019-04-22", :link => @comunicados_path + "2019-04-22-CADU-Invitacion-1T19.pdf"},
       {:titulo => "Fitch Ratifica Calificación ‘BBB+(mex)’ de Corpovael; Sube Emisión CADU 15 a ‘A+(mex)’", :date => "2019-04-12", :link => @comunicados_path + "2019-04-12-Fitch.pdf"},
       {:titulo => "HR Ratings asignó la calificación de HR A- con Perspectiva Estable para la emisión CADU 19", :date => "2019-03-15", :link => @comunicados_path + "2019-03-15-HRRatings-CADU19.pdf"},
       {:titulo => "Verum asigna la calificación de ‘A-/M’ a una emisión de CBs de CADU Inmobiliaria (‘CADU 19’) ", :date => "2019-03-15", :link => @comunicados_path + "2019-03-15-Verum-CADU19.pdf"},
       {:titulo => "CADU reporta incrementos de 21.3% en EBITDA y 19.3% en utilidad neta durante el 4T18", :date => "2019-02-26", :link => @comunicados_path + "2019-02-26-Comunicado-CADU-4T18.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Cuarto Trimestre de 2018", :date => "2019-02-18", :link => @comunicados_path + "2019-02-18-CADU-Invitacion-4T18.pdf"},
       {:titulo => "CADU anuncia la contratación de Casa de Bolsa Santander, S.A. de C.V. como Formador de Mercado", :date => "2019-01-07", :link => @comunicados_path + "2019-01-07-Contratacion-de-Santander-como-formador-de-mercado.pdf"},

       {:titulo => "HR Ratings ratificó la calificación de HR A- y la Perspectiva Estable para CADU 18 y de HR A para su emisión CADU 15.", :date => "2018-12-26", :link => @comunicados_path + "2018-12-26-HR-Ratings-ratifica-calificacion-CADU18-d.pdf"},
       {:titulo => "HR Ratings ratificó la calificación de HR A- y la Perspectiva Estable para CADU. Asimismo, asignó la calificación de HR2.", :date => "2018-12-26", :link => @comunicados_path + "2018-12-26-HR-Ratings-ratifica-calificacion-d.pdf"},
       {:titulo => "Verum ratifica calificaciones corporativas de ‘A-/M’ y ‘2/M’ a CADU Inmobiliaria", :date => "2018-11-16", :link => @comunicados_path + "2018-11-16-Verum-ratifica-calificaciones-d.pdf"},
       {:titulo => "CADU reportó crecimientos de 16.6% en Utilidad Neta y de 9.9% en UAFIDA durante el 3T18", :date => "2018-10-23", :link => @comunicados_path + "2018-10-23-Comunicado-3T18.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Tercer Trimestre de 2018", :date => "2018-10-19", :link => @comunicados_path + "2018-10-19-CADU-Invitacion-3T18-v.pdf"},
       {:titulo => "CADU reportó crecimientos de 18.4% en Utilidad Neta y 10.1% en UAFIDA durante el 2T18", :date => "2018-07-24", :link => @comunicados_path + "2018-07-24-Comunicado-CADU 2T18.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Segundo Trimestre de 2018", :date => "2018-07-18", :link => @comunicados_path + "2018-07-18-CADU-Invitación-2T18.pdf"},
       {:titulo => "Resumen de acuerdos de la Asamblea General Ordinaria de Accionistas", :date => "2018-04-25", :link => @gobierno_corporatico_path+ "Asambleas/2018-04-25-Acuerdos.pdf"},
       {:titulo => "Fitch Ratifica Calificación de Corpovael en ‘BBB+(mex)'; Perspectiva Estable", :date => "2018-04-24", :link => @comunicados_path + "2018-04-24-Fitch-Ratings.pdf"},
       {:titulo => "CADU reportó crecimientos de 18.6% en Utilidad Neta y 11.6% en UAFIDA durante el 1T de 2018", :date => "2018-04-17", :link => @comunicados_path + "2018-04-17-Comunicado-1T18.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Primer Trimestre de 2018", :date => "2018-04-09", :link => @comunicados_path + "2018-04-09-CADU-Invitación-1T18.pdf"},
       {:titulo => "Convocatoria a Asamblea Ordinaria Anual", :date => "2018-04-06", :link => @comunicados_path + "2018-04-06-Convocatoria-Asamblea.pdf"},
       {:titulo => "Verum afirma calificación de ‘A-/M' a la emisión de Certificados Bursátiles de CADU Inmobiliaria (‘CADU 18'); tras conocer los detalles finales de la transacción", :date => "2018-02-28", :link => @comunicados_path + "2018-02-28-Verum-Calificacion.pdf"},
       {:titulo => "CADU reportó un crecimiento de 15.9% en utilidad neta y una generación de flujo libre de efectivo de $230 millones en 2017", :date => "2018-02-27", :link => @comunicados_path + "2018-02-27-Comunicado-4T17.pdf"},
       {:titulo => "CADU realiza emisión de certificado bursátil “CADU 18” por Ps.500 millones en la BMV", :date => "2018-02-21", :link => @comunicados_path + "2018-02-21-Emision_Cebur_CADU_18.pdf"},
       {:titulo => "CADU anuncia su Conferencia Telefónica de Resultados del Cuarto Trimestre de 2017", :date => "2018-02-08", :link => @comunicados_path + "2018-02-08-Invitación-Teleconferencia-4T17.pdf"},
       {:titulo => "HR Ratings revisó al alza la calificación de LP, en escala local, de HR BBB+ a HR A-, y modificó la Perspectiva de Positiva a Estable para CADU", :date => "2017-12-05", :link => @comunicados_path + "2017-12-05-calificacion-LP.pdf"},
       {:titulo => "HR Ratings revisó al alza la calificación de LP, en escala local, de HR A- a HR A, modificando la Perspectiva de Positiva a Estable para la emisión CADU 15 de CADU", :date => "2017-12-05", :link => @comunicados_path + "2017-12-05-calificacion-cadu15.pdf"},
       {:titulo => "CADU fortalece su oferta de vivienda residencial: Inaugura Allure", :date => "2017-11-24", :link => @comunicados_path + "2017-11-24-allure.pdf"},
       {:titulo => "Verum asigna calificaciones corporativas de ‘A-/M' y ‘2/M' a CADU Inmobiliaria", :date => "2017-11-01", :link => @comunicados_path + "2017-11-01-Verum-asigna-calificaciones.pdf"},
       {:titulo => "En línea con lo proyectado Cadu reporta un crecimiento de 42.1% en utilidad neta y flujo libre de efectivo de Ps.157 millones en el 3T17", :date => "2017-10-24", :link => "https://s3.amazonaws.com/investorcloud/cadu/Comunicados/2017-10-24-Comunicado_3T17.pdf"},
       {:titulo => "Cadu anuncia su Conferencia Telefónica de Resultados del Tercer Trimestre de 2017", :date => "2017-10-05", :link => @comunicados_path + "2017-10-05-Invitación-Teleconferencia-3T17.pdf"},
       {:titulo => "Aviso de derechos", :date => "2017-09-07", :link => @comunicados_path + "2017-09-07-AvisoDividendo.pdf"},
       {:titulo => "Cadu reporta un crecimiento de 27.7% en ingresos por venta de vivienda, 10.2% en ingresos totales y una generación de flujo libre de efectivo de $ 282 millones de pesos en el 2T17", :date => "2017-07-18", :link => @comunicados_path + "2017-07-18-Comunicado_2T17.pdf"},
       {:titulo => "Cadu realiza amortización de su certificado bursátil “CADU 14”", :date => "2017-07-13", :link => @comunicados_path + "2017-07-13-Comunicado_Certificado_Bursatil.pdf"},
       {:titulo => "Cadu anuncia su Conferencia Telefónica de Resultados del Segundo Trimestre de 2017", :date => "2017-07-10", :link => @comunicados_path + "2017-07-10-CADU_2T17.pdf"},
       {:titulo => "CADU aumenta su oferta de vivienda media-residencial: Inaugura York Homes, el primer desarrollo de Long Island.", :date => "2017-06-05", :link => "https://www.prnewswire.com/news-releases/cadu-aumenta-su-oferta-de-vivienda-media-residencial-inaugura-york-homes-el-primer-desarrollo-de-long-island-626595861.html"},
       {:titulo => "Aviso de derechos", :date => "2017-05-15", :link => @comunicados_path + "2017-05-15-AvisoDividendo.pdf"},
       {:titulo => "Resumen de acuerdos de la Asamblea General Ordinaria de Accionistas", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-resumen-asaord.pdf"},
       {:titulo => "Resumen de acuerdos de la Asamblea General Extraordinaria de Accionistas", :date => "2017-04-27", :link => @gobierno_corporatico_path+ "Asambleas/2017-04-27-resumen-asaextra.pdf"},
       {:titulo => "Cadu reporta utilidad neta de Ps.90 millones en el primer trimestre de 2017", :date => "2017-04-19", :link => @comunicados_path + "2017-04-19-Comunicado1T17.pdf"},
       {:titulo => "Convocatoria de Asamblea Ordinaria Anual", :date => "2017-04-11", :link => @comunicados_path + "2017-04-11-Convocatoria-Asamblea-2017.pdf"},
       {:titulo => "Calendario de publicación de resultados y teleconferencia 1T17", :date => "2017-04-10", :link => @comunicados_path + "2017-04-10-Invitacion-CC-1T17.pdf"},
       {:titulo => "Cadu reportó en 2016 un Crecimiento en Utilidad Neta de 36.9% al alcanzar $589 millones de pesos", :date => "2017-02-21", :link => @comunicados_path + "2017-02-21-Comunicado4T16.pdf"},
       {:titulo => "Calendario de publicación de resultados y teleconferencia 4T16", :date => "2017-02-14", :link => @comunicados_path + "2017-02-14-Invitacion-CC-4T16.pdf"},
       {:titulo => "CADU entre favoritas de Actinver", :date => "2016-12-03", :link => "https://www.actinver.com/webcenter/portal/CentrodeInformacionBursatilActinver/Centro_de_Informacion_Bursatil_Actinver?_afrLoop=5341893870249371#!%40%40%3FTitleEn%3DActinver%2BResearch%26TitleEsp%3DActinver%2BAn%25C3%25A1lisis%26UrlLanguageRefresh%3D%252Fwebcenter%252Fportal%252FCentrodeInformacionBursatilActinver%252FActinver%2BResearch%26_afrLoop%3D5341893870249371%26centerWidth%3D100%2525%26leftWidth%3D0%2525%26pageTemplate%3D%252Foracle%252Fwebcenter%252Fsiteresources%252FscopedMD%252Fs8bba98ff_4cbb_40b8_beee_296c916a23ed%252FsiteTemplate%252Fgsrfe613b96_536d_4cec_8b8a_06b246407c39%252FTemplate.jspx%26rightWidth%3D0%2525%26showFooter%3Dfalse%26showHeader%3Dfalse%26_adf.ctrl-state%3Dlzm0u1vn4_9"},
       {:titulo => "CADU reportó un crecimiento en UAFIDA de 15.85% y una Utilidad Neta de Ps.145 mills. (+24.5%) en el 3T16", :date => "2016-10-24", :link => @comunicados_path + "2016-10-24-Comunicado3T16.pdf"},
       {:titulo => "Calendario de publicación de resultados y teleconferencia 3T16", :date => "2016-10-13", :link => @comunicados_path + "2016-10-13-Invitacion-CC-3T16.pdf"},
       {:titulo => "Calendario de publicación de resultados y teleconferencia 2T16", :date => "2016-07-15", :link => @comunicados_path + "2016-07-15-Invitacion-CC-2T16.pdf"},
       {:titulo => "CADU realiza amortización de deuda bursátil", :date => "2016-07-14", :link => @comunicados_path + "2016-07-14-Amortización+CADU+14.pdf"},
       {:titulo => "CADU realiza pago de dividendos", :date => "2016-06-22", :link => @comunicados_path + "2016-06-22-ComunicadoDividendos.pdf"},
       {:titulo => "CADU avisa pago de dividendos", :date => "2016-06-10", :link => @comunicados_path + "2016-06-10-ER-AvisoDividendo.pdf"},
       {:titulo => "Aviso de derechos", :date => "2016-06-10", :link => @comunicados_path + "2016-06-10-AvisoDividendo.pdf"},
       {:titulo => "CADU realiza pago de dividendos", :date => "2016-05-25", :link => @comunicados_path + "2016-05-25-pagodividendo.pdf"},
       {:titulo => "Perspectivas favorables para CADU, a mediano plazo (El Economista)", :date => "2016-05-19", :link => "http://eleconomista.com.mx/mercados-estadisticas/2016/05/19/perspectivas-favorables-cadu-mediano-plazo"},
       {:titulo => "Informe de principales políticas y criterios contables", :date => "2016-05-18", :link => @comunicados_path + "2016-05-18-politicascontables.pdf"},
       {:titulo => "Aviso de derechos", :date => "2016-05-13", :link => @comunicados_path + "2016-05-15-AvisoDividendo.pdf"},
       {:titulo => "Reenvío informe 4T15 incluyendo información de cobertura de análisis", :date => "2016-05-05", :link => @comunicados_path + "2016-05-05-Reenvio.pdf"},
       {:titulo => "Resumen de acuerdos de la Asamblea Ordinaria Anual de Accionistas", :date => "2016-04-28", :link => @gobierno_corporatico_path+ "Asambleas/2016-04-28-resumen-asarodan.pdf"},
       {:titulo => "Acta de Asamblea Ordinaria Anual de Accionistas", :date => "2016-04-28", :link => @gobierno_corporatico_path+ "Asambleas/2016-04-28-asaordan.pdf"},
       {:titulo => "Informe del Director General", :date => "2016-04-26", :link => @comunicados_path + "2016-04-26-incoacop.pdf"},
       {:titulo => "CADU publica resultados del 1T16", :date => "2016-04-18", :link => @reportes_trimestrales_path + "Informes/2016-1T16.pdf"},
       {:titulo => "Resumen Fideicomiso de Control", :date => "2016-04-15", :link => @comunicados_path + "2016-04-15-fideicomiso.pdf"},

       {:titulo => "Convocatoria a Asamblea Ordinaria Anual", :date => "2016-04-12", :link => @comunicados_path + "2016-04-12-convocatoriaAOA.pdf"},

       {:titulo => "Informe del Comité de Auditoría y Prácticas Societarias", :date => "2016-04-08", :link => @comunicados_path + "2016-04-08-incoaudi.pdf"},

       {:titulo => "Actualización de libros sociales", :date => "2016-04-04", :link => @gobierno_corporatico_path+ "Global/2016-04-04-actualib.pdf"},
       {:titulo => "Retransmisión de Información Financiera 4T15, precisando únicamente que el costo de la deuda es a tasa variable", :date => "2016-03-10", :link => @comunicados_path + "2016-03-10-retransmision.pdf"},
       {:titulo => "CADU publica resultados del 4T15", :date => "2016-02-15", :link => @reportes_trimestrales_path + "Informes/2015-4T15-vf.pdf"},
       {:titulo => "CADU publica resultados del 3T15", :date => "2015-10-20", :link => @reportes_trimestrales_path + "Informes/2015-3T15.pdf"},
       {:titulo => "CADU publica resultados del 2T15", :date => "2015-07-20", :link => @reportes_trimestrales_path + "Informes/2015-2T15.pdf"},
       {:titulo => "CADU publica resultados del 1T15", :date => "2015-04-20", :link => @reportes_trimestrales_path + "Informes/2015-1T15.pdf"},

   ]
%>

<div class="comunicados">
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-9">Documento</th>
      <th class="col-md-3">Fecha</th>
    </tr>
    </thead>
    <tbody>
    <% @documents.each do |document| %>
        <tr>
          <td><a target="_blank" href="<%= document[:link] %>"><%= document[:titulo] %></a></td>
          <td><%= document[:date] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
