<div id="terminos-condiciones">
  <p>Este sitio web, <strong>http://www.grupofamsa.com</strong>, (el &#8220;Sitio&#8221;), es operado por o para
    <strong>Grupo Famsa, S.A.B. de C.V. </strong>y sus sociedades subsidiarias (en su conjunto
    <strong>&#8220;FAMSA&#8221;</strong>). El uso del Sitio está sujeto a los siguientes términos y condiciones de uso
    (los &#8220;<strong>Términos y Condiciones</strong>&#8220;), los cuales regulan la utilización del Sitio y su acceso
    a este, y constituyen un contrato vinculante por y entre <strong>Grupo Famsa, S.A.B. de C.V.</strong>, una sociedad
    constituida conforme a la legislación mexicana con oficinas principales en Av. Pino Suárez 1202 Norte, Zona Centro,
    3er piso, Unidad &#8220;A&#8221;, en Monterrey, Estado de Nuevo León, México, y el usuario del Sitio. Mediante el
    acceso y uso del Sitio, el usuario reconoce que ha leído y que acepta los Términos y Condiciones tal y como estos
    pueden ser modificados de tiempo en tiempo por <strong>FAMSA</strong>. El uso continuo del Sitio después de la
    realización de alguna modificación a los Términos y Condiciones indica que el usuario acepta las mismas.</p>
  <h5>Condiciones de Uso</h5>
  <p>
    El Sitio contiene materiales preparados por FAMSA con fines únicamente informativos y no pueden ser considerados
    como asesoramiento o garantía alguna respecto a (i) la compra de los productos comercializados por FAMSA o (ii) la
    compra o venta de las acciones del capital social de FAMSA que cotizan en la Bolsa Mexicana de Valores bajo la clave
    de pizarra &#8220;GFAMSA&#8221;.</p>

  <p>El acceso a estos materiales no constituye o implica una relación comercial o de cualquier otra naturaleza entre
    FAMSA y el usuario del Sitio. En consecuencia, el usuario no debe actuar sobre la base de la información contenida
    en el Sitio, sin haber tenido acceso a una asesoría profesional correspondiente. Mediante el uso de este Sitio, el
    usuario acepta ser el único responsable de las consecuencias que resulten con motivo del uso o de su acceso al
    Sitio. Asimismo, el usuario se obliga a sólo utilizar los materiales contenidos en el Sitio para fines personales,
    no comerciales e informativos, y que no modificará ninguno de los materiales contenidos en el Sitio.</p>
  <h5>Política de Confidencialidad de Información</h5>
  <p>
    FAMSA no recolecta información de identificación personal de los usuarios del Sitio, excepto si dicha información es
    suministrada por el usuario. Cualquier información que sea suministrada por el usuario será utilizada únicamente
    para los propósitos especificados en la parte del Sitio que acepte dicha información. Mediante el suministro de
    información, el usuario acepta y garantiza que tiene los derechos de propiedad necesarios o el control sobre dicho
    contenido y que el uso del contenido por parte de FAMSA no infringe ni viola los derechos de ningún tercero. El
    usuario reconoce que FAMSA también puede utilizar dicha información para responder a preguntas planteadas por el
    usuario o para medir el tráfico y los tipos de tráfico del Sitio. FAMSA no suministra o vende información de
    identificación personal a terceros. FAMSA no utiliza actualmente cookies &#8211; archivos que se insertan en la
    computadora del usuario y que son utilizados por algunos sitios para registrar cierta información de los usuarios.
    FAMSA se reserva el derecho de cambiar su política respecto al uso de cookies y recolección de información de
    usuarios en cualquier momento y sin notificación previa. En caso de que se implemente una nueva política, FAMSA
    publicará la misma en el Sitio, en el entendido de que la nueva política aplicará solamente a la información que sea
    recolectada con posterioridad a dicha publicación.</p>
  <h5>Derechos de Propiedad Industrial</h5>
  <p>
    El usuario reconoce que FAMSA, sus licenciantes y/o proveedores de contenido del Sitio tienen y tendrán en todo
    momento la titularidad exclusiva de todos los derechos de propiedad industrial e intelectual relacionados con el
    contenido del Sitio, incluyendo el diseño, estructura, formato y presentación de dicho contenido y del Sitio en su
    conjunto. Se encuentra prohibida la reproducción, alteración, distribución o transmisión de los contenidos del
    Sitio, excepto para uso personal, sin la autorización expresa y por escrito de FAMSA, y siempre y cuando se haga
    referencia explícita a la titularidad de FAMSA de los derechos de propiedad industrial e intelectual aplicables.</p>
  <h5>Patrocinios</h5>
  <p>
    Todas las marcas comerciales, marcas de servicio y/o nombres comerciales que aparecen en el Sito que no son marcas
    de FAMSA, son marcas comerciales de sus respectivos propietarios. Las menciones que se hagan de cualquier nombre,
    marca, producto, o servicio de terceros no constituyen ni implican un patrocinio, promoción o recomendación para
    dichos terceros o para sus productos o servicios.</p>
  <h5>Exclusión de Responsabilidad</h5>
  <p>
    El acceso y uso del Sitio por parte de los usuarios es bajo su propio riesgo. FAMSA, sus directivos, colaboradores,
    empleados o representantes no se responsabilizan de: (i) los errores u omisiones que pudieran afectar los contenidos
    del Sitio, (ii) los contenidos de los sitios de terceros que pudieran ser accedidos a través de un vínculo o enlace
    del Sitio, o de (iii) los daños y perjuicios derivados del uso o funcionamiento del Sitio bajo cualquier
    circunstancia.</p>
  <h5>Suspensión o Denegación de Acceso</h5>
  <p>
    FAMSA se reserva el derecho para, sin previo aviso, suspender, desconectar, denegar o restringir su acceso al Sitio:
    (i) durante un fallo técnico del Sitio, o durante la modificación o mantenimiento del mismo; (ii) en caso de que el
    usuario del Sitio use el mismo en violación a estos Términos y Condiciones; o (iii) si el usuario del Sitio hace o
    deja de hacer algo que en la opinión de FAMSA pudiera tener como consecuencia poner en peligro el funcionamiento o
    la integridad del Sitio.</p>
  <h5>Responsabilidad del Usuario e Indemnización</h5>
  <p>
    Cualquier usuario que afecte la operación del sitio o cause algún daño a los contenidos y servicios del Sitio o a
    los sistemas que transmitan el mismo, será responsable de todos los daños y perjuicios. En ese sentido, por medio de
    estos Términos y Condiciones, el usuario acepta indemnizar, defender y mantener la inmunidad de FAMSA y de todas sus
    empresas filiales, afiliadas, representantes, directores, propietarios, agentes, empleados, proveedores de
    información, socios, concesionarios y licenciatorios (colectivamente las &#8220;Partes Indemnizadas&#8221;), frente
    a toda responsabilidad y costo contraído por las Partes Indemnizadas en relación con (i) todo reclamo relacionado
    con alguna violación a los Términos y Condiciones, o (ii) el uso no autorizado del contenido del Sitio, incluidos,
    sin limitaciones, los gastos y honorarios de abogados. Adicionalmente, el usuario se obliga a cooperar según se
    requiera de manera razonable en defensa de todo reclamo.</p>
  <h5>Modificaciones al Sitio y Contenido</h5>
  <p>
    FAMSA actualiza y cambia periódicamente el contenido y servicios del Sitio, y se reserva el derecho para modificar o
    descontinuar, temporal o permanente, cualquier parte del Sitio en cualquier momento y de tiempo en tiempo, con o sin
    notificación previa.</p>
  <h5>Modificaciones de los Términos y Condiciones</h5>
  <p>
    FAMSA se reserva el derecho a modificar en cualquier momento y a su completa discreción los Términos y Condiciones
    mediante la publicación de nuevos Términos y Condiciones en el Sitio.</p>
  <h5>Legislación Aplicable</h5>
  <p>
    Los Términos y Condiciones y todos los asuntos relacionados con el Sitio se regirán por las leyes de los Estados
    Unidos Mexicanos.</p>
  <h5>Invalidez</h5>
  <p>
    Si alguna estipulación de los Términos y Condiciones no se puede hacer cumplir en una jurisdicción particular, la
    misma (i) debe ser interpretada o excluida en dicha jurisdicción sólo hasta el alcance de la invalidez o la
    imposibilidad de hacer cumplirla y (ii) no afecta la validez o capacidad de hacer cumplir dicha estipulación en otra
    jurisdicción o las estipulaciones restantes en cualquier jurisdicción.</p>
  <h5>Derechos</h5>
  <p>
    Los derechos y acciones de una de las partes bajo los Términos y Condiciones no excluyen ningún otro derecho ni
    acción prevista por la ley.</p>

  <p>Fecha de última actualización: <strong>30 de noviembre de 2015</strong></p>
</div>