/*sidebar*/
.news_inv{
    padding-left: 15px;
    color: #9AB4BD
}
.c-layout-quick-sidebar .c-links > li > a {
    color: #b1c4d0;
}
.c-settings p{
color:#9AB4BD ;
}
/*footer*/
.socicon .socicon-btn {
    width: auto;
    height: auto;
    padding: 13px;
    background-color: #2a2e31;
}
.socicon-btn.socicon-btn-circle {
    border-radius: 44px;
}
/*Glosario*/

.glossario {
    background-color: #EFEFEF;
    height: 46px;
}

.gloss-letra {
    background-color: #6B727C;
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 8px;
    float: left;

    border: 0px solid #000000;
    -moz-border-radius: 90px; /*Firefox*/
    -webkit-border-radius: 90px; /*Safari, Chrome*/
    border-radius: 90px;
}

.gloss-letra a {
    color: #ffffff !important;

}

.letra-tira td {
    padding: 0 !important;
}
/*components*/
.c-content-title-1 > .c-line-center {
    background-color: #F04C23;
}
/*.c-content-title-3 > p {*/
    /*font-weight: normal !important;*/
/*}*/
.c-content-title-3 > p {
    font-size: 17px;
    font-weight: 100;
    color: #5c6873;
    margin: 15px 0 0 0;
}
/*Slider*/
.c-layout-revo-slider {
    overflow: hidden;
    margin-top: -22px;
    height: 400px;
}
/*Reportes*/
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
/*media query*/
@media screen and (max-width: 1000px){
    .sidebar{
        display: none;
    }
    .eventos{
        display: none;
    }
    .boletin{
        display: none;
    }
}

