.c-open-2 {
    display: block !important;
}

@media (min-width: 992px) {
    .c-layout-header .c-brand {
        margin: 25px 0 20px 0;
    }

    .c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav > li > .c-link {
        letter-spacing: 0 !important;
        padding: 44px 15px 39px 15px;
    }
}
.grecaptcha-badge {
    bottom: -500px !important;
    right: -186px !important;
}
