<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">


  <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">


    <div class="et_pb_text_inner"><p style="text-align: justify;">En <strong>CADU</strong> entendemos que nuestros valores son los que guían las decisiones que tomamos día a día. Por lo mismo, hemos construído esta <strong>Política Anticorrupción</strong> que trabaja en dos sentidos: por un lado, fortalece a nuestro <strong>Código de Ética y Políticas de Conducta</strong> y, por otro, nos ayuda a refrendar nuestro compromiso para luchar contra la corrupción en México.</p></div>
  </div> <!-- .et_pb_text --><div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_clickable  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">





  <div style="margin-top: 30px">
    <div style="display: flex" >
      <div style="margin: auto;width: 215px">
        <div class="pull-left">
          <a href="https://caduinmobiliaria.com/wp-content/uploads/2019/11/CADU-POLÍTICA-ANTICORRUPCIÓN-FINAL.pdf" target="_blank"><img src="/assets/cadu/images/content/BOTON-DESCARGA.jpg" alt="" style="width: 35px"></a></div>
        <div class="et_pb_blurb_container" style="padding-left: 15px;">
          <h4 class="et_pb_module_header"><a href="https://caduinmobiliaria.com/wp-content/uploads/2019/11/CADU-POLÍTICA-ANTICORRUPCIÓN-FINAL.pdf" target="_blank">Política Anticorrupción</a></h4>

        </div>
      </div>
    </div> <!-- .et_pb_blurb_content -->
  </div>
  <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb -->
</div>