<!DOCTYPE html>
<!-- 500: plantilla autocontenida (sin includes, sin tags i18n, sin context
     processors) para no depender del estado que pudo causar el error. -->
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <title>Cadu - Error 500</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/assets/base/css/components.css" rel="stylesheet" type="text/css"/>
  <link href="/static/assets/base/css/themes/default.css" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="/static/favicon.png"/>
</head>
<body>
<div id="404" style="text-align:center; padding:80px 20px;">
    <div class="page-404">
        <h1 class="404" style="font-size:72px;">500</h1>
        <h2>Ocurrió un error en el servidor</h2>
        <div class="sorry">Lo sentimos, algo salió mal. Intente de nuevo más tarde.</div>
        <br>
        <a href="/" class="button-green upp">Volver a la portada</a>
    </div>
</div>
</body>
</html>
