<div>
  <p>In line with the high level of transparency the Company is committed to, <b>CADU’s Code of Ethics</b> was reviewed and updated in 2024.</p>
   <p>The purpose of this document is to outline the Company’s key principles and values, which in turn govern the daily work of all its associates.
     Keeping each of these principles in mind is essential for the Company to ensure business continuity in the long term.</p>
   <p>Our <b>Code of Ethics</b> comprises our Policies of Conduct and underscores the importance for <b>CADU</b> to have a <b>Comprehensive System of Ethics</b>.</p>
   <p>In <b>CADU</b>, with our values at heart, we pursue the development and well-being of our associates, who are citizens of our country.</p>
   <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-12">
    <div class="pull-left">
      <a href="https://investorcloud.s3.amazonaws.com/cadu/GobiernoCorporativo/Global/Codigo-de-Etica-2024.pdf" target="_blank" style="color:#F04C23;margin-right: 10px"><i class="fa fa-download"></i> Code of Ethics</a>
    </div>
    </div>
  </div>
</div>
