<div>
  <div class="et_pb_text_inner"><p style="text-align: justify;">The <strong>Ethics Committee</strong> is a body whose members are appointed by the <strong>Company's Board of Directors</strong>. It was formed in 2019 and is composed of three people renowned for their integrity.</p>
    <p style="text-align: justify;"><strong>CADU’s Ethics Committee</strong> functions are:</p>
    <ul>
      <li style="text-align: justify;">To promote the awareness and the ongoing practice of the Ethical culture in the Company;</li>
      <li style="text-align: justify;">Serve as an advisory body on facts or circumstances that may affect business ethics;</li>
      <li style="text-align: justify;">Analyze and resolve the complaints received through the <strong>CADU-REPORT (CADU-DENUNCIA)</strong> System;</li>
      <li style="text-align: justify;">Guide and support any required internal or external investigation;</li>
      <li style="text-align: justify;">Report the evolution of the <strong>Comprehensive System of Ethics to the Board of Directors on a quarterly basis</strong>.</li>
    </ul></div>
  <div class="text-center">
    <img src="/assets/cadu/images/content/COMITE-ETICA-FLUJO-en.png" width="90%" alt=""/>

  </div>
</div>
