<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">


  <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">


    <div class="et_pb_text_inner"><p style="text-align: justify;">The <strong>CADU-REPORTS (CADU-DENUNCIA) system</strong> is a confidential communication channel where any violation to <strong>CADU’s Code of Ethics</strong> may be reported.</p>
      <p style="text-align: justify;">The purpose of <strong>CADU-DENUNCIA</strong> is to resolve the complaints received through the <strong>Company’s Ethics Committee.</strong></p>
      <p style="text-align: justify;">Anonymous reports will be received and the confidentiality of each report will be respected. <strong>CADU</strong> will follow a non-retaliation policy for any complainant who, in good faith, has reported a violation of the <strong>Code</strong>.</p></div>
  </div> <!-- .et_pb_text --><div class="et_pb_module et_pb_blurb et_pb_blurb_0 et_clickable  et_pb_text_align_left  et_pb_blurb_position_left et_pb_bg_layout_light">

<div style="margin-top: 30px">
  <div style="display: flex" >
<div style="margin: auto;width: 215px">
    <div class="pull-left"><a href="http://cadudenuncia.com/" target="_blank"><img src="/assets/cadu/images/content/denuncia.jpg" alt="" style="width: 35px"></a></div>
    <div class="et_pb_blurb_container" style="padding-left: 15px;">
      <h4 class="et_pb_module_header"><a href="http://cadudenuncia.com/" target="_blank">www.cadudenuncia.com</a></h4>

    </div>
</div>
  </div> <!-- .et_pb_blurb_content -->
</div> <!-- .et_pb_blurb -->
</div>
</div>
