<div>
  <p>For CADU it is very important to lead by example, promote fair competition and adhere to Company's values which
    include:</p>

  <div class="text-center">
    <img src="/assets/cadu/images/content/valores_18_eng.png" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>CADU seeks to protect all its associates, as they are one of the paramount pillars for the Company to achieve
        its objectives.
        To this end, CADU pursues, among other things, full compliance to human rights, avoiding any act of
        discrimination.</p>
    </div>
  </div>
  <div class="text-center">
    <img src="/assets/cadu/images/content/bienestar-laboral-eng.png" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>
  </div>

  <br></br>
  <h3>Workforce composition</h3>

  <p>During 2024, CADU reported a workforce of 2,212 employees.</p>

  <div class="text-center">
    <img src="/assets/cadu/images/content/desglose-personal-2024-eng.png" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>

<br></br>
<br></br>
  <!--<h3>Benefits</h3>

  <p>CADU's senior management believes that salaries should be fixed according to knowledge and experience, therefore it
    is imperative that
    salaries offered are fair and competitive in each of the markets it operates without favoring any particular
    gender.</p>

  <p>Pursuant to the generation of wellness among each and everyone of its associates, CADU provides a number of higher
    benefits
    when compared to those required by law, as shown below:</p>

  <h4 style="color:#ea5f26">Statutory benefits</h4>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Weekly rest.</li>
    <li>Social Security.</li>
    <li>Enrollment in the Institute of the National Housing Fund for Workers.</li>
    <li>Christmas bonus corresponding to 15 days of Salary or Proportional.</li>
    <li>Annual Vacations based on the Federal Labor Law.</li>
    <li>Vacation premium.</li>
    <li>Parental leave.</li>
  </ul>

  <h4 style="color:#ea5f26">Benefits Greater to those Established by Law</h4>
  <ul class="c-content-list-1 c-theme c-separator-dot">
    <li>Additional vacation period per Year.</li>
    <li>Interest-free loans Policy: The Company seeks to support associates in facing difficult
      expenses that may arise, such as paying for their children's tuition,
      buying school equipment, car advance payments, etc.
    </li>
    <li>Medical support for associates and their direct relatives: as sometimes medical social
      services are not sufficient or lack specialized care, the Company supports associates with
      private medical services. For example, it has supported cataracts surgery, treatment of degenerative
      cases or tumors, and medical expenses for fractures.
    </li>
    <li>Funeral expenses: aware that an event such as a death of a relative represents an emotional
      drain and a strong economic expense, the Company supports its associates in coping with the expenses.
    </li>
    <!--<li>At the Christmas party, attended by all CADU associates, household appliances, televisions, computers
      and even cars are raffled. 80% of attendees go home with at least one gift.</li>
    <li>Savings Fund.</li>
    <li>Doctor who specifically supports on-site collaborators. </li>
    <li>Delivery of medicines for employees who became ill with COVID-19 or flu. </li>
    <li>Support for employee training.</li>
  </ul>

  <p>One of our core strengths, which also distinguishes us as an inclusive company, is the diversity of our
    workforce.</p>
  <p>At CADU we value diversity, whether is related to gender, beliefs, or age, as we believe that respecting the
    differences
    among people is mandatory for being an innovative and competitive company.</p>-->

  <div class="text-center">
    <img src="/assets/cadu/images/content/colaboradoresgenero2024en.png" alt="" width="80%">
  </div>

  <!--<div class="text-center">
    <img src="/assets/cadu/images/content/directivos2021en.png" alt="" width="100%">
  </div>-->
  <!--<div class="col-md-12">
    <p>In 2021 we provided a variety of courses and trainings, since we value all of our associates and are aware that
      each of them has their own aspirations,
      objectives and goals.</p>
  </div>

  <div class="text-center" style="width: 80%">
    <img src="/assets/cadu/images/content/capacitacion_2021_en.png" class="col-md-10 col-md-offset-1 col-xs-12" alt=""/>
  </div>-->

</div>
