<div>
  <p>We are committed with the communities. Once we finish selling the homes in each of our developments, we become part of that community.</p>

  <p>We have follow-through and care programs aimed at improving the quality of life of our neighbors by safeguarding the social capital
    and providing medical and social support.</p>

    <h3 class="c-theme-color">Act as part of the Community </h3>

    <p>2020 was a remarkably difficult year because of the pandemic and the sanitary measures put in place to contain it. In
      this regard, we are firmly committed to developing integral communities and
      fostering the healthy growth of their residents.</p>

    <h3 class="c-theme-color">Proximity to Work Centers</h3>
    <!--<h3 style="color:#0BCE24" ><span style="background: #2ECC71; border-radius:40px; padding:0px 10px;"> Cercanía a los centros de trabajo </span></h3>-->

    <p>We strategically chose the land plots suitable for project development so that new communities can settle close to work and commercial centers.</p>

      <h3 class="c-theme-color"> Infrastructure aligned with the National Housing Plan</h3>

      <p>Our urbanization activities are focused on building quality infrastructure that meets the basic needs of our communities.</p>

      <h3 class="c-theme-color">Social Impact Assessments</h3>

      <p>We assess all our developments to thoroughly analyze the social consequences or impacts arising from the progress of our projects,
        whether positive or negative, foreseen or unforeseen.</p>

      <h3 class="c-theme-color">Contribution to Education</h3>

      <p>We allocate space for schools within our developments. Likewise, we build accessible roads within our developments to a convenient and easy access to these centers.</p>

      <h3 class="c-theme-color">Community Areas</h3>

      <p>We promote social integration with the construction of soccer fields, basketball courts, parks and children's playgrounds.</p>

      <h3 class="c-theme-color">Delivery of Groceries</h3>

      <p>We organize the delivery of groceries to "La Casa de Dos Pascual" which is an association that assists the elderly, who are a vulnerable group due to the COVID-19 crisis.</p>

      <p>We also carried out several <span class="c-theme-color">campaigns:</span>

      <p>Awareness campaigns</p>

      <!--<p>Temas de las campañas:
      <br> Uso correcto y necesario del cubrebocas
      <br> Empoderamiento y el respeto hacia la mujer</p>-->

      <p>Relief campaigns for Hurricane Delta and Tropical Storm Gamma victims </p>

      <!--<p>En los fraccionamientos de la zona de Cancún y de Playa del Carmen emprendimos una campaña para retirar árboles caídos por el paso del huracán Delta y la tormenta
      tropical Gamma durante el mes de octubre de 2020.</p>-->

      <p>Reforestation campaign</p>

      <!--<p>Fomentamos la integración social con la construcción de campos de futbol, canchas de básquetbol, parques y zonas infantiles.</p>-->

      <p>Garbage collection campaigns</p>

      <!--<p>Fomentamos la integración social con la construcción de campos de futbol, canchas de básquetbol, parques y zonas infantiles.</p>-->

  <div class="row">
    <div class="col-md-12">
    <h3>Mortgage with services</h3>

    <p>Is a program that works in synergy with management companies authorized beforehand by <b>INFONAVIT</b>. In this program, the borrower
      voluntarily accepts to pay via payroll – together with the monthly installment of their loan – a conservation or maintenance
      contribution which is used to improve public services and preserve the common areas of the development they will be residing in.
      The contribution does not exceed MXN $200 and covers the following services:</p>

      <ul class="c-content-list-1 c-theme c-separator-dot">
        <li>Park maintenance</li>
        <li>Garden maintenance</li>
        <li>Maintenance of common areas</li>
        <li>Cleaning of streets and avenues</li>
        <li>Painting in common areas (including sidewalks)</li>
        <li>Public lighting maintenance</li>
        <li>Sports fields maintenance</li>
        <li>Ironworks in parks</li>
        <li>Rehabilitation of children’s games and barbecues</li>
        <li>Maintenance of centra dividers</li>
      </ul>

      <p>Roughly 55,000 households enjoy CADU’s maintenance services for parks, streets, sidewalks, avenues, garbage containers and street lightning. </p>

      <img src="/assets/cadu/images/content/desarrollo-cadu-12-.png" class="col-md-10 col-md-offset-1 col-xs-12"  alt=""/>
</div>
  </div>
</div>
