<div>
  <h3>Community support</h3>

<p>At CADU we are committed to Mexico's development and the goal of eradicating poverty. For this reason,
  we have continued with the implementation of various social programs and, moreover, since 2018 we have adopted
  a formal commitment to consolidate a corporate social responsibility plan aligned to our business model.</p>

  <h3>Medical brigades</h3>

  <p>In 2019, through our Neighborhood Promoters program (Promotores Vecinales), we managed to generate synergies
    with various government agencies and civil associations to conduct medical brigades and provide health services in
    our developments. All these activities are promoted by CADU, not only because of our social commitment, but also because
    we want our clients and communities to feel identified with the company. Among the services provided in 2019 were the following:</p>

    <ul class="c-content-list-1 c-theme c-separator-dot">
      <li>Free mastographies.</li>
      <li>General medical examinations.</li>
      <li>Pediatric examinations.</li>
      <li>Eye examinations.</li>
      <li>Selling of prescription lenses at symbolic prices.</li>
      <li>Rabies vaccination campaigns for pets.</li>
      <li>Enrollment in programs to support the elderly and popular insurance.</li>
    </ul>
</div>
