<div>
  <p>We are committed with the communities. Once we finish selling the homes in each of our developments, we become part of that community.</p>

  <p>We have follow-through and care programs aimed at improving the quality of life of our neighbors by safeguarding the social capital
    and providing medical and social support.</p>

    <h3>Neighborhood Promoters</h3>

    <p>This program aims to achieve community integration through the nomination of community leaders who are certified by <b>INFONAVIT</b>,
      and who shall perform activities for the benefit of the communities.</p>

    <p>In 2019, in coordination with certain government agencies and civil associations, we conducted various support activities, such as:</p>

    <img src="/assets/cadu/images/content/brigadas-en.png" class="col-md-10 col-md-offset-1 col-xs-12"  alt=""/>
  <div class="row">
    <div class="col-md-12">
    <h3>Mortgage with services</h3>

    <p>Is a program that works in synergy with management companies authorized beforehand by <b>INFONAVIT</b>. In this program, the borrower
      voluntarily accepts to pay via payroll – together with the monthly installment of their loan – a conservation or maintenance
      contribution which is used to improve public services and preserve the common areas of the development they will be residing in.
      The contribution does not exceed MXN $200 and covers the following services:</p>

      <ul class="c-content-list-1 c-theme c-separator-dot">
        <li>Park maintenance</li>
        <li>Garden maintenance</li>
        <li>Maintenance of common areas</li>
        <li>Cleaning of streets and avenues</li>
        <li>Painting in common areas (including sidewalks)</li>
        <li>Public lighting maintenance</li>
        <li>Sports fields maintenance</li>
        <li>Ironworks in parks</li>
        <li>Rehabilitation of children’s games and barbecues</li>
        <li>Maintenance of centra dividers</li>
      </ul>

      <p>As of December 31, 2019, 52,000 homes are participating in this program. The benefit for the communities is enormous because by establishing
        measures to maintain and look after the developments, the deterioration often caused by affordable-entry level housing projects is avoided.</p>

      <img src="/assets/cadu/images/content/desarrollo-cadu-12-.png" class="col-md-10 col-md-offset-1 col-xs-12"  alt=""/>
</div>
  </div>
</div>
