<div>
  <p>We are committed with the communities. Once we finish selling the homes in each of our developments, we become part of that community.</p>

  <p>We have follow-through and care programs aimed at improving the quality of life of our neighbors by safeguarding the social capital
    and providing medical and social support.</p>

    <h3 class="c-theme-color">Communities </h3>

    <p>2021 helped us to consolidate our Community Care Model, which seeks the well-being of the families living in our projects.
      As a result of this Model we have built: a Procedure for the Identification and Prioritization of Stakeholders; a Community
      Engagement Policy; a Community Service Procedure; a Stakeholder Engagement Procedure; a Complaints Attention Mechanism (MAQ)
      and an Indicator System.</p>

    <h3 class="c-theme-color">Proximity to Work Centers</h3>
    <!--<h3 style="color:#0BCE24" ><span style="background: #2ECC71; border-radius:40px; padding:0px 10px;"> Cercanía a los centros de trabajo </span></h3>-->

    <p>We strategically chose the land plots suitable for project development so that new communities can settle close to work and commercial centers.</p>

      <h3 class="c-theme-color"> Infrastructure aligned with the National Housing Plan</h3>

      <p>Our urbanization activities are focused on building quality infrastructure that meets the basic needs of our communities.</p>

      <h3 class="c-theme-color">Social Impact Assessments</h3>

      <p>We assess all our developments to thoroughly analyze the social consequences or impacts arising from the progress of our projects,
        whether positive or negative, foreseen or unforeseen.</p>

      <h3 class="c-theme-color">Contribution to Education</h3>

      <p>We allocate space for schools within our developments. Likewise, we build accessible roads within our developments to a convenient and easy access to these centers.</p>

      <h3 class="c-theme-color">Community Areas</h3>

      <p>We promote social integration with the construction of basketball courts, parks and children's playgrounds.</p>


  <div class="row">
    <div class="col-md-12">
    <h3 class="c-theme-color">Mortgage with services</h3>

    <p>Since 2012 we have implemented the Mortgage with Services Program, which seeks to conserve and maintain our subdivisions in
      order to contribute to their added value. This program is maintained with a voluntary monthly conservation or maintenance fee that
      includes the following services:</p>

      <ul class="c-content-list-1 c-theme c-separator-dot">
        <li>Improvement of common areas</li>
        <li>Removal of large gravel to be used as decoration of tree bases and planted plants.</li>
        <li>Removal of weeds in areas with soil</li>
        <li>Gardening service</li>
        <li>Garbage collection in parks, sidewalks and streets of the subdivisions</li>
        <li>Cleaning of sports areas in parks</li>
        <li>Sidewalk sweeping and interior and perimeter street sweeping</li>
        <li>Washing and disinfection of trash containers</li>
        <li>Cleaning of the garbage collection point at the subdivision level</li>
        <li>Maintenance and cleaning of parks, streets, medians, sidewalks, avenues, trash containers and street lighting.
          This includes landscaping and rehabilitation of sports fields, common areas and children's playgrounds.</li>
      </ul>

      <!--<p>In 2021, a total of 55,000 homes benefited from CADU's maintenance services for parks, streets, medians, sidewalks, avenues, trash containers and street lighting. </p>-->

      <img src="/assets/cadu/images/content/desarrollo-cadu-12-.png" class="col-md-10 col-md-offset-1 col-xs-12"  alt=""/>

       <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <h2 class="text-center"> CADUTON</h2>


        <div class="c-body">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/1085036074" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

</div>
  </div>
</div>
